%nav.left
  %h1 Economy
  %ul
    %li= link_to "Currency", government_economy_currency_path
    %hr
    %li= link_to "Natural Resources", government_economy_resources_path
    %hr
    %li= link_to "Major Industries", government_economy_industries_path
    %hr
    %li= link_to "Transportation", government_economy_transportation_path
    %hr
    %li= link_to "Employment", government_economy_employment_path
    %hr
    %li= link_to "Local Business", government_economy_local_business_path
    %hr
    %li= link_to "Foreign Business", government_economy_foreign_business_path
    %hr
    %li= link_to "Business Abroad", government_economy_business_abroad_path
