%nav.left
  %h1 Економика
  %ul
    %li= link_to "Рага", government_economy_currency_path
    %hr
    %li= link_to "Природни Резурси", government_economy_resources_path
    %hr
    %li= link_to "Ижидни Промуислие", government_economy_industries_path
    %hr
    %li= link_to "Превозе", government_economy_transportation_path
    %hr
    %li= link_to "Работодерженье", government_economy_employment_path
    %hr
    %li= link_to "Мѣсне Бизнесе", government_economy_local_business_path
    %hr
    %li= link_to "Иностранне Бизнесе", government_economy_foreign_business_path
    %hr
    %li= link_to "Вонѣкрайске Бизнесе", government_economy_business_abroad_path
