- content_for :title, "Veche.Net — The Republic of Novegrad — Business Abroad"

.content-block
  %h1 Business Abroad

  .content-block-content
    %p A number of Novegradian businesses have made themselves known all around the world.
    %p Novauto is Novegrad's primary automobile manufacturer, originally controlled by the Soviet government, but now largely privatized. As trade barriers began to come down, Novauto began selling its Vetrino model to free Europe as a cheap, yet fairly reliable car. It has since grown its reputation, selling a variety ranging from economy models such as the Energino to more luxury models such as the Buryino.
    = link_to image_path("government/logo_novauto_lg.png"), :class => 'lightbox float-right' do
      = image_tag "government/logo_novauto.png", :alt => "Novauto"
    %p Novauto owns manufacturing plants in Germany, France, England, and Greece, and has plans to open new facilities in China and the United States if their trial runs prove successful. While well known in Europe and Russia, the Novauto is only now being introduced in the United States.
    %p Novavia is Novegrad's flag carrier airline. Although it is just one of several regional airlines based in Novegrad, it is the only one that operates outside of the former Soviet bloc. Novavia originated as a subsidiary of the Soviet Aeroflot that was separated during Rubínine's reforms.
    = link_to image_path("government/novavia_lg.png"), :class => 'lightbox float-left' do
      = image_tag "government/novavia.png", :alt => "Novavia"
    %p Novavia's hub is located at the Rubínine International Airport just outside of Novegráde Velíkei, with a minor hub out of Néugrade. Daily flights operate between Novegrad and every continent except Antarctica.
    %p Dezo-gaze, known simply as Diezo outside of Novegrad and the former Soviet Union, is Novegrad's largest oil and fuel producer, selling large amounts of petroleum and natural gas to Europe and the Americas. It has more recently begun selling petrol directly to the consumers, opening petrol stations throughout Europe and in the north-eastern United States.
    = link_to image_path("government/logo_dezogaze_lg.png"), :class => 'lightbox float-right' do
      = image_tag "government/logo_dezogaze.png", :alt => "Dezo-gaze"
    %p Numerous other companies exist, though they generally are not known on a worldwide scale. Baltika is a major brewery selling throughout Europe, Śěvoruźe a major producer of kvas and other beverages, Nokia of mobile phones and other telecommunications products, Śibmetalurgia of nickel and palladium, and so on.
