- content_for :title, "Veche.Net — The Republic of Novegrad — Roads and Highways Overview"

.content-block
  %h1 Roads and Highways Overview

  .content-block-content
    = image_tag "government/transport_roads_select.png", :alt => "Roads and Highways Overview Map"
    %p Select a region:
    %ol
      %li= link_to "Estonia, Latvia, Pleskoveskáia, Śebeźeskáia, Videbeskáia, Novorostoveskáia", image_path("government/roads_1.png"), :class => 'lightbox'
      %li= link_to "Novegradeskáia, Neugradeskáia, Ielmereskáia, Łovoteskáia, Reźeveskáia, Mostegradeskáia, Tihuineskáia, Sudeskáia, Mołoźeskáia", image_path("government/roads_2.png"), :class => 'lightbox'
      %li= link_to "Southern Finland", image_path("government/roads_3.png"), :class => 'lightbox'
      %li= link_to "Northern Finland, Northern Karelia, Southern Koleskáia", image_path("government/roads_4.png"), :class => 'lightbox'
      %li= link_to "Southern Karelia, Sovireskáia, Oneźeskáia, Karğopoleskáia", image_path("government/roads_5.png"), :class => 'lightbox'
      %li= link_to "Voloğdeskáia, Suğoneskáia, Vélskaia, Southern Brězéuskaia", image_path("government/roads_6.png"), :class => 'lightbox'
      %li= link_to "Śěverno-Duineskáia, Northern Brězéuskaia", image_path("government/roads_7.png"), :class => 'lightbox'
      %li= link_to "Northern Koleskáia", image_path("government/roads_8.png"), :class => 'lightbox'
      %li= link_to "Southern Komi", image_path("government/roads_9.png"), :class => 'lightbox'
      %li= link_to "Northwest Komi", image_path("government/roads_10.png"), :class => 'lightbox'
      %li= link_to "Oraltouskáia", image_path("government/roads_11.png"), :class => 'lightbox'
      %li= link_to "Northern Oraltouskáia, Northwest Śibireskáia, Southern Óbua-Ieneśéiskaia (Komi)", image_path("government/roads_12.png"), :class => 'lightbox'
      %li= link_to "North-Central Komi", image_path("government/roads_13.png"), :class => 'lightbox'
      %li= link_to "Eastern Oraltouskáia, Southern Śibireskáia", image_path("government/roads_14.png"), :class => 'lightbox'
      %li= link_to "Eastern Komi, Northern Śibireskáia", image_path("government/roads_15.png"), :class => 'lightbox'
      %li= link_to "Southern Óbua-Ieneśéiskaia", image_path("government/roads_16.png"), :class => 'lightbox'
      %li= link_to "Northern Óbua-Ieneśéiskaia", image_path("government/roads_17.png"), :class => 'lightbox'
    %ul.key
      %li= link_to "Key", image_path("government/roads_legend.png"), :class => 'lightbox'
