%p.nav
  - if @previous_page
    = link_to "Back to #{@previous_page[:title]}", alashian_grammar_page_path(@previous_page[:doc])
    —
  = link_to "Return to Index", alashian_index_path
  - if @next_page
    —
    = link_to "Continue to #{@next_page[:title]}", alashian_grammar_page_path(@next_page[:doc])
