- title ||= ""
- verb ||= {}
- alashian ||= []
- latin ||= []

%table
  %tr
    %th{:colspan => 3} #{title}: <i>#{verb[:ala]}</i> “#{verb[:eng]}”
  %tr
    %th Person
    %th Singular
    %th Plural
  %tr
    %th 1st
    %td= t(alashian[0], latin[0], :linebreak => true)
    %td= t(alashian[5], latin[5], :linebreak => true)
  %tr
    %th 2nd Masc
    %td= t(alashian[1], latin[1], :linebreak => true)
    %td= t(alashian[6], latin[6], :linebreak => true)
  %tr
    %th 2nd Fem
    %td= t(alashian[2], latin[2], :linebreak => true)
    %td= t(alashian[7], latin[7], :linebreak => true)
  %tr
    %th 3rd Masc
    %td= t(alashian[3], latin[3], :linebreak => true)
    %td= t(alashian[8], latin[8], :linebreak => true)
  %tr
    %th 3rd Fem
    %td= t(alashian[4], latin[4], :linebreak => true)
    %td= t(alashian[9], latin[9], :linebreak => true)
