- content_for :title, "Language Contact in the Medieval East Baltic"
- content_for :section_title, "Language Contact in the Medieval East Baltic"

%p= link_to "Return to Main Veche.Net Page", root_path

= section "Introduction" do
  %p In this paper I intend to outline a number of features in the languages of the eastern and northeastern Baltic region that have most likely spread from one language family to another as the result of extensive contact between language communities prior to approximately 1500 AD. The language families under consideration are Slavic (in particular the Old Novgorod and Old Pskov dialects), Baltic (in particular Latvian), Finnic, and, peripherally, Germanic (specifically Swedish, primarily as a source of new features than as a recipient of them). This is not to say, however, that other languages were not involved, or that extensive contact ceased after 1500 AD; these issues are outside the scope of this paper, and the reasons for these particular restrictions will be elaborated upon in the next section. Using examples from these four language families, I will then proceed to argue that medieval east Baltic may be considered a formative linguistic area (or <i>Sprachbund</i>) according to Trubetzkoy's classic definition, albeit one that began to break apart in later centuries.
  %p In the first section I will provide an overview of the linguistic situation in the medieval east/northeast Baltic region, as well as introduce some of the potential issues that arise in doing historical research on language contact in this region. I will then outline first a number of phonological and then morphosyntactical features of these languages (henceforth referred to as “Northeast Baltic languages”<sup>1</sup>) that spread between languages as the result of contact and not purely internal developments. I will then conclude with a discussion of the validity of classifying the Northeast Baltic languages as a weak Sprachbund, and why this particular label can no longer be considered valid for the modern-day languages spoken in the same region.
  %p In using the term “weak” Sprachbund I mean to emphasize a number of qualities that differentiate the Northeast Baltic languages from, for instance, the Balkan Sprachbund, such as the following:
  %ol
    %li Division of the region into distinct Slavic/Finnic/Baltic territories where one language predominates, such that bilingual contact takes place in a much more limited way.
    %li Lack of truly distinctive Northeast Baltic features that set these groups of languages apart from the Slavic, Baltic, and Uralic languages spoken outside of the contact zone. In the Balkans, for instance, there are many features that simply do not exist in the relatives of Balkan languages outside of the contact zone. In the Northeast Baltic, however, features by and large seem to spread from one family where they are commonplace to others where they are not. The Northeast Baltic is thus less of an area where new features develop across multiple families than it is a region where features diffuse from one family to another.
    %li Language shift seems to have had a larger role in the diffusion of features than in the Balkans, but it was by no means the only factor.

= section "Background" do
  = section "Why the Baltic" do
    %p The eastern coast of the Baltic Sea has long been an area of contact between multiple linguistic groups. The earliest surviving records from the region, such as the Primary Chronicle and Novgorodian Chronicles, already mention at least three different families represented: Slavic (the <i>Slověne</i>), Germanic (the <i>Varjagi</i>), and Finnic (the <i>Čud'</i>, <i>Merja</i>, <i>Ves'</i>, <i>Murom</i>, <i>Ěm</i>, <i>Livy</i>, <i>Vod'</i>, <i>Ižora</i>, <i>Korěla</i>, etc) (Pokrovskaja 2001); a fourth, the Baltic tribes, can be deduced from archeological and linguistic evidence, including loanwords in Finnic and the Baltic hydronymy found throughout the region (Larsson 2001). Slavic, Baltic, and Germanic are of Indo-European ancestry, shared in common with many of the languages of Europe and south Asia. Finnic has no demonstrable genetic relationship with the Indo-European languages, instead being part of the Uralic family that stretches across northern Eurasia from the Baltic Sea to western Siberia. This makes the eastern coastline of the Baltic perhaps the most linguistically diverse region in Europe outside of the Balkans during this time period and an excellent potential candidate (at least in theory) for examining historical language contact in Europe.
    %p It is surprising, then, that comparatively little research has been done on exploring the nature of language contact in this region. In my own reading I have come across numerous references to some feature of a Northeast Baltic language as being the result of “substratum interference”, but relatively little in the way of substantive analysis or interpretation of the nature of these interferences. Valeriy Čekmonas (2001:340-341) provides one possible explanation with respect to Russian, saying substratum influence “is absolutely obvious in north Russia from a historical point of view, but in spite of that it has almost <em>nothing</em> to do with the rise of Russian dialects”; in my own view, this corresponds to the fact that many of these effects were subsequently neutralized by the spread of standard Muscovite Russian and/or came to have a life of their own, developing on a new internally-motivated path that has left only faint traces of their origins as contact-related phenomena; on the other hand, some substratum influences ran deep enough that they eventually were incorporated into the standard language, such as the Russian predicate possessive construction, and thus have relatively little bearing on modern dialectology.
    %p One last way that the later history of the Northeast Baltic languages differs considerably from the Balkan Sprachbund is that we can very clearly see the transformation from a polycentric source of innovation (with all four families being involved in introducing new features) to a monocentric one, such that in the present day Russian is by and large the only source of innovations introduced into other languages of the region.

  = section "The Linguistic Situation in the Medieval East Baltic" do
    %p Of these four language families, Finnic seems to have had the longest presence in the Eastern Baltic region, originating well in prehistory. The family includes (from southwest to northeast) Livonian, Estonian, Finnish, Votic, Ingrian, Veps, and Karelian, stretching from modern-day Latvia to the White Sea; of these, only Estonian and Finnish are still vibrant in the present day (Viitso 1998).
    %p The next group to move into the region were the Balts. It is hard to date this precisely, but given that there are a number of Baltic loanwords in Finnic languages as well as Saami that appear to have developed in the same manner as words inherited from Proto-Finnic, the contact likely goes back to a very early period (Larsson 2001). While the only Baltic languages still spoken today are Latvian and Lithuanian, hydronyms and various other evidence suggests the range of the East Balts once extended much further into the area now dominated by Russian (ibid.).
    %p The Slavic and Germanic peoples are relative latecomers to the region, but nevertheless have had a great impact on other local languages. While Slavic–Baltic contact goes back well into prehistory (and indeed the two families split apart quite late in Indo-European terms), Slavic–Finnic contact is more recent. However, by the 10th century, there were already several major Slavic cities in the region, including Veliky Novgorod and Pskov. The Slavic dialects spoken in this region, collectively known as Old North Russian, developed a number of rather unique features in comparison to other East Slavic dialects, such as a /ts~tʃ/ merger and an ŏ-stem nominative singular masculine in <i>-e</i>. In addition to the linguistic evidence discussed below, there does seem to be some compelling archeological evidence that Slavic and Finnic speakers were in close contact even in the larger cities: several of the districts (<i>koncy</i> “ends”) that made up Veliky Novgorod had Finnic names and may well have had a large Finnic population (Birnbaum 1996: 20-21, 87), and quite a few artifacts of Uralic design, such as jewelery, appear to have been produced and widely worn in a number of traditionally “Slavic” cities (Pokrovskaya 2001).
    %p Germanic influence came in multiple waves. The earlier wave involves West Germanic involvement among the Balts and Finns. The later waves are primarily North Germanic (mostly Swedish and Gottlandic), coming in the form of the Vikings (pre-11th century), Hanseatic League (13th-16th centuries), and Swedish colonization of Finland and Estonia (13th-19th centuries). The Swedes had fairly early on established a lasting presence in southern Finland, Åland, parts of Estonia, and in several Russian cities (in particular Novgorod, where they “constituted an important and, at times, quite unruly foreign element in the urban panorama”, having established a trading center at Gottland Yard and a military garrison) (Birnbaum 1996: 86-87).
    %p The timespan of Northeast Baltic innovations and interlinguistic contact spans many centuries. Since many of these innovations can be traced to a single family, it is possible to map their movement, as in figure 1 at below. This indicates that there was no one center of innovation, and that multilingualism came in many different forms: Slavic–Baltic, Baltic–Finnic, and Finnic–Slavic.
    = image_tag 'linguistics/balticcontact.png', :alt => "Polycentrism of Northeast Baltic feature movement"
    %p.imgcaption Figure 1: Polycentrism of Northeast Baltic feature movement. Note that this is highly simplified, and does not distinguish between fully contact-related borrowings and drift that was likely influenced by contact.

  = section "Problems" do
    %p Studying contact in the medieval east Baltic region does come with a number of inherent problems, however, and any researcher must at least be aware of how they may impact the analysis.
    %p First of all, there is the issue of time depth. The medieval Northeast Baltic languages cannot be confused with their modern counterparts, and the presence or absence of a feature in a modern language does not by itself say anything about its presence or absence in early history or prehistory. Thus we must use original texts as much as is possible, and when it is not, we must rely on reconstructions to the best of our ability.
    %p Secondly, we must be aware of high and low forms of written language; this is especially applicable to Slavic, where it becomes necessary to identify features as true localisms, as Church-Slavonicisms (the language of literacy, unrelated to the Northeast Baltic languages as far as contact influence is concerned), and as simple slips of the pen. We will take as actual representatives of local dialect those spellings which occur frequently enough that they cannot be simple errors, or those that are of a nature that they cannot be attributed to error<sup>2</sup>.
    %p Thirdly, we must keep in mind that the Slavic and Baltic languages are widely considered to be quite closely-related genealogically, so that special care must be taken to distinguish inherited features from borrowed ones. However, since the prehistories of both families are reasonably well reconstructed at this point, this should not pose a major dilemma.
    %p Fourthly, we must distinguish between true contact-related borrowings and internally-motivated developments. One issue with the study of contact around the Baltic in general is that many features can be attributed to either or both at once (Koptjevskaja-Tamm &amp; Wälchli 2001). The features listed in this paper only include those for which a convincing argument for at least some contact influence has been made. It is likely that a number of these features have dual origins, consisting of both an external and an internal motivation to varying degrees. It is also for this reason that certain theories, such as the proposition that Old Novgorodian underwent regularization and reduction of allomorphy as a result of Finnic influence (as suggested in Krys'ko 1998:88), are disregarded for the purposes of this paper, due to their complete lack of verifiability.

= section "Phonology" do
  = section "Depalatalization" do
    %p Of all the features discussed in this paper, depalatalization (the loss of a phonemic distinction between palatalized and unpalatalized consonants, or the loss of yod in various environments) has the greatest range of time depth; nevertheless, it appears in varying degrees in all four families under discussion, and definitely deserves mention as a potential Northeast Baltic areal feature.
    %p The initial impetus for depalatalization may have come from the Baltic and Germanic languages: the former having undergone the replacement of palatalized consonants with palatals or non-palatalized sibilants (Balode &amp; Holvoet 2001:12-13), the latter totally lacking phonemic palatalization. It is this Baltic/Germanic influence that is now widely held to have caused the loss of the Proto-Finno-Ugric palatalized series (*s', *c', *δ', *n', *l') in the Finnic languages, in contrast to the widespread presence of phonemic palatalization in the rest of the Uralic family, as “the phonemes not present in the Baltic and Germanic systems would simply have been filtered out” (Laakso 2001:182). Posti (1954) attributes this to a very early Germanic superstratum in Finnic-speaking lands (also the source of the large number of early Germanic loanwords in Finnic), where bilingual Germanic speakers were unable to pronounce these consonants, and over time this foreign pronunciation gained prestige and spread into native Finnic communities (ibid., 90-91).
    %p Depalatalization in Old North Russian happened at a much later date, but seeing as palatalization is a very salient feature in the East and West Slavic languages, depalatalization in any form particularly stands out. While this was seen to varying degrees in some East Slavic dialects (such as Ukrainian), the Old Pskov-Novgorod dialects appear to have lost the 'synharmonic principle' earlier than the rest of Slavdom. <i>Synharmony</i> is the strong historical tendency in the Slavic languages to have syllables containing front vowels to consist only of palatal or palatalized onsets, and was responsible for the repeated cycles of palatalization → palatal mutation seen throughout Slavic history. Whereas in the rest of the Slavic family synharmony began to break down sometime after the Third Palatalization, Old North Russian speech seems to have lost it sometime after the First. Forms such as #{t "кѣле", "kěle"} 'whole' (Russian #{t "цел", "cel"}), #{t "кьркы", "kĭrky"} 'church' (Russian #{t "церковь", "cerkov'"}), #{t "хѣрь", "xěrĭ"} 'grey fabric' (Russian #{t "серый", "seryj"} 'grey'), all apparently lacking the Second Palatalization<sup>3</sup>, as well as #{t "вьхе", "vĭxe"} 'all' (Russian #{t "весь", "ves'"}), lacking the Third Palatalization<sup>4</sup>, are typical of the Novgorod Birchbark documents and appear sporadically even in more formal texts (Zaliznjak 2004:41-47).
    %p This strongly suggests that “the softening of consonants before front vowels [in Old North Russian] had a less salient character when compared to the other Slavic dialects” (Krys'ko 1994:31)<sup>5</sup>, and this depalatalization began at a far earlier stage than the rest of Slavdom—and Finnic influence appears to be a plausible explanation. Even if forms like Old Novgorodian #{t "кѣле", "kěle"} are taken to represent /kʲ/ or /tʲ/, a possibility Zaliznjak (2004:44) mentions, this palatal mutation is nevertheless incomplete relative to the rest of the Slavic-speaking world.
    %p Other examples of depalatalization in old north Russian include the hardening of inherited /lʲ/ (attested beginning in the 12th century) and to a lesser extent /rʲ/ (attested beginning in the 14th century), especially in consonant clusters: #{t "испралоу", "ispralou"} for #{t "исправлю", "ispravl'u"}, #{t "клꙋць", "klucǐ"} for #{t "ключь", "kl'učĭ"}, #{t "промышлаѧ", "promyšlaja"} for #{t "промышлѧѧ", "promyšl'aja"}, #{t "говороу", "govorou"} for #{t "говорю", "govor'u"}, and so on (Le Feuvre 2006). Le Feuvre (ibid.) also points out that this seems to very closely mirror a Swedish sound change of Clju, Crju → Cly, Cry and suggests that this may be a case of Swedish superstratum influence in Old Novgorodian; while not wholly implausible, this change could just as easily be explained as an internal development in the context of Old North Russian depalatalization and the general tendency in much of Slavic to harden palatalized sonorants, although it is curious that /rʲ/ was stable for a longer time than /lʲ/ in Old North Russian, whereas in the rest of Slavic it tended to be the other way around.

  = section "Cokan'je / Šokan'je" do
    %p In what is likely at least partially related to depalatalization in general, a more specific kind of merger is also seen in both Slavic and Baltic: the merger of /ts/ with /tʃ/ (known as <i>cokan'je</i> 'pronouncing /ts/' in Russian studies) and of /s z/ with /sʲ zʲ/ (known as <i>šokan'je</i> 'pronouncing /ʃ/', though <i>s'okan'je</i> would be more apt a designation).
    %p While the exact origins of and motivations behind <i>cokan'je</i> and <i>šokan'je</i> are debated, most recent works have ascribed at least some role to substrata. Valeriy Čekmonas (2001) summarizes a number of different theories, and concludes with an analysis linking all three core Northeast Baltic families. The absence of post-alveolar fricatives and affricates is a common trait throughout the Finnic languages, with most present-day exceptions being the result of loanwords or more recent secondary developments. Of interest is what Čekmonas refers to as the “Latvian historical <i>cokan'je</i>”, or the changes <i>š, ž, č</i> → <i>s, z, c</i>; <i>k, g</i> → <i>c, dz</i> / _V[+front], and <i>kj, gj</i> → <i>c, dz</i>, which he says “looks as if an invisible hand has done everything to prevent the emergence and propagation of the sounds č and dž in this language” (Čekmonas 2001:345). This change postdates the beginning of Baltic assimilation of local Finnic-speaking populations, and so supports the conclusion of Finnic influence.
    %p The Slavic <i>cokan'je</i> and <i>šokan'je</i> by and large seem to follow the same pattern, resulting in the removal of /tʃ/ (in Novgorod and Pskov) and of /ʃ ʒ/ (in Pskov) from these manners of speech, much in line with the local Finnic languages. These mergers had already taken place by the time of the first written attestations (Zaliznjak 2004:39, 52), so at least in the case of <i>cokan'je</i>, must have occurred sometime in the mid-to-late first millennium, since it affects Proto-Slavic *kt' (→ East Slavic *č) as well, as in #{t "пеци", "pec'i"} 'oven' (Russian #{t "печь", "peč'"}, Proto-Slavic *pekti) (ibid.), which would place it in a similar period chronologically to the Latvian phenomenon.

  = section "tl/dl → kl/gl" do
    %p In both Baltic and the Old Pskov dialect (but apparently not consistently in the Old Novgorod dialect), the clusters <i>tl</i> and <i>dl</i> underwent dissimilation to <i>kl</i> and <i>gl</i> respectively. This change appears to have originated in the Baltic languages, and subsequently spread eastward into the Pskov region (Ivanov 2006:165). This was regular in the eastern branch of the Baltic family: Lithuanian <i>auklė</i> 'string to constrict footwear', Latvian <i>aukla</i> 'string' (cf. Avestan <i>aoθra</i> 'shoe'); Lithuanian <i>ìrklas</i> 'oar' (cf. Old Indic <i>aritras</i>), etc. (ibid., 166).
    %p In most Slavic languages, these clusters were either preserved (in West Slavic) or simplified to /l/ (in East and South Slavic). However, in Pskov, we see /kl/ and /gl/. Examples of this same change attested in Pskov birchbark documents include #{t "повегле", "povegle"} 'I/you/he led' (Russian #{t "повёл", "pov'ol"}, Proto-Slavic *povedlŭ), #{t "въсѣгли", "vŭ-sěgli"} 'we/you/they sat' (Russian #{t "сели", "s'el'i"}, Proto-Slavic *sedli), #{t "клещь", "kleščĭ"} 'bream' (Russian #{t "лещ", "l'ešč"}, Proto-Slavic *tlestjĭ) (Zaliznjak 2004:49). The geographical spread of this change in Old North Russian can be tested by examining toponyms: the kl/gl forms are ubiquitous in the westernmost provinces of the historical Novgorodian Land (Pskovskaja Zemlja, Šelonskaja Pjatina, and Vodskaja Pjatina), while the standard East Slavic forms with -l- are found in the eastern provinces (Bežeckaja, Derevskaja, and Oboneckaja Pjatiny) (Ivanov 2006:172). This distribution is highly suggestive of contact-related spreading, since the kl/gl forms are found in the Slavic regions closest to the Balts.

= section "Morphosyntax" do
  = section "Locative-type Possessives" do
    %p In Indo-European languages, the most common means of indicating predicate possession is what will be termed here as <i>'have'-type possessives</i>, that is, the use of a specific verb to link a possessor subject and a possessed direct object, such as the English verb <i>have</i>, Latin <i>habēre</i>, Polish <i>mieć</i>, or Old Russian #{t "имѣти", "iměti"}. The Uralic languages, in contrast, mostly use <i>locative-type possessives</i>, which consist of possessed subject, a copula, and a possessor marked in some sort of oblique case, indicating that the possessed noun is somehow in the possessor's purview. Compare, for instance, the Polish (Indo-European, 'have'-type) and Komi (Uralic, locative-type) sentences in 1 and 2, which both translate as 'I have a book'.
    = example_sentence do
      Mam książkę.
      %br
      have-<abbr title="First person singular">1sg</abbr> book-<abbr title="Accusative singular">acc.sg</abbr>
    = example_sentence do
      = t("Менам эм книга.", "Menam em kńiga.", :linebreak => true)
      %br
      <abbr title="First person singular">1sg</abbr>-<abbr title="Genitive">gen</abbr> there_is book-<abbr title="Nominative">nom</abbr>
    %p However, in Latvian and old north Russian (as well as modern Russian), locative-type possession is found in addition to or in place of older 'have'-types. This can with little doubt be attributed to Finnic influence.
    %p Latvian makes use of the bare dative case to mark the possessor; this same construction is rare in Lithuanian, which has a more typical IE 'have' verb <i>turėti</i> (Balode &amp; Holvoet 2001:6). While this same construction is seen to varying degrees in other IE languages (cf. Latin <i>mihi est</i>), its distribution in the Baltic languages (where Latvian has a significant Livonian substratum) evinces a Finnic role in preservation and generalization of this construction in Latvian.
    = example_sentence do
      Man ir māja.
      %br
      <abbr title="First person singular dative">1sg.dat</abbr> be.<abbr title="Third person singular">3sg</abbr> house-<abbr title="Nominative singular">nom.sg</abbr>
      %br
      'I have a house.'
      %br
      (Balode &amp; Holvoet 2001:6)
    %p In Old North Russian (as well as modern Russian), the equivalent construction involved the preposition 'at, near, chez' (ONR #{t "оу", "ou"}, #{t "ꙋ", "u"}, #{t "оув", "ouv"}, Russian #{t "у", "u"}) plus the genitive case. There are numerous examples of this in the Novgorod birchbark letters, though few are unambiguous; most can be translated into English both using 'have' and using 'at one's home/in one's possession'. Sentence 4 contains an example from birchbark #109 (late 11th-mid 12th century) with an ambiguous interpretation, while sentence 5 from birchbark #548 (mid 12th-early 13th century) seems to be a much clearer case of possession.
    = example_sentence do
      = t("[…] посъли къ томоу моужеви грамотоу ели оу него роба […]", "posŭli kŭ tomou mouževi gramotou jeli ou nego roba", :linebreak => true)
      %br
      send-<abbr title="Imperative singular">imp.sg</abbr> to that-<abbr title="Dative singular">dat.sg</abbr> man-<abbr title="Dative singular">dat.sg</abbr> birchbark-<abbr title="Accusative singular">acc.sg</abbr> is_there at <abbr title="Third person singular genitive">3sg.gen</abbr> slave_woman-<abbr title="Nominative singular">nom.sg</abbr>
      %br
      “Send that man a birchbark letter: does he have [another] slave woman?”
      %br
      (or, “is there [another] slave woman in his home?”)
      %br
      (Zaliznjak 2004:257)
    = example_sentence do
      = t("[…] а ѧ вьде ожь ѫ васъ есте тъваръ ольскы […]", "a ja vĭde ožĭ u vasŭ jeste tŭvarŭ olĭsky", :linebreak => true)
      %br
      but <abbr title="First person singular nominative">1sg.nom</abbr> know <abbr title="Emphatic">emph</abbr> at <abbr title="Second person plural genitive">2pl.gen</abbr> be-<abbr title="Third person singular">3sg</abbr> ware-<abbr title="Nominative singular">nom.sg</abbr> Oleska-<abbr title="Genitive">gen</abbr>
      %br
      “But I already know that you have Oleska's [Alexy's?] merchandise.”
      %br
      (Zaliznjak 2004:403)

  = section "Nominative Objects" do
    %p Another typologically unusual feature found in the three primary Northeast Baltic families is the presence of direct objects marked with the nominative case in impersonal constructions. In his treatise on the origins of the nominative object as the result of cross-linguistic contact, Timberlake describes this phenomenon as “the failure to specify the object as accusative” in environments where there is no subject; this can be done because the less complex syntactic environment of an impersonal sentence (as opposed to a personal one) renders it less necessary to explicitly mark the role of the object (Timberlake 1974:3, 226). Sentences 6, 7, and 8 give examples in Finnish, Latvian, and Old North Russian respectively.
    = example_sentence do
      (Minun) täytyy kirjoitta kirje.
      %br
      <abbr title="First person singular genitive">1sg.gen</abbr> must-<abbr title="Third person singular">3sg</abbr> write-<abbr title="First Infinitive">inf.i</abbr> letter-<abbr title="Nominative">nom</abbr>
      %br
      “It is necessary (for me) to write a letter.”
      %br
      (Timberlake 1974:158)
    = example_sentence do
      (Viņam) jālasa grāmata.
      %br
      <abbr title="Third person singular dative">3sg.dat</abbr> <abbr title="Debitative">deb</abbr>-read book-<abbr title="Nominative singular">nom.sg</abbr>
      %br
      “It is necessary (for him) to read a book.”
      %br
      (Lazdiņa 1966 in Timberlake 1974:139)
    = example_sentence do
      = t("И тобѣ емꙋ исправа оучинити.", "I tobě jemu isprava učiniti.", :linebreak => true)
      %br
      and <abbr title="Second person singular dative">2sg.dat</abbr> <abbr title="Third person singular dative">3sg.dat</abbr> justice-<abbr title="Nominative singular">nom.sg</abbr> bring_about-<abbr title="Infinitive">inf</abbr>
      %br
      “And it is for you to do justice to him.”
      %br
      (Timberlake 1974:10)
    %p In addition to this general picture, a number of specific constraints are shared in common as well. For instance, all three families appear to have placed a restriction on the use of the nominative object with animate referents. Finnish, for instance, does not permit personal pronouns to appear in the nominative when functioning as objects, though non-personal pronouns can. Baltic is similar, except that third person personal pronouns are permitted. Old North Russian restricted all personal pronouns like Finnish, as well as masculine animate nouns (which usually took the genitive, as in the rest of East Slavic). While the details vary across families, the basic constraint is the same (Timberlake 1974:183).
    %p Since similar constructions are present throughout the Finnic languages, and possibly across much of Finno-Ugric, this is likely the construction's origin. It is present in East Baltic (both Latvian and Lithuanian), but absent in West Baltic (as in Old Prussian); similarly, among the Slavic languages, it is only observed in the Eastern branch, predominantly in the northwest (Novgorod-Pskov) regions. The very tight clustering is indicative of spread by language contact (ibid., 198).
    %p Others, such as Ambrazas (2001), suggest a greater role for an independent Indo-European development, arguing that the nominative object with infinitives is a reanalysis of an older purposive dative (where the infinitive was originally a predicate verbal noun in the dative case) which later was generalized. However, this theory does not explain a number of usages, and even here there is a role for Finnic languages in helping to preserve this construction in the Baltic and Slavic languages with which they were in frequent contact (Ambrazas 2001:406, Timberlake 1974:123-154).

  = section "Possessive Perfect" do
    %p A fairly well-documented feature of modern north Russian dialects is the possessive perfect construction, a new analytical tense formed using the aforementioned locative-possessive construction plus an impersonal non-agreeing past passive participle (remarkably, even for intransitive verbs which normally are logically incapable of having a passive), as in sentence 9. As demonstrated by Kuteva &amp; Heine (2004) and Jung (2007), this is largely an internally-motivated case of grammaticalization; however, both also acknowledge that its origins were likely seeded by Baltic/Finnic and/or Germanic contact as early as the 11th-12th centuries.
    = example_sentence do
      У него уехано. (modern north Russian, from 1914)
      %br
      %span.translit U nego ujexano.
      %br
      at <abbr title="Third person singular genitive">3sg.gen</abbr> go_away-<abbr title="Past passive participle">ptcp.past.pass</abbr>-<abbr title="Neuter singular">neut.sg</abbr>
      %br
      “He has left.” (lit. “At him it is left.”)
      %br
      (Kuteva &amp; Heine 2004:61)
    %p Although this exact construction is quite new in Russian, possibly from as late as the 19th century, certain unique aspects of it can be traced as far back as the 11th century (Kuteva &amp; Heine 2004:37). For instance, the basic structure of an impersonal sentence with an agentive marked in the genitive case can be seen in birchbarks #607 (dating between 1075 and 1100) and #225 (between 1160 and 1190), as seen in sentences 10 and 11. Zaliznjak (2004) notes that a locative meaning for the preposition+genitive noun phrase is possible in both cases, but is less plausible than an agentive reading.
    = example_sentence do
      = t("жизнобоуде погоублене оу сычевиць новъгородьске смьрде […]", "Žiznoboude pogoublene ou syčevicĭ novŭgorodĭske smĭrde", :linebreak => true)
      %br
      Žiznobud-<abbr title="Nominative">nom</abbr> kill-<abbr title="Past passive participle">ptcp.past.pass</abbr>-<abbr title="Nominative singular masculine">nom.sg.masc</abbr> at Syčevič-<abbr title="Genitive plural">gen.pl</abbr> Novgorodian-<abbr title="Nominative singular masculine">nom.sg.masc</abbr> peasant-<abbr title="Nominative singular">nom.sg</abbr>
      %br
      “Žiznobud, a Novgorodian peasant, has been killed by the Syčeviči.”
      %br
      (Zaliznjak 2004:245)
    = example_sentence do
      = t("[…] оу михалѧ ѿберана половина беле […]", "ou Mixalja otberana polovina bele", :linebreak => true)
      %br
      at Mixal-<abbr title="Genitive">gen</abbr> sort-<abbr title="Past passive participle">ptcp.pass.pass</abbr>-<abbr title="Nominative singular feminine">nom.sg.fem</abbr> half-<abbr title="Nominative singular">nom.sg</abbr> squirrel-<abbr title="Genitive plural">gen.pl</abbr>
      %br
      “Mixal has sorted half of the squirrel pelts.”
      %br
      (Zaliznjak 2004:379)
    %p However, while clearly possible, the agentive genitive appears to have been rather infrequent up until the 16th-17th centuries (Kuteva &amp; Heine 2004:58).
    %p Kuteva &amp; Heine do not come down on any one side regarding the origin of this construction, but do present several possibilities. One is North Germanic provenance, since the Germanic languages have long had a possessive perfect (with the verb 'have'), and the first appearances of the aforementioned reanalysis of the possessive construct as a perfect tense appears to have taken place at very time that Scandinavian influence in the Novgorod region was at its highest. Another possibility is Finnic, since both Finnish and Estonian are also capable of expressing anterior meaning with a possessive construction. A third possibility is that it is entirely of native origin, an internal development (Kuteva &amp; Heine 2004:52-54).
    %p Jung argues that the initial impetus for the development of this construction likely originates in the Baltic or Finnic languages, and then in time internal motivators took over and sent the construction on its modern course including reanalysis of the passive participle as some sort of non-agreeing perfect marker (Jung 2007). It is, however, noted that the Baltic and Finnic languages have impersonal constructions with an agent marked in the genitive case, which could well have been a prototype, such as the Lithuanian 'impersonal passive' in example 12.
    = example_sentence do
      Gal Jonuko tie grybai atnešta. (Lithuanian)
      %br
      maybe Jonukas-<abbr title="Genitive">gen</abbr> these mushrooms-<abbr title="Nominative plural">nom.pl</abbr> brought-<abbr title="Neuter">neut</abbr>
      %br
      “Maybe Jonukas brought these mushrooms.”
      %br
      (Ambrazas 1997 in Jung 2007:153-154)
    %p Both of these theories are consistent with the claim made in this paper about Northeast Baltic linguistic unity beginning to break apart after the 15th century. Prior to this time very clear analogues to the Old North Russian construction can be found in other Northeast Baltic languages, but after this time, the same construction began to develop along its own unique internally-motivated course, gradually distancing itself syntactically from its probable prototypes.

  = section "Numeral Government" do
    %p The Northeast Baltic languages have a rather complicated system of noun–numeral agreement that, outside the families in question, is quite typologically unusual. Numerals above 'one' alternate between agreeing with their complement and governing it, and the alternation depends on whether the numeral appears in a direct case (nominative/accusative) or an oblique case (all others). Although some of the particulars differ, both Russian and the Finnic languages show case government in the direct cases, where the numeral takes the case marking and the complement appears in the genitive (Russian) or partitive (Finnic); and agreement in the oblique cases, where both the noun and numeral show identical case marking. In simpler terms, numerals behave more like nouns in the nominative/accusative and as adjectives in all other cases (Koptjevskaja-Tamm &amp; Wälchli 2001: 698-704). The similar structures can be seen in examples 13 (Russian) and 14 (Finnish).
    = example_sentence do
      = t("пять домов, в пяти домах", "pjat' domov, v pjati domax", :linebreak => true)
      %br
      five-<abbr title="Nominative">nom</abbr> house-<abbr title="Genitive plural">gen.pl</abbr>, in five-<abbr title="Locative">loc</abbr> house-<abbr title="Locative plural">loc.pl</abbr>
      %br
      “five houses, in five houses”
    = example_sentence do
      viisi taloa, viidessä talossa
      %br
      five-<abbr title="Nominative singular">nom.sg</abbr> house-<abbr title="Partitive singular">part.sg</abbr>, five-<abbr title="Inessive singular">ine.sg</abbr> house-<abbr title="Inessive singular">ine.sg</abbr>
      %br
      “five houses, in five houses”
    %p Lithuanian does not have this sort of alternation, with agreement (adjective-like behavior) throughout. Latvian, on the other hand, has a mixed system: low numbers (1-9) are always adjectives, while high numbers are bifurcated, acting as adjectives in oblique cases and as <em>either</em> adjectives or nouns (with genitive agreement) in the direct cases, just as in Russian and Finnic (ibid., 699).
    %p In contrast, most of the other Uralic languages use a non-declining numeral plus a singular noun, which bears all case marking for the entire phrase. Example 15 shows Komi.
    = example_sentence do
      = t("вит керка, вит керкаын", "vit kerka, vit kerkayn", :linebreak => true)
      %br
      five house-<abbr title="Nominative">nom</abbr>, five house-<abbr title="Locative">loc</abbr>
      %br
      “five houses, in five houses”
    %p Given the overall typological uniqueness of such a complex agreement system as that seen in the Northeast Baltic languages, it is highly unlikely that it arose multiple times independently. Rather, the evidence seems to suggest a common Balto-Slavic origin, subsequently lost in Lithuanian and to varying degrees in the other Slavic languages<sup>6</sup>. This then spread to Finnic (likely via early Baltic, given that the Finnic languages began to differentiate before the Slavic arrival), which adopted a very similar series of case assignment rules not seen in the rest of Uralic (ibid.); interestingly, Finnic continues to use only singular nouns after numerals, as seen, for example, in the Komi example above.

  = section "Old Novgorodian Case Syncretism and Leskien's Problem" do
    %p The Old Novgorod dialect presents one very intriguing example of contact-induced Finnic influence in its declensional system, if the hypothesis outlined in Vermeer (1994) is accepted. While the final result (nominative/vocative case syncretism) is quite mundane and can hardly be considered a unique feature of the East Baltic languages, the means by which this was achieved is quite telling: a large part of the Old Novgorodian case system was restructured along more Finnic lines.
    %p Vermeer's theory (which has been met favorably by other specialists in the field of Old North Russian, as in Birnbaum 1991) proposes a uniquely north Russian take on Leskien's Problem in Slavic historical linguistics, namely, the expected merger of the ŏ-stem masculine and neuter endings in the nominative singular (as *-o) alongside the clear maintenance of a distinction in the accusative singular (as *-ŭ and *-o respectively). In most of Slavic, this unbalance was rectified by introducing the accusative endings into the nominative, thereby syncretizing the nominative and accusative but preserving a clear gender distinction. In Old North Russian, however, the case distinction was preserved in masculine nouns by the introduction of a mysterious ending *-e into the nominative, unseen in the rest of Slavdom (Table 1). Thus a noun such as early Proto-Slavic *brātr-ŏ-s 'brother' yielded #{t "братъ", "bratŭ"} in Old East Slavic but #{t "брате", "brate"} in Old Novgorodian.
    %table.invisible
      %tr
        %td
          %table
            %tr
              %th{:colspan => 3} Most Slavic
            %tr
              %th
              %th Masculine
              %th Neuter
            %tr
              %th Nom. Sg.
              %td -ŭ
              %td -o
            %tr
              %th Acc. Sg.
              %td -ŭ
              %td -o
        %td
          %table
            %tr
              %th{:colspan => 3} Old North Russian
            %tr
              %th
              %th Masculine
              %th Neuter
            %tr
              %th Nom. Sg.
              %td -e
              %td -o
            %tr
              %th Acc. Sg.
              %td -ŭ
              %td -o
    %p.imgcaption Table 1: The resolution of Leskien's Problem in most of Slavic (left) and in Old North Russian (right).
    %p According to Vermeer, there were two likely options for the Slavic languages for a new masculine nominative ending: either the accusative singular ŏ-stem ending *-ŭ, or the jŏ-stem nominative singular ending *-e, a variant of the ŏ-stem ending after soft stems (which also happens to be identical to the vocative singular ending); most chose the former, while Old North Russian chose the latter. The difference ultimately comes down to which distinctions various groups of speakers considered most important to maintain.
    %p Without going into too much detail, the basic argument is as follows: the route chosen by most Slavic speakers would have been wholly illogical to people who were bilingual in a Finnic language, while borrowing from the jŏ-stems would have brought the two declensional systems more in line with one another. Finnic languages by and large maintain a strong distinction between subject and object, while the nominative/vocative contrast is entirely foreign. The generalization of *-e would maintain the nominative/accusative contrast in Slavic speech, while also eliminating the nominative/vocative one. Had Old North Russian taken the same route as the rest of Slavic, a very salient distinction in Finnic would have been eliminating in favor of preserving a very unnatural one.
    %p This instability in the late Proto-Slavic declensional system thus provided an opportunity for bilingual speakers to restructure the language in the way that seemed most natural to them. Based on the evidence of contact situations around the world, as in the Balkans, bilingual speakers will opt towards conflating patterns in the multiple languages they speak if given the opportunity (Matras 2007).

  = section "Slavic Influences on Baltic and Finnic" do
    %p Thus far I have been careful not to discuss Slavic influences on Baltic and Finnic. This is not to say that there were not any; on the contrary, there almost certainly were many examples in this time period, particularly on the Finnic languages in the heart of the Novgorodian Land, such as Votic and Veps. However, due to the generally scarce attestation of these languages historically and their precarious position today, it is nearly impossible to identify with any certainty which Slavicisms are historical and which are more recent and can be attributed more to the current moribund status of these languages than to historical two-way bilingual influences. Some features in these languages, such as generic zero subjects, where a third person plural verbal form with a zero subject mark is used to create an impersonal phrase, such as Veps <i>ajetas</i> 'they eat' or 'one eats' (Zajceva 1981:250, Koptjevskaja-Tamm &amp; Wächli 2001:686), could easily be imagined to be old Slavic influences due to their presence in Russian and absence in the rest of Finnic, but we simply cannot know for certain.
    %p That said, it is most likely true that the role of Slavic in the Northeast Baltic contact zone prior to the 15th century was more as a recipient of innovations than as an actual innovator, due largely to its late arrival on the scene relative to Finnic and Baltic. The earliest Slavic influences seem to be mostly lexical, with large numbers of Slavic loanwords identifiable in both Baltic and Finnic. Much of this lexicon was religious in nature (e.g., Latvian <i>grēks</i>, Karelian <i>riähkä</i>, Veps <i>grähk</i> 'sin', cf. Russian #{t "грех", "grex"}) (Balode &amp; Axel 2001:10, Zajkov &amp; Rugojeva 1999, Zajceva &amp; Mullonen 1972), and so likely represents Old Church Slavonic by way of Old North Russian, but nevertheless a few unambiguous dialectical formations can be identified by their phonological form (Estonian <i>mugel</i>, Veps <i>mugl</i> 'alkaline solution, soap powder', reflecting the Pskovian reflex of Proto-Slavic *mydlo 'soap'<sup>7</sup> (cf. Russian #{t "мыло", "mylo"}) (Ivanov 2006:172).

= section "Conclusions" do
  = section "An East Baltic Sprachbund?" do
    %p Nikolai Sergeyevich Trubetzkoy originally defined Sprachbund as follows:
    %blockquote
      “Groups comprising languages that display a great similarity with respect to syntax, that show a similarity in the principles of morphological structure, and that offer a large number of common culture words, and often also other similarities in the structure of the sound system, but at the same time have no regular sound correspondences, no agreement in the phonological form of morphological elements, and no common basic vocabulary — such language groups we call Sprachbünde.”
      %br
      %span.cite (Trubetzkoy 1928, trans. Victor A. Friedman)
    %p All of these qualities can be seen to varying extents in the three main groups of languages under discussion in this paper. Non-inherited cases of shared syntactical features include nominative objects and locative-type predicative possession, while morphological similarities are evidenced in the restructuring of the Old North Russian nominal paradigm to more closely match distinctions found in Finnic languages. Similarities in phonological systems are quite well attested, with depalatalization and loss of post-alveolar consonants observed in all three families in related but not inherited forms, as well as the spread of certain cluster simplifications (e.g., -tl-/-dl- → -kl-/-gl-) across language boundaries. Many shared lexical items exist as well, although these were only tangentially discussed in the current paper.
    %p The issue of regular sound correspondences in the Northeast Baltic is a complicated one, but not prohibitively so. There is little doubt the Finnic languages belong to a completely different stock than the Indo-European ones, but Slavic and Baltic are quite close, more so than any of the families present in the Balkans. However, it is often possible to determine whether a form was inherited or borrowed by its phonological shape. In addition, both families' presence outside of the immediate East Baltic region under consideration further helps us discern what information is helpful and what is not.
    %p Thus the classification of medieval north Russian dialects, the Finnic languages, and some of the Baltic languages (such as Latvian) as constituting a Sprachbund certainly seems to have some validity and warrants serious consideration. There are, of course, a number of issues that make such research in the eastern Baltic more difficult than in the Balkans, in particular the paucity of documentation and the lesser degree of salience of many Northeast Baltic features, that is, the fact that many of these features are present in the Slavic, Baltic, and Uralic languages outside territory under consideration, but much less prominently, such as how locative-type possession (often using the dative case, as in Latvian) is present through Baltic, Slavic, and even Indo-European as a whole, but not to the same extent that they are seen in the Northeast Baltic.

  = section "A Sprachbund No More?" do
    %p Other analyses on the languages of the Baltic Sea region from the perspective of contact linguistics have come to a variety of conclusions. It may be worth examining one of these, that of Koptjevskaja-Tamm &amp; Wälchli (2001), in more detail, and to outline the reasons for the very different conclusions.
    %p Koptjevskaja-Tamm &amp; Wälchli (2001) examine the modern-day “Circum-Baltic langauges”, a much broader grouping including, in addition to the Northeast Baltic languages discussed here, such languages as Polish, German, Yiddish, Lithuanian, Swedish, Saami, Romani, and Karaim, geographically spanning the entire Baltic Sea region as well as a number of other groups not yet present in the region in the time period examined in this paper. They come to the conclusion that these languages may best be considered what they term a <i>contact superposition zone</i>, explaining this as follows:
    %blockquote
      “Our guess is that intensive micro-contacts superimposed on each other sometimes create an impression of an overall macro-contact among the languages in an area, which has not necessarily been there […] In the CB [Circum-Baltic] area, convergence works primarily on a micro-level. It reflects language contacts of groups of people and maximally, of two or three languages. Convergence that comprises more than two or three languages, it seems, is always the result of the overlapping and superposition of different language contacts.”
      %br
      %span.cite (Koptjevskaja-Tamm &amp; Wälchli 2001:626, 728)
    %p One difference is thus immediately obvious: the CB superposition zone is an attempt to encompass far more languages than the Northeast Baltic region discussed here, which is closer to what they consider to be a micro-contact. There are, ultimately, a number of issues I take with this analysis:
    %ol
      %li They are looking at too grand a scale. By arguing against the entire Circum-Baltic as a Sprachbund, they are to some extent arguing against a straw man. It is obvious that not all of these languages were in constant contact with each other, and looking at the region from such a broad perspective glosses over the many ideal candidates for Sprachbünde that exist at more local levels. They note, for instance, that there are “no isoglosses covering all the CB languages” (ibid., 728); however, this statement is also true of the Balkan languages, and thus seems to be an unreasonable requirement. At the same time, it is also a clear consequence of trying to examine too large a region.
      %li They are looking at too narrow a scale. The description of a contact superposition zone as given could be applied to virtually anywhere on Earth where languages form chains of contact (A ↔ B ↔ C ↔ D), and so I have yet to see the usefulness of such a classification.
    %p There is also another issue that should be taken into consideration: arguably, <em>the Northeast Baltic is no longer a Sprachbund</em>. This is the primary reason for the date restrictions that have been imposed in this paper. After the 16th century, the sociolinguistic structure of the East Baltic region began to change radically, and instead of three different families coexisting on more or less equal terms along with Swedish in a minor prestige role, Russian came to dominate the region, and bilingualism increasingly became one-way (for example, speakers of Karelian would learn Russian, but very few Russian speakers would learn Karelian). Standard Muscovite Russian all but obliterated the historical north Russian dialects; <i>cokan'je</i> “is now a relic feature, being a characteristic of the oldest isolated illiterate individuals” (Čekmonas 2001:346), while “during the last four or five centuries, the ancient Pskov-Novgorod <i>š'okan'e</i> was completely eliminated” (ibid., 348). The dominance of standard Russian caused numerous changes in non-Slavic languages as well; for instance, in Karelian and Veps palatalization and post-alveolar sounds were reintroduced, a change that probably was influenced by standard Russian (Laakso 2001:185-186). These are just a few of many examples of historical Northeast Baltic contact phenomena being completely or nearly completely undone due to standard Russian.

  %h2 References
  .references
    %p Abondolo, Daniel. (ed.) 1998. The Uralic Languages. Routledge Language Family Descriptions. New York: Routledge.
    %p Ambrazas, Vytautas. 2001. On the development of the nominative object in East Baltic. Circum-Baltic Languages, ed. Östen Dahl and Maria Koptjevskaja-Tamm. 391-412.
    %p Balode, Laimute, and Axel Holvoet. 2001. The Latvian language and its dialects. Circum-Baltic Languages, ed. Östen Dahl and Maria Koptjevskaja-Tamm. 3-40.
    %p Birnbaum, Henrik. 1991. Reflections on the Language of Medieval Novgorod. Russian Linguistics 15.195-215.
    %p Birnbaum, Henrik. 1996. Novgorod in Focus: Selected Essays by Henrik Birnbaum. Columbus, Ohio: Slavica Publishers, Inc.
    %p Brisbane, Mark, and David Gaimster. (ed.) 2001. Novgorod: the Archeology of a Russian Medieval City and its Hinterland. London: The British Museum Press.
    %p Čekmonas, Valeriy. 2001. On some Circum-Baltic features of the Pskov-Novgorod (Northwestern Central Russian) dialect. Circum-Baltic Languages, ed. Östen Dahl and Maria Koptjevskaja-Tamm. 339-359.
    %p Dahl, Östen, and Maria Koptjevskaja-Tamm. (ed.) 2001. Circum-Baltic Languages. Vol. I-II. Philadelphia: John Benjamins Publishing Company.
    %p Ivanov, Vyacheslav V. 2006. The Change *(-)<i>tl</i>-, *(-)<i>dl</i>- &gt; (-)<i>kl</i>-, (-)<i>gl</i>- in the Circum-Baltic Linguistic Zone. Harvard Ukrainian Studies 28.165-181.
    %p Jung, Hakyung. 2007. Internally Conditioned Language Change: The Development of the North Russian -no/-to Perfect. Russian Linguistics 31.137-156.
    %p Koptjevskaja-Tamm, Maria, and Bernhard Wälchli. The Circum-Baltic languages: An areal-typological approach. Circum-Baltic Languages, ed. Östen Dahl and Maria Koptjevskaja-Tamm. 615-750.
    %p Krys'ko, V. B. 1994. Zametki o drevnenovgorodskom dialekte (I. Palatalizacija). Voprosy jazykoznanija 5.28-45.
    %p Krys'ko, V. B. 1998. Drevnij novgorodsko-pskovskij dialekt na obščeslavjanskom fone. Voprosy jazykoznanija 3.74-93.
    %p Kuteva, Tania, and Bernd Heine. 2004. On the possessive perfect in North Russian. Word 55.37-71.
    %p Laakso, Johanna. 2001. The Finnic languages. Circum-Baltic Languages, ed. Östen Dahl and Maria Koptjevskaja-Tamm. 179-212.
    %p Larsson, Lars-Gunnar. 2001. Baltic influence on Finnic languages. Circum-Baltic Languages, ed. Östen Dahl and Maria Koptjevskaja-Tamm. 237-253.
    %p Le Feuvre, Claire. 2006. Cases of Hardening of Liquids in Old Novgorodian and the Scandinavian Superstratum. Harvard Ukrainian Studies 28.215-224.
    %p Matras, Yaron, and Jeanette Sakel. 2007. Grammatical Borrowing in Cross-Linguistic Perspective. New York: Mouton de Gruyter.
    %p Matras, Yaron. 2007.  The borrowability of structural categories. Grammatical Borrowing in Cross-Linguistic Perspective, ed. Yaron Matras and Jeanette Sakel. 31-73.
    %p Pokrovskaya, Lyuba V. 2001. Finno-Ugrian Jewellery from Medieval Novgorod. Novgorod: the Archeology of a Russian Medieval City and its Hinterland. 85-90.
    %p Posti, Lauri. 1954. From Pre-Finnic to Late Proto-Finnic. Finnisch-Ugrische Forschungen 31.1-91.
    %p Timberlake, Alan. 1974. The Nominative Object in Slavic, Baltic, and West Finnic. Munich: Verlag Otto Sagner.
    %p Trubetzkoy, N. S. 1928. Établissment et délimitation des termes techniques, Proposition 16. Actes du Premier congrès international des linguistes, p. 18. The Hague: A. W. Sijthoff. Trans. Victor A. Friedman.
    %p Vermeer, Willem. 1994. On Explaining Why the Early North Russian Nominative Singular in -e Does Not Palatalize Stem-Final Velars. Russian Linguistics 18.145-157.
    %p Viitso, Tiit-Rein. 1998. Fennic. The Uralic Languages, ed. Daniel Abondolo. 96-114.
    %p Zajceva, M. I. 1981. Grammatika vepsskogo jazyka. Leningrad: Nauka.
    %p Zajceva, M. I., and M. I. Mullonen. 1972. Slovar' vepsskogo jazyka. Leningrad: Nauka.
    %p Zajkov, P. M., and Larisa Rugojeva. (ed.) 1999. Karjalais-venäläini sanakirja. Petrozavodsk: Periodika.
    %p Zaliznjak, A. A. 2004. Drevnenovgorodskij dialekt. Moscow: Jazyki slavjanskoj kul'tury.

%p &nbsp;

%hr.footnote

%p 1) I avoid using the term “East Baltic” to describe the languages in question for fear of confusion with “East Baltic” as a phylogenetic unit, i.e., the East Baltic language family.
%p 2) These standards are, admittedly, quite subjective, but given the rather finite set of texts available in Old North Russian dialects, it is not uncommon for only one or two attestations of a given feature to have survived.
%p 3) The Second Palatalization is the change k, g, x → c, ʒ, ś / _V[+front]
%p 4) The Third Palatalization is the (sporadic) change k, g, x → c, ʒ, ś / V[+front]_; it should however be noted that in Old North Russian the Third Palatalization does appear to have taken place, but only with *k, not with *g or *x. This remains unexplained. (Zaliznjak 2004:47)
%p 5) “смягчение согласных перед гласными переднего ряда имело здесь менее продвинутый характер по сравнению с другими славянскими диалектами”
%p 6) A fuller description of the various agreement rules in the modern-day Baltic and Slavic languages can be found in Koptjevskaja-Tamm &amp; Wälchli (2001:702-703).
%p 7) Regarding the vowel /u/ in the Estonian and Veps forms, Ivanov (2006:172) does mention that it has an [early] Proto-Slavic character. On the other hand, the change y → u after labial consonants is attested in a number of birchbark documents, in forms like #{t "бꙋть", "butĭ"} 'be' and #{t "воудоро", "voudoro"} 'otter (<abbr title="Genitive plural">gen pl</abbr>)' (phonetically probably <i>vudrŭ</i>) for Russian #{t "быть", "byt'"} and #{t "выдр", "vydr"} (Zaliznjak 2004:74).

%p &nbsp;
%p &nbsp;

%p= link_to "Return to Main Veche.Net Page", root_path
