- content_for :title, "The Development of Slavic Numeral Agreement"
- content_for :section_title, "The Development of Slavic Numeral Agreement"

%p= link_to "Return to Main Veche.Net Page", root_path

= section "Introduction" do
  %p The Slavic numeral is an interesting area of study due to its apparent alternation between noun-like and adjective-like behavior. The loss of the dual number in most Slavic languages, formerly required after the numeral <i>*dъva</i>/<i>*dъvě</i> “two”, left an unusual gap in what once was a fairly well-ordered system. Some speakers responded by generalizing the plural to fill this hole; others, still with the memory of the older <i>*dъva</i> + dual construction, generalized a bound dual-like form; still others adopted a mixed system, combining aspects of both solutions.
  %p The result is a fair amount of variety in numeral–noun agreement across the Slavic family and the creation of a distinct “numeral” part of speech syntactically and morphologically distinct from other quantifiers. Many of these differences also display some areal tendencies, suggesting a significant role for external language contact in promoting or discouraging certain features in different parts of the Slavic-speaking world.

= section "The Common Slavic Situation" do
  %p Before examining the situation in the modern Slavic languages, it is necessary to understand how numeral agreement operated in the Common Slavic period. Originally, the lower numerals (one through ten) could be divided into two subgroups (per Schenker 1995).
  %p The numerals “one” through “four” were essentially adjectival. A noun could appear in the singular, dual, or plural as semantically required, and the numeral would agree in case, number, and (sometimes) gender. The numeral <i>*jedinъ</i> “one” took singular pronominal endings<sup>1</sup> while <i>*dъva</i> “two” took dual pronominal endings. The numeral <i>*trьje</i> “three” declined as a plural <i>ĭ</i>-stem, while <i>*četyre</i> “four” declined as a plural consonant stem. All showed gender agreement in the nominative and accusative cases, though only <i>*jedinъ</i> did in the other oblique cases.
  %p The numerals “five” through “ten”, on the other hand, behaved like nouns in a genitive construction. With the numeral as the head, the quantified noun must appear in the genitive plural, such that there was little syntactic difference between <i>*pętь ovьkъ</i> “five sheep” and <i>*stado ovьkъ</i> “a flock of sheep”. Consequently, case and number were assigned to the noun by the numeral, and there was no gender agreement. However, by the Late Common Slavic period, it seems likely that the noun came to mirror the case of the numeral in oblique forms, given that this construction is seen in several daughter languages: <i>*sъ pętьjǫ ovьcejǫ</i> “with five.<abbr title="Instrumental">inst</abbr> sheep.<abbr title="Instrumental">inst</a>”.

= section "Southeast Slavic" do
  %p The Southeast Slavic languages Bulgarian and Macedonian subsume all of the inherited numerals into a single quantifier class, except for Bg. <i>един</i>, Mac. <i>еден</i> (<i>една/едно/едни</i>) “one”, which retains its original adjective-like behavior. For most masculine nouns, we see a generalization of the Common Slavic nominative dual to all numerals other than “one”, while for feminine and neuter nouns we see a generalization of the nominative plural to all numerals other than “one”. Consequently, non-virile masculine nouns (as well as a handful of neuters) have developed a bound “counting form” (<i>бройна форма</i>) consisting of the ending -а attached to the singular stem. This counting form is mandatory in Bulgarian, optional in Macedonian (Mayer 1973).
  %p However, masculine virile (human) nouns have an additional complexity: the counting form is always optional, even in Bulgarian, so that both <i>два ученика</i> and <i>два ученици</i> “two pupils” are valid (ibid.). Both languages also have special virile numerals (in Bulgarian marked with <i>-ма</i>, a generalization of the instrumental dual, and in Macedonian marked with <i>-ца</i> or <i>-мина</i>, former nominalizers (Мирчев 1963)) that are only used with virile nouns; in this case, the nouns must be in the plural and never in the counting form: Bg. <i>двама ученици</i>, Mac. <i>двојца ученици</i>).
  %table
    %tr
      %th Word
      %th “one”
      %th “two”
      %th “three”
      %th “five”
    %tr
      %th “chair”
      %td
        Bg. <i>един стол</i>
        %br
        Mac. <i>еден стол</i>
      %td
        Bg. <i>два стола</i>
        %br
        Mac. <i>два стола (два слолови)</i>
      %td
        Bg. <i>три стола</i>
        %br
        Mac. <i>три стола (три столови)</i>
      %td
        Bg. <i>пет стола</i>
        %br
        Mac. <i>пет стола (пет столови)</i>
    %tr
      %th “day”
      %td
        Bg. <i>един ден</i>
        %br
        Mac. <i>еден ден</i>
      %td
        Bg. <i>два дена</i>
        %br
        Mac. <i>два дена (два денови)</i>
      %td
        Bg. <i>три дена</i>
        %br
        Mac. <i>три дена (три денови)</i>
      %td
        Bg. <i>пет дена</i>
        %br
        Mac. <i>пет дена (пет денови)</i>
    %tr
      %th “road”
      %td
        Bg. <i>един път</i>
        %br
        Mac. <i>еден пат</i>
      %td
        Bg. <i>два пътя</i>
        %br
        Mac. <i>два пата (две патишта)</i>
      %td
        Bg. <i>три пътя</i>
        %br
        Mac. <i>три пата (три патишта)</i>
      %td
        Bg. <i>пет пътя</i>
        %br
        Mac. <i>пет пата (пет патишта)</i>
    %tr
      %th “woman”
      %td
        Bg. <i>една жена</i>
        %br
        Mac. <i>една жена</i>
      %td
        Bg. <i>две жени</i>
        %br
        Mac. <i>две жени</i>
      %td
        Bg. <i>три жени</i>
        %br
        Mac. <i>три жени</i>
      %td
        Bg. <i>пет жени</i>
        %br
        Mac. <i>пет жени</i>
  %p (Mayer 1973, Lunt 1952)

= section "Southwest Slavic" do
  %p Slovenian is highly conservative in its numeral system. As one of only two Slavic languages to preserve the dual number, it never faced the radical restructuring that the rest of the Slavic family had to undergo and consequently maintains the same basic governance rules as previously mentioned for Late Common Slavic: <i>èn študênt</i> “one student”, <i>dvá študênta</i> “two students”, <i>tríje študênti</i> “three students”, <i>pét študêntov</i> “five students”. However, the declension of all of these numerals has been heavily influenced by the adjectival declension, so despite the conservative syntax, Slovenian numeral morphology has diverged significantly from the original Slavic model (Herrity 2000).
  %p In contrast, the Bosnian-Croatian-Serbian model is highly innovative both morphologically and syntactically. As in Southeast Slavic, BCS shows a generalization of the nominative/accusative dual for masculine nouns and of the nominative/accusative plural for feminine nouns. However, whereas Bulgarian and Macedonian collapsed the Common Slavic numeral system into just a contrast between “one” and all other numbers, BCS has three or four distinct numeral subclasses.
  %ol
    %li The numeral <i>један</i> “one” remains adjective-like syntactically, agreeing with the noun in gender, number, and case: <i>један човек</i> “one man”, <i>једна жена</i> “one woman”.
    %li
      The numeral <i>два</i>/<i>две</i> “two” is partially adjectival, partially quantifier. In direct cases it agrees with the noun in gender, but assigns the nominative/accusative plural to feminine nouns and the genitive singular (reanalyzed from the dual) to masculine and neuter nouns. In oblique cases, however, <i>два</i> and <i>две</i> have a restricted declension, although this varies across dialects. In standard Serbian, both masculine/neuter <i>два</i> and feminine <i>две</i> may be declined in all oblique cases, with the noun matching; that is, the numeral is largely adjectival in behavior (Hammond 2005). In Bosnian, on the other hand, non-declining quantifiers <i>dva</i> and <i>dvije</i> + g. sg./n. pl. coexist alongside declining adjectival <i>dva</i> and <i>dvije</i><sup>2</sup> (Leko 2009). For instance, the non-declining forms must be used after prepositions:
      = example_sentence do
        Kopao je dvjema lopatama.
        %br
        dig-<abbr title="Past L-Participle">ptcpl</abbr>-<abbr title="Masculine singular">masc.sg</abbr> be.<abbr title="Third person singular present clitic">3sg</abbr> two.<abbr title="Feminine">fem</abbr>-<abbr title="Instrumental">ins</abbr> spade-<abbr title="Instrumental plural">ins.pl</abbr>
        %br
        “He was digging with two spades.”
      = example_sentence do
        Kopao je sa dvije lopate.
        %br
        dig-<abbr title="Past L-Participle">ptcpl</abbr>-<abbr title="Masculine singular">masc.sg</abbr> be.<abbr title="Third person singular present clitic">3sg</abbr> with two.<abbr title="Feminine">fem</abbr>-<abbr title="Nominative">nom</abbr> spade-<abbr title="Nominative plural">nom.pl</abbr>
        %br
        “He was digging with two spades.”
    %li The numerals <i>три</i> “three” and <i>четири</i> “four” vary across dialects. In standard Serbian they are non-declining, and so must always be followed by the nominative plural for feminine nouns and the genitive singular for masculine or neuter nouns (Hammond 2005). In Croatian and Bosnian, they do retain some ability to decline, and their behavior is much the same as with “two” (Leko 2009, Mayer 1973).
    %li The numerals “five” through “ten” are all non-declining, and must be followed by a noun in the genitive plural. They require prepositions in oblique cases to specify their actual syntactic role in the sentence, since they cannot take any meaningful case marking.
  %p Even though the former dual ending <i>-a</i> used with masculine and neuter nouns after “two”, “three”, and “four” has syncretized with the genitive singular, there are a number of other carryovers from the original dual number. An adjective modifying one of these nouns in the “genitive singular” does not take the usual genitive ending, but rather <i>-a</i>, a survival of the original nominative/accusative masculine/neuter dual. Similarly, if this numeral phrase the subject of the sentence, the <i>l</i>-participle will have the ending <i>-a</i>, not the expected <i>-i</i>; feminine nouns after “two”, “three”, and “four” take normal nominative/accusative plural adjectives and the feminine plural ending <i>-e</i> on the <i>l</i>-participle:
  = example_sentence do
    Ona dva visoka muškarca su spavala. (*visokog, *spavali)
    %br
    that-<abbr title="Counting form">count</abbr> two.<abbr title="Masculine">masc</abbr>-<abbr title="Nominative">nom</abbr> tall-<abbr title="Counting form">count</abbr> man-<abbr title="Genitive singular">gen.sg</abbr> be.<abbr title="Third person plural present clitic">3pl</abbr> sleep-<abbr title="Past L-Participle">ptcpl</abbr>-<abbr title="Counting form">count</abbr> (*tall-<abbr title="Masculine singular genitive">masc.sg.gen</abbr>, *sleep-<abbr title="Past L-Participle">ptpcpl</abbr>-<abbr title="Masculine plural">masc.pl</abbr>)
    %br
    “Those two tall men slept.”

= section "West Slavic" do
  %p The West Slavic languages have largely generalized the nominative/accusative plural to the numeral “two”, and are alone amongst the Slavic languages for having eliminated all trace of dual agreement in numeral phrases.
  %p In Czech and Slovak, all numerals are adjectival in behavior aside from the direct case forms of “five” through “ten”. That is, the numbers “one” through “four” as well as the oblique case forms of “five” through “ten” all agree with the quantified noun in case and do not assign case themselves. The only exception is “five” through “ten” in the nominative and accusative cases, which require the genitive plural as in Common Slavic (Naughton 2005).
  %p Polish works quite similarly to Czech, with “one” through “four” showing agreement along with oblique forms of “five” through “ten”, while the nominative and accusative of “five” through “ten” require the genitive plural (Bielec 1998). However, Polish also has a set of masculine virile numerals. The virile <i>dwaj</i> “two” (cf. non-virile m./n. <i>dwa</i>, f. <i>dwie</i>), <i>trzej</i> “three” (cf. non-virile <i>trzy</i>), and <i>czterej</i> “four” (cf. non-virile <i>cztery</i>) all behave as their non-virile counterparts, and are only distinct in the nominative case. For “five” onwards, however, as well as for “two” through “four” colloquially, the virile nominative is identical to the genitive and requires a noun in the genitive plural:
  = example_sentence do
    Tam jest pięciu studentów.
    %br
    there be.<abbr title="Third person singular">3sg</abbr> five-<abbr title="Genitive">gen</abbr> student-<abbr title="Genitive plural">gen.pl</abbr>
    %br
    “There are five students there.”
  %p This may be explained as an impersonal use of the accusative of measurement, which, due to the virile nouns involved, is syncretic with the genitive (Schenker 1971).
  %p The Sorbian languages, despite the preservation of the dual number, show a clear trend towards simplifying agreement as well. The numbers <i>jedyn</i> (USo.)/<i>jaden</i> (LSo.) “one” and <i>dwaj</i> (USo.)/<i>dwa</i> (LSo.) “two” behave as adjectives, showing agreement with the quantified singular or dual noun. Lower Sorbian <i>tśi</i> “three” and <i>styri</i> “four” are consistently declined as well, though this is optional with Upper Sorbian <i>tři</i> and <i>štyri</i>, which only must be declined when used absolutely. With “five” through “ten”, both forms of Sorbian tend not to decline attributive numerals, but maintain declension for absolute numerals (Stone 1993).
  %p The developments in the West Slavic languages may be attributable to centuries of Germanic influence. German does not have numerals that govern the case of the quantified noun, which appears in its natural semantically-correct case and number. This longstanding influence may have promoted the adjective-like nature of the original Common Slavic <i>*trьje</i> and <i>*četyre</i>, whereas all other Slavic languages show at least some tendency to generalize the dual endings associated with <i>*dъva</i>.

= section "East Slavic" do
  %p The East Slavic languages Russian, Ukrainian, and Belarusian show a mixed collection of developments. On the one hand, the three languages stand out against the rest of the Slavic family in strengthening the direct vs. oblique case opposition. All three have developed a special bound counting form used with the direct forms of “two” through “four”, although their origins vary, with Russian showing a generalization of the dual, Belarusian a generalization of the plural, and Ukrainian a curious blend of the two.
  %p Across all three languages, “one” and “five” through “ten” behave more or less identically and continue the Common Slavic model. That is, <i>один</i> (R, U)/<i>адзін</i> (Bel.) “one” behaves adjectivally, showing agreement in gender, number, and case, while “five” through “ten” assign the genitive plural in direct cases and show case agreement in indirect cases:
  %table.invisible
    %tr
      %th Russian:
      %td пять
      %td домов
      %td /
      %td в
      %td пяти
      %td домах
    %tr
      %th Ukrainian:
      %td п'ять
      %td домів
      %td /
      %td у
      %td п'яти
      %td домах
    %tr
      %th Belarusian:
      %td пяць
      %td дамоў
      %td /
      %td у
      %td пяці
      %td дамах
    %tr
      %th
      %td five-<abbr title="Nominative">nom</abbr>
      %td house-<abbr title="Genitive plural">gen.pl</abbr>
      %td /
      %td in
      %td five-<abbr title="Prepositional">prep</abbr>
      %td house-<abbr title="Prepositional plural">prep.pl</abbr>
  %p In Russian, the numerals <i>два</i>/<i>две</i> “two”, <i>три</i> “three”, and <i>четыре</i> “four” assign a form in direct cases that is generally identical with the genitive singular. With masculine and neuter nouns, this is clearly a reanalysis of the original nominative dual ending <i>-а</i>. With feminine nouns, two different forces probably reinforced each other: on the one hand, there seems to be a pan-Slavic tendency for the nominative/accusative plural of Common Slavic <i>*tri</i> and <i>*četyri</i> to displace the dual of <i>*dъvě</i> amongst feminine nouns; and on the other, if the masculine/neuter counting form was interpreted as a genitive singular, it is not a difficult jump to reinterpret the nominative/accusative feminine plural as a genitive singular as well, particularly since these two forms tend to be identical in East Slavic aside from stress, both being marked by <i>-ы</i>.
  %p However, these Russian forms are not completely syncretic with the genitive singular. A small set of masculine nouns have a distinct stress in this counting form, as in <i>два часа́</i> “two hours” (cf. <i>течение ча́са</i> “the course of an hour”), and adjective agreement is syncretic with the genitive plural, as in <i>два больших дома</i> “two big houses” (cf. <i>большого дома</i> “of a big house”) (Mayer 1973).
  %p In Ukrainian, the numerals <i>два</i>/<i>дві</i> “two”, <i>три</i> “three”, and <i>чотири</i> “four” behave as in Russian with feminine nouns, assigning the genitive singular in the direct cases. With masculine and neuter nouns, the form assigned has the stem and stress of the genitive singular, but the ending of the nominative plural. For example:
  %table
    %tr
      %th Word
      %th Nominative Singular
      %th Nominative Plural
      %th Genitive Singular
      %th “Two”
    %tr
      %th “son”
      %td сѝн
      %td синѝ
      %td сѝна
      %td два сѝни
    %tr
      %th “friend”
      %td дру̀г
      %td дру̀зи
      %td дру̀га
      %td два дру̀ги
    %tr
      %th “peasant”
      %td селянѝн
      %td селянѝ
      %td селянѝна
      %td два селянѝни
  %p Adjectives modifying such forms typically appear in the nominative/accusative plural, unlike Russian, suggesting that these forms are perceived as plural despite being built upon singular stems. The genitive plural (as in Russian) is possible, but less frequent (Mayer 1971, 1973).
  %p These apparently 'blended' forms in Ukrainian are more suggestive than any other Slavic language of the tension between generalization of the dual (i.e., genitive singular) and plural to the numerals “two” through “four”. The dialects underlying standard Ukrainian appear to have opted for the nominative/accusative plural while keeping the prosody of the original dual. However, it should be noted that analogical pressure seems to be mounting, and it is not unusual to hear true plural forms in regular usage alongside these counting forms.
  %p Belarusian is quite similar to Ukrainian, but has taken the process a step further. Masculine nouns modified by <i>два</i>/<i>дзве</i> “two”, <i>трі</i> “three”, or <i>чатыры</i> “four” are identical to the nominative plural unless the singular and plural stems are distinct in form, so that only a small set of masculine nouns have a distinct counting form: <i>гараджанін</i> “townsman” → <i>два гараджаніны</i> “two townsmen” (cf. n. pl. <i>гараджане</i>). Neuter nouns, however, continue the same pattern as in Ukrainian: <i>вядро̀</i> “bucket (n. sg.)” → <i>два вядры̀</i> (cf. n. pl. <i>вёдры</i>, g. sg. <i>вядра̀</i>). With feminine nouns, the genitive singular is always used (Mayer 1973).
  %p All three languages have a strict direct/oblique contrast across the numbers “two” through “ten”, where in direct NPs (nominative or accusative) the numeral assigns a case or counting form to the quantified noun, while in oblique NPs (all other cases) the numeral and noun agree in case and number. This appears to be an areal feature, also seen in Baltic Finnic and, to a lesser extent, Baltic<sup>3</sup>. This behavior probably originated within Balto-Slavic, given its absence throughout the rest of the Uralic family (Koptjevskaja-Tamm 2001).
  %table.invisible
    %tr
      %th Russian:
      %td пять
      %td домов
      %td /
      %td в
      %td пяти
      %td домах
    %tr
      %th
      %td five-<abbr title="Nominative">nom</abbr>
      %td house-<abbr title="Genitive plural">gen.pl</abbr>
      %td /
      %td in
      %td five-<abbr title="Prepositional">prep</abbr>
      %td house-<abbr title="Prepositional plural">prep.pl</abbr>
    %tr
      %th Finnish:
      %td viisi
      %td taloa
      %td /
      %td
      %td viidessä
      %td talossa
    %tr
      %th
      %td five-<abbr title="Nominative">nom</abbr>
      %td house-<abbr title="Partitive singular">part.sg</abbr>
      %td /
      %td
      %td five-<abbr title="Inessive">ines</abbr>
      %td house-<abbr title="Inessive plural">ines.pl</abbr>

= section "Conclusion" do
  %p Although there exists a fair amount of diversity across the Slavic languages, there are a few general tendencies in the development of numeral–noun agreement that can be observed:
  %ol
    %li The numeral “one” is universally adjectival.
    %li The numerals “five” through “ten” are generally fairly conservative in North Slavic, but in South Slavic they tend to fall in line with lower numerals (cf. the counting form in Bulgarian and Macedonian and non-declension in Bosnian-Croatian-Serbian).
    %li There is a universal tendency to bring “two” in line with “three” and “four”.
    %li There is a strong tendency to generalize the plural associated with “three” and “four” to “two” with feminine nouns, and to generalize the dual associated with “two” to “three” and “four” with masculine and neuter nouns. In the case of East Slavic, this underwent some interference from the fact that the nominative plural and genitive singular of feminine nouns is usually identical in form, though not in stress.
    %li Masculine or masculine virile nouns are more likely to adopt the nominative/accusative plural after numerals than a special bound counting form in comparison to other noun classes (cf. Bulgarian and Belarusian).

%h2 References
.references
  %p Bielec, Dana. 1998. Polish: An Essential Grammar. Routledge. 240-247.
  %p Hammond, Lila. 2005. Serbian: An Essential Grammar. Routledge. 255-265.
  %p Herrity, Peter. 2000. Slovene: A Comprehensive Grammar. Routledge. 126-135.
  %p Kopjevskaja-Tamm, Maria, and Bernhard Wälchli. 2001. The Circum-Baltic languages: An areal-typological approach. Circum-Baltic Languages, ed. Östen Dahl and Maria Koptjevskaja-Tamm. 615-750.
  %p Leko, Nedžad. 2009. The Syntax of Numerals in Bosnian. LINCOM Studies in Slavic Linguistics. 23-54.
  %p Lunt, Horace. 1952. Grammar of the Macedonian Literary Language. Skopje. 32, 47-51.
  %p Mayer, Gerald L. 1971. Dva(dvi), Try, Čotyry + Noun: a Reinterpretation. Canadian Slavonic Papers / Revue Canadienne des Slavistes 13:31. 73-79.
  %p Mayer, Gerald L. 1973. Common Tendencies in the Development of “Two,” “Three,” and “Four” in Slavic. The Slavic and East European Journal 17:3. 308-314.
  %p Naughton, James. 2005. Czech: An Essential Grammar. Routledge. 113-117.
  %p Pugh, Stefan M. and Ian Press. 1999. Ukrainian: A Comprehensive Grammar. Routledge. 189-193.
  %p Schenker, Alexander M. 1971. Some Remarks on Polish Quantifiers. The Slavic and East European Journal 15:1. 54-60.
  %p Schenker, Alexander M. 1995. The Dawn of Slavic. Yale University Press: New Haven. 128-129.
  %p Stone, Gerald. Sorbian. 1993. In The Slavonic Languages, ed. Bernard Comrie and Greville G. Corbett. 631-633.
  %p Мирчев, Кирил. 1963. Историческа граматика на българския език. Държавно издателство «Наука и изкуство», София. 173-175.

%p &nbsp;

%hr.footnote

%p 1) <i>*jedin-</i> probably could take plural endings as well when modifying pluralia tantum nouns, since the modern Slavic languages display similar behavior. Semantically, however, the singular meaning is still present.
%p 2) However, adjectival masculine <i>dva</i> seems to be uncommon in Bosnian. Leko reports that speakers find <i>Kopao je sa dva pijuka</i> “He was digging with two picks” grammatical, but questioned <i>?Kopao je dvama pijucima</i>, even while accepting the parallel sentences above with feminine <i>dvije</i> and <i>lopata</i> “spade”.
%p 3) Lithuanian does not have this sort of alternation; it has agreement (adjective-like behavior) throughout. Latvian, on the other hand, has a mixed system: low numbers (1-9) are always adjectives, while high numbers have such a split, acting as adjectives in oblique cases and as either adjectives or nouns (with genitive agreement) in the direct cases, just as in Russian and Finnic.

%p &nbsp;
%p &nbsp;

%p= link_to "Return to Main Veche.Net Page", root_path
