- content_for :title, "Grammar of the Očets Language"
- content_for :section_title do
  Grammar of the Očets Language
  %br
  Һочец сеие граматика

= image_tag 'ochets/cover.png', :id => 'coverart', :alt => "A Reference Grammar of the Očets Language"

%p The Očets grammar is still a work in progress. New pages will be added as they are completed.

%h2 Online Index of Topics
%p a. #{link_to "Foreword", ochets_grammar_page_path(:foreword)}
%p b. Abbreviations
%p 1. #{link_to "Background", ochets_grammar_page_path(:background)}
%p 2. #{link_to "Phonology", ochets_grammar_page_path(:phonology)}
%p 3. #{link_to "Writing", ochets_grammar_page_path(:writing)}
%p 4. #{link_to "Nominal Morphology", ochets_grammar_page_path(:nominalmorphology)}
%p 5. #{link_to "Quantifier Morphology", ochets_grammar_page_path(:quantifiermorphology)}
%p 6. #{link_to "Adjectival Morphology", ochets_grammar_page_path(:adjectivalmorphology)}
%p 7. #{link_to "Pronoun and Other Pro-Form Morphology", ochets_grammar_page_path(:pronounmorphology)}
%p 8. #{link_to "Verbal Morphology", ochets_grammar_page_path(:verbalmorphology)}
%p 9. #{link_to "Derivational Morphology and Word Creation", ochets_grammar_page_path(:derivationalmorphology)}
%p 10. Verbal Syntax
%p 11. Nominal Syntax
%p 12. Adjectival and Adverbial Syntax
%p 13. Pronominal Syntax
%p 14. Postpositions
%p 15. Clauses, Conjunctions and Reported Speech
%p 16. Questions
%p 17. Discourse Markers
%p 18. Emphasis and Word Order
%p 19. Dialects
%p 20. Appendices

%p &nbsp;

%h2 Lexicon
%p Očets Lexicon and Dictionary (not yet available)

%p &nbsp;
%p &nbsp;
%p= link_to "Return to Main Veche.Net Page", root_path
