- content_for :title, "Grammar of the Očets Language — #{strip_tags(@current_page[:title])}"
- content_for :section_title, "#{@current_page[:index]}. #{@current_page[:title]} / Лывауссыс сиинтакс"

= render :partial => 'navigation'

= section "The Tense System" do
  X
= section "The Copula 'To Be'" do
  X
= section "Use of Unergative Verbs (Conjugation Ia)" do
  X
= section "Use of Transitive Verbs (Conjuagtion Ib)" do
  X
= section "Use of Unaccusative Verbs (Conjugation Ic)" do
  X
= section "Use of Verbs of Communication (Conjugation II)" do
  X
= section "Use of Verbs of Motion (Conjugation III)" do
  X
= section "Use of Possessive Verbs (Conjuagtion IV)" do
  X
= section "Use of Stative Verbs (Conjugation V)" do
  X
= section "Use of Incorporative Verbs (Conjugation VI)" do
  X
= section "Syntax of Negation" do
  X
= section "Using Two Verbs" do
  X
= section "Impersonal Constructions" do
  X
= section "Modal Forms" do
  X

%p &nbsp;
%p &nbsp;

= render :partial => 'navigation'
