%nav.left
  %h1 Society
  %ul
    %li= link_to "History", government_society_history_path
    %hr
    %li= link_to "Population", government_society_population_path
    %hr
    %li= link_to "Health Care", government_society_healthcare_path
    %hr
    %li= link_to "Law Enforcement", government_society_law_enforcement_path
    %hr
    %li= link_to "Education", government_society_education_path
    %hr
    %li= link_to "Culture", government_society_culture_path
    %hr
    %li= link_to "Religion", government_society_religion_path
    %hr
    %li= link_to "Novegradian Language", government_society_language_path
    %hr
    %li= link_to "Finland and the Finns", government_society_finland_path
    %hr
    %li= link_to "Estonia and the Estonians", government_society_estonia_path
    %hr
    %li= link_to "Latvia and the Latvians", government_society_latvia_path
    %hr
    %li= link_to "Karelia and the Karelians", government_society_karelia_path
    %hr
    %li= link_to "Komi and the Komi", government_society_komi_path
