%nav.left
  %h1 Обекьина
  %ul
    %li= link_to "Исторя", government_society_history_path
    %hr
    %li= link_to "Нашељенье", government_society_population_path
    %hr
    %li= link_to "Стравиёохрона", government_society_healthcare_path
    %hr
    %li= link_to "Милиця", government_society_law_enforcement_path
    %hr
    %li= link_to "Науѕенье", government_society_education_path
    %hr
    %li= link_to "Куљтура", government_society_culture_path
    %hr
    %li= link_to "Вѣра", government_society_religion_path
    %hr
    %li= link_to "Новеградескей Лизике", government_society_language_path
    %hr
    %li= link_to "Сумя со Сумлѣньам", government_society_finland_path
    %hr
    %li= link_to "Цудя со Цугьѣньам", government_society_estonia_path
    %hr
    %li= link_to "Латўия со Латўиѣньам", government_society_latvia_path
    %hr
    %li= link_to "Кареля со Карелѣньам", government_society_karelia_path
    %hr
    %li= link_to "Коми со Комлѣньам", government_society_komi_path
