- select_opts = options_for_select([["contains", "contains"], ["begins with", "begins_with"], ["ends with", "ends_with"]])
%table
  %tr
    %th Word
    %td= select_tag :word_opts, select_opts, :disabled => true
    %td= text_field_tag :word, nil, :disabled => true
    %th Part of Speech
    %td= select_tag :part_of_speech_opts, select_opts, :disabled => true
    %td= text_field_tag :part_of_speech, nil, :disabled => true
  %tr
    %th Transliteration
    %td= select_tag :transliteration_opts, select_opts, :disabled => true
    %td= text_field_tag :transliteration, nil, :disabled => true
    %th Root
    %td= select_tag :root_opts, select_opts, :disabled => true
    %td= text_field_tag :root, nil, :disabled => true
  %tr
    %th Definition
    %td= select_tag :definition_opts, select_opts, :disabled => true
    %td= text_field_tag :definition, nil, :disabled => true
    %th Any
    %td= select_tag :any_opts, select_opts, :disabled => true
    %td= text_field_tag :any, nil, :disabled => true
  %tr
    %td{:colspan => 6}
      .checkbox-group
        = check_box_tag :whole_word, '1', false, :disabled => true
        %label{:for => :whole_word} Whole Word Matches Only
      .checkbox-group
        = check_box_tag :exact, '1', false, :disabled => true
        %label{:for => :exact} Exact Matches Only
