- content_for :title, "#{@lexicon.name} Lexicon — #{@entry.word}"

- if is_admin?
  #admin-controls
    = link_to edit_lexicon_entry_path(:language => @lexicon.slug, :slug => @entry.slug) do
      %i.fa.fa-edit
    = link_to new_lexicon_entry_path(:language => @lexicon.slug) do
      %i.fa.fa-plus-square

- @entry.formatters.each do |formatter|
  = formatter.to_html.html_safe
