- content_for :title, "veche.net — Page Not Found"

#container.small
  #title
    = link_to root_path do
      = image_tag 'title.png', :alt => "veche.net"

  #content-box
    = image_tag 'header_404.png', :class => 'header'
    %h1 404 Page Not Found
    .content
      %p Sorry, we seem to have gotten ourselves lost. The page you're looking for doesn't exist.
      %p= link_to "#{icon 'arrow-left'} Return to Veche.Net".html_safe, root_path
