- verb ||= {}
- forms ||= []
- pronunciation ||= []

%table
  %thead
    %tr
      %th{:colspan => 4} Present Tense: <i>#{verb[:tun]}</i> “#{verb[:eng]}”
  %tbody
    %tr
      %th 1Sg <i>iô</i>
      %td= form forms[0], "[#{pronunciation[0]}]"
      %th 1Pl <i>nos</i>
      %td= form forms[3], "[#{pronunciation[3]}]"
    %tr
      %th 2Sg <i>tu</i>
      %td= form forms[1], "[#{pronunciation[1]}]"
      %th 2Pl <i>vos</i>
      %td= form forms[4], "[#{pronunciation[4]}]"
    %tr
      %th 3Sg <i>eu/ele</i>
      %td= form forms[2], "[#{pronunciation[2]}]"
      %th 3Pl <i>els</i>
      %td= form forms[5], "[#{pronunciation[5]}]"
