- verb ||= {}
- forms ||= []
- forms_alt ||= []
- pronunciation ||= []
- pronunciation_alt ||= []

%table
  %thead
    %tr
      %th{:colspan => 4} Preterite Tense: <i>#{verb[:tun]}</i> “#{verb[:eng]}”
  %tbody
    %tr
      %th 1Sg <i>yó</i>
      %td= form [forms[0], forms_alt[0]].compact.uniq.join(", "), "[#{[pronunciation[0], pronunciation_alt[0]].compact.uniq.join(', ')}]"
      %th 1Pl <i>nos</i>
      %td= form [forms[3], forms_alt[3]].compact.uniq.join(", "), "[#{[pronunciation[3], pronunciation_alt[3]].compact.uniq.join(', ')}]"
    %tr
      %th 2Sg <i>tú</i>
      %td= form [forms[1], forms_alt[1]].compact.uniq.join(", "), "[#{[pronunciation[1], pronunciation_alt[1]].compact.uniq.join(', ')}]"
      %th 2Pl <i>vos</i>
      %td= form [forms[4], forms_alt[4]].compact.uniq.join(", "), "[#{[pronunciation[4], pronunciation_alt[4]].compact.uniq.join(', ')}]"
    %tr
      %th 3Sg <i>eu/ele</i>
      %td= form [forms[2], forms_alt[2]].compact.uniq.join(", "), "[#{[pronunciation[2], pronunciation_alt[2]].compact.uniq.join(', ')}]"
      %th 3Pl <i>els</i>
      %td= form [forms[5], forms_alt[5]].compact.uniq.join(", "), "[#{[pronunciation[5], pronunciation_alt[5]].compact.uniq.join(', ')}]"
