- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "Ajectivs e numbrus"

= section "Attributive and Predicative Adjectives" do
  %p A typical Tunisian adjective has three forms: a masculine singular, feminine singular, and plural. It must always agree with its head noun in number and gender when applicable. There is no formal morphological difference between attributive and predicative adjectives.
  %p Compared to other Romance languages, Tunisian gender marking in the singular is much stronger than usual, while in the plural it is weaker than in other languages. In the plural, Tunisian has completely lost the formal gender contrast between masculine and feminine, which is retained in some form throughout the rest of the Romance languages. However, Tunisian lacks the ambigeneric singulars seen elsewhere, having spread explicit feminine marking to all adjectives, as in <i>fil cúrteis</i> “a polite boy” and <i>faile cúrteise</i> “a polite girl” (compare Spanish <i>un niño cortés</i> “a polite boy” and <i>una niña cortés</i> “a polite girl”).

  = section "Declension" do
    = section "Regular Declension" do
      %p The vast majority of Tunisian adjectives are regular.
      %p The masculine singular is unmarked, consisting of the bare stem and always ending in a consonant; ending in a long vowel (but not a short vowel) is allowed, but such adjectives are always irregular. The feminine singular adds the ending <i>-e</i> /ə/ to the stem. The plural adds the ending <i>-s</i> to the stem, pronounced [s] after voiceless consonants and [z] elsewhere. The citation form is the masculine singular.
      %table
        %thead
          %tr
            %th
            %th Masc Sg
            %th Fem Sg
            %th Pl
        %tbody
          %tr
            %td <i>nov</i> “new”
            %td <i>nov</i> [ˈnov]
            %td <i>nove</i> [ˈnɔ.və]
            %td <i>novs</i> [ˈnovz]
          %tr
            %td <i>saif</i> “old”
            %td <i>saif</i> [ˈsajf]
            %td <i>saife</i> [ˈsaj.fə]
            %td <i>saifs</i> [ˈsajfs]
          %tr
            %td <i>inèlt</i> “high”
            %td <i>inèlt</i> [i.ˈneːlt]
            %td <i>inèlte</i> [i.ˈneːl.tə]
            %td <i>inèlts</i> [i.ˈneːlts]
          %tr
            %td <i>fahil</i> “easy”
            %td <i>fahil</i> [ˈfaː.xil]
            %td <i>fahile</i> [ˈfaː.xi.lə]
            %td <i>fahils</i> [ˈfaː.xilz]
          %tr
            %td <i>virid</i> “green”
            %td <i>virid</i> [ˈvi.rid]
            %td <i>viride</i> [ˈvi.ri.də]
            %td <i>virids</i> [ˈvi.ridz]
          %tr
            %td <i>prim</i> “first”
            %td <i>prim</i> [ˈpriːm]
            %td <i>prime</i> [ˈpri.mə]
            %td <i>prims</i> [ˈpriːmz]

    = section "Irregular Declension" do
      %p Irregular adjectives fall into two broad types: those with non-zero masculine singular forms, and those with a reduced stem in the masculine singular.

      = section "The Nisbe" do
        %p Tunisian only has one class of adjective with a non-zero masculine singular ending, but that class is very common and productive. These are the adjectives containing the so-called <i>nisbe</i> [ˈniz.bə]. This suffix, <i>-í</i> /iː/ in the masculine singular, is borrowed from the Arabic <i>nisba</i> suffix ـي, commonly used to form denominal adjectives. Its feminine singular form is <i>-ie</i> /je/ and its plural is <i>-is</i> /iz/.
        %p In the vast majority of cases, the ending is stressed in the masculine singular, but retracts to a previous syllable in the feminine singular and plural forms (based on more typical Tunisian stress rules). This is unusual in Tunisian, where the stress is usually constant throughout a single adjective’s declension. If the masculine singular ending is not stressed, however, the stress remains fixed in all forms.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>ázulí</i> “blue”
              %td <i>ázulí</i> [ʌ.zu.ˈliː]
              %td <i>ázulie</i> [ˈaː.zu.ljə]
              %td <i>ázulis</i> [ˈaː.zu.liz]
            %tr
              %td <i>tèrí</i> “young”
              %td <i>tèrí</i> [ti.ˈriː]
              %td <i>tèrie</i> [ˈte.rjə]
              %td <i>tèris</i> [ˈte.riz]
            %tr
              %td <i>sèschí</i> “sixth”
              %td <i>sèschí</i> [ˈsɛs.kiː]
              %td <i>sèschie</i> [ˈsɛs.kjə]
              %td <i>sèschis</i> [ˈsɛs.kiz]
            %tr
              %td <i>embalí</i> “annual”
              %td <i>embalí</i> [eːm.bʌ.ˈliː]
              %td <i>embalie</i> [ˈeːm.bʌ.ljə]
              %td <i>embalis</i> [ˈeːm.bʌ.liz]
            %tr
              %td <i>nórtí</i> “northern”
              %td <i>nórtí</i> [nɔː.ˈtiː]
              %td <i>nórtie</i> [ˈnɔə.tjə]
              %td <i>nórtis</i> [ˈnɔə.tiz]
            %tr
              %td <i>cuprí</i> “(made of) copper”
              %td <i>cuprí</i> [ku.ˈpriː]
              %td <i>cuprie</i> [ˈku.prjə]
              %td <i>cupris</i> [ˈku.priz]

        %p However, the stress is fixed on the /i/ when the adjective is derived from a feminine noun ending in /ə/. In some respects this variation of the nisba acts less like a special class of adjective endings, and more like a suffix *-ij- that takes regular adjective endings. This results in a disyllabic feminine singular ending <i>-íe</i> /ˈijə/ and a long vowel in the plural ending <i>-ís</i> /iːz/ (from *-ij-iz?). The adjectives in the table below are derived from <i>Ambricce</i> [ˈaːm.bri.kə] “America”, <i>Rume</i> [ˈru.mə] “Rome”, and <i>Ilmanie</i> [ˈiːl.mʌ.njə] “Germany”, respectively.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>ambriccí</i> “American”
              %td <i>ambriccí</i> [aːm.bri.ˈkiː]
              %td <i>ambriccíe</i> [aːm.bri.ˈki.jə]
              %td <i>ambriccís</i> [aːm.bri.ˈkiːz]
            %tr
              %td <i>rumí</i> “Roman”
              %td <i>rumí</i> [ru.ˈmiː]
              %td <i>rumíe</i> [ru.ˈmi.jə]
              %td <i>rumís</i> [ru.ˈmiːz]
            %tr
              %td <i>ilmaní</i> “German”
              %td <i>ilmaní</i> [iːl.mʌ.ˈniː]
              %td <i>ilmaníe</i> [iːl.mʌ.ˈni.jə]
              %td <i>ilmanís</i> [iːl.mʌ.ˈniːz]

        %p For information on the use of the <i>nisbe</i> suffix in adjective derivation, see the chapter on Derivation.

      = section "Stem Variations" do
        %p Some adjectives undergo a stem transformation as they are declined, most commonly a reduced form in the masculine singular (where a former final consonant was lost, but is restored when an ending is added) or a stem alteration in the plural (typically caused by interaction with the final /s~z/). These fail into a moderately sized collection of different subtypes.
        %p Most adjectives ending in a long vowel in the masculine singular shorten it and add /n/ in the feminine and /j/ in the plural.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>cumú</i> “common”
              %td <i>cumú</i> [ku.ˈmuː]
              %td <i>cumune</i> [ˈku.mu.nə]
              %td <i>cumuis</i> [ku.ˈmujz]
            %tr
              %td <i>órdiná</i> “ordinary”
              %td <i>órdiná</i> [ˈɔə.di.naː]
              %td <i>órdinane</i> [ˈɔə.di.nʌ.nə]
              %td <i>órdinais</i> [ˈɔə.di.najz]
            %tr
              %td <i>vioá</i> “rude, coarse”
              %td <i>vioá</i> [vi.ˈwaː]
              %td <i>vioane</i> [ˈvi.wʌ.nə]
              %td <i>vioais</i> [vi.ˈwajz]

        %p This includes the common suffix <i>-(i)á</i> (feminine <i>-(i)ane</i>, plural <i>-(i)ais</i>), primarily used to form demonyms.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>tenèsiá</i> “Tunisian”
              %td <i>tenèsiá</i> [tə.ˈne.sjaː]
              %td <i>tenèsiane</i> [tə.ˈne.sjʌ.nə]
              %td <i>tenèsiais</i> [tə.ˈne.sjajz]
            %tr
              %td <i>crestá</i> “Christian”
              %td <i>crestá</i> [krəs.ˈtaː]
              %td <i>crestane</i> [krəs.ˈtaː.nə]
              %td <i>crestais</i> [krəs.ˈtajz]
            %tr
              %td <i>yorupiá</i> “European [person]”
              %td <i>yorupiá</i> [ˈjɔ.ru.pjaː]
              %td <i>yorupiane</i> [ˈjɔ.ru.pjʌ.nə]
              %td <i>yorupiais</i> [ˈjɔ.ru.pjajz]
            %tr
              %td <i>ambriçiá</i> “American”
              %td <i>ambriçiá</i> [ˈaːm.bri.ʃaː]
              %td <i>ambriçiane</i> [ˈaːm.bri.ʃʌ.nə]
              %td <i>ambriçiais</i> [ˈaːm.bri.ʃajz]
            %tr
              %td <i>sħéniá</i> “Chinese”
              %td <i>sħéniá</i> [ˈsˤeə.njaː]
              %td <i>sħéniane</i> [ˈsˤeə.njʌ.nə]
              %td <i>sħéniais</i> [ˈsˤeə.njajz]

        %p The suffix <i>-ó</i> (feminine <i>-ore</i>, plural <i>-ores</i>) is an exception to the above rule, in that it expands to /r/ rather than /n/. This suffix is primarily used in a handful of inherited comparatives.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>mjó</i> “better”
              %td <i>mjó</i> [ɪm.ˈʒɔə]
              %td <i>mjore</i> [ɪm.ˈʒɔ.rə]
              %td <i>mjores</i> [ɪm.ˈʒɔ.rəz]
            %tr
              %td <i>pçó</i> “worse”
              %td <i>pçó</i> [ˈpʃɔə]
              %td <i>pçore</i> [ˈpʃɔ.rə]
              %td <i>pçores</i> [ˈpʃɔ.rəz]
            %tr
              %td <i>mó</i> “greater”
              %td <i>mó</i> [ˈmɔə]
              %td <i>more</i> [ˈmɔ.rə]
              %td <i>mores</i> [ˈmɔ.rəz]

        %p Monosyllabic adjectives ending in a long vowel are unpredictable, with the additional consonant possibly being either /r/ or /n/.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>bó</i> “happy”
              %td <i>bó</i> [ˈbɔə]
              %td <i>bone</i> [ˈbɔ.nə]
              %td <i>bois</i> [ˈbojz]
            %tr
              %td <i>pú</i> “pure”
              %td <i>pú</i> [ˈpuː]
              %td <i>pure</i> [ˈpu.rə]
              %td <i>pures</i> [ˈpu.rəz]
            %tr
              %td <i>pré</i> “full”
              %td <i>pré</i> [ˈpreə]
              %td <i>prène</i> [ˈpre.nə]
              %td <i>preis</i> [ˈprejz]
            %tr
              %td <i>sá</i> “healthy”
              %td <i>sá</i> [ˈsaː]
              %td <i>sane</i> [ˈsaː.nə]
              %td <i>sais</i> [ˈsajz]

        %p No adjectives end in a short vowel in the masculine singular form, with the exception of final [u] from earlier *l. However, these are orthographically always written with the letter <i>l</i>, and can still be analyzed as an allophone of /l/ in the modern language. The [l] phone resurfaces in the feminine singular.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>vecl</i> “old, longstanding”
              %td <i>vecl</i> [ˈvɛ.ku]
              %td <i>vècle</i> [ˈve.klə]
              %td <i>vecls</i> [ˈvɛ.kuz]
            %tr
              %td <i>deficl</i> “difficult”
              %td <i>deficl</i> [də.ˈfi.ku]
              %td <i>deficle</i> [də.ˈfi.klə]
              %td <i>deficls</i> [də.ˈfi.kuz]
            %tr
              %td <i>cridl</i> “gullible”
              %td <i>cridl</i> [ˈkri.du]
              %td <i>cridle</i> [ˈkri.dlə]
              %td <i>cridls</i> [ˈkri.duz]

        %p Final /st/ + /s/ becomes /ʃtʃ/ in the plural, spelled <i>-çs</i>. This same rule applies to nouns as well.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>ígust</i> “thin”
              %td <i>ígust</i> [ˈiː.gust]
              %td <i>íguste</i> [ˈiː.gus.tə]
              %td <i>íguçs</i> [ˈiː.guʃtʃ]
            %tr
              %td <i>unest</i> “honest”
              %td <i>unest</i> [ˈu.nəst]
              %td <i>uneste</i> [ˈu.nəs.tə]
              %td <i>uneçs</i> [ˈu.nəʃtʃ]
            %tr
              %td <i>móst</i> “moderate, medium”
              %td <i>móst</i> [ˈmɔəst]
              %td <i>móste</i> [ˈmɔəs.tə]
              %td <i>móçs</i> [ˈmɔəʃtʃ]
            %tr
              %td <i>fest</i> “welcoming, friendly”
              %td <i>fest</i> [ˈfɛst]
              %td <i>fèste</i> [ˈfɛs.tə]
              %td <i>feçs</i> [ˈfɛʃtʃ]
            %tr
              %td <i>trest</i> “unknown”
              %td <i>trest</i> [ˈtrɛst]
              %td <i>trèste</i> [ˈtrɛs.tə]
              %td <i>treçs</i> [ˈtrɛʃtʃ]

        %p Final /s/ + /s/ and /z/ + /s/ are both pronounced as [z] in the plural. Consequently, at a phonetic level, stems ending in /s/ in the masculine singular form their plural by converting it to [z], while stems that end in /z/ have identical masculine singular and plural forms. Orthographically these are entirely regular and are spelled <i>-ss</i> and <i>-zs</i>.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>glios</i> “good”
              %td <i>glios</i> [ˈgljos]
              %td <i>gliose</i> [ˈgljɔ.sə]
              %td <i>glioss</i> [ˈgljoz]
            %tr
              %td <i>ros</i> “red”
              %td <i>ros</i> [ˈros]
              %td <i>rose</i> [ˈrɔ.sə]
              %td <i>ross</i> [ˈroz]
            %tr
              %td <i>imbes</i> “low”
              %td <i>imbes</i> [ˈiːm.bəs]
              %td <i>imbese</i> [ˈiːm.bə.sə]
              %td <i>imbess</i> [ˈiːm.bəz]
            %tr
              %td <i>báriz</i> “clear, obvious”
              %td <i>báriz</i> [ˈbaː.riz]
              %td <i>bárize</i> [ˈbaː.ri.zə]
              %td <i>bárizs</i> [ˈbaː.riz]
            %tr
              %td <i>cúrteis</i> “polite”
              %td <i>cúrteis</i> [ˈkuː.tejz]
              %td <i>cúrteise</i> [ˈkuː.tej.zə]
              %td <i>cúrteiss</i> [ˈkuː.tejz]

        %p Some stem changes in the feminine singular are purely orthographic, the result of adding an additional vowel letter at the end of a consonantal stem. These include respelling stem final /k/ and /g/ as <i>cc/ch</i> and <i>gg/gh</i> respectively, or adding an acute accent to orthographic <i>e</i> in monosyllabic stems.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>çic</i> “blind”
              %td <i>çic</i> [ˈʃik]
              %td <i>çicce</i> [ˈʃi.kə]
              %td <i>çics</i> [ˈʃiks]
            %tr
              %td <i>motc</i> “enough”
              %td <i>motc</i> [ˈmo.tɪk]
              %td <i>motche</i> [ˈmot.kə]
              %td <i>motcs</i> [ˈmo.tɪks]
            %tr
              %td <i>loug</i> “long”
              %td <i>loug</i> [ˈlowg]
              %td <i>lougge</i> [ˈlow.gə]
              %td <i>lougs</i> [ˈlowgz]
            %tr
              %td <i>amérg</i> “bitter”
              %td <i>amérg</i> [ʌ.ˈmeːrg]
              %td <i>amérghe</i> [ʌ.ˈmeːr.gə]
              %td <i>amérgs</i> [ʌ.ˈmeːrgz]
            %tr
              %td <i>mesh</i> “dirty”
              %td <i>mesh</i> [ˈmɛ.sɪx]
              %td <i>méshe</i> [ˈmɛs.xə]
              %td <i>méshs</i> [ˈmɛs.xɪs]

  = section "Preposed Adjectives" do
    %p For the vast majority of adjectives, the most natural placement is immediately after the noun they modify. However, as with several other Romance languages such as Spanish and French, a handful of adjectives may also be placed before the noun. These preposed adjectives often have distinct semantics and distinct forms due to phonetic reduction.
    %p Tunisian has 11 adjectives that may appeared preposed. These are tightly bound to their head noun; phonologically they behave as a single word, with the adjective bearing a weaker stress than it would if it were in the normal postposed attributive position. Orthographically, preposed adjectives are always joined to their head by a hyphen. The gender contrast is neutralized in the singular, so that preposed adjectives only distinguish a singular and plural; however, in many cases the singular form has multiple variants depending on the first sound of the following word, another sign of the closer affinity between a preposed adjective and its head.
    %p The table below shows the 11 Tunisian adjectives that may appear preposed and their various forms. The semantics and usage of these adjectives are discussed later.
    %table
      %thead
        %tr
          %th Adjective
          %th Preposed Singular
          %th Preposed Plural
      %tbody
        %tr
          %td <i>glios</i> “good, happy”
          %td
            <i>bon</i> [ˈbon] + vowel
            %br
            <i>bom</i> [ˈbom] + labial
            %br
            <i>boe</i> [ˈbɔ.ə] + consonant
          %td
            <i>bos</i> [ˈboz]
        %tr
          %td <i>mal</i> “bad”
          %td
            <i>mal</i> [ˈmaːl]
          %td
            <i>mals</i> [ˈmaːlz]
        %tr
          %td <i>grend</i> “big”
          %td
            <i>gran</i> [ˈgraːn] + vowel
            %br
            <i>gram</i> [ˈgraːm] + labial
            %br
            <i>grae</i> [ˈgraː.ə] + consonant
          %td
            <i>greis</i> [ˈgrejz]
        %tr
          %td <i>nov</i> “new”
          %td
            <i>nov</i> [ˈnov]
          %td
            <i>novs</i> [ˈnovz]
        %tr
          %td <i>ntic</i> “old, ancient”
          %td
            <i>vec</i> [ˈvɛk]
          %td
            <i>vecs</i> [ˈvɛks]
        %tr
          %td <i>tèrí</i> “young”
          %td
            <i>tèrin</i> [ˈte.rin] + vowel
            %br
            <i>tèrim</i> [ˈte.rim] + labial
            %br
            <i>térie</i> [ˈte.rjə] + consonant
          %td
            <i>téris</i> [ˈte.riz]
        %tr
          %td <i>inèlt</i> “high”
          %td
            <i>elt</i> [ˈeːlt]
          %td
            <i>elts</i> [ˈeːlts]
        %tr
          %td <i>imbes</i> “low”
          %td
            <i>bas</i> [ˈbaːs]
          %td
            <i>bass</i> [ˈbaːs]
        %tr
          %td <i>librt</i> “free”
          %td
            <i>libr</i> [ˈli.bɪr] + vowel
            %br
            <i>libre</i> [ˈli.brə] + consonant
          %td
            <i>librs</i> [ˈli.bɪrz]
        %tr
          %td <i>send</i> “holy”
          %td
            <i>sen</i> [ˈseːn] + vowel
            %br
            <i>sem</i> [ˈseːm] + labial
            %br
            <i>sé</i> [ˈseə] + consonant
          %td
            <i>seis</i> [ˈsejz]
        %tr
          %td <i>mèźí</i> “middle, half”
          %td
            <i>med</i> [ˈmɛd] + vowel
            %br
            <i>mèdi</i> [ˈme.di] + consonant
          %td
            <i>mids</i> [ˈmidz]

    %p For the most part, the preposed forms are simply phonetic reductions of the original, often losing final consonants or undergoing some sort of assimilation. However, several have a more complex history, reflecting either a divergent or entirely different etymology when compared to their normal attributive forms.
    %p In the case of <i>glios</i> “good” and <i>ntic</i> “old”, the preposed forms <i>bon/bom/boe/bos</i> and <i>vec/vecs</i> represent entirely different lexemes; specifically, they are cognate with <i>bó</i> “happy, favorable” and <i>vecl</i> “longstanding, long-time”. The preposed forms actually preserve the older meaning of these lexemes, with <i>glios</i> and <i>ntic</i> being more recent forms that have displaced <i>bó</i> and <i>vecl</i> in these senses.
    %p For <i>inèlt</i> “high” and <i>imbes</i> “low”, the preposed forms are cognate, but lack the prefixed <i>in-</i> element: <i>elt/elts</i>, <i>bas/bass</i>. As before, the preposed forms are in fact older, with the unbound adjectives acquiring <i>in-</i> at a later point as an emphatic element.

  = section "Comparison" do
    %p For the vast majority of adjectives, comparatives are formed periphrastically using comparative and superlative adverbs placed before the adjective.
    %p The comparative degree is expressed with the adverbs <i>mis</i> [ˈmis] “more”, <i>peis</i> [ˈpejs] “less”, and the <i>tisme</i> [ˈtiz.mə] “same, as”: <i>mis nov</i> “newer”, <i>peis nov</i> “less new”, <i>tisme nov</i> “as new”.
    %p The superlative degree is expressed with the adverbs <i>úmis</i> [ˈuː.mis] “most” and <i>umpeis</i> [ˈuːm.pejs] “least”: <i>úmis nov</i> “newest”, <i>umpeis nov</i> “least new”.
    %p Four adjectives have retained synthetic (positive) comparatives, which replace the analytic comparative with <i>mis</i> and are used in place of the base adjective stem in the superlative. In the case of <i>mjȯ</i> “better” (comparative of <i>glios</i> “good”) and <i>pçó</i> “worse” (comparative of <i>mal</i> “bad”), this form is mandatory, as <i>*mis glios</i> and <i>*mis mal</i> are ungrammatical. In the case of <i>mó</i> “bigger, greater” (comparative of <i>grend</i> “big”) and <i>minor</i> “smaller, lesser” (comparative of <i>masc</i> “small”), the rules are somewhat more complicated. When used to describe physical size, the analytic comparatives are used: <i>il dom mis grend</i> “the bigger house”; when used to describe abstract qualities, the synthetic comparative is preferred but not mandatory: <i>calitá mjore</i>, <i>calitá mis grènde</i> “higher quality”.
    %table
      %thead
        %tr
          %th Base
          %th Positive<br>Comparative
          %th Negative<br>Comparative
          %th Equative<br>Comparative
          %th Positive<br>Superlative
          %th Negative<br>Superlative
      %tbody
        %tr
          %td <i>glios</i> “good”
          %td
            <i>mjó</i> [ɪm.ˈʒɔə]
            %br
            <i>mjore</i> [ɪm.ˈʒɔ.rə]
            %br
            <i>mjores</i> [ɪm.ˈʒɔ.rəz]
          %td
            <i>peis glios</i>
            %br
            <i>peis gliose</i>
            %br
            <i>peis glioss</i>
          %td
            <i>tisme glios</i>
            %br
            <i>tisme gliose</i>
            %br
            <i>tisme glioss</i>
          %td
            <i>úmis mjó</i>
            %br
            <i>úmis mjore</i>
            %br
            <i>úmis mjores</i>
          %td
            <i>umpeis mjó</i>
            %br
            <i>umpeis mjore</i>
            %br
            <i>umpeis mjores</i>
        %tr
          %td <i>mal</i> “bad”
          %td
            <i>pçó</i> [ˈpʃɔə]
            %br
            <i>pçore</i> [ˈpʃɔ.rə]
            %br
            <i>pçores</i> [ˈpʃɔ.rəz]
          %td
            <i>peis mal</i>
            %br
            <i>peis male</i>
            %br
            <i>peis mals</i>
          %td
            <i>tisme mal</i>
            %br
            <i>tisme male</i>
            %br
            <i>tisme mals</i>
          %td
            <i>úmis pçó</i>
            %br
            <i>úmis pçore</i>
            %br
            <i>úmis pçores</i>
          %td
            <i>umpeis pçó</i>
            %br
            <i>umpeis pçore</i>
            %br
            <i>umpeis pçores</i>
        %tr
          %td <i>grend</i> “big”
          %td
            <i>mó</i> [ˈmɔə]
            %br
            <i>more</i> [ˈmɔ.rə]
            %br
            <i>mores</i> [ˈmɔ.rəz]
          %td
            <i>peis grend</i>
            %br
            <i>peis grènde</i>
            %br
            <i>peis grends</i>
          %td
            <i>tisme grend</i>
            %br
            <i>tisme grènde</i>
            %br
            <i>tisme grends</i>
          %td
            <i>úmis mó</i>
            %br
            <i>úmis more</i>
            %br
            <i>úmis mores</i>
          %td
            <i>umpeis mó</i>
            %br
            <i>umpeis more</i>
            %br
            <i>umpeis mores</i>
        %tr
          %td <i>masc</i> “small”
          %td
            <i>minor</i> [mi.ˈnoːr]
            %br
            <i>minore</i> [mi.ˈnɔ.rə]
            %br
            <i>minores</i> [mi.ˈnɔ.rəz]
          %td
            <i>peis masc</i>
            %br
            <i>peis masche</i>
            %br
            <i>peis mascs</i>
          %td
            <i>tisme masc</i>
            %br
            <i>tisme masche</i>
            %br
            <i>tisme mascs</i>
          %td
            <i>úmis minor</i>
            %br
            <i>úmis minore</i>
            %br
            <i>úmis minores</i>
          %td
            <i>umpeis minor</i>
            %br
            <i>umpeis minore</i>
            %br
            <i>umpeis minores</i>

= section "Numerals" do
  = section "Cardinal Numbers" do
    %p While the forms of most Tunisian numbers may seem familiar to those with knowledge of other Romance languages, their behavior is quite unlike the other Romance languages, having been heavily influenced by Semitic and Berber models. The cardinal numbers, used for counting and quantifying, have fallen in line with other Tunisian quantifiers, marking two genders and typically coordinated with the quantified noun using the preposition <i>yd</i> “of”: <i>tres yd doms</i> “three houses”, <i>trèse yn noćs</i> “three nights”.
    %p The units from 1 to 10 are by and large inherited from Latin, with the exception if <i>par/pare</i> “two”, which comes from Latin <i>paria</i> “pair”. The forms <i>ú/une</i> “one” are identical in form to the indefinite article, although the meanings are distinguished based on whether they are used as adjectives (<i>ú libr</i> “a book”) or quantifiers (<i>ú yl libr</i> “one book”).
    %table
      %thead
        %tr
          %th Numeral
          %th Masculine
          %th Feminine
      %tbody
        %tr
          %td 0
          %td{:colspan => 2} <i>zèru</i><br/>[ˈze.ru]
        %tr
          %td 1
          %td <i>ú</i><br/>[ˈuː]
          %td <i>une</i><br/>[ˈu.nə]
        %tr
          %td 2
          %td <i>par</i><br/>[ˈpaːr]
          %td <i>pare</i><br/>[ˈpa.rə]
        %tr
          %td 3
          %td <i>tres</i><br/>[ˈtrɛs]
          %td <i>trèse</i><br/>[ˈtre.sə]
        %tr
          %td 4
          %td <i>catr</i><br/>[ˈkaː.tɪr]
          %td <i>catre</i><br/>[ˈkaː.trə]
        %tr
          %td 5
          %td <i>çeic</i><br/>[ˈʃejk]
          %td <i>çeicce</i><br/>[ˈʃej.kə]
        %tr
          %td 6
          %td <i>sesc</i><br/>[ˈsɛsk]
          %td <i>sèsche</i><br/>[ˈsɛs.kə]
        %tr
          %td 7
          %td <i>seft</i><br/>[ˈsɛft]
          %td <i>sèfte</i><br/>[ˈsɛf.tə]
        %tr
          %td 8
          %td <i>ozt</i><br/>[ˈost]
          %td <i>ozte</i><br/>[ˈos.tə]
        %tr
          %td 9
          %td <i>nóv</i><br/>[ˈnɔəv]
          %td <i>nóve</i><br/>[ˈnɔə.və]
        %tr
          %td 10
          %td <i>dec</i><br/>[ˈdɛk]
          %td <i>dècce</i><br/>[ˈde.kə]

    %p The teens 11–19 are generally formed by combining the unit with the suffix <i>-dèc</i>, related to <i>dec</i> “ten”. This same construction was used in classical Latin, but only the numbers 11 through 15 are direct descendents from the Latin originals; 16 through 19 are later creations based on the same pattern.
    %table
      %thead
        %tr
          %th Numeral
          %th Masculine
          %th Feminine
      %tbody
        %tr
          %td 11
          %td <i>undèc</i><br/>[ˈuːn.ˈdɛk]
          %td <i>undècce</i><br/>[ˈuːn.ˈde.kə]
        %tr
          %td 12
          %td <i>dondèc</i><br/>[ˈdoːn.ˈdɛk]
          %td <i>dondècce</i><br/>[ˈdoːn.ˈde.kə]
        %tr
          %td 13
          %td <i>trèdèc</i><br/>[ˈtre.ˈdɛk]
          %td <i>trèdècce</i><br/>[ˈtre.ˈde.kə]
        %tr
          %td 14
          %td <i>catrdèc</i><br/>[ˈkaː.trɪ.ˈdɛk]
          %td <i>catrdècce</i><br/>[ˈkaː.trɪ.ˈde.kə]
        %tr
          %td 15
          %td <i>çeicdèc</i><br/>[ˈʃej.ˈdɛk]
          %td <i>çeicdècce</i><br/>[ˈʃej.ˈde.kə]
        %tr
          %td 16
          %td <i>sèscdèc</i><br/>[ˈsɛz.ˈdɛk]
          %td <i>sèscdècce</i><br/>[ˈsɛz.ˈde.kə]
        %tr
          %td 17
          %td <i>sèftdèc</i><br/>[ˈsɛv.ˈdɛk]
          %td <i>sèftdècce</i><br/>[ˈsɛv.ˈde.kə]
        %tr
          %td 18
          %td <i>oztdèc</i><br/>[ˈoz.ˈdɛk]
          %td <i>oztdècce</i><br/>[ˈoz.ˈde.kə]
        %tr
          %td 19
          %td <i>nóvdèc</i><br/>[ˈnɔəv.ˈdɛk]
          %td <i>nóvdècce</i><br/>[ˈnɔəv.ˈde.kə]

    %p The decades 10, 20, 30, 40, and 50 all descend directly from their Latin counterparts. Intermediate numbers follow the decade with the conjunction <i>e</i> “and”: <i>trend’ e ú/une</i> “thirty one” (lit. “thirty and one“). Note that only the unit declines in this case, with the decade taking a fixed form identical to the masculine, but written with an apostrophe at the end. This is because the invariant form of the decade historically was identical to the feminine, but over time the feminine ending <i>-e</i> was lost due to the following conjunction <i>e</i>. Even though the full form is no longer used, the orthographic apostrophe indicating the contraction is still in use.
    %p For sixty and above, a vigesimal system takes over. The numbers 60 and 80 are <i>tresbít</i> and <i>cadbrít</i>, originally meaning “three twenties“ and “four twenties” respectively, although this etymology is no longer transparent. Intermediate numbers in the decades 61–69 and 81–89 are formed as expected. The decades 70–79 and 90–99 combine <i>tresbít</i> and <i>cadbrít</i> with the teens: <i>tresbit’ e undèc(ce)</i> “seventy one“ (lit. “sixty and eleven”), <i>cadbrít’ e nóvdèc(ce)</i> “ninety nine” (lit. “eighty and nineteen”).
    %p This counting scheme is strongly reminiscent of French, which uses a similar vigesimal system for the numbers 80–99 (e.g., <i>quatre-vingt-dix-neuf</i> “ninety-nine”, literally “eighty-nineteen” or “four-twenty-ten-nine“). Despite the similarities, the two systems emerged separately; the French system is due to contact influence with Celtic languages, while the Tunisian system results from extensive contact with Berber languages.
    %table
      %thead
        %tr
          %th Numeral
          %th Masculine
          %th Feminine
      %tbody
        %tr
          %td 20
          %td <i>vend</i><br/>[ˈveːn]
          %td <i>vènde</i><br/>[ˈveːn.də]
        %tr
          %td 30
          %td <i>trend</i><br/>[ˈtreːn]
          %td <i>trénde</i><br/>[ˈtreːn.də]
        %tr
          %td 40
          %td <i>cadrít</i><br/>[kʌ.ˈdriːt]
          %td <i>cadríte</i><br/>[kʌ.ˈdriː.tə]
        %tr
          %td 50
          %td <i>çeiccít</i><br/>[ˈʃej.kiːt]
          %td <i>çeiccíte</i><br/>[ˈʃej.kiː.tə]
        %tr
          %td 60
          %td <i>tresbít</i><br/>[trəz.ˈbiːt]
          %td <i>tresbíte</i><br/>[trəz.ˈbiː.tə]
        %tr
          %td 70
          %td <i>tresbít’ e dec</i><br/>[trəs.ˈbiːt e ˈdɛk]
          %td <i>tresbít’ e dècce</i><br/>[trəs.ˈbiːt e ˈde.kə]
        %tr
          %td 80
          %td <i>cadbrít</i><br/>[kʌd.ˈbriːt]
          %td <i>cadbríte</i><br/>[kʌd.ˈbriː.tə]
        %tr
          %td 90
          %td <i>cadbrít’ e dec</i><br/>[kʌd.ˈbriːt e ˈdɛk]
          %td <i>cadbrít’ e dècce</i><br/>[kʌd.ˈbriːt e ˈde.kə]
        %tr
          %td 100
          %td{:colspan => 2} <i>mite</i><br/>[ˈmi.tə]

    %p Higher numbers are formed on the basis of the nouns <i>mite</i> “hundred”, <i>mil</i> “thousand”, <i>milion</i> “million”, etc. Note that unlike the forms discussed up to this point, these are true nouns, not quantifiers; they therefore do not display gender agreement and can themselves be quantified, having singular and plural forms rather than masculine and feminine ones. Multiples of these forms are expressed through quantification: <i>pare n mits</i> “two hundred” (lit. “two hundreds”). Intermediate numbers appear as uncoordinated adjuncts: <i>catr yn mils, pare n mits, trend’ e seft(e)</i> “four-thousand two-hundred and thirty-seven”. Note that since <i>mite</i> is feminine and <i>mil</i> is masculine, their respective quantifiers show differing gender agreement.
    %table
      %thead
        %tr
          %th Numeral
          %th Tunisian
      %tbody
        %tr
          %td 100
          %td <i>mite</i><br/>[ˈmi.tə]
        %tr
          %td 200
          %td <i>pare n mits</i><br/>[ˈpaː.rən ˈmits]
        %tr
          %td 300
          %td <i>trèse n mits</i><br/>[ˈtre.sən.ˈmits]
        %tr
          %td 400
          %td <i>catre n mits</i><br/>[ˈkaː.trən.ˈmits]
        %tr
          %td 500
          %td <i>çeicce n mits</i><br/>[ˈʃej.kən.ˈmits]
        %tr
          %td 600
          %td <i>sèsche n mits</i><br/>[ˈsɛs.kən.ˈmits]
        %tr
          %td 700
          %td <i>sèfte n mits</i><br/>[ˈsɛf.tən.ˈmits]
        %tr
          %td 800
          %td <i>ozte n mits</i><br/>[ˈos.tən.ˈmits]
        %tr
          %td 900
          %td <i>nóve n mits</i><br/>[ˈnɔə.ven.ˈmits]
        %tr
          %td 1000
          %td <i>mil</i><br/>[ˈmiːl]

    %p When counting or otherwise using numbers in isolation, the <em>feminine</em> form of numbers is used (i.e., <i>une, pare, trèse, ...</i>). This is likely due to Arabic influence, where the feminine forms are also considered the default. The feminine endings also create a trochaic meter when counting, which may be seen as more euphonous than a series of masculine monosyllables.

  = section "Ordinal Numbers" do
    %p The ordinal numbers indicate position within a series (first, second, third, etc.). They are true adjectives, with masculine singular, feminine singular, and plural forms declined regularly.
    %p The ordinals <i>prim</i> “first”, <i>tèrit</i> “third”, and <i>çèrit</i> “fourth” are directly derived from their Latin counterparts <i>prīmus</i>, <i>tertius</i>, and <i>quartus</i>. <i>Sçend</i> “second” comes from Latin <i>sequens</i> “following, next”, having displaced the original form <i>secundus</i>. <i>Çeití</i> “fifth” does derive from Latin <i>quintus</i> “fifth”, but has been augmented with a nisbe.
    %p The higher ordinals from “sixth” through “ninth” are Tunisian innovations, formed from the cardinal numeral by the addition of the nisba.
    %p The ordinal <i>dècmí</i> “tenth”, like “fifth”, derives from the original Latin ordinal <i>decimus</i> “tenth” but has been augmented with a nisba.
    %p Note that all ordinals containing a nisba are stem-stressed, somewhat atypically for adjectives with a nisba.
    %table
      %thead
        %tr
          %th Numeral
          %th Masc Sg
          %th Fem Sg
          %th Pl
      %tbody
        %tr
          %td 1st
          %td <i>prim</i> [ˈpriːm]
          %td <i>prime</i> [ˈpri.mə]
          %td <i>prims</i> [ˈpriːmz]
        %tr
          %td 2nd
          %td <i>sçend</i> [ˈʃeːn]
          %td <i>sçénde</i> [ˈʃeːn.də]
          %td <i>sçends</i> [ˈʃeːnz]
        %tr
          %td 3rd
          %td <i>tèrit</i> [ˈte.rit]
          %td <i>tèrite</i> [ˈte.ri.tə]
          %td <i>tèrits</i> [ˈte.rits]
        %tr
          %td 4th
          %td <i>çèrit</i> [ˈʃe.rit]
          %td <i>çèrite</i> [ˈʃe.ri.tə]
          %td <i>çèrits</i> [ˈʃe.rits]
        %tr
          %td 5th
          %td <i>çeití</i> [ˈʃej.tiː]
          %td <i>çeitie</i> [ˈʃej.tjə]
          %td <i>çeitis</i> [ˈʃej.tiz]
        %tr
          %td 6th
          %td <i>sèschí</i> [ˈsɛs.kiː]
          %td <i>sèschie</i> [ˈsɛs.kjə]
          %td <i>sèschis</i> [ˈsɛs.kiz]
        %tr
          %td 7th
          %td <i>sèftí</i> [ˈsɛf.tiː]
          %td <i>sèftie</i> [ˈsɛf.tjə]
          %td <i>sèftis</i> [ˈsɛf.tiz]
        %tr
          %td 8th
          %td <i>oztí</i> [ˈos.tiː]
          %td <i>oztie</i> [ˈos.tjə]
          %td <i>oztis</i> [ˈos.tiz]
        %tr
          %td 9th
          %td <i>nóví</i> [ˈnɔə.viː]
          %td <i>nóvie</i> [ˈnɔə.vjə]
          %td <i>nóvis</i> [ˈnɔə.viz]
        %tr
          %td 10th
          %td <i>dècmí</i> [ˈdɛk.miː]
          %td <i>dècmie</i> [ˈdɛk.mjə]
          %td <i>dècmis</i> [ˈdɛk.miz]

    %p Ordinals beyond “tenth” can be derived easily from the cardinal form.
    %p The teens all replace the suffix <i>-dèc-</i> with <i>-dècm-</i> and the nisbe, paralleling the derivation <i>dec</i> “ten” to <i>dècmí</i> “tenth”: <i>trèdècmí</i> “thirteenth”, <i>sèftdècmí</i> “seventeenth”.
    %p Even decades, hundreds, thousands, and beyond simply add the nisbe to the cardinal base if it is one word: <i>vèndí</i> “twentieth”, <i>tresbítí</i> “sixtieth”, <i>mití</i> “hundredth”, <i>milí</i> “thousandth”, etc. If the cardinal consists of multiple words, only the very last component is converted to an ordinal: <i>tresbít’ e dècmí</i> “seventieth”, <i>pare n mití</i> “two hundredth”, etc.
    %p In writing, ordinals may be written out in full, or may be abbreviated using the numeric representation of the cardinal number plus a period: <i>1.</i> “1st”, <i>35.</i> “35th”, etc. If modifying a noun, the feminine and plural forms of the ordinals are indicated by the addition of <i>e</i> for feminine and <i>s</i> for plural, so that <i>1.</i> is read <i>prim</i>, <i>1.e</i> is read <i>prime</i>, and <i>1.s</i> is read <i>prims</i>.
