- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "Ajectivs e numéros"

= section "Attributive and Predicative Adjectives" do
  %p A typical Tunisian adjective has three forms: a masculine singular, feminine singular, and plural. It must always agree with its head noun in number and gender when applicable. There is no formal morphological difference between attributive and predicative adjectives.
  %p Compared to other Romance languages, Tunisian gender marking in the singular is much stronger than usual, while in the plural it is weaker than in other languages. In the plural, Tunisian has completely lost the formal gender contrast between masculine and feminine, which is retained in some form throughout the rest of the Romance languages. However, Tunisian lacks the ambigeneric singulars seen elsewhere, having spread explicit feminine marking to all adjectives, as in <i>fil cûrteis</i> “a polite boy” and <i>faile cûrteise</i> “a polite girl” (compare Spanish <i>un niño cortés</i> “a polite boy” and <i>una niña cortés</i> “a polite girl”).

  = section "Declension" do
    = section "Regular Declension" do
      %p The vast majority of Tunisian adjectives are regular.
      %p The masculine singular is unmarked, consisting of the bare stem and always ending in a consonant; ending in a long vowel (but not a short vowel) is allowed, but such adjectives are always irregular. The feminine singular adds the ending <i>-e</i> /ə/ to the stem. The plural adds the ending <i>-s</i> to the stem, pronounced [s] after voiceless consonants and [z] elsewhere. The citation form is the masculine singular.
      %table
        %thead
          %tr
            %th
            %th Masc Sg
            %th Fem Sg
            %th Pl
        %tbody
          %tr
            %td <i>nov</i> “new”
            %td <i>nov</i> [ˈnov]
            %td <i>nove</i> [ˈnɔ.və]
            %td <i>novs</i> [ˈnovz]
          %tr
            %td <i>saif</i> “old”
            %td <i>saif</i> [ˈsajf]
            %td <i>saife</i> [ˈsaj.fə]
            %td <i>saifs</i> [ˈsajfs]
          %tr
            %td <i>inélt</i> “high”
            %td <i>inélt</i> [ˈi.nɛlt]
            %td <i>inélte</i> [ˈi.nɛl.tə]
            %td <i>inélts</i> [ˈi.nɛlts]
          %tr
            %td <i>fahil</i> “easy”
            %td <i>fahil</i> [ˈfaː.xil]
            %td <i>fahile</i> [ˈfaː.xi.lə]
            %td <i>fahils</i> [ˈfaː.xilz]
          %tr
            %td <i>virid</i> “green”
            %td <i>virid</i> [ˈvi.rid]
            %td <i>viride</i> [ˈvi.ri.də]
            %td <i>virids</i> [ˈvi.ridz]
          %tr
            %td <i>prim</i> “first”
            %td <i>prim</i> [ˈprim]
            %td <i>prime</i> [ˈpri.mə]
            %td <i>prims</i> [ˈprimz]

    = section "Irregular Declension" do
      %p Irregular adjectives fall into two broad types: those with non-zero masculine singular forms, and those with a reduced stem in the masculine singular.

      = section "The Nisbe" do
        %p Tunisian only has one class of adjective with a non-zero masculine singular ending, but that class is very common and productive. These are the adjectives containing the so-called <i>nisbe</i> [ˈniz.bə]. This suffix, <i>-î</i> /iː/ in the masculine singular, is borrowed from the Arabic <i>nisba</i> suffix ـي, commonly used to form denominal adjectives. Its feminine singular form is <i>-ie</i> /je/ and its plural is <i>-is</i> /iz/.
        %p In the vast majority of cases, the ending is stressed in the masculine singular, but retracts to the syllable immediately before in the feminine singular and plural forms. This is unusual in Tunisian, where the stress is usually constant throughout a single adjective’s declension. If the masculine singular ending is not stressed, however, the stress remains fixed in all forms.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>âzulî</i> “blue”
              %td <i>âzulî</i> [ʌ.zu.ˈliː]
              %td <i>âzulie</i> [ʌ.ˈzu.ljə]
              %td <i>âzulis</i> [ʌ.ˈzu.liz]
            %tr
              %td <i>térî</i> “young”
              %td <i>térî</i> [ˈte.riː]
              %td <i>térie</i> [ˈte.rjə]
              %td <i>téris</i> [ˈte.riz]
            %tr
              %td <i>séschî</i> “sixth”
              %td <i>séschî</i> [sɛs.ˈkiː]
              %td <i>séschie</i> [ˈsɛs.kjə]
              %td <i>séschis</i> [ˈsɛs.kiz]
            %tr
              %td <i>iuropî</i> “European”
              %td <i>iuropî</i> [ju.rɔ.ˈpiː]
              %td <i>iuropie</i> [ju.ˈrɔ.pjə]
              %td <i>iuropis</i> [ju.ˈrɔ.piz]
            %tr
              %td <i>nôrtî</i> “northern”
              %td <i>nôrtî</i> [nɔː.ˈtiː]
              %td <i>nôrtie</i> [ˈnɔə.tjə]
              %td <i>nôrtis</i> [ˈnɔə.tiz]
            %tr
              %td <i>cuprî</i> “(made of) copper”
              %td <i>cuprî</i> [ku.ˈpriː]
              %td <i>cuprie</i> [ˈku.prjə]
              %td <i>cupris</i> [ˈku.priz]

        %p However, the stress is fixed on the /i/ when the adjective is derived from a feminine noun ending in /ə/. In some respects this variation of the nisba acts less like a special class of adjective endings, and more like a suffix *-ij- that takes regular adjective endings. This results in a disyllabic feminine singular ending <i>-îe</i> /ˈijə/ and a long vowel in the plural ending <i>-îs</i> /iːz/ (from *-ij-iz?). The adjectives in the table below are derived from <i>Ambricce</i> [ˈaːm.bri.kə] “America”, <i>Rome</i> [ˈrɔ.mə] “Rome”, and <i>Ilmanie</i> [ˈil.mʌ.njə] “Germany”, respectively.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>ambriccî</i> “American”
              %td <i>ambriccî</i> [ʌm.bri.ˈkiː]
              %td <i>ambriccîe</i> [ʌm.bri.ˈki.jə]
              %td <i>ambriccîs</i> [ʌm.bri.ˈkiːz]
            %tr
              %td <i>romî</i> “Roman”
              %td <i>romî</i> [rɔ.ˈmiː]
              %td <i>romîe</i> [rɔ.ˈmi.jə]
              %td <i>romîs</i> [rɔ.ˈmiːz]
            %tr
              %td <i>ilmanî</i> “German”
              %td <i>ilmanî</i> [il.mʌ.ˈniː]
              %td <i>ilmanîe</i> [il.mʌ.ˈni.jə]
              %td <i>ilmanîs</i> [il.mʌ.ˈniːz]

        %p For information on the use of the <i>nisbe</i> suffix in adjective derivation, see the chapter on Derivation.

      = section "Stem Variations" do
        %p Some adjectives undergo a stem transformation as they are declined, most commonly a reduced form in the masculine singular (where a former final consonant was lost, but is restored when an ending is added) or a stem alteration in the plural (typically caused by interaction with the final /s~z/). These fail into a moderately sized collection of different subtypes.
        %p Most adjectives ending in a long vowel in the masculine singular shorten it and add /n/ in the feminine and /j/ in the plural. This includes a few rare cases of final /iː/ that is not etymologically a <i>nisbe</i>.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>comû</i> “common”
              %td <i>comû</i> [kɔ.ˈmuː]
              %td <i>comune</i> [kɔ.ˈmu.nə]
              %td <i>comuis</i> [kɔ.ˈmujz]
            %tr
              %td <i>ôrdinê</i> “ordinary”
              %td <i>ôrdinê</i> [ɔː.di.ˈneə]
              %td <i>ôrdinéne</i> [ɔː.di.ˈne.nə]
              %td <i>ôrdineis</i> [ɔː.di.ˈnejz]
            %tr
              %td <i>vioâ</i> “rude, coarse”
              %td <i>vioâ</i> [ˈvi.waː]
              %td <i>vioane</i> [ˈvi.wʌ.nə]
              %td <i>vioais</i> [ˈvi.wajz]
            %tr
              %td <i>trê</i> “local”
              %td <i>trê</i> [ˈtreə]
              %td <i>tréne</i> [ˈtre.nə]
              %td <i>treis</i> [ˈtrejz]
            %tr
              %td <i>asfî</i> “yellow”
              %td <i>asfî</i> [ˈaːs.fiː]
              %td <i>asfine</i> [ˈaːs.fi.nə]
              %td <i>asfîs</i> [ˈaːs.fiːz]

        %p This includes the common suffix <i>-(i)â</i> (feminine <i>-(i)ane</i>, plural <i>-(i)ais</i>), primarily used to form demonyms.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>tenésiâ</i> “Tunisian”
              %td <i>tenésiâ</i> [tə.ˈne.ʃaː]
              %td <i>tenésiane</i> [tə.ˈne.ʃʌ.nə]
              %td <i>tenésiais</i> [tə.ˈne.ʃajz]
            %tr
              %td <i>crestâ</i> “Christian”
              %td <i>crestâ</i> [krəs.ˈtaː]
              %td <i>crestane</i> [krəs.ˈtaː.nə]
              %td <i>crestais</i> [krəs.ˈtajz]
            %tr
              %td <i>iuropiâ</i> “European [person]”
              %td <i>iuropiâ</i> [ju.rɔ.ˈpjaː]
              %td <i>iuropiane</i> [ju.rɔ.ˈpjaː.nə]
              %td <i>iuropiais</i> [ju.rɔ.ˈpjajz]
            %tr
              %td <i>ambriçiâ</i> “American”
              %td <i>ambriçiâ</i> [ˈaːm.bri.ʃaː]
              %td <i>ambriçiane</i> [ˈaːm.bri.ʃʌ.nə]
              %td <i>ambriçiais</i> [ˈaːm.bri.ʃajz]
            %tr
              %td <i>sħêniâ</i> “Chinese”
              %td <i>sħêniâ</i> [ˈsˤeə.njaː]
              %td <i>sħêniane</i> [ˈsˤeə.njʌ.nə]
              %td <i>sħêniais</i> [ˈsˤeə.njajz]

        %p The suffix <i>-ô</i> (feminine <i>-ore</i>, plural <i>-ores</i>) is an exception to the above rule, in that it expands to /r/ rather than /n/. This suffix is primarily used in a handful of inherited comparatives.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>mjô</i> “better”
              %td <i>mjô</i> [ɪm.ˈʒɔə]
              %td <i>mjore</i> [ɪm.ˈʒɔ.rə]
              %td <i>mjores</i> [ɪm.ˈʒɔ.rəz]
            %tr
              %td <i>pçô</i> “worse”
              %td <i>pçô</i> [ˈpʃɔə]
              %td <i>pçore</i> [ˈpʃɔ.rə]
              %td <i>pçores</i> [ˈpʃɔ.rəz]
            %tr
              %td <i>suprô</i> “upper”
              %td <i>suprô</i> [ˈsu.prɔː]
              %td <i>suprore</i> [ˈsu.prɔ.rə]
              %td <i>suprores</i> [ˈsu.prɔ.rəz]
            %tr
              %td <i>îfrô</i> “lower”
              %td <i>îfrô</i> [ˈiː.frɔː]
              %td <i>îfrore</i> [ˈiː.frɔ.rə]
              %td <i>îfrores</i> [ˈiː.frɔ.rəz]
            %tr
              %td <i>mô</i> “greater”
              %td <i>mô</i> [ˈmɔə]
              %td <i>more</i> [ˈmɔ.rə]
              %td <i>mores</i> [ˈmɔ.rəz]

        %p Monosyllabic adjectives ending in a long vowel are unpredictable, with the additional consonant possibly being either /r/ or /n/.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>bô</i> “happy”
              %td <i>bô</i> [ˈbɔə]
              %td <i>bone</i> [ˈbɔ.nə]
              %td <i>bois</i> [ˈbojz]
            %tr
              %td <i>câ</i> “dear”
              %td <i>câ</i> [ˈkaː]
              %td <i>care</i> [ˈkaː.rə]
              %td <i>cares</i> [ˈkaː.rəz]
            %tr
              %td <i>pû</i> “pure”
              %td <i>pû</i> [ˈpuː]
              %td <i>pure</i> [ˈpu.rə]
              %td <i>pures</i> [ˈpu.rəz]
            %tr
              %td <i>prê</i> “full”
              %td <i>prê</i> [ˈpreə]
              %td <i>préne</i> [ˈpre.nə]
              %td <i>preis</i> [ˈprejz]
            %tr
              %td <i>sâ</i> “healthy”
              %td <i>sâ</i> [ˈsaː]
              %td <i>sane</i> [ˈsaː.nə]
              %td <i>sais</i> [ˈsajz]

        %p No adjectives end in a short vowel in the masculine singular form, with the exception of final [u] from earlier *l. However, these are orthographically always written with the letter <i>l</i>, and can still be analyzed as an allophone of /l/ in the modern language. The [l] phone resurfaces in the feminine singular.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>vecl</i> “old, longstanding”
              %td <i>vecl</i> [ˈvɛ.ku]
              %td <i>vécle</i> [ˈve.klə]
              %td <i>vecls</i> [ˈvɛ.kuz]
            %tr
              %td <i>deficl</i> “difficult”
              %td <i>deficl</i> [də.ˈfi.ku]
              %td <i>deficle</i> [də.ˈfi.klə]
              %td <i>deficls</i> [də.ˈfi.kuz]
            %tr
              %td <i>credl</i> “naive”
              %td <i>credl</i> [ˈkrɛ.du]
              %td <i>crédle</i> [ˈkre.dlə]
              %td <i>credls</i> [ˈkrɛ.duz]

        %p Final /st/ + /s/ becomes /ʃtʃ/ in the plural, spelled <i>-çs</i>. This same rule applies to nouns as well.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>îgost</i> “thin”
              %td <i>îgost</i> [ˈiː.gost]
              %td <i>îgoste</i> [ˈiː.gos.tə]
              %td <i>îgoçs</i> [ˈiː.goʃtʃ]
            %tr
              %td <i>inést</i> “honest”
              %td <i>inést</i> [ˈi.nɛst]
              %td <i>inéste</i> [ˈi.nɛs.tə]
              %td <i>inéçs</i> [ˈi.nɛʃtʃ]
            %tr
              %td <i>môst</i> “moderate, medium”
              %td <i>môst</i> [ˈmɔəst]
              %td <i>môste</i> [ˈmɔəs.tə]
              %td <i>môçs</i> [ˈmɔəʃtʃ]
            %tr
              %td <i>fest</i> “welcoming, friendly”
              %td <i>fest</i> [ˈfɛst]
              %td <i>féste</i> [ˈfɛs.tə]
              %td <i>feçs</i> [ˈfɛʃtʃ]
            %tr
              %td <i>îcceneçist</i> “unknown”
              %td <i>îcceneçist</i> [iːk.nə.ˈʃist]
              %td <i>îcceneçiste</i> [iːk.nə.ˈʃis.tə]
              %td <i>îcceneçiçs</i> [iːk.nə.ˈʃiʃtʃ]

        %p Final /s/ + /s/ and /z/ + /s/ are both pronounced as [z] in the plural. Consequently, at a phonetic level, stems ending in /s/ in the masculine singular form their plural by converting it to [z], while stems that end in /z/ have identical masculine singular and plural forms. Orthographically these are entirely regular and are spelled <i>-ss</i> and <i>-zs</i>.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>glios</i> “good”
              %td <i>glios</i> [gli.ˈjos]
              %td <i>gliose</i> [gli.ˈjɔ.sə]
              %td <i>glioss</i> [gli.ˈjoz]
            %tr
              %td <i>ros</i> “red”
              %td <i>ros</i> [ˈros]
              %td <i>rose</i> [ˈrɔ.sə]
              %td <i>ross</i> [ˈroz]
            %tr
              %td <i>imbes</i> “low”
              %td <i>imbes</i> [ˈim.bəs]
              %td <i>imbese</i> [ˈim.bə.sə]
              %td <i>imbess</i> [ˈim.bəz]
            %tr
              %td <i>bâriz</i> “clear, obvious”
              %td <i>bâriz</i> [ˈbaː.riz]
              %td <i>bârize</i> [ˈbaː.ri.zə]
              %td <i>bârizs</i> [ˈbaː.riz]
            %tr
              %td <i>cûrteis</i> “polite”
              %td <i>cûrteis</i> [kuː.ˈtejz]
              %td <i>cûrteise</i> [kuː.ˈtej.zə]
              %td <i>cûrteiss</i> [kuː.ˈtejz]

        %p Some stem changes in the feminine singular are purely orthographic, the result of adding an additional vowel letter at the end of a consonantal stem. These include respelling stem final /k/ and /g/ as <i>cc/ch</i> and <i>gg/gh</i> respectively, or adding an acute accent to orthographic <i>e</i> in monosyllabic stems.
        %table
          %thead
            %tr
              %th
              %th Masc Sg
              %th Fem Sg
              %th Pl
          %tbody
            %tr
              %td <i>çic</i> “blind”
              %td <i>çic</i> [ˈʃik]
              %td <i>çicce</i> [ˈʃi.kə]
              %td <i>çics</i> [ˈʃiks]
            %tr
              %td <i>motc</i> “enough”
              %td <i>motc</i> [ˈmo.tɪk]
              %td <i>motche</i> [ˈmot.kə]
              %td <i>motcs</i> [ˈmo.tɪks]
            %tr
              %td <i>loig</i> “long”
              %td <i>loig</i> [ˈlojg]
              %td <i>loigge</i> [ˈloj.gə]
              %td <i>loigs</i> [ˈlojgz]
            %tr
              %td <i>amêrg</i> “bitter”
              %td <i>amêrg</i> [ʌ.ˈmeəg]
              %td <i>amêrghe</i> [ʌ.ˈmeə.gə]
              %td <i>amêrgs</i> [ʌ.ˈmeəgz]
            %tr
              %td <i>mesh</i> “dirty”
              %td <i>mesh</i> [ˈmɛ.sɪx]
              %td <i>méshe</i> [ˈmɛs.xə]
              %td <i>méshs</i> [ˈmɛs.xɪs]

  = section "Preposed Adjectives" do
    %p For the vast majority of adjectives, the most natural placement is immediately after the noun they modify. However, as with several other Romance languages such as Spanish and French, a handful of adjectives may also be placed before the noun. These preposed adjectives often have distinct semantics and distinct forms due to phonetic reduction.
    %p Tunisian has 11 adjectives that may appeared preposed. These are tightly bound to their head noun; phonologically they behave as a single word, with the adjective bearing a weaker stress than it would if it were in the normal postposed attributive position. Orthographically, preposed adjectives are always joined to their head by a hyphen. The gender contrast is neutralized in the singular, so that preposed adjectives only distinguish a singular and plural; however, in many cases the singular form has multiple variants depending on the first sound of the following word, another sign of the closer affinity between a preposed adjective and its head.
    %p The table below shows the 11 Tunisian adjectives that may appear preposed and their various forms. The semantics and usage of these adjectives are discussed later.
    %table
      %thead
        %tr
          %th Adjective
          %th Preposed Singular
          %th Preposed Plural
      %tbody
        %tr
          %td <i>glios</i> “good, happy”
          %td
            <i>bon</i> [ˈbon] + vowel
            %br
            <i>bom</i> [ˈbom] + labial
            %br
            <i>boe</i> [ˈbɔ.ə] + consonant
          %td
            <i>bos</i> [ˈboz]
        %tr
          %td <i>mal</i> “bad”
          %td
            <i>mal</i> [ˈmaːl]
          %td
            <i>mals</i> [ˈmaːlz]
        %tr
          %td <i>greid</i> “big”
          %td
            <i>gran</i> [ˈgraːn] + vowel
            %br
            <i>gram</i> [ˈgraːm] + labial
            %br
            <i>grae</i> [ˈgraː.ə] + consonant
          %td
            <i>greis</i> [ˈgrejz]
        %tr
          %td <i>nov</i> “new”
          %td
            <i>nov</i> [ˈnov]
          %td
            <i>novs</i> [ˈnovz]
        %tr
          %td <i>îtic</i> “old, ancient”
          %td
            <i>vec</i> [ˈvɛk]
          %td
            <i>vecs</i> [ˈvɛks]
        %tr
          %td <i>térî</i> “young”
          %td
            <i>térin</i> [ˈte.rin] + vowel
            %br
            <i>térim</i> [ˈte.rim] + labial
            %br
            <i>térie</i> [ˈte.rjə] + consonant
          %td
            <i>téris</i> [ˈte.riz]
        %tr
          %td <i>inélt</i> “high”
          %td
            <i>elt</i> [ˈɛlt]
          %td
            <i>elts</i> [ˈɛlts]
        %tr
          %td <i>imbes</i> “low”
          %td
            <i>bas</i> [ˈbaːs]
          %td
            <i>bass</i> [ˈbaːs]
        %tr
          %td <i>librt</i> “free”
          %td
            <i>libr</i> [ˈli.bɪr] + vowel
            %br
            <i>libre</i> [ˈli.brə] + consonant
          %td
            <i>librs</i> [ˈli.bɪrz]
        %tr
          %td <i>seit</i> “holy”
          %td
            <i>sen</i> [ˈsɛn] + vowel
            %br
            <i>sem</i> [ˈsɛm] + labial
            %br
            <i>sê</i> [ˈseə] + consonant
          %td
            <i>seis</i> [ˈsejz]
        %tr
          %td <i>meid</i> “middle, half”
          %td
            <i>meid</i> [ˈmejd] + vowel
            %br
            <i>médi</i> [ˈme.di] + consonant
          %td
            <i>mids</i> [ˈmidz]

    %p For the most part, the preposed forms are simply phonetic reductions of the original, often losing final consonants or undergoing some sort of assimilation. However, several have a more complex history, reflecting either a divergent or entirely different etymology when compared to their normal attributive forms.
    %p In the case of <i>glios</i> “good” and <i>îtic</i> “old”, the preposed forms <i>bon/bom/boe/bos</i> and <i>vec/vecs</i> represent entirely different lexemes; specifically, they are cognate with <i>bô</i> “happy, favorable” and <i>vecl</i> “longstanding, long-time”. The preposed forms actually preserve the older meaning of these lexemes, with <i>glios</i> and <i>îtic</i> being more recent forms that have displaced <i>bô</i> and <i>vecl</i> in these senses.
    %p For <i>inélt</i> “high” and <i>imbes</i> “low”, the preposed forms are cognate, but lack the prefixed <i>in-</i> element: <i>elt/elts</i>, <i>bas/bass</i>. As before, the preposed forms are in fact older, with the unbound adjectives acquiring <i>in-</i> at a later point as an emphatic element.

  = section "Comparison" do
    %p For the vast majority of adjectives, comparatives are formed periphrastically using comparative and superlative adverbs placed before the adjective.
    %p The comparative degree is expressed with the adverbs <i>mis</i> [ˈmis] “more”, <i>peis</i> [ˈpejs] “less”, and the <i>tisme</i> [ˈtiz.mə] “same, as”: <i>mis nov</i> “newer”, <i>peis nov</i> “less new”, <i>tisme nov</i> “as new”.
    %p The superlative degree is expressed with the adverbs <i>ûmis</i> [ˈuː.mis] “most” and <i>umpeis</i> [ˈum.pejs] “least”: <i>ûmis nov</i> “newest”, <i>umpeis nov</i> “least new”.
    %p Four adjectives have retained synthetic (positive) comparatives, which replace the analytic comparative with <i>mis</i> and are used in place of the base adjective stem in the superlative. In the case of <i>mjô</i> “better” (comparative of <i>glios</i> “good”) and <i>pçô</i> “worse” (comparative of <i>mal</i> “bad”), this form is mandatory, as <i>*mis glios</i> and <i>*mis mal</i> are ungrammatical. In the case of <i>mô</i> “bigger, greater” (comparative of <i>greid</i> “big”) and <i>minô</i> “smaller, lesser” (comparative of <i>masc</i> “small”), the rules are somewhat more complicated. When used to describe physical size, the analytic comparatives are used: <i>il dom mis greid</i> “the bigger house”; when used to describe abstract qualities, the synthetic comparative is preferred but not mandatory: <i>caltâ mjore</i>, <i>caltâ mis greide</i> “higher quality”.
    %table
      %thead
        %tr
          %th Base
          %th Positive<br>Comparative
          %th Negative<br>Comparative
          %th Equative<br>Comparative
          %th Positive<br>Superlative
          %th Negative<br>Superlative
      %tbody
        %tr
          %td <i>glios</i> “good”
          %td
            <i>mjô</i> [ɪm.ˈʒɔə]
            %br
            <i>mjore</i> [ɪm.ˈʒɔ.rə]
            %br
            <i>mjores</i> [ɪm.ˈʒɔ.rəz]
          %td
            <i>peis glios</i>
            %br
            <i>peis gliose</i>
            %br
            <i>peis glioss</i>
          %td
            <i>tisme glios</i>
            %br
            <i>tisme gliose</i>
            %br
            <i>tisme glioss</i>
          %td
            <i>ûmis mjô</i>
            %br
            <i>ûmis mjore</i>
            %br
            <i>ûmis mjores</i>
          %td
            <i>umpeis mjô</i>
            %br
            <i>umpeis mjore</i>
            %br
            <i>umpeis mjores</i>
        %tr
          %td <i>mal</i> “bad”
          %td
            <i>pçô</i> [ˈpʃɔə]
            %br
            <i>pçore</i> [ˈpʃɔ.rə]
            %br
            <i>pçores</i> [ˈpʃɔ.rəz]
          %td
            <i>peis mal</i>
            %br
            <i>peis male</i>
            %br
            <i>peis mals</i>
          %td
            <i>tisme mal</i>
            %br
            <i>tisme male</i>
            %br
            <i>tisme mals</i>
          %td
            <i>ûmis pçô</i>
            %br
            <i>ûmis pçore</i>
            %br
            <i>ûmis pçores</i>
          %td
            <i>umpeis pçô</i>
            %br
            <i>umpeis pçore</i>
            %br
            <i>umpeis pçores</i>
        %tr
          %td <i>greid</i> “big”
          %td
            <i>mô</i> [ˈmɔə]
            %br
            <i>more</i> [ˈmɔ.rə]
            %br
            <i>mores</i> [ˈmɔ.rəz]
          %td
            <i>peis greid</i>
            %br
            <i>peis greide</i>
            %br
            <i>peis greids</i>
          %td
            <i>tisme greid</i>
            %br
            <i>tisme greide</i>
            %br
            <i>tisme greids</i>
          %td
            <i>ûmis mô</i>
            %br
            <i>ûmis more</i>
            %br
            <i>ûmis mores</i>
          %td
            <i>umpeis mô</i>
            %br
            <i>umpeis more</i>
            %br
            <i>umpeis mores</i>
        %tr
          %td <i>masc</i> “small”
          %td
            <i>minô</i> [mi.ˈnɔə]
            %br
            <i>minore</i> [mi.ˈnɔ.rə]
            %br
            <i>minores</i> [mi.ˈnɔ.rəz]
          %td
            <i>peis masc</i>
            %br
            <i>peis masche</i>
            %br
            <i>peis mascs</i>
          %td
            <i>tisme masc</i>
            %br
            <i>tisme masche</i>
            %br
            <i>tisme mascs</i>
          %td
            <i>ûmis minô</i>
            %br
            <i>ûmis minore</i>
            %br
            <i>ûmis minores</i>
          %td
            <i>umpeis minô</i>
            %br
            <i>umpeis minore</i>
            %br
            <i>umpeis minores</i>

= section "Numerals" do
  = section "Cardinal Numbers" do
    %p While the forms of most Tunisian numbers may seem familiar to those with knowledge of other Romance languages, their behavior is quite unlike the other Romance languages, having been heavily influenced by Semitic and Berber models. The cardinal numbers, used for counting and quantifying, have fallen in line with other Tunisian quantifiers, marking two genders and typically coordinated with the quantified noun using the preposition <i>yd</i> “of”: <i>tres yd doms</i> “three houses”, <i>trése yn noćs</i> “three nights”.
    %p The units from 1 to 10 are by and large inherited from Latin, with the exception if <i>pâ/pare</i> “two”, which comes from Latin <i>paria</i> “pair”. The forms <i>û/une</i> “one” are identical in form to the indefinite article, although the meanings are distinguished based on whether they are used as adjectives (<i>û libr</i> “a book”) or quantifiers (<i>û yl libr</i> “one book”).
    %table
      %thead
        %tr
          %th Numeral
          %th Masculine
          %th Feminine
      %tbody
        %tr
          %td 0
          %td{:colspan => 2} <i>zéro</i><br/>[ˈze.rɔ]
        %tr
          %td 1
          %td <i>û</i><br/>[ˈuː]
          %td <i>une</i><br/>[ˈu.nə]
        %tr
          %td 2
          %td <i>pâ</i><br/>[ˈpaː]
          %td <i>pare</i><br/>[ˈpa.rə]
        %tr
          %td 3
          %td <i>tres</i><br/>[ˈtrɛs]
          %td <i>trése</i><br/>[ˈtre.sə]
        %tr
          %td 4
          %td <i>catr</i><br/>[ˈkaː.tɪr]
          %td <i>catre</i><br/>[ˈkaː.trə]
        %tr
          %td 5
          %td <i>çeic</i><br/>[ˈʃejk]
          %td <i>çeicce</i><br/>[ˈʃej.kə]
        %tr
          %td 6
          %td <i>sesc</i><br/>[ˈsɛsk]
          %td <i>sésche</i><br/>[ˈsɛs.kə]
        %tr
          %td 7
          %td <i>seft</i><br/>[ˈsɛft]
          %td <i>séfte</i><br/>[ˈsɛf.tə]
        %tr
          %td 8
          %td <i>ozt</i><br/>[ˈost]
          %td <i>ozte</i><br/>[ˈos.tə]
        %tr
          %td 9
          %td <i>nôv</i><br/>[ˈnɔəv]
          %td <i>nôve</i><br/>[ˈnɔə.və]
        %tr
          %td 10
          %td <i>dec</i><br/>[ˈdɛk]
          %td <i>décce</i><br/>[ˈde.kə]

    %p The teens 11–19 are generally formed by combining the unit with the suffix <i>-déc</i>, related to <i>dec</i> “ten”. This same construction was used in classical Latin, but only the numbers 11 through 15 are direct descendents from the Latin originals; 16 through 19 are later creations based on the same pattern.
    %table
      %thead
        %tr
          %th Numeral
          %th Masculine
          %th Feminine
      %tbody
        %tr
          %td 11
          %td <i>uidéc</i><br/>[ˈuj.dɛk]
          %td <i>uidécce</i><br/>[ˈuj.de.kə]
        %tr
          %td 12
          %td <i>doidéc</i><br/>[ˈdoj.dɛk]
          %td <i>doidécce</i><br/>[ˈdoj.de.kə]
        %tr
          %td 13
          %td <i>trédéc</i><br/>[ˈtre.dɛk]
          %td <i>trédécce</i><br/>[ˈtre.de.kə]
        %tr
          %td 14
          %td <i>catrdéc</i><br/>[ˈkaː.tɪr.dɛk]
          %td <i>catrdécce</i><br/>[ˈkaː.tɪr.de.kə]
        %tr
          %td 15
          %td <i>çeicdéc</i><br/>[ˈʃej.dɛk]
          %td <i>çeicdécce</i><br/>[ˈʃej.de.kə]
        %tr
          %td 16
          %td <i>séscdéc</i><br/>[ˈsɛz.dɛk]
          %td <i>séscdécce</i><br/>[ˈsɛz.de.kə]
        %tr
          %td 17
          %td <i>séftdéc</i><br/>[ˈsɛv.dɛk]
          %td <i>séftdécce</i><br/>[ˈsɛv.de.kə]
        %tr
          %td 18
          %td <i>oztdéc</i><br/>[ˈoz.dɛk]
          %td <i>oztdécce</i><br/>[ˈoz.de.kə]
        %tr
          %td 19
          %td <i>nôvdéc</i><br/>[ˈnɔəv.dɛk]
          %td <i>nôvdécce</i><br/>[ˈnɔəv.de.kə]

    %p The decades 10, 20, 30, 40, and 50 all descend directly from their Latin counterparts. Intermediate numbers follow the decade with the conjunction <i>e</i> “and”: <i>treit’ e û/une</i> “thirty one” (lit. “thirty and one“). Note that only the unit declines in this case, with the decade taking a fixed form identical to the masculine, but written with an apostrophe at the end. This is because the invariant form of the decade historically was identical to the feminine, but over time the feminine ending <i>-e</i> was lost due to the following conjunction <i>e</i>. Even though the full form is no longer used, the orthographic apostrophe indicating the contraction is still in use.
    %p For sixty and above, a vigesimal system takes over. The numbers 60 and 80 are <i>trésvît</i> and <i>catvrît</i>, originally meaning “three twenties“ and “four twenties” respectively, although this etymology is no longer transparent. Intermediate numbers in the decades 61–69 and 81–89 are formed as expected. The decades 70–79 and 90–99 combine <i>trésvît</i> and <i>catvrît</i> with the teens: <i>trésvit’ e uidéc(ce)</i> “seventy one“ (lit. “sixty and eleven”), <i>catvrît’ e nôvdéc(ce)</i> “ninety nine” (lit. “eighty and nineteen”).
    %p This counting scheme is strongly reminiscent of French, which uses a similar vigesimal system for the numbers 80–99 (e.g., <i>quatre-vingt-dix-neuf</i> “ninety-nine”, literally “eighty-nineteen” or “four-twenty-ten-nine“). Despite the similarities, the two systems emerged separately; the French system is due to contact influence with Celtic languages, while the Tunisian system results from extensive contact with Berber languages.
    %table
      %thead
        %tr
          %th Numeral
          %th Masculine
          %th Feminine
      %tbody
        %tr
          %td 20
          %td <i>ujeit</i><br/>[u.ˈʒejt]
          %td <i>ujeite</i><br/>[u.ˈʒej.tə]
        %tr
          %td 30
          %td <i>treit</i><br/>[ˈtrejt]
          %td <i>treite</i><br/>[ˈtrej.tə]
        %tr
          %td 40
          %td <i>cadrît</i><br/>[ˈkaː.driːt]
          %td <i>cadrîte</i><br/>[ˈkaː.driː.tə]
        %tr
          %td 50
          %td <i>çeiccît</i><br/>[ˈʃej.kiːt]
          %td <i>çeiccîte</i><br/>[ˈʃej.kiː.tə]
        %tr
          %td 60
          %td <i>trésvît</i><br/>[ˈtrɛs.viːt]
          %td <i>trésvîte</i><br/>[ˈtrɛs.viː.tə]
        %tr
          %td 70
          %td <i>trésvît’ e dec</i><br/>[ˈtrɛs.viːt e ˈdɛk]
          %td <i>trésvît’ e décce</i><br/>[ˈtrɛs.viːt e ˈde.kə]
        %tr
          %td 80
          %td <i>catvrît</i><br/>[ˈkaːt.vriːt]
          %td <i>catvrîte</i><br/>[ˈkaːt.vriː.tə]
        %tr
          %td 90
          %td <i>catvrît’ e dec</i><br/>[ˈkaːt.vriːt e ˈdɛk]
          %td <i>catvrît’ e décce</i><br/>[ˈkaːt.vriːt e ˈde.kə]
        %tr
          %td 100
          %td{:colspan => 2} <i>mite</i><br/>[ˈmi.tə]

    %p Higher numbers are formed on the basis of the nouns <i>mite</i> “hundred”, <i>mil</i> “thousand”, <i>milion</i> “million”, etc. Note that unlike the forms discussed up to this point, these are true nouns, not quantifiers; they therefore do not display gender agreement and can themselves be quantified, having singular and plural forms rather than masculine and feminine ones. Multiples of these forms are therefore expressed through quantification: <i>pare n mits</i> “two hundred” (lit. “two hundreds”). Intermediate numbers appear as uncoordinated adjuncts: <i>catr yn mils, pare n mits, treit’ e seft(e)</i> “four-thousand two-hundred and thirty-seven”. Note that since <i>mite</i> is femininee and <i>mil</i> is masculine, their respective quantifiers show differing gender agreement.
    %table
      %thead
        %tr
          %th Numeral
          %th Tunisian
      %tbody
        %tr
          %td 100
          %td <i>mite</i><br/>[ˈmi.tə]
        %tr
          %td 200
          %td <i>pare n mits</i><br/>[ˈpaː.rən ˈmits]
        %tr
          %td 300
          %td <i>trése n mits</i><br/>[ˈtre.sən.ˈmits]
        %tr
          %td 400
          %td <i>catre n mits</i><br/>[ˈkaː.trən.ˈmits]
        %tr
          %td 500
          %td <i>çeicce n mits</i><br/>[ˈʃej.kən.ˈmits]
        %tr
          %td 600
          %td <i>sésche n mits</i><br/>[ˈsɛs.kən.ˈmits]
        %tr
          %td 700
          %td <i>séfte n mits</i><br/>[ˈsɛf.tən.ˈmits]
        %tr
          %td 800
          %td <i>ozte n mits</i><br/>[ˈos.tən.ˈmits]
        %tr
          %td 900
          %td <i>nôve n mits</i><br/>[ˈnɔə.ven.ˈmits]
        %tr
          %td 1000
          %td <i>mil</i><br/>[ˈmil]

    %p When counting or otherwise using numbers in isolation, the <em>feminine</em> form of numbers is used (i.e., <i>une, pare, trése, ...</i>). This is likely due to Arabic influence, where the feminine forms are also considered the default. The feminine endings also create a trochaic meter when counting, which may be seen as more euphonous than a series of masculine monosyllables.

  = section "Ordinal Numbers" do
    %p The ordinal numbers indicate position within a series (first, second, third, etc.). They are true adjectives, with masculine singular, feminine singular, and plural forms declined regularly.
    %p The ordinals 1st through 5th are Latin-derived, although
    %p The ordinals <i>prim</i> “first”, <i>térit</i> “third”, and <i>çérit</i> “fourth” are directly derived from their Latin counterparts <i>prīmus</i>, <i>tertius</i>, and <i>quartus</i>. <i>Sçeit</i> “second” comes from Latin <i>sequens</i> “following, next”, having displaced the original form <i>secundus</i>. <i>Çeitî</i> “fifth” does derive from Latin <i>quintus</i> “fifth”, but has been augmented with a nisba.
    %p The higher ordinals from “sixth” through “ninth” are Tunisian innovations, formed from the cardinal numeral by the addition of the nisba.
    %p The ordinal <i>décmî</i> “tenth”, like “fifth”, derives from the original Latin ordinal <i>decimus</i> “tenth” but has been augmented with a nisba.
    %table
      %thead
        %tr
          %th Numeral
          %th Masc Sg
          %th Fem Sg
          %th Pl
      %tbody
        %tr
          %td 1st
          %td <i>prim</i> [ˈprim]
          %td <i>prime</i> [ˈpri.mə]
          %td <i>prims</i> [ˈprimz]
        %tr
          %td 2nd
          %td <i>sçeit</i> [ˈʃejt]
          %td <i>sçeite</i> [ˈʃej.tə]
          %td <i>sçeits</i> [ˈʃejts]
        %tr
          %td 3rd
          %td <i>térit</i> [ˈte.rit]
          %td <i>térite</i> [ˈte.ri.tə]
          %td <i>térits</i> [ˈte.rits]
        %tr
          %td 4th
          %td <i>çérit</i> [ˈʃe.rit]
          %td <i>çérite</i> [ˈʃe.ri.tə]
          %td <i>çérits</i> [ˈʃe.rits]
        %tr
          %td 5th
          %td <i>çeitî</i> [ʃej.ˈtiː]
          %td <i>çeitie</i> [ˈʃej.tjə]
          %td <i>çeitis</i> [ˈʃej.tiz]
        %tr
          %td 6th
          %td <i>séschî</i> [sɛs.ˈkiː]
          %td <i>séschie</i> [ˈsɛs.kjə]
          %td <i>séschis</i> [ˈsɛs.kiz]
        %tr
          %td 7th
          %td <i>séftî</i> [sɛf.ˈtiː]
          %td <i>séftie</i> [ˈsɛf.tjə]
          %td <i>séftis</i> [ˈsɛf.tiz]
        %tr
          %td 8th
          %td <i>oztî</i> [os.ˈtiː]
          %td <i>oztie</i> [ˈos.tjə]
          %td <i>oztis</i> [ˈos.tiz]
        %tr
          %td 9th
          %td <i>nôvî</i> [nɔː.ˈviː]
          %td <i>nôvie</i> [ˈnɔə.vjə]
          %td <i>nôvis</i> [ˈnɔə.viz]
        %tr
          %td 10th
          %td <i>décmî</i> [dɛk.ˈmiː]
          %td <i>décmie</i> [ˈdɛk.mjə]
          %td <i>décmis</i> [ˈdɛk.miz]

    %p Ordinals beyond “tenth” can be derived easily from the cardinal form.
    %p The teens all replace the suffix <i>-déc-</i> with <i>-décm-</i> and the nisba, paralleling the derivation <i>dec</i> “ten” to <i>décmî</i> “tenth”: <i>trédécmî</i> “thirteenth”, <i>séftdécmî</i> “seventeenth”.
    %p Even decades, hundreds, thousands, and beyond simply add the nisba to the cardinal base if it is one word: <i>ujeitî</i> “twentieth”, <i>trésvîtî</i> “sixtieth”, <i>mitî</i> “hundredth”, <i>milî</i> “thousandth”, etc. If the cardinal consists of multiple words, only the very last component is converted to an ordinal: <i>trésvît’ e decmî</i> “seventieth”, <i>pare n mitî</i> “two hundredth”, etc.
    %p In writing, ordinals may be written out in full, or may be abbreviated using the numeric representation of the cardinal number plus a period: <i>1.</i> “1st”, <i>35.</i> “35th”, etc. If modifying a noun, the feminine and plural forms of the ordinals are indicated by the addition of <i>e</i> for feminine and <i>s</i> for plural, so that <i>1.</i> is read <i>prim</i>, <i>1.e</i> is read <i>prime</i>, and <i>1.s</i> is read <i>prims</i>.
