- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "Direvá n praols"

= section "Formation of Nouns" do
  = section "People from Nouns" do
    %p Certain suffixes added to nouns indicate a person in some way connected with that noun. This is particularly common in Tunisian to form demonyms (indicating a resident of a particular place), but can also be used to form agent nouns that typically indicate professions or trades. Almost all such nouns have distinct masculine and feminine forms and can also freely be used as adjectives.
    %p When referring to people, Tunisian demonyms are typically formed with the suffix <i>-iá</i> (feminine <i>-iane</i>, plural <i>-iais</i>). It has a variant form <i>-á</i>/<i>-ane</i>/<i>-ais</i> without the /j/ glide used if the stem ends in a consonant cluster. When added to a stem ending in /k/ or /g/, these lenite to /ʃ/ and /ʒ/ respectively.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Person (M)
          %th Person (F)
          %th Meaning
      %tbody
        %tr
          %td Tenès [tə.ˈnɛs]
          %td Tunisia
          %td.arrow →
          %td tenèsiá [tə.ˈne.sjaː]
          %td tenèsiane [tə.ˈne.sjʌ.nə]
          %td Tunisian
        %tr
          %td Ambricce [ˈaːm.bri.kə]
          %td America
          %td.arrow →
          %td ambriçiá [ˈaːm.bri.ʃaː]
          %td ambriçiane [ˈaːm.bri.ʃʌ.nə]
          %td American
        %tr
          %td Yorupe [ˈjɔ.ru.pə]
          %td Europe
          %td.arrow →
          %td yorupiá [ˈjɔ.ru.pjaː]
          %td yorupiane [ˈjɔ.ru.pjʌ.nə]
          %td European
        %tr
          %td Yspne [ˈis.pnə]
          %td Spain
          %td.arrow →
          %td yspná [is.ˈpnaː]
          %td yspnane [ˈis.pnʌ.nə]
          %td Spaniard
        %tr
          %td Ustre [ˈus.trə]
          %td Austria
          %td.arrow →
          %td ustrá [us.ˈtraː]
          %td ustrane [ˈus.trʌ.nə]
          %td Austrian
        %tr
          %td Sħén [ˈsˤeːn]
          %td China
          %td.arrow →
          %td sħéniá [ˈsˤeə.njaː]
          %td sħéniane [ˈsˤeə.njʌ.nə]
          %td Chinese

    %p This same suffix may appear on a few nouns and adjectives that are not demonyms, but this has limited productivity. These are almost always derived from other proper nouns (typically people’s names), and are either survivals from Latin or Old Tunisian, or are calques from other European languages employing the <i>-ian</i> suffix or some variation thereof: <i>crestá</i> [krəs.ˈtaː] “Christian” (feminine <i>crestane</i> [krəs.ˈtaː.nə], <i>hegeliá</i> [ˈxe.ge.ljaː] “Hegelian” (feminine <i>hegeliane</i> [ˈxe.ge.ljʌ.nə]).
    %p A small group of demonyms use a different suffix <i>-is</i> (feminine <i>-ise</i>, plural <i>-iss</i>). There is no clear rule as to when one or the other is used; the proper forms must simply be memorized, much as with the English cognates <i>-ian</i> and <i>-ese</i>#{footnote}. However, demonyms in <i>-is</i> are almost entirely limited to Europe.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Person (M)
          %th Person (F)
          %th Meaning
      %tbody
        %tr
          %td Aigltère [ˈaj.gu.ti.rə]
          %td England
          %td.arrow →
          %td aiglis [ˈaj.glis]
          %td aiglise [ˈaj.gli.sə]
          %td English(wo)man
        %tr
          %td Freicce [ˈfrej.kə]
          %td France
          %td.arrow →
          %td freiccis [ˈfrej.kis]
          %td freiccise [ˈfrej.ki.sə]
          %td French(wo)man
        %tr
          %td Rusie [ˈrus.jə]
          %td Russia
          %td.arrow →
          %td rusis [ˈru.sis]
          %td rusise [ˈru.si.sə]
          %td Russian
        %tr
          %td Soètçe [ˈswe.tʃə]
          %td Sweden
          %td.arrow →
          %td soètçis [ˈswe.tʃis]
          %td soètçise [ˈswe.tʃi.sə]
          %td Swede

    %p The suffix <i>-al</i> (feminine <i>-ale</i>, plural <i>-als</i>) forms professions from nouns or places associated with that profession.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Person (M)
          %th Person (F)
          %th Meaning
      %tbody
        %tr
          %td post [ˈpost]
          %td mail
          %td.arrow →
          %td postal [pus.ˈtaːl]
          %td postale [ˈpos.tʌ.lə]
          %td mail(wo)man, courier
        %tr
          %td ví [ˈviː]
          %td wine
          %td.arrow →
          %td vinal [vi.ˈnaːl]
          %td vinale [ˈvi.nʌ.lə]
          %td winemaker
        %tr
          %td pulicie [pu.ˈliː.sjə]
          %td police
          %td.arrow →
          %td pulicial [pu.ˈliː.sjaːl]
          %td puliciale [pu.ˈliː.sjʌ.lə]
          %td police officer
        %tr
          %td dend [ˈdeːn]
          %td tooth
          %td.arrow →
          %td dèndal [ˈdeːn.daːl]
          %td dèndale [ˈdeːn.dʌ.lə]
          %td dentist
        %tr
          %td ministre [ˈmi.nis.trə]
          %td ministry
          %td.arrow →
          %td ministral [ˈmi.nis.traːl]
          %td ministrale [ˈmi.nis.trʌ.lə]
          %td minister

    %p The suffix <i>-ay</i> [aj] (feminine <i>-aire</i> [ajrə], plural <i>-aires</i> [ajrəz]) indicates a person who produces or sells the base item.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Person (M)
          %th Person (F)
          %th Meaning
      %tbody
        %tr
          %td pay [ˈpaj]
          %td bread
          %td.arrow →
          %td penay [pə.ˈnaj]
          %td penaire [pə.ˈnaj.rə]
          %td baker
        %tr
          %td caun [ˈkawŋ]
          %td meat
          %td.arrow →
          %td caunay [ˈkaw.ŋaj]
          %td caunaire [ˈkaw.ŋaj.rə]
          %td butcher
        %tr
          %td pesc [ˈpɛsk]
          %td fish
          %td.arrow →
          %td pescay [pəs.ˈkaj]
          %td pescaire [pəs.ˈkaj.rə]
          %td fisher
        %tr
          %td sħabat [ˈsˤaː.bʌt]
          %td shoe
          %td.arrow →
          %td sħabetay [sˤʌp.ˈtaj]
          %td sħabetaire [sˤʌp.ˈtaj.rə]
          %td cobbler, shoemaker
        %tr
          %td fond [ˈfoːn]
          %td fountain
          %td.arrow →
          %td fonday [ˈfoːn.daj]
          %td fondaire [ˈfoːn.daj.rə]
          %td plumber

    %p The suffix <i>-ist</i> (feminine <i>-iste</i>, plural <i>-içs</i>) typically forms hobbies, sports, or artistic trades from associated nouns. It also indicates followers of a movement or philosophy. It tends to correspond strongly with English <i>-ist</i>.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Person (M)
          %th Person (F)
          %th Meaning
      %tbody
        %tr
          %td art [ˈaːrt]
          %td art
          %td.arrow →
          %td artist [ˈaːr.tist]
          %td artiste [ˈaːr.tis.tə]
          %td artist
        %tr
          %td yspórt [is.ˈpoːrt]
          %td sport, sports
          %td.arrow →
          %td yspórtist [is.ˈpoːr.tist]
          %td yspórtiste [is.ˈpoːr.tis.tə]
          %td athlete
        %tr
          %td flaot [ˈflawt]
          %td flute
          %td.arrow →
          %td flaotist [ˈflaw.tist]
          %td flaotiste [ˈflaw.tis.tə]
          %td flutist
        %tr
          %td comunism [ˈkoːm.ni.zɪm]
          %td communism
          %td.arrow →
          %td comunist [ˈkoːm.nist]
          %td comuniste [ˈkoːm.nis.tə]
          %td communist
        %tr
          %td optimism [ˈop.ti.mi.zɪm]
          %td optimism
          %td.arrow →
          %td optimist [ˈop.ti.mist]
          %td optimiste [ˈop.ti.mis.tə]
          %td optimist

  = section "Nouns from Other Nouns" do
    %p The suffix <i>-árie</i> (plural <i>-áris</i>) forms locations from personal nouns in <i>-ay</i> or from common objects, generally indicating stores and shops. It occasionally appears augmented as <i>-sárie</i> when the stem does not allow for easy addition of <i>-árie</i>, as in <i>tçaisárie</i> “teahouse” below; this is generally believed to be a generalization of the plural suffix (i.e., based on <i>tçays</i> “teas” rather than <i>tçay</i> “tea”).
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td qaoe [ˈqaː.wə]
          %td coffee
          %td.arrow →
          %td qaoárie [qʌ.ˈwaː.rjə]
          %td cafe
        %tr
          %td tçay [ˈtʃaj]
          %td tea
          %td.arrow →
          %td tçaisárie [tʃaj.ˈzaː.rjə]
          %td teahouse
        %tr
          %td libr [ˈli.bɪr]
          %td book
          %td.arrow →
          %td librárie [li.ˈbraː.rjə]
          %td bookstore
        %tr
          %td caunay [ˈkaw.ŋaj]
          %td butcher
          %td.arrow →
          %td caunárie [ˈkaw.ŋa.rjə]
          %td butchershop
        %tr
          %td pescay [pəs.ˈkaj]
          %td fisherman
          %td.arrow →
          %td pescárie [pəs.ˈkaː.rjə]
          %td fishmarket

    %p The suffix <i>-al</i> (plural <i>-als</i>) forms nouns associated with other common objects, such as containers.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td crave [ˈkraː.və]
          %td key
          %td.arrow →
          %td craval [krʌ.ˈvaːl]
          %td key ring
        %tr
          %td prát [ˈpraːt]
          %td plate
          %td.arrow →
          %td prátal [ˈpraː.taːl]
          %td cupboard
        %tr
          %td ifcre [ˈif.krə]
          %td bee
          %td.arrow →
          %td ifcral [if.ˈkraːl]
          %td beehive
        %tr
          %td acce [ˈaː.kə]
          %td water
          %td.arrow →
          %td acal [ʌ.ˈkaːl]
          %td water bottle, canteen
        %tr
          %td edizt [ˈe.dist]
          %td edict
          %td.arrow →
          %td ediztal [ˈe.dis.taːl]
          %td bulletin board

    %p The suffix <i>-ay</i> (plural <i>-aires</i>) forms the names of trees from their fruit.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td zaitúne [ˈzaj.tuː.nə]
          %td olive
          %td.arrow →
          %td zaitúnay [ˈzaj.tuː.naj]
          %td olive tree
        %tr
          %td tambre [ˈtaːm.brə]
          %td date
          %td.arrow →
          %td tambray [ˈtaːm.braj]
          %td date palm
        %tr
          %td tefahe [tə.ˈfaː.xə]
          %td apple
          %td.arrow →
          %td tefahay [tə.ˈfaː.xaj]
          %td apple tree
        %tr
          %td púlgane [ˈpuːl.gʌ.nə]
          %td orange
          %td.arrow →
          %td púlganay [ˈpuːl.gʌ.naj]
          %td orange tree
        %tr
          %td rose [ˈrɔ.sə]
          %td rose
          %td.arrow →
          %td rosay [ru.ˈsaj]
          %td rose bush

    %p The suffix <i>-ér</i> (plural <i>-éres</i>) forms the names of orchards, fields, or forests from the names of fruits, vegetables, trees, or other plants.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td púlgane [ˈpuːl.gʌ.nə]
          %td orange
          %td.arrow →
          %td púlganér [ˈpuːl.gʌ.neːr]
          %td orange grove
        %tr
          %td vit [ˈvit]
          %td grapes
          %td.arrow →
          %td vitér [vi.ˈteːr]
          %td vineyard
        %tr
          %td tefahe [tə.ˈfaː.xə]
          %td apple
          %td.arrow →
          %td tefahér [tfʌ.ˈxeːr]
          %td orchard
        %tr
          %td gran [ˈgraːn]
          %td wheat
          %td.arrow →
          %td granér [grʌ.ˈneːr]
          %td wheat field
        %tr
          %td pí [ˈpiː]
          %td pine
          %td.arrow →
          %td pinér [pi.ˈneːr]
          %td pine forest

    %p The suffix <i>-ism</i> (plural <i>-isms</i>) forms abstract nouns denoting doctrine, philosophy, and occasionally state. Despite appearance, nouns ending in this suffix are considered feminine.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td naciun [ˈnaː.sjuːn]
          %td nation
          %td.arrow →
          %td naciunalism [ˈnaː.sju.nʌ.li.zɪm]
          %td nationalism
        %tr
          %td inarchist [i.ˈnaːr.kist]
          %td anarchist
          %td.arrow →
          %td inarchism [i.ˈnaːr.ki.zɪm]
          %td anarchy
        %tr
          %td capital [ˈkaː.pi.taːl]
          %td capital
          %td.arrow →
          %td capitalism [ˈkaː.pi.tʌ.li.zɪm]
          %td capitalism
        %tr
          %td magnet [ˈmaː.njət]
          %td magnet
          %td.arrow →
          %td magnetism [ˈmaː.njə.ti.zɪm]
          %td magnetism
        %tr
          %td íćèíst [ˈiː.ˈθe.jist]
          %td atheist
          %td.arrow →
          %td íćèísm [ˈiː.ˈθe.ji.zɪm]
          %td atheism

  = section "People from Adjectives" do
    %p For the most part any adjective used to describe people can also be used to refer to people with zero derivation, simply treating the adjectival form as a noun to mean “person who is X” or ”people who are X”.

  = section "Nouns from Adjectives" do
    %p For forming abstract nouns from adjectives, the most common suffix used in Tunisian is <i>-itá</i>. It is common for stems ending in -iC- to undergo metathesis to -Ci- before this suffix.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td égal [ˈeə.gaːl]
          %td equal
          %td.arrow →
          %td égalitá [ˈeə.gʌ.li.taː]
          %td equality
        %tr
          %td fahil [ˈfaː.xiːl]
          %td easy
          %td.arrow →
          %td fahlitá [ˈfaː.xli.taː]
          %td ease
        %tr
          %td neutral [ˈnew.traːl]
          %td neutral
          %td.arrow →
          %td neutralitá [ˈnew.trʌ.li.taː]
          %td neutrality
        %tr
          %td fedèl [fə.ˈdeːl]
          %td loyal
          %td.arrow →
          %td fedèlitá [fə.ˈde.li.taː]
          %td loyalty
        %tr
          %td crèativ [ˈkre.jʌ.tiv]
          %td creative
          %td.arrow →
          %td crèatvitá [ˈkre.jʌ.tfi.taː]
          %td creativity

    %p Some nouns with this suffix may appear to have no corresponding adjective in the language or have an unusual derivation. Such forms typically derive from Latin words ending in <i>-itās</i>, but where the base adjective was eventually lost or underwent a divergent evolution. Examples include <i>calitá</i> [ˈkaː.li.taː] “quality” (no corresponding adjective#{footnote}) and <i>libritá</i> [ˈli.bri.taː] “freedom” (expected **<i>librtitá</i>).

    %p A smaller set of nouns form abstract adjectives simply through pluralization, usually with the suffix <i>-s</i>. Forms such as <i>dolcs</i> [ˈdoːlks] “sweetness” could be thought of as literally meaning “sweet things”, although historically this is a reanalysis of the historical Latin suffix <i>-itia</i>, with <i>dolcs</i> being cognate with Italian <i>dolcezza</i>.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td dolc [ˈdoːlk]
          %td sweet
          %td.arrow →
          %td dolcs [ˈdoːlks]
          %td sweetness
        %tr
          %td grav [ˈgraːv]
          %td sad
          %td.arrow →
          %td gravs [ˈgraːvz]
          %td sadness
        %tr
          %td forut [ˈfɔ.rut]
          %td strong
          %td.arrow →
          %td foruts [ˈfɔ.ruts]
          %td strength
        %tr
          %td rnegat [ɪr.nə.ˈgaːt]
          %td angry
          %td.arrow →
          %td rnegats [ɪr.nə.ˈgaːts]
          %td anger
        %tr
          %td ífinit [ˈiː.ˈfi.nit]
          %td infinite
          %td.arrow →
          %td ífinits [ˈiː.ˈfi.nits]
          %td infinity

    %p The suffix <i>-le</i> forms concrete or tactile nouns from adjectives, as well as many terms for behavior and certain illnesses and physical conditions.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td frid [ˈfrid]
          %td cold
          %td.arrow →
          %td fridle [ˈfrid.lə]
          %td cold, coldness
        %tr
          %td acriç [ˈaː.kriʃ]
          %td rough
          %td.arrow →
          %td acriçle [ˈaː.kriʃ.lə]
          %td roughness
        %tr
          %td çic [ˈʃik]
          %td blind
          %td.arrow →
          %td çicle [ˈʃi.klə]
          %td blindness
        %tr
          %td sać [ˈsaːθ]
          %td drunk
          %td.arrow →
          %td saćle [ˈsaːθ.lə]
          %td drunkenness
        %tr
          %td imfur [ˈiːm.fuːr]
          %td outside
          %td.arrow →
          %td imforule [ˈiːm.fu.ru.lə]
          %td diarrhea

    %p The suffix <i>-ure</i> is often used to create nouns of extent or dimension.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td inèlt [i.ˈneːlt]
          %td high
          %td.arrow →
          %td inèlture [i.ˈneːl.ˈtu.rə]
          %td height
        %tr
          %td prefond [prə.ˈfoːn]
          %td deep
          %td.arrow →
          %td prefondure [prə.ˈfoːn.du.rə]
          %td depth
        %tr
          %td loug [ˈlowg]
          %td long
          %td.arrow →
          %td lougure [ˈlow.gu.rə]
          %td length
        %tr
          %td vocal [vu.ˈkaːl]
          %td loud
          %td.arrow →
          %td vocure [ˈvɔ.ku.rə]
          %td volume
        %tr
          %td tèmprat [ˈteːm.prʌt]
          %td mild temperature
          %td.arrow →
          %td tèmprature [ˈteːm.prʌ.tu.rə]
          %td temperature

    %p Language names consist of the plural forms of regular demonyms. The use of the plural rather than the singular as in other Romance languages is a North African areal feature, with the intended meaning of words like <i>tenèsiais</i> “Tunisian language” being “Tunisian words” rather than “Tunisian tongue”.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Language
          %th Meaning
      %tbody
        %tr
          %td tenèsiá [tə.ˈne.sjaː]
          %td Tunisian
          %td.arrow →
          %td tenèsiais [tə.ˈne.sjajz]
          %td Tunisian
        %tr
          %td aiglis [ˈaj.glis]
          %td English
          %td.arrow →
          %td aigliss [ˈaj.gliz]
          %td English
        %tr
          %td freiccis [ˈfrej.kis]
          %td French
          %td.arrow →
          %td freicciss [ˈfrej.kiz]
          %td French
        %tr
          %td arabí [ʌ.rʌ.'biː]
          %td Arab
          %td.arrow →
          %td arabis [ˈaː.rʌ.biz]
          %td Arabic
        %tr
          %td sħéniá [ˈsˤeə.njaː]
          %td Chinese
          %td.arrow →
          %td sħéniais [ˈsˤeə.njajz]
          %td Chinese

  = section "People from Verbs" do
    %p Agent nouns are derived from verbs with the pattern weak stem + <i>-ator/-atre</i> for Conjugation I verbs and strong stem + <i>-or/-re</i> for all other verbs. The plural is formed with <i>-atores/-ores</i>.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Person (M)
          %th Person (F)
          %th Meaning
      %tbody
        %tr
          %td cretá [krə.ˈtaː]
          %td create
          %td.arrow →
          %td cretator [krə.ˈtaː.toːr]
          %td cretatre [krə.ˈtaː.trə]
          %td creator
        %tr
          %td imá [i.ˈmaː]
          %td love
          %td.arrow →
          %td imator [ˈi.mʌ.toːr]
          %td imatre [ˈi.mʌ.trə]
          %td lover
        %tr
          %td yscribey [ˈis.kri.bej]
          %td write
          %td.arrow →
          %td yscribor [ˈis.kri.boːr]
          %td yscribre [ˈis.kri.brə]
          %td writer
        %tr
          %td iggesey [ˈi.gə.sej]
          %td inform
          %td.arrow →
          %td iggesor [ˈi.gə.soːr]
          %td iggesre [ˈi.gəs.rə]
          %td journalist
        %tr
          %td vèndey [ˈveːn.dej]
          %td sell
          %td.arrow →
          %td vèndor [ˈveːn.doːr]
          %td vèndre [ˈveːn.drə]
          %td merchant

  = section "Nouns from Verbs" do
    %p The simplest form of verb–to–noun derivation is the infinitive itself. Unlike other Romance languages with the partial exception of Romanian#{footnote}, the Tunisian infinitive is a true noun, capable of inflection, adjectival modification, and determination#{footnote}. The meaning is typically an instance of or the process of the action itself, though by extension a resultative sense is also very common.
    %p The table below is intended purely as an illustrative guide to the verbal and nominal senses of Tunisian infinitives, which can be translated into English either as verbs or as nouns. In Tunisian, there is no formal distinction between these differing translations.
    %table
      %thead
        %tr
          %th Word
          %th Meaning as Infinitive
          %th Meaning as Noun
      %tbody
        %tr
          %td prelá [prə.ˈlaː]
          %td to speak
          %td speaking, speech
        %tr
          %td imá [i.ˈmaː]
          %td to love
          %td fondness, affection
        %tr
          %td travelé [ˈtraː.və.leː]
          %td to work
          %td working, labor
        %tr
          %td chyntá [kiːn.ˈtaː]
          %td to sing
          %td singing
        %tr
          %td pretí [prə.ˈtiː]
          %td to leave
          %td departure

    %p Much as with people, the suffixes <i>-ator</i> (Conjugation I) and <i>-or</i> can also be used to deriving inanimate agent nouns from verbs, typically denoting tools or devices. The feminine forms in <i>-atre/-re</i> are relatively uncommon with inanimate nouns, but, when used, typically denote a small object.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td fridsé [frit.ˈseə]
          %td chill
          %td.arrow →
          %td fridsor [frit.ˈsoːr]
          %td refrigerator
        %tr
          %td telèvisí [təl.ˈvi.ziː]
          %td televise
          %td.arrow →
          %td telèvisor [təl.ˈvi.zoːr]
          %td television set
        %tr
          %td difondey [di.ˈfoːn.dej]
          %td spray
          %td.arrow →
          %td difondre [di.ˈfoːn.drə]
          %td sprinkler
        %tr
          %td brecá [brə.ˈkaː]
          %td indicate, point
          %td.arrow →
          %td brecator [brə.ˈkaː.toːr]
          %td street sign
        %tr
          %td freví [frə.ˈviː]
          %td boil
          %td.arrow →
          %td frevor [frə.ˈvoːr]
          %td boiling point

    %p The suffix <i>-zte</i> /stə/ is frequently used to form resultatives. For Conjugations I, II, and IV, it is preceded by the verb's theme vowel (i.e., <i>-azte</i>, <i>-ezte</i>, <i>-izte</i>). In Conjugation III, there is no theme vowel, and the suffix may displace any stem-final consonant. The plural form is <i>-ćs</i> /θs/.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td ystá [is.ˈtaː]
          %td be
          %td.arrow →
          %td ystazte ['is.tʌs.tə]
          %td season
        %tr
          %td viçené [ˈvi.ʃə.neː]
          %td see
          %td.arrow →
          %td viçenezte [ˈviʃ.nəs.tə]
          %td vision
        %tr
          %td cufondey [ku.ˈfoːn.dej]
          %td confuse
          %td.arrow →
          %td cufozte [ˈku.fus.tə]
          %td confusion
        %tr
          %td diçená [ˈdi.ʃə.naː]
          %td eat breakfast
          %td.arrow →
          %td diçenazte [ˈdi.ʃə.nʌs.tə]
          %td breakfast
        %tr
          %td entreduccey [ˈeːn.trə.ˈdu.kej]
          %td introduce
          %td.arrow →
          %td entreduzte [ˈeːn.trə.ˈdus.tə]
          %td introduction

    %p The suffix <i>-ciun</i> is also a resultative, particularly common with abstract nouns. It is ultimately loaned from French <i>-tion</i>, and thus is the default in many internationalisms. Its plural form is <i>-cius</i> /sjuz/. The behavior at the margin between stem and suffix is more unpredictable from a synchronic perspective, as these forms tend to be learned borrowings from Latin, French, or English; for instance, <i>revoltciun</i> “revolution” below more closely reflects Latin <i>revolūtiō</i> than modern Tunisian <i>rvouvey</i> “rotate, direct [towards]”.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td aggey [ˈaː.gej]
          %td act, behave
          %td.arrow →
          %td acciun [ʌk.ˈsuːn]
          %td action
        %tr
          %td rvouvey [ɪr.ˈvow.vej]
          %td rotate, direct [towards]
          %td.arrow →
          %td revoltciun [rə.ˈvoːl.sjuːn]
          %td revolution
        %tr
          %td civilisí [ˈsi.vi.li.ziː]
          %td civilize
          %td.arrow →
          %td civilisaciun [ˈsi.vil.zʌ.sjuːn]
          %td civilization
        %tr
          %td cumbená [ˈkuːm.bə.naː]
          %td combine
          %td.arrow →
          %td cumbinaciun [ˈkuːm.bnʌ.sjuːn]
          %td combination
        %tr
          %td ímgrá [ˈiːm.graː]
          %td immigrate
          %td.arrow →
          %td ímgraciun [ˈiːm.grʌ.sjuːn]
          %td immigration

    %p The suffix <i>-mind</i> /min/ forms abstract or collective resultatives. It is attached to the strong grade form of the verb stem.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td cumeztá [ˈku.məs.taː]
          %td begin
          %td.arrow →
          %td cumiztmind [ˈku.mis.miːn]
          %td beginning
        %tr
          %td yudcá [jut.ˈkaː]
          %td judge
          %td.arrow →
          %td yudcmind [jut.ˈkmiːn]
          %td judgment
        %tr
          %td ystyntá [ˈis.tiːn.taː]
          %td stand
          %td.arrow →
          %td ystèntmind [is.ˈteːn.miːn]
          %td building
        %tr
          %td vèstí [vis.ˈtiː]
          %td dress
          %td.arrow →
          %td vèstmind [vis.ˈmiːn]
          %td clothing
        %tr
          %td sèndey [ˈseːˈn.dej]
          %td feel, touch
          %td.arrow →
          %td sèndmind [ˈseːn.miːn]
          %td feeling

    %p The suffix <i>-ure</i> forms concrete resultatives. The verb stem typically appears in the weak grade.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td peztá [pəs.ˈtaː]
          %td paint
          %td.arrow →
          %td pezture [pəs.ˈtu.rə]
          %td paint, pigment
        %tr
          %td yscribey [ˈis.kri.bej]
          %td write
          %td.arrow →
          %td yscrefture [ˈis.krəf.tu.rə]
          %td text
        %tr
          %td velá [və.ˈlaː]
          %td fly
          %td.arrow →
          %td velure [və.ˈlu.rə]
          %td [a] flight
        %tr
          %td s-ífremá [ˈsiː.frə.maː]
          %td become sick
          %td.arrow →
          %td ífremure [ˈiː.frə.mu.rə]
          %td illness
        %tr
          %td jerá [ʒə.ˈraː]
          %td injure
          %td.arrow →
          %td jerature [ˈʒraː.tu.rə]
          %td wound

    %p The suffix <i>-cl</i> [ku] (plural <i>-cls</i> [kuz]) forms terms for tools, typically smaller or handheld ones. It also forms the names of some types of rooms based on an action performed there.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Noun
          %th Meaning
      %tbody
        %tr
          %td yscribey [ˈis.kri.bej]
          %td write
          %td.arrow →
          %td yscripcl [ˈis.krip.ku]
          %td pencil
        %tr
          %td íflemá [ˈiː.flə.ˈmaː]
          %td light on fire
          %td.arrow →
          %td íflamcl [ˈiː.ˈflaːm.ku]
          %td lighter
        %tr
          %td iscendey [ˈi.sən.dej]
          %td go up
          %td.arrow →
          %td iscendcl [ˈi.səŋ.ku]
          %td step, pedestal
        %tr
          %td levá [lə.ˈvaː]
          %td wash
          %td.arrow →
          %td lavcl [ˈlaːf.ku]
          %td washroom
        %tr
          %td dremí [drə.ˈmiː]
          %td sleep
          %td.arrow →
          %td dromcl [ˈdroːm.ku]
          %td dormitory, quarters

  = section "Diminutives and Augmentatives" do
    %p Diminutives and augmentatives are emotive derivations, typically expressing affection or endearment in addition to their more basic functions of smallness or largeness. Tunisian diminutives tend to be quite common in casual discourse, and may be freely applied to both common nouns and personal names.
    %p Note that unlike in other Romance languages, the diminutive and augmentative suffixes do not vary by gender, but rather assign it (with diminutives always being feminine and augmentatives always being masculine). Thus, while <i>fil</i> /ˈfil/ “boy” is masculine, its diminutive form <i>fiote</i> /ˈfiw.tə/ “little boy” is feminine; conversely, <i>faile</i> /ˈfaj.lə/ “girl” is feminine, but its augmentative <i>failá</i> /faj.ˈlaː/ “big girl” is masculine.

    = section "Diminutives" do
      %p The primary means of forming diminutives is with the suffix <i>-te</i> /tə/ added to the noun stem, replacing any vowel /ə/ if present. It has a number of variations depending on the shape of the noun stem.
      %p The most basic form, <i>-te</i>, is used when the noun stem ends in a single consonant: <i>ymic</i> “friend” → <i>ymicte</i> [ˈi.mik.tə], <i>cay</i> “dog” → <i>caite</i> [ˈkaj.tə].
      %p The augmented forms <i>-ite</i> /ˈitə/ or <i>-ète</i> /ˈe.tə/ are typically used if the stem ends in /t/, /d/, or /r/: <i>Petr</i> “Peter” → <i>Petrète</i> [pə.ˈtre.tə], <i>Marie</i> “Maria” → <i>Marite</i> [ˈmaː.ri.tə], <i>cát</i> “cat” → <i>cátite</i> [ˈkaː.ti.tə].
      %p When the stem ends in a long vowel or /n/, it shortens and diphthongizes before <i>-te</i>: <i>só</i> “sister” → <i>soite</i> [ˈsoj.tə], <i>púlgane</i> “orange” → <i>púlgaite</i> [ˈpuːl.gaj.tə].
      %p When the stem ends in /m/, it transforms to /f/ before <i>-te</i>: <i>dom</i> “house” → <i>dofte</i> [ˈdof.tə], <i>cineme</i> “movie theater” → <i>cinefte</i> [ˈsi.nəf.tə].
      %p When the stem ends in /l/, it will often lenite to /w/, forming a diphthong: <i>Nicole</i> “Nicole” → <i>Nicoute</i> [ni.ˈkow.tə], <i>fil</i> “boy” → <i>fiote</i> [ˈfiw.tə].
      %p When the stem ends in the sequence -ViC- (i.e., a diphthong in /j/ followed by a consonant) or -VíC-, the /i/ will often metathesize and reappear between the stem and diminutive suffix: <i>faile</i> “girl” → <i>falite</i> [ˈfaː.li.tə], <i>caif</i> “mood” → <i>cafite</i> [ˈkaː.fi.tə], <i>Luíse</i> “Louise” → <i>Lusite</i> [ˈlu.si.tə].
      %p When the stem ends in some other consonant cluster, it is common for one or more consonants to be lost before <i>-te</i> is added: <i>pesc</i> “fish” → <i>pèste</i> [ˈpɛs.tə], <i>rost</i> “mouth” → <i>rosite</i> [ˈrɔ.si.tə].

    = section "Augmentatives" do
      %p Tunisian augmentatives are formed by suffixing an echo vowel to the noun stem. This vowel is always long, and its quality depends on the last non-reduced vowel in stem: <i>-á</i> for /a/, <i>-é</i> for /i e/, and <i>-ó</i> for /u o/, with diphthongs acting according to their nucleus. This suffix is always stressed: <i>fil</i> [ˈfiːl] “boy” → <i>filé</i> [fi.ˈleə], <i>faile</i> [ˈfaj.lə] “girl” → <i>failá</i> [faj.ˈlaː], <i>cát</i> [ˈkaːt] “cat” → <i>cátá</i> [kʌ.ˈtaː], <i>cay</i> [ˈkaj] “dog” → <i>caná</i> [kʌ.ˈnaː].
      %p Augmentatives do not have the pejorative connotation they tend to in other Romance languages. In fact, when applied to people, the augmentative sense has been almost entirely bleached (in much the same way diminutives applied to people do not indicate physical smallness).

= section "Formation of Adjectives" do
  = section "Adjectives from Nouns" do
    %p The previously-mentioned demonymic suffixes <i>-(i)á</i> and <i>-is</i>, used to form animate nouns describing people from a given location, also are used to form demonymic adjectives. More accurately, the nominal usage is a substantivized adjective with an implied head noun ‘person’ or ‘people’. These demonymic adjectives have the basic meaning “of or pertaining to the people or culture” of the base noun.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td Tenès [tə.ˈnɛs]
          %td Tunisia
          %td.arrow →
          %td tenèsiá [tə.ˈne.sjaː]
          %td Tunisian
        %tr
          %td Ambricce [ˈaːm.bri.kə]
          %td America
          %td.arrow →
          %td ambriçiâá [ˈaːm.bri.ʃaː]
          %td American
        %tr
          %td Yorupe [ˈjɔ.ru.pə]
          %td Europe
          %td.arrow →
          %td yorupiá [ˈjɔ.ru.pjaː]
          %td European
        %tr
          %td Aigltère [aj.gu.ˈte.rə]
          %td England
          %td.arrow →
          %td aiglis [ˈaj.glis]
          %td English
        %tr
          %td Freicce [ˈfrej.kə]
          %td France
          %td.arrow →
          %td freiccis [ˈfrej.kis]
          %td French

    %p A different type of demonym can also be formed with the nisbe suffix <i>-í</i> (feminine <i>-ie</i>, plural <i>-is</i>). Such adjectives describe polities or geography rather than cultures, so that one may be a <i>óm tenèsiá</i> [ˈɔːm tə.ˈne.sjaː] “Tunisian person” (by culture or heritage) distinct from a <i>citoén tenèsí</i> [si.ˈtweːn tə.ni.ˈsiː] “Tunisian citizen” (by civil institution). Similarly, one may talk of <i>art freiccis</i> [ˈaːrt ˈfrej.kis] “French art” but <i>drizt freiccisí</i> [ˈdrist frej.ki.ˈziː] “French law”. Note that when the cultural demonym is formed with the suffix <i>-is</i> rather than <i>-(i)á</i>, the nisbe is added to this suffix rather than the bare stem.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td Tenès [tə.ˈnɛs]
          %td Tunisia
          %td.arrow →
          %td tenèsí [tə.ni.ˈsiː]
          %td Tunisian
        %tr
          %td Ambricce [ˈaːm.bri.kə]
          %td America
          %td.arrow →
          %td ambriccí [aːm.bri.ˈkiː]
          %td American, from the United States
        %tr
          %td Yorupe [ˈjɔ.ru.pə]
          %td Europe
          %td.arrow →
          %td yorupí [ju.ru.ˈpiː]
          %td European, from the European Union
        %tr
          %td Aigltère [aj.gu.ˈte.rə]
          %td England
          %td.arrow →
          %td aiglisí [aj.gli.ˈziː]
          %td English
        %tr
          %td Freicce [ˈfrej.kə]
          %td France
          %td.arrow →
          %td freiccisí [frej.ki.ˈziː]
          %td French

    %p Outside of demonyms, the nisbe <i>-í</i> is by far the most productive means of noun–to–adjective derivation, forming adjectives meaning “relating to or characteristic of” the base noun. This suffix can freely be added to virtually any noun in an ad-hoc manner beyond more standardized usage. The nisbe also frequently is used where appositive nouns may be used in English or genitive expressions in other Romance languages, as in <i>fus oaqtí</i> [ˈfus wʌq.ˈtiː] “time zone”.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td est [ˈɛst]
          %td east
          %td.arrow →
          %td estí [ɛs.ˈtiː]
          %td eastern
        %tr
          %td oaqt [ˈwaː.qɪt]
          %td time
          %td.arrow →
          %td oaqtí [wʌq.ˈtiː]
          %td temporal
        %tr
          %td cát [ˈkaːt]
          %td cat
          %td.arrow →
          %td cátí [kʌ.ˈtiː]
          %td feline
        %tr
          %td care [ˈkaː.rə]
          %td face, front
          %td.arrow →
          %td carí [kʌ.ˈriː]
          %td fore, anterior
        %tr
          %td ycdimie [ˈik.di.mjə]
          %td academy
          %td.arrow →
          %td ycdimí [ik.di.ˈmiː]
          %td academic

    %p The suffix <i>-us</i> [us] (feminine <i>-use</i> [uzə], plural <i>-uss</i> [uz]) means “full of X” or “prone to [having] X”.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td vend [ˈveːn]
          %td wind
          %td.arrow →
          %td vèndus [ˈveːn.dus]
          %td windy
        %tr
          %td myntanie [mɪn.ˈtaː.njə]
          %td mountain
          %td.arrow →
          %td myntanius [mɪn.ˈtaː.njus]
          %td mountainous
        %tr
          %td delor [də.ˈloːr]
          %td pain
          %td.arrow →
          %td delorus [də.ˈlɔ.rus]
          %td painful
        %tr
          %td pric [ˈprik]
          %td danger
          %td.arrow →
          %td pricus [ˈpri.kus]
          %td dangerous
        %tr
          %td nèriv [ˈne.riv]
          %td nerve
          %td.arrow →
          %td nèrivus [ˈne.ri.vus]
          %td nervous

    %p The suffix <i>-isc</i> (feminine <i>-ische</i>, plural <i>-iscs</i>) also forms adjectives denoting relationship, but typically from proper nouns. It calques the French suffix <i>-esque</i>. Note that it is more typically used with European or Western bases; names of African or Eastern origin are more likely to use the nisbe for this role.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td rumá [ru.ˈmaː]
          %td Roman
          %td.arrow →
          %td rumanisc [ˈru.mʌ.nisk]
          %td Romanesque
        %tr
          %td Platon [ˈplaː.toːn]
          %td Plato
          %td.arrow →
          %td platonisc [ˈplaː.tu.nisk]
          %td Platonic
        %tr
          %td Don Chiçot [ˈdoŋ ˈki.ʃut]
          %td Don Quijote
          %td.arrow →
          %td chiçotisc [ˈki.ʃu.tisk]
          %td quixotic
        %tr
          %td Franz Kafka [ˈfraːnz ˈkaːf.kʌ]
          %td Franz Kafka
          %td.arrow →
          %td kafkaísc [ˈkaːf.kʌ.jisk]
          %td Kafkaesque

    %p The suffix <i>-al</i> forms a wide variety of relational adjectives, always from inanimate nouns. It is particularly common with larger, fixed objects, such as buildings/institutions and the natural world.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td loc [ˈlok]
          %td city
          %td.arrow →
          %td local [lu.ˈkaːl]
          %td urban
        %tr
          %td súq [ˈsuːq]
          %td market
          %td.arrow →
          %td súqal [ˈsuː.qaːl]
          %td market (adj)
        %tr
          %td sħahre [ˈsˤaː.xrə]
          %td desert
          %td.arrow →
          %td sħahral [sˤʌ.ˈxraːl]
          %td desert (adj)
        %tr
          %td eribur [ˈe.ri.buːr]
          %td tree
          %td.arrow →
          %td eribral [ˈe.ri.braːl]
          %td arboreal
        %tr
          %td yscle [ˈis.klə]
          %td school
          %td.arrow →
          %td ysclal [ˈis.klaːl]
          %td school (adj), scholastic

    %p The suffix <i>-il</i> is used to form a handful of adjectives typically from non-proper animate stems. It is no longer productive, predominantly present on inherited or borrowed Latin vocabulary.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td eifít [ˈej.fiːt]
          %td prince
          %td.arrow →
          %td eifítil [ˈej.fiː.tiːl]
          %td princely
        %tr
          %td yunie [ˈjun.jə]
          %td children
          %td.arrow →
          %td yunil [ju.ˈniːl]
          %td childlike
        %tr
          %td fèmne [ˈfeːm.nə]
          %td woman
          %td.arrow →
          %td fèmnil [ˈfeːm.niːl]
          %td womanly
        %tr
          %td mércant [ˈmeːr.kaːnt]
          %td merchant
          %td.arrow →
          %td mércantil [ˈmeːr.kaːn.tiːl]
          %td mercantile
        %tr
          %td ost [ˈost]
          %td army, host
          %td.arrow →
          %td ostil [us.ˈtiːl]
          %td hostile

  = section "Adjectives from Verbs" do
    %p The most basic adjectival derivation from verbs are the present and past participles, also known as verbal adjectives. They stand in place of the clauses “that is Xing” and “that was Xed” respectively, and consequently retain a verbal quality in that they can refer to real actions that are taking place or have taken place, and have limited ability to take verbal arguments such as direct objects.
    %p The suffix <i>-avl</i> [ʌ.vu] (feminine <i>-avle</i> [ʌ.vlə], plural <i>-avls</i> [ʌ.vuz]) is added to the reduced grade of transitive verbs to indicate ability to undergo an action, much like English <i>-able</i>. Unusually, however, it may also be used with intransitive unaccusative verbs such as <i>ys-morey</i> “die”.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td viçené [ˈvi.ʃə.neː]
          %td see
          %td.arrow →
          %td viçenavl [ˈviʃ.nʌ.vu]
          %td visible
        %tr
          %td unrá [ˈuːn.raː]
          %td honor
          %td.arrow →
          %td unravl [ˈuːn.rʌ.vu]
          %td honorable, esteemed
        %tr
          %td chemprá [kɪm.ˈpraː]
          %td buy
          %td.arrow →
          %td chempravl [kɪm.ˈpraː.vu]
          %td buyable, for sale
        %tr
          %td ys-morey [ˈis.mu.rej]
          %td die
          %td.arrow →
          %td meravl [mə.ˈraː.vu]
          %td mortal
        %tr
          %td s-iprèndey [si.ˈpreːn.dej]
          %td repent
          %td.arrow →
          %td iprendavl [ˈi.prən.dʌ.vu]
          %td repentant, remorseful

    %p The suffix <i>-l</i> [u] (feminine <i>-le</i> [lə], plural <i>-ls</i> [uz]) added directly to the ablaut grade of the verb stem means “prone to Xing”. If the stem ends in /l/ already, the forms are slightly different: masculine singular <i>-u</i>, feminine singular <i>-ule</i> (replacing final /l/), and plural <i>-us</i>, as in <i>viglu</i> [ˈvi.glu] / <i>vigule</i> [ˈvi.gu.lə] / <i>viglus</i> [ˈvi.gluz] “attentive”.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td crèdey [ˈkre.dej]
          %td believe
          %td.arrow →
          %td cridl [ˈkri.du]
          %td gullible
        %tr
          %td faccey [ˈfaː.kej]
          %td make, do
          %td.arrow →
          %td fecl [ˈfɛ.ku]
          %td on, enabled
        %tr
          %td dremí [drə.ˈmiː]
          %td sleep
          %td.arrow →
          %td doriml [du.ˈriː.mu]
          %td narcoleptic
        %tr
          %td fraggey [ˈfraː.gej]
          %td shatter
          %td.arrow →
          %td fregl [ˈfrɛ.gu]
          %td fragile
        %tr
          %td veglá [və.ˈglaː]
          %td pay attention
          %td.arrow →
          %td viglu [ˈvi.glu]
          %td attentive

    %p The suffix <i>-iv</i> (feminine <i>-ive</i>, plural <i>-ivs</i>) may be added to the past participle of a verb, typically with the meaning “having a tendency to X”. This suffix is a learned form reborrowed from Latin <i>-īvus</i>, and thus is more typical of higher registers and technical vocabulary compared to <i>-l</i>, an inherited native form.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td lèsené [ˈle.sə.neː]
          %td damage
          %td.arrow →
          %td lèsenutiv [ˈlɛs.nu.tiv]
          %td damaging, harmful
        %tr
          %td entreduccey [ˈeːn.trə.ˈdu.kej]
          %td introduce
          %td.arrow →
          %td entreductiv [ˈeːn.trə.ˈduk.tiv]
          %td introductory
        %tr
          %td discribey [ˈdis.ˈkri.bej]
          %td describe
          %td.arrow →
          %td discrèptiv [ˈdis.krip.tiv]
          %td descriptive
        %tr
          %td prisuponey [ˈpri.sup.nej]
          %td presume
          %td.arrow →
          %td prisupustiv [ˈpri.su.pus.tiv]
          %td presumptive
        %tr
          %td ivení [iv.ˈniː]
          %td happen
          %td.arrow →
          %td ivenitiv [ˈiv.ni.tiv]
          %td effective, current

  = section "Adjectives from Other Adjectives" do
    %p The prefix <i>í-</i> (or <i>in-</i> before a vowel) serves to negate an adjective.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td complet [ˈkoːm.plət]
          %td complete
          %td.arrow →
          %td ícomplet [ˈiː.ˈkoːm.plət]
          %td incomplete
        %tr
          %td viçenavl [ˈviʃ.nʌ.vu]
          %td visible
          %td.arrow →
          %td íviçenavl [ˈiː.ˈviʃ.nʌ.vu]
          %td invisible
        %tr
          %td chenoçit [kə.ˈnɔ.ʃit]
          %td known
          %td.arrow →
          %td íccenoçit [ˈiː.ˈknɔ.ʃit]
          %td unknown
        %tr
          %td tipic [ˈti.pik]
          %td typical
          %td.arrow →
          %td ítipic [ˈiː.ˈti.pik]
          %td atypical
        %tr
          %td qánuní [qʌ.nu.ˈniː]
          %td legal
          %td.arrow →
          %td íqánuní [ˈiː.qaː.nu.ˈniː]
          %td illegal

    %p However, present participles are typically negated with a prefixed <i>n-</i>, or <i>m-</i> before /p/ or /b/. This is identical in form to the negative clitic used with finite verbs.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Adjective
          %th Meaning
      %tbody
        %tr
          %td vevèn [və.ˈveːn]
          %td living
          %td.arrow →
          %td n-vevèn [ɪn.və.ˈveːn]
          %td non-living
        %tr
          %td credèn [krə.ˈdeːn]
          %td believing
          %td.arrow →
          %td n-credèn [ɪn.krə.ˈdeːn]
          %td unbelieving
        %tr
          %td velèn [və.ˈleːn]
          %td flying
          %td.arrow →
          %td n-velèn [ɪn.və.ˈleːn]
          %td flightless
        %tr
          %td pydsèn [pit.ˈseːn]
          %td thinking
          %td.arrow →
          %td m-pydsèn [ɪm.pit.ˈseːn]
          %td unthinking
        %tr
          %td veglèn [və.ˈgleːn]
          %td attentive
          %td.arrow →
          %td n-veglèn [ɪn.və.ˈgleːn]
          %td unattentive

= section "Formation of Adverbs" do
  = section "Adverbs from Adjectives" do
    %p Adjective-derived adverbs in Tunisian do not have a single clear citation form; rather, they have three distinct forms with slightly varying usages and partially overlapping semantics:
    %ol
      %li The <i>full form</i> is typically used as the citation form in dictionaries, although it is the least common in most cases. It is formed by adding the suffix <i>-mít</i> [miːt] to the adjective stem. However, it cannot be formed from adjectives with the <i>nisbe</i>.
      %li The <i>bare form</i> is identical in form with the feminine singular, but always has stress on one of the first two syllables (i.e., regular stress), even if the adjective normally has an irregular pattern.
      %li The <i>phrasal form</i> consists of the particle <i>d-il</i> [diːl] followed by the feminine singular.
    %p The full usage of these three forms will be discussed later, but very broadly, the bare form is used preverbally, the phrasal form postverbally, and the full form sentencially or emphatically.
    %table
      %thead
        %tr
          %th Adjective
          %th Meaning
          %th
          %th Full Form
          %th Bare Form
          %th Phrasal Form
          %th Meaning
      %tbody
        %tr
          %td rapt [ˈraː.pɪt]
          %td fast
          %td.arrow →
          %td raptmít [rʌp.ˈtmiːt]
          %td rapte [ˈraːp.tə]
          %td d-il rapte [diːl ˈraːp.tə]
          %td quickly
        %tr
          %td cúrteis [ˈkuː.tejz]
          %td polite
          %td.arrow →
          %td cúrteismít [ˈkuː.tejz.miːt]
          %td cúrteise [ˈkuː.tej.zə]
          %td d-il cúrteise [diːl ˈkuː.tej.zə]
          %td politely
        %tr
          %td ysfortunat [is.ˈfoːr.tə.nʌt]
          %td unfortunate
          %td.arrow →
          %td ysfortunatmít [is.ˈfoːr.tə.nʌt.miːt]
          %td ysfortunate [is.ˈfoːr.tə.nʌ.tə]
          %td d-il ysfortunate [diːl is.ˈfoːr.tə.nʌ.tə]
          %td unfortunately
        %tr
          %td delorus [də.ˈlɔ.rus]
          %td painful
          %td.arrow →
          %td delorusmít [də.ˈlɔ.rus.miːt]
          %td deloruse [də.ˈlɔ.ru.sə]
          %td d-il deloruse [diːl də.ˈlɔ.ru.sə]
          %td painfully
        %tr
          %td qánuní [qʌ.nu.ˈniː]
          %td legal
          %td.arrow →
          %td —
          %td qánunie [ˈqaː.nu.njə]
          %td d-il qánunie [diːl ˈqaː.nu.njə]
          %td legally

= section "Formation of Verbs" do
  = section "Verbs from Nouns and Adjectives" do
    %p The suffix <i>-s-</i> (II Conjugation) is frequently added to adjective stems to form causatives (“make X”). These same forms in the mediopassive has transformative meaning (“become X”). It can also be added to a small set of nouns, mostly designating natural phenomena; in this case, the result can only appear in the mediopassive and means “become X” impersonally. Unlike cognate forms in other Romance languages, supporting verbal prefixes are rarely added (cf. Spanish <i>a-noche-cer</i> “become night”, <i>en-rique-cer</i> “enrich”).
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Active
          %th Meaning
          %th Mediopassive
          %th Meaning
      %tbody
        %tr
          %td sic [ˈsik]
          %td dry
          %td.arrow →
          %td secsé [sək.ˈseə]
          %td dry, make dry
          %td yst-secsê [ˈist.sək.seː]
          %td dry out, become dry
        %tr
          %td sód [ˈsɔəd]
          %td hard
          %td.arrow →
          %td sódsé [ˈsoːd.zeː]
          %td harden, reinforce
          %td yst-sódsé [ist.ˈsoːd.zeː]
          %td harden, become hard
        %tr
          %td pú [ˈpuː]
          %td pure
          %td.arrow →
          %td púsé [ˈpuː.seː]
          %td purify
          %td ys-púsé [is.ˈpuː.seː]
          %td become purified
        %tr
          %td ganí [gʌ.ˈniː]
          %td rich
          %td.arrow →
          %td ganesé [ˈgaː.nə.seː]
          %td enrich
          %td ys-ganesé [ˈiz.gʌ.nə.seː]
          %td become rich
        %tr
          %td nozte [ˈnos.tə]
          %td night
          %td.arrow →
          %td —
          %td —
          %td ys-neçsé [ˈiz.nəʃ.tʃeː]
          %td become night

    %p There are a handful of cases of this <i>-s-</i> suffix being used with inchoative meaning on verbal stems rather than nominal or adjectival ones, but this is rare and non-productive: <i>ys-dremsé</i> [ˈiz.drəm.zeː] “grow drowsy” ← <i>dremí</i> [drə.ˈmiː] “sleep”.
    %p The suffix <i>-is-</i> (IV Conjugation) is added primarily to noun stems to form factitives (“make into X” or “create X”). It is also used to form verbs from atypical bases such as pronouns, interjections, and onomatopoeia. It is cognate in part to the English suffix <i>-ize</i>.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Verb
          %th Meaning
      %tbody
        %tr
          %td loc [ˈlok]
          %td city
          %td.arrow →
          %td loccisí [ˈlɔ.ki.ziː]
          %td urbanize
        %tr
          %td cronie [ˈkrɔ.njə]
          %td colony
          %td.arrow →
          %td cronisí [ˈkrɔ.ni.ziː]
          %td colonize
        %tr
          %td yostie [ˈjos.tjə]
          %td law
          %td.arrow →
          %td yostisí [ˈjos.ti.ziː]
          %td legislate
        %tr
          %td sim [ˈsiːm]
          %td yes
          %td.arrow →
          %td simisí [ˈsi.mi.ziː]
          %td agree too readily, be a yes-man
        %tr
          %td vos [ˈvos]
          %td you (pl)
          %td.arrow →
          %td vosisí [ˈvɔ.si.ziː]
          %td address with <i>vos</i>

    %p The suffix <i>-fic</i> (III Conjugation) is another means of forming factitives from nominal or adjectival stems, although it tends to be restricted to borrowed Latinate vocabulary in scientific and legal registers. It is cognate to the English suffix <i>-ify</i>.
    %table
      %thead
        %tr
          %th Word
          %th Meaning
          %th
          %th Verb
          %th Meaning
      %tbody
        %tr
          %td yostie [ˈjos.tjə]
          %td law
          %td.arrow →
          %td yostificcey [ˈjos.ti.fi.kej]
          %td legalize
        %tr
          %td esempiu [ˈe.səm.pju]
          %td example
          %td.arrow →
          %td esempificcey [ˈe.səm.pi.ˈfi.kej]
          %td exemplify
        %tr
          %td pètre [ˈpe.trə]
          %td stone
          %td.arrow →
          %td pètrficcey [ˈpɛ.tɪr.fi.kej]
          %td petrify
        %tr
          %td ilectrcitá [ˈi.lək.tɪr.si.taː]
          %td electricity
          %td.arrow →
          %td ilectrficcey [ˈi.lək.tɪr.ˈfi.kej]
          %td electrify
        %tr
          %td fals [ˈfaːls]
          %td false, fake
          %td.arrow →
          %td falsficcey [ˈfaːls.fi.kej]
          %td falsify

  = section "Verbs from Other Verbs" do
    %p Tunisian, like other Romance languages, has an extensive set of prefixes used to derive verbs from other verbs. These are traditionally divided into two groups: primary and secondary.

    = section "Primary Prefixes" do
      %p The primary prefixes are those that are fully productive in the modern language. They have clear semantics and can be found in neologisms and attached to stems of non-Romance origin.

      = section "A-" do
        %p The prefix <i>a-</i> (or <i>ad-</i> before a vowel) most commonly indicates completion or totality of action, and by extension can serve as an emphatic.
        %table
          %thead
            %tr
              %th Word
              %th Meaning
              %th
              %th Verb
              %th Meaning
          %tbody
            %tr
              %td fraggey [ˈfraː.gej]
              %td break
              %td.arrow →
              %td afragey [ˈaː.ˈfraː.gej]
              %td smash
            %tr
              %td fondey [ˈfoːn.dej]
              %td pour
              %td.arrow →
              %td afondey [ˈaː.ˈfoːn.dej]
              %td pour to the top
            %tr
              %td bivey [ˈbi.vej]
              %td drink
              %td.arrow →
              %td abivey [ˈaː.ˈbi.vej]
              %td drink up
            %tr
              %td freví [frə.ˈviː]
              %td boil
              %td.arrow →
              %td afreví [ˈaː.frə.ˈviː]
              %td boil off
            %tr
              %td hemé [xə.ˈmeə]
              %td worry
              %td.arrow →
              %td ahemé [aː.xə.ˈmeə]
              %td distress

        %p It can also turn stative verbs into semelfactive or punctual verbs.
        %table
          %thead
            %tr
              %th Word
              %th Meaning
              %th
              %th Verb
              %th Meaning
          %tbody
            %tr
              %td presá [prə.ˈsaː]
              %td press
              %td.arrow →
              %td apresá [ʌ.prə.ˈsaː]
              %td pound
            %tr
              %td viçené [ˈvi.ʃə.neː]
              %td see
              %td.arrow →
              %td aviçené [ˈaː.viʃ.ˈneə]
              %td glance, catch sight
            %tr
              %td sèndey [ˈseːn.dej]
              %td touch, feel
              %td.arrow →
              %td asèndey [ˈaː.ˈseːn.dej]
              %td touch, make contact with
            %tr
              %td eridey [ˈe.ri.dej]
              %td burn
              %td.arrow →
              %td s-adèridey [ˈsaː.ˈde.ri.dej]
              %td go up in flames
            %tr
              %td meliá [məl.ˈjaː]
              %td wet
              %td.arrow →
              %td ameliá [ˈaː.məl.ˈjaː]
              %td drench

      = section "Na-" do
        %p The prefix <i>na-</i> (<i>n-</i> before a vowel) serves as an ingressive, indicating action in or into something else.
        %table
          %thead
            %tr
              %th Word
              %th Meaning
              %th
              %th Verb
              %th Meaning
          %tbody
            %tr
              %td pretá [prə.ˈtaː]
              %td carry
              %td.arrow →
              %td napretá [ˈnaː.prə.ˈtaː]
              %td bring, bring in
            %tr
              %td fondey [ˈfoːn.dej]
              %td pour
              %td.arrow →
              %td nafondey [ˈnaː.ˈfoːn.dej]
              %td pour in
            %tr
              %td yst-restá [ˈist.rəs.taː]
              %td reside
              %td.arrow →
              %td ys-narestâ [ˈis.nʌ.rəs.ˈtaː]
              %td take up residence
            %tr
              %td uní [u.ˈniː]
              %td go
              %td.arrow →
              %td naní [ˈnaː.ˈniː]
              %td go in#{footnote}
            %tr
              %td priclisí [ˈpri.kli.ziː]
              %td match
              %td.arrow →
              %td napriclisí [ˈnaː.ˈpri.kli.ziː]
              %td pair, make match

        %p A common extension of the ingressive meaning is an inchoative, indicating start of an action. Note that with inchoatives, it is common for intransitive derivatives to appear in the mediopassive voice, even if the base is intransitive in the active voice.
        %table
          %thead
            %tr
              %th Word
              %th Meaning
              %th
              %th Verb
              %th Meaning
          %tbody
            %tr
              %td dremí [drə.ˈmiː]
              %td sleep
              %td.arrow →
              %td ys-nadremí [ˈis.nʌ.drə.ˈmiː]
              %td fall asleep
            %tr
              %td velá [və.ˈlaː]
              %td fly
              %td.arrow →
              %td ys-navelá [ˈis.nʌ.ˈvlaː]
              %td take flight
            %tr
              %td ríná [ˈriː.naː]
              %td own
              %td.arrow →
              %td naríná [ˈnaː.ˈriː.naː]
              %td take possession
            %tr
              %td imá [i.ˈmaː]
              %td love
              %td.arrow →
              %td ys-nemá [ˈis.nə.ˈmaː]
              %td fall in love
            %tr
              %td florí [flu.ˈriː]
              %td be in bloom
              %td.arrow →
              %td ys-naflorí [ˈis.nʌ.flu.ˈriː]
              %td bloom

        %p It can also indicate repetition of an earlier action, particularly when there is an ingressive sense.
        %table
          %thead
            %tr
              %th Word
              %th Meaning
              %th
              %th Verb
              %th Meaning
          %tbody
            %tr
              %td vivey [ˈvi.vej]
              %td live
              %td.arrow →
              %td navivey [ˈnaː.ˈvi.vej]
              %td revive
            %tr
              %td noví [nu.ˈviː]
              %td be new
              %td.arrow →
              %td nanoví [ˈnaː.nu.ˈviː]
              %td renew, restore
            %tr
              %td çèrecá [ˈʃe.rə.kaː]
              %td load
              %td.arrow →
              %td naçèrecá [ˈnaː.ˈʃe.rə.kaː]
              %td recharge
            %tr
              %td yschí [is.ˈkiː]
              %td know
              %td.arrow →
              %td naschí [ˈnaːs.ˈkiː]
              %td shame
            %tr
              %td diccey [ˈdi.kej]
              %td say
              %td.arrow →
              %td nadiccey [ˈnaː.ˈdi.kej]
              %td repeat

      = section "Treis-" do
        %p The prefix <i>treis-</i> (<i>trei-</i> before /s/) marks excess. Intransitive excessive verbs almost always appear in the middle voice.
        %table
          %thead
            %tr
              %th Word
              %th Meaning
              %th
              %th Verb
              %th Meaning
          %tbody
            %tr
              %td bivey [ˈbi.vej]
              %td “drink”
              %td.arrow →
              %td ys-treisbivey [is.ˈtrejz.ˈbi.vej]
              %td “become drunk”
            %tr
              %td chená [kə.ˈnaː]
              %td “eat”
              %td.arrow →
              %td ys-treischená [is.ˈtrejs.kə.ˈnaː]
              %td “overeat”
            %tr
              %td prelá [prə.ˈlaː]
              %td “talk”
              %td.arrow →
              %td ys-treisprelá [is.ˈtrejs.prə.ˈlaː]
              %td “talk too much”
            %tr
              %td navlé [ˈnaː.ˈvleə]
              %td “value”
              %td.arrow →
              %td treisnavlé [ˈtrejz.nʌ.ˈvleə]
              %td “overestimate”
            %tr
              %td veiccey [ˈvej.kej]
              %td “win”
              %td.arrow →
              %td treisveiccey [ˈtrejz.ˈvej.kej]
              %td “win easily”

      = section "Ys-" do
        %p The prefix <i>ys-</i> (<i>yst-</i> before /r/) serves as an egressive, indicating action out of something else. It often carries the opposite meaning of the ingressive <i>na-</i>.
        %table
          %thead
            %tr
              %th Word
              %th Meaning
              %th
              %th Verb
              %th Meaning
          %tbody
            %tr
              %td pretá [prə.ˈtaː]
              %td carry
              %td.arrow →
              %td yspretá [ˈis.prə.ˈtaː]
              %td take, take out
            %tr
              %td fondey [ˈfoːn.dej]
              %td pour
              %td.arrow →
              %td ysfondey [ˈis.ˈfoːn.dej]
              %td pour out
            %tr
              %td yst-restá [ˈis.trəs.taː]
              %td reside
              %td.arrow →
              %td s-ystrestá [ˈsis.trəs.ˈtaː]
              %td move out
            %tr
              %td uní [u.ˈniː]
              %td go
              %td.arrow →
              %td ysní [ˈis.ˈniː]
              %td go out
            %tr
              %td priclisí [ˈpri.kli.ziː]
              %td match
              %td.arrow →
              %td yspriclisí [ˈis.ˈpri.kli.ziː]
              %td unpair

        %p This prefix is not always paired with <i>na-</i>. When no counterpart in <i>na-</i> exists, the egressive <i>ys-</i> can take on a reversative (i.e., undoing an action), privative (i.e., removing something), or negative (i.e., opposite of an action) sense.
        %table
          %thead
            %tr
              %th Word
              %th Meaning
              %th
              %th Verb
              %th Meaning
          %tbody
            %tr
              %td icftá [ik.ˈftaː]
              %td agree
              %td.arrow →
              %td ysicftá [ˈi.sik.ˈftaː]
              %td refuse
            %tr
              %td preçé [prə.ˈʃeəː]
              %td like
              %td.arrow →
              %td yspreçé [ˈis.prə.ˈʃeə]
              %td dislike
            %tr
              %td será [sə.ˈraː]
              %td lock
              %td.arrow →
              %td ysserá [ˈis.sə.ˈraː]
              %td unlock
            %tr
              %td interesá [ˈiːn.trə.saː]
              %td interest
              %td.arrow →
              %td s-usinteresâ [su.ˈsiːn.trə.saː]
              %td lose interest
            %tr
              %td nevá [nə.ˈvaː]
              %td snow
              %td.arrow →
              %td ysnevá [ˈis.nə.ˈvaː]
              %td de-ice

    = section "Secondary Prefixes" do
      %p The secondary prefixes are forms inherited from Latin, but whose usage is restricted to inherited vocabulary or neo-Latin calques. The situation may be compared to Latinate prefixes in English: forms such as <i>include</i> and <i>exclude</i> contain prefixes with clear meaning, but the actual derivational process (as well as the stem *-clude) are calques from Latin bases, not native to English.
      %p In the case of a Romance language like Tunisian, there are many instances of each of these prefixes with an unbroken chronology dating back to Vulgar Latin. These forms were later extrapolated and generalized to neo-Latin borrowings, so that native Tunisian <i>cu-</i>, for instance, would substitute for any instance of neo-Latin <i>con-</i>.

      = section "Ad- (a-, i-)" do
        %p The prefix <i>a(d)-</i> descends from Latin <i>ad-</i>, and is cognate to the primary prefix <i>a-</i>. It has a variant <i>i-</i> that is more common in inherited vocabulary; <i>a(d)-</i> is more common in learned borrowings.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                *abbatere
                %br
                “beat down”
              %td.arrow →
              %td iptey [ˈip.tej]
              %td “fell, demolish”
            %tr
              %td
                administrāre
                %br
                “attend to”
              %td.arrow →
              %td administrâ [ˈaːd.mi.nəs.traː]
              %td “administer”
            %tr
              %td
                afferre
                %br
                “carry forth”
              %td.arrow →
              %td ifrí [i.ˈfriː]
              %td “carry out, produce”
            %tr
              %td
                ascendere
                %br
                “climb up”
              %td.arrow →
              %td iscendey [ˈi.sən.dej]
              %td “go up, rise”
            %tr
              %td
                aspīrāre
                %br
                “blow upon”
              %td.arrow →
              %td isprá [is.ˈpraː]
              %td “breathe”

      = section "Cu- (che-, con-)" do
        %p The prefix <i>cu-</i> descends from Latin <i>con-</i>, sometimes appearing in a reduced form <i>che-</i>. It frequently takes the form <i>con-</i> in learned borrowings.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                computāre
                %br
                “count”
              %td.arrow →
              %td chemtá [kəm.ˈtaː]
              %td “count”
            %tr
              %td
                condūcere
                %br
                “lead”
              %td.arrow →
              %td cheduccey [kə.ˈdu.kej]
              %td “drive”
            %tr
              %td
                cōnfundere
                %br
                “mix together, confuse”
              %td.arrow →
              %td cufondey [ku.ˈfoːn.dej]
              %td “confuse”
            %tr
              %td
                convincere
                %br
                “convince”
              %td.arrow →
              %td cheveiccey [kə.ˈvej.kej]
              %td “convince”
            %tr
              %td
                *convīvere
                %br
                “live with”
              %td.arrow →
              %td ys-cuvivey [is.ku.ˈvi.vej]
              %td “live together”

      = section "Dis- (di-, de-)" do
        %p The prefix <i>de(s)-</i> descends from Latin <i>dis-</i>. It occasionally surfaces as simply <i>d-</i> in some native forms.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                differre
                %br
                “disperse”
              %td.arrow →
              %td defrí [də.ˈfriː]
              %td “differ”
            %tr
              %td
                discontinuāre
                %br
                “disunite”
              %td.arrow →
              %td discontinoá [dis.ˈkoːn.tɪn.waː]
              %td “discontinue”
            %tr
              %td
                dissentīre
                %br
                “dissent”
              %td.arrow →
              %td disèndey [di.ˈseːn.dej]
              %td “dissent”
            %tr
              %td
                dissolvere
                %br
                “loosen”
              %td.arrow →
              %td disolbey [di.ˈsoːl.bej]
              %td “dissolve”
            %tr
              %td
                dīvertere
                %br
                “divert”
              %td.arrow →
              %td divèrity [ˈdi.ˈve.ri.ti]
              %td “amuse”

      = section "Entr- (entre-)" do
        %p The prefix <i>entr(e)-</i> descends from Latin <i>inter-</i>, <i>intra-</i>, and <i>intrō-</i>.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                intermittere
                %br
                “put between”
              %td.arrow →
              %td s-entremétey [ˈseːn.trə.ˈmeə.tej]
              %td “intervene”
            %tr
              %td
                intersecāre
                %br
                “cut between”
              %td.arrow →
              %td entresecá [ˈeːn.trə.sə.ˈkaː]
              %td “intersect”
            %tr
              %td
                *intraperīre
                %br
                “leave ajar”
              %td.arrow →
              %td entreprey [ˈeːn.trə.prej]
              %td “leave ajar”
            %tr
              %td
                *intravidēre
                %br
                “glimpse”
              %td.arrow →
              %td entrevedèe [ˈeːn.trə.və.ˈdeə]
              %td “glimpse”
            %tr
              %td
                intrōdūcere
                %br
                “introduce”
              %td.arrow →
              %td entreduccey [ˈeːn.trə.ˈdu.kej]
              %td “introduce”

      = section "N- (î-, m-)" do
        %p The prefix <i>n-</i> descends from Latin <i>in-</i>, and is cognate to the primary prefix <i>na-</i>. It sometimes surfaces as <i>î-</i> or as <i>m-</i> before labial consonants, though only in inherited vocabulary.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                importāre
                %br
                “carry in”
              %td.arrow →
              %td mpretá [ɪm.prə.ˈtaː]
              %td “matter”
            %tr
              %td
                inclīnāre
                %br
                “bend”
              %td.arrow →
              %td íclená [ˈiː.klə.ˈnaː]
              %td “bend”
            %tr
              %td
                īnfirmāre
                %br
                “weaken”
              %td.arrow →
              %td ífremá [ˈiː.frə.maː]
              %td “make sick”
            %tr
              %td
                īnfundere
                %br
                “pour in”
              %td.arrow →
              %td nfondey [ɪn.ˈfoːn.dej]
              %td “infuse”
            %tr
              %td
                inodīre
                %br
                “make hateful”
              %td.arrow →
              %td nodí [nu.ˈdiː]
              %td “bore”

      = section "Pri-" do
        %p The prefix <i>pri-</i> represents a merger of the Latin prefixes <i>per-</i>, <i>prae-</i>, and <i>pro-</i>. In more recent reborrowings from Latin, these suffixes may be distinguished as <i>pre-</i>, <i>pri-</i>, and <i>pru-</i> respectively.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                *periungere
                %br
                “join across”
              %td.arrow →
              %td prióccey [pri.ˈjɔə.kej]
              %td “attach”
            %tr
              %td
                permittere
                %br
                “let go”
              %td.arrow →
              %td premétey [prə.ˈmeə.tej]
              %td “permit”
            %tr
              %td
                praedētermināre
                %br
                “delimi t beforehand”
              %td.arrow →
              %td pridetèrminá [ˈpri.də.ˈteːr.mə.naː]
              %td “predetermine”
            %tr
              %td
                praesuppōnere
                %br
                “presuppose”
              %td.arrow →
              %td prisuponey [ˈpri.sup.nej]
              %td “presume”
            %tr
              %td
                praevidēre
                %br
                “see first”
              %td.arrow →
              %td privedé [ˈpri.və.deː]
              %td “expect”

      = section "Ra- (r-)" do
        %p The prefix <i>ra-</i> descends from Latin <i>re-</i>. It often surfaces without a vowel, as <i>r-</i> [ɪr].
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                recipere
                %br
                “receive”
              %td.arrow →
              %td rçipey [ɪr.ˈʃi.pej]
              %td “receive”
            %tr
              %td
                reclāmāre
                %br
                “protest”
              %td.arrow →
              %td raclemá [ˈraː.klə.ˈmaː]
              %td “protest”
            %tr
              %td
                *recordāre
                %br
                “remember”
              %td.arrow →
              %td racredâ [ˈraː.krə.ˈdaː]
              %td “remember”
            %tr
              %td
                retardāre
                %br
                “delay”
              %td.arrow →
              %td ratredá [ˈraː.trə.ˈdaː]
              %td “delay”
            %tr
              %td
                revolvere
                %br
                “turn over”
              %td.arrow →
              %td rvouvey [ɪr.ˈvow.vej]
              %td “turn, direct”

      = section "Sob- (so-, su-, se-)" do
        %p The prefix <i>so(b)-</i> descends from Latin <i>sub-</i>. It may also appear as <i>su-</i> or <i>se-</i> in inherited vocabulary.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                *subcavāre
                %br
                “dig under”
              %td.arrow →
              %td succevá [ˈsu.kə.vaː]
              %td “tunnel, mine”
            %tr
              %td
                subscrībere
                %br
                “write under, sign”
              %td.arrow →
              %td suscribey [ˈsus.kri.bej]
              %td “subscribe”
            %tr
              %td
                sufferre
                %br
                “suffer”
              %td.arrow →
              %td sefrî [sə.ˈfriː]
              %td “suffer, endure”
            %tr
              %td
                suppōnere
                %br
                “suppose”
              %td.arrow →
              %td suponey [ˈsu.pu.nej]
              %td “suppose”
            %tr
              %td
                surgere
                %br
                “rise”
              %td.arrow →
              %td soruggey [ˈsɔ.ru.gej]
              %td “emerge, advance”


      = section "Trás- (trá-, tre-, tra-, treis-)" do
        %p The prefix <i>trá(s)-</i> descends from Latin <i>trāns-</i>. It may appear as <i>tre-</i> as well in inherited forms, or less commonly as <i>tra-</i> or <i>treis-</i>.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                *trādere
                %br
                “hand over”
              %td.arrow →
              %td trady [ˈtraː.di]
              %td “betray”
            %tr
              %td
                trādūcere
                %br
                “lead across”
              %td.arrow →
              %td treduccey [trə.ˈdu.kej]
              %td “transfer”
            %tr
              %td
                *trānsportāre
                %br
                “transport”
              %td.arrow →
              %td tráspretá [ˈtraːs.prə.taː]
              %td “transport”
            %tr
              %td
                trānsscrībere
                %br
                “transcribe”
              %td.arrow →
              %td tráscribey [ˈtraːs.kri.bej]
              %td “transcribe”
            %tr
              %td
                *trānsvolvere
                %br
                “turn across(?)”
              %td.arrow →
              %td treisvouvey [ˈtrejz.ˈvow.vej]
              %td “overwhelm”

      = section "Ys-" do
        %p The prefix <i>ys-</i> descends from Latin <i>ex-</i>, and is cognate to the primary prefix <i>ys-</i>.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                *excambiāre
                %br
                “exchange”
              %td.arrow →
              %td yschembá [ˈis.kɪm.baː]
              %td “exchange”
            %tr
              %td
                excavāre
                %br
                “hollow out”
              %td.arrow →
              %td yschevâ [ˈis.kə.vaː]
              %td “dig”
            %tr
              %td
                explicāre
                %br
                “unfold”
              %td.arrow →
              %td ysplecá [ˈis.plə.kaː]
              %td “explain”
            %tr
              %td
                *extorcere
                %br
                “extort”
              %td.arrow →
              %td ystoruccey [ˈis.tu.ru.kej]
              %td “extort”
            %tr
              %td
                *exsolāre
                %br
                “single out”
              %td.arrow →
              %td ysselá [ˈis.sə.laː]
              %td “isolate”

      = section "Yspr- (yspre-)" do
        %p The prefix <i>yspr(e)-</i> descends from Latin <i>super-</i>. It may reduce to <i>ys-</i> before a consonant + /r/ (becoming indistinguishable from the prefix <i>ys-</i>), although etymologically it is clearly derived from <i>super-</i>, not <i>ex-</i>.
        %table
          %thead
            %tr
              %th Latin
              %th
              %th Tunisian
              %th Meaning
          %tbody
            %tr
              %td
                *superpassāre
                %br
                “pass over”
              %td.arrow →
              %td ysprpesá [ˈis.pɪr.pə.ˈsaː]
              %td “surpass, overcome”
            %tr
              %td
                *superprendere
                %br
                “surprise, seize”
              %td.arrow →
              %td ysprendé [ˈis.prɪn.deː]
              %td “surprise”
            %tr
              %td
                superscrībere
                %br
                “overwrite”
              %td.arrow →
              %td ysprescribey [ˈis.prəs.kri.bej]
              %td “overwrite”
            %tr
              %td
                *supervigilāre
                %br
                “watch over”
              %td.arrow →
              %td ysprveglá [ˈis.pɪr.və.ˈglaː]
              %td “survey”
            %tr
              %td
                supervīvere
                %br
                “survive”
              %td.arrow →
              %td ysprvivey [ˈis.pɪr.ˈvi.vej]
              %td “survive”

= section "Compounds" do
  %p Compounding plays a comparatively smaller role in Tunisian than in other Romance languages. Only two kinds are considered productive in the modern language: coordinate adjectives and verb–noun compounds.
  %p Coordinate adjectives represent a broad class of endocentric compounds consisting of two coequal adjective stems. In the most common type, the first adjective appears as its bare stem (or with <i>-i</i> in place of the <i>nisbe</i>), while the second adjective declines normally. If the first adjective is stressed on its final syllable and the second on its first, the stress in the first adjective may move forward.
  %table
    %thead
      %tr
        %th Base 1
        %th Base 2
        %th
        %th Compound
    %tbody
      %tr
        %td
          griçí [gri.ˈʃiː]
          %br
          “Greek”
        %td
          rumá [ru.ˈmaː]
          %br
          “Roman”
        %td.arrow →
        %td
          griçi-rumá [ˈgri.ʃi.ru.ˈmaː]
          %br
          “Greco-Roman”
      %tr
        %td
          dolc [ˈdoːlk]
          %br
          “sweet”
        %td
          amérg [ʌ.ˈmeːrg]
          %br
          “bitter”
        %td.arrow →
        %td
          dolcamérg [ˈdoːl.kʌ.ˈmeːrg]
          %br
          “bittersweet”
      %tr
        %td
          colrat [ˈkoːl.dʌt]
          %br
          “dark”
        %td
          ros [ˈros]
          %br
          “red”
        %td.arrow →
        %td
          colratros [ˈkoːl.dʌ.ˈtros]
          %br
          “dark red”
      %tr
        %td
          virid [ˈvi.rid]
          %br
          “green”
        %td
          ázulí [ʌ.zu.ˈliː]
          %br
          “blue”
        %td.arrow →
        %td
          virid-ázulí [ˈvi.ri.dʌ.zu.ˈliː]
          %br
          “blue-green”
      %tr
        %td
          tére [ˈteə.rə]
          %br
          “land”
        %td
          acal [ʌ.ˈkaːl]
          %br
          “aquatic”
        %td.arrow →
        %td
          téracal [ˈteə.rʌ.kaːl]
          %br
          “amphibious”

  %p Coordinate adjectives can also make use of a number of fixed modifiers as the first element, often with quantifier or prepositional bases. These pseudo-prefixes are generally part of more formal registers and are often calques from European languages rather than spontaneous formations.
  %table
    %thead
      %tr
        %th Base 1
        %th Base 2
        %th
        %th Compound
        %th Meaning
    %tbody
      %tr
        %td
          molt [ˈmoːlt]
          %br
          “many”
        %td
          naciunal [ˈnaː.sju.naːl]
          %br
          “national”
        %td.arrow →
        %td molti-naciunal [ˈmoːl.ti.ˈnaː.sju.naːl]
        %td multinational
      %tr
        %td
          soft [ˈsoft]
          %br
          “under”
        %td
          ros [ˈros]
          %br
          “red”
        %td.arrow →
        %td softi-ros [ˈsof.ti.ˈros]
        %td infrared
      %tr
        %td
          bes [ˈbɛs]
          %br
          “again”
        %td
          embalí [eːm.bʌ.ˈliː]
          %br
          “annual”
        %td.arrow →
        %td bes-embalí [ˈbe.seːm.bʌ.ˈliː]
        %td biennial
      %tr
        %td
          pseud(i)- [ˈsew.di]
          %br
          “pseudo-, false”
        %td
          sçièntific [ˈstʃeːn.ti.fik]
          %br
          “scientific”
        %td.arrow →
        %td pseudi-sçièntific [ˈsew.dis.ˈtʃeːn.ti.fik]
        %td pseudoscientific
      %tr
        %td
          ecs(i)- [ˈɛk.si]
          %br
          “ex-, former”
        %td
          prèsident [ˈpre.si.dənt]
          %br
          “president”
        %td.arrow →
        %td
          ecsi-prèsident [ˈɛk.si.ˈpre.si.dənt]
        %td ex-president

  %p Other adjective compounds, particular the ADJ+NOUN type, are very rare in Tunisian, although in English they are quite common. Tunisian prefers to handle such forms phrasally, with an adjective modified by a prepositional phrase.
  %table
    %thead
      %tr
        %th Tunisian
        %th English
    %tbody
      %tr
        %td
          hár com tiće
          %br
          “hot like a coal”
        %td red-hot
      %tr
        %td
          enérgit by vend
          %br
          energized by wind
        %td wind-powered
      %tr
        %td
          doéh dí má
          %br
          “dizzy from the sea”
        %td seasick
      %tr
        %td
          yóc yspor yd qaoe
          %br
          “with the flavor of coffee”
        %td coffee-flavored
      %tr
        %td
          derèn by drazte
          %br
          “long in duration”
        %td long-term
      %tr
        %td
          dimí by virids
          %br
          permanent in greenness
        %td evergreen

  %p The verb–noun compound is the only productive compound noun in Tunisian. This construction, consisting of a verb in its third person singular present indicative plus the vowel /ə/, followed by a singular or plural noun, most commonly has instrumental meaning, although it can also indicate place or metonymically people. Similar constructions also appear throughout the Western Romance languages, although the Tunisian construction is not nearly as common as in, for instance, Spanish.
  %table
    %thead
      %tr
        %th Base 1
        %th Base 2
        %th
        %th Compound
    %tbody
      %tr
        %td
          iprey [ˈi.prej]
          %br
          “open”
        %td
          late [ˈlaː.tə]
          %br
          “can”
        %td.arrow →
        %td
          iprelats [ˈi.prə.ˈlaːts]
          %br
          “can opener”
      %tr
        %td
          trá [ˈtraː]
          %br
          “pull”
        %td
          çèricce [ˈʃe.ri.kə]
          %br
          “cork”
        %td.arrow →
        %td
          tireçèrics [ˈti.rə.ˈʃe.riks]
          %br
          “corkscrew”
      %tr
        %td
          gretá [grə.ˈtaː]
          %br
          “scratch”
        %td
          çil [ˈʃiːl]
          %br
          “sky”
        %td.arrow →
        %td
          grateçil [ˈgraː.tə.ˈʃiːl]
          %br
          skyscraper
      %tr
        %td
          levá [lə.ˈvaː]
          %br
          “wash”
        %td
          maccine [ˈmaː.ki.nə]
          %br
          “car”
        %td.arrow →
        %td
          lavemaccines [ˈlaː.və.ˈmaː.ki.nəz]
          %br
          “carwash”
      %tr
        %td
          pretá [prə.ˈtaː]
          %br
          “carry”
        %td
          pièce [ˈpje.sə]
          %br
          “coin”
        %td.arrow →
        %td
          protepièçs [ˈprɔ.tə.ˈpjɛs]
          %br
          “wallet”

  %p By and large, Tunisian prefers genitive phrases for coordinating nouns.
  %table
    %thead
      %tr
        %th Tunisian
        %th English
    %tbody
      %tr
        %td
          naval yd çèrecmind
          %br
          “ship of cargo”
        %td cargo ship
      %tr
        %td
          ponde d fraçe
          %br
          “point of the arrow”
        %td arrowhead
      %tr
        %td
          nucte d fusciun
          %br
          “point of liquifaction”
        %td melting point
      %tr
        %td
          cárte d crèdit
          %br
          “card of credit”
        %td credit card
      %tr
        %td
          sħanduq yd chibrits
          %br
          “box of matches”
        %td matchbox

= section "Loanwords" do
  %p Loanwords can be incorporated into Tunisian through a number of different strategies.
  %p Calquing, the translation of a word morpheme-by-morpheme, is readily used when borrowing all types of speech. Many examples were previously shown, where individual prefixes, roots, and suffixes are translated into their corresponding Tunisian forms; this is particularly common when the source language is Romance, as Tunisian is likely to have cognate corresponding morphemes. Calques from Arabic are also common, but these tend to be phrasal rather than individual words. Parts of speech may be adapted as necessary; notice how “honeymoon” below is loaned as <i>lunure n mel</i> with the nonce word <i>lunure</i> “lunation(?)” with the resulative suffix <i>-ure</i> used rather than the concrete noun <i>lune</i> “moon”, as the former was perceived as more semantically appropriate to revent to an event than the literal moon.
  %table
    %thead
      %tr
        %th Source
        %th
        %th Tunisian
        %th Literal
    %tbody
      %tr
        %td lieutenant (French)
        %td.arrow →
        %td
          loctenèn [ˈlok.tə.ˈneːn]
          %br
          “lieutenant”
        %td “place-holding”
      %tr
        %td weekend (English)
        %td.arrow →
        %td
          fímind yd gime [ˈfiː.mi.nid.ʒi.mə]
          %br
          “weekend”
        %td “end of the week”
      %tr
        %td
          surveiller (French)
          %br
          “monitor”
        %td.arrow →
        %td
          ysprveglá [ˈis.pɪr.və.ˈglaː]
          %br
          “survey”
        %td “over-watch”
      %tr
        %td
          chemin de fer (French)
          %br
          “railroad”
        %td.arrow →
        %td
          vie d fé [ˈvi.jət.ˈfeə]
          %br
          “railroad”
        %td “path of iron”
      %tr
        %td
          honeymoon (English)
        %td.arrow →
        %td
          lunure n mel [ˈlu.nu.rən.ˈmeːl]
          %br
          “honeymoon”
        %td “lunation of honey”

  %p Null derivation refers to the conversion of a foreign base into a Tunisian word without any derivational suffixes, simply by adding inflectional endings (if needed) to the borrowed stem. This is common with all parts of speech except verbs, perhaps due to non-verbal morphology being very minimal or nonexistent in Tunisian. Null derivation of verbs was once common (and there are many old borrowings of Berber or Phoenician origin to demonstrate this), but is very rare now.
  %table
    %thead
      %tr
        %th Source
        %th
        %th Tunisian
    %tbody
      %tr
        %td
          pièce (French)
          %br
          “coin”
        %td.arrow →
        %td
          pièce [ˈpje.sə]
          %br
          “coin”
      %tr
        %td
          citoyen (French)
          %br
          “citizen”
        %td.arrow →
        %td
          citoén [si.ˈtweːn]
          %br
          “citizen”
      %tr
        %td
          dīmā (Tunisian Arabic)
          %br
          “always”
        %td.arrow →
        %td
          dima [ˈdi.mʌ]
          %br
          “always”
      %tr
        %td
          xammal (Tunisian Berber)
          %br
          “do housework”
        %td.arrow →
        %td
          hemlá [xəm.ˈlaː]
          %br
          “clean”
      %tr
        %td
          xemm (Tunisian Berber)
          %br
          “think, worry”
        %td.arrow →
        %td
          hemé [xə.ˈmeə]
          %br
          “upset”

  %p Gerundive verbs are a comparatively newer construction, having come into use starting in the late first millennium to replace null derivation for borrowing verbs of Semitic origin. This is a polyphrastic construction consisting of conjugated verb <i>faccey</i> “make, do” and an invariant verbal noun. Similar formations are seen in a number of languages that have had intensive contact with Arabic, as its nonconcatenative morphology means there is no clear fixed stem to adapt to Tunisian concatenative morphology, but a verbal noun can be borrowed with little trouble.
  %table
    %thead
      %tr
        %th Tunisian Arabic
        %th
        %th Tunisian
    %tbody
      %tr
        %td
          wedwed
          %br
          “talk nonsense”
        %td.arrow →
        %td
          faccey oèdoèd [ˈfaː.kej ˈwɛd.wɛd]
          %br
          “talk nonsense”
      %tr
        %td
          xatār
          %br
          “bet”
        %td.arrow →
        %td
          faccey hatá [ˈfaː.kej ˈxaː.taː]
          %br
          “bet, wager”
      %tr
        %td
          intqam (min)
          %br
          “avenge oneself”
        %td.arrow →
        %td
          faccey nqám [ˈfaː.kej in.ˈqaːm]
          %br
          “take revenge”
      %tr
        %td
          iħsid
          %br
          “envy”
        %td.arrow →
        %td
          faccey csid [ˈfaː.kej ˈksid]
          %br
          “envy”
      %tr
        %td
          xalf
          %br
          “follow”
        %td.arrow →
        %td
          ys-faccey haof [ˈis.fʌ.kej ˈxawf]
          %br
          “depend”

  %p Nominal gender is typically preserved when borrowed, aided by the fact that the feminine gender is coincidentally marked by <i>-a</i> in both the Romance and Semitic languages, which maps easily to Tunisian <i>-e</i>. Historically, Berber and Punic feminines in <i>-t</i> were adapted as <i>-te</i>, acquiring a more typical Tunisian form. Explicit masculine endings in Romance languages (such as Italian <i>-o</i> are almost always dropped.
  %table
    %thead
      %tr
        %th Source
        %th
        %th Tunisian
    %tbody
      %tr
        %td
          gare (French)
          %br
          “station”
        %td.arrow →
        %td
          gáre [ˈgaː.rə]
          %br
          “train station”
      %tr
        %td
          flauto (Italian)
          %br
          “flute”
        %td.arrow →
        %td
          flaot [ˈflawt]
          %br
          “flute”
      %tr
        %td
          rico (Italian)
          %br
          “rich”
        %td.arrow →
        %td
          ric [ˈrik]
          %br
          “rich”
      %tr
        %td
          posto (Italian)
          %br
          “position, post”
        %td.arrow →
        %td
          post [ˈpost]
          %br
          “mail”
      %tr
        %td
          mgrśt (Punic)
          %br
          “mortar”
        %td.arrow →
        %td
          megrèste [mə.ˈgrɛs.tə]
          %br
          “mortar”

  %p Borrowings from European languages typically remain close to their original spelling in the donor language, even if the pronunciation is altered to match Tunisian phonotactics and prosody. However, letters and accents not normally used in Tunisian are substituted (so that, for instance, the letters <i>k</i> or <i>w</i> will be replaced by <i>c</i> or <i>o</i>, though they may be kept in proper nouns).
  %table
    %thead
      %tr
        %th Source
        %th
        %th Tunisian
    %tbody
      %tr
        %td service (French)
        %td.arrow →
        %td
          sérvice [ˈseːr.vi.sə]
          %br
          “service, ammenity”
      %tr
        %td philosophia (Latin)
        %td.arrow →
        %td
          philosophie [ˈfiːl.su.fjə]
          %br
          “philosophy”
      %tr
        %td exāmen (Latin)
        %td.arrow →
        %td
          ecsam [ik.ˈsaːm]
          %br
          “exam”
      %tr
        %td sandwich (English)
        %td.arrow →
        %td
          sandoích [ˈsaːn.dwitʃ]
          %br
          “sandwich”
      %tr
        %td hockey (English)
        %td.arrow →
        %td
          hoccey [ˈxɔ.kej]
          %br
          “hockey”

  %p Borrowings from Arabic tend to be representative of the North African vernacular, not Modern Standard Arabic.
  %table
    %thead
      %tr
        %th Tunisian Arabic
        %th
        %th Tunisian
    %tbody
      %tr
        %td
          qahwe
          %br
          “coffee”
        %td.arrow →
        %td
          qaoe [ˈqaː.wə]
          %br
          “coffee”
      %tr
        %td
          ṣabbāṭ
          %br
          “shoes”
        %td.arrow →
        %td
          sħabat [ˈsˤaː.bʌt]
          %br
          “shoe”
      %tr
        %td
          ṭūba
          %br
          “baked brick”
        %td.arrow →
        %td
          tħube [ˈtˤu.bə]
          %br
          “brick”
      %tr
        %td
          zūm
          %br
          “juice, sap”
        %td.arrow →
        %td
          zum [ˈzuːm]
          %br
          “juice”
      %tr
        %td
          ʕraq
          %br
          “sweat”
        %td.arrow →
        %td
          araq [ˈaː.rʌq]
          %br
          “[distilled] spirit”
      %tr
        %td
          mēdde
          %br
          “substance”
        %td.arrow →
        %td
          made [ˈmaː.də]
          %br
          “component, ingredient”

%section.footnotes
  = footnote do
    Note that the distribution of Tunisian <i>-iá</i> and <i>-is</i> does not match up completely with English <i>-ian</i> and <i>-ese</i>, although they are quite close. Note, for instance, <i>sħéniá</i> “Chinese” or <i>aiglis</i> “English”.
  = footnote do
    However, this <i>cal</i> element can be seen in a number of interrogatives, such as <i>calom</i> “who?” and <i>caltemp</i> “when?”.
  = footnote do
    In Romanian, the original Latin infinitive was reinterpreted as a true noun, while an innovative ‘short’ infinitive took over the role of the non-finite verb form: <i>vedere</i> “sight” from Latin <i>vidēre</i> “to see”, with the new infinitive <i>[a] vedea</i> “to see”. In the Tunisian case, the reinterpretation of the infinitive as a noun was likely under the influence of Semitic and Berber languages, which lack an infinitive in the typical Romance sense, but do have simple nominalizations.
  = footnote do
    However, Tunisian infinitives do retain a few distinctly verbal characteristics as well, such as the ability to take direct objects, adverbial modifiers, and limited passivization. These behaviors will be discussed later in this grammar.
  = footnote do
    The prefixed verb <i>naní</i> “go in” contrasts with the unprefixed verb <i>ntrá</i> “enter” in that the latter refers primarily to entry into an enclosed space, such as a building, while the former is used for open spaces, such as a park or city. In addition, <i>naní</i> is often used for abstract movement such as a change in state; for instance, one might join (<i>naní</i>) a club or assume (<i>naní</i>) a presidency.
