- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "La Morphologgie Sustantivale"

= section "Gender" do
  = section "Gender in Tunisian" do
    %p As in the other Romance languages (as well as in Arabic and the Berber languages that so heavily influenced the early language), all Tunisian nouns inherently belong to one of several noun classes known as genders. Tunisian has two genders: masculine (<i>il genr mèsclí</i>) and feminine (<i>il genr fèmní</i>). All nouns are either masculine or feminine, which affects adjective and article agreement, pronoun use, and verbal agreement in complex verbal tenses.
    %p It is often but not always possible to predict the gender of a noun based simply on its ending. Almost all nouns ending in a consonant are masculine, while nouns ending in <i>-e</i> /ə/ are feminine. However, if the noun ends in any other vowel, there is no simple rule.
    %p In the plural, the gender contrast is completely neutralized for all nouns, resulting in a single common gender (<i>il genr cumú</i>).

  = section "Patterns of Gender" do
    %p Although the assignment of gender is arbitrary overall, a number of clear semantic and morphological patterns do exist. The following list is not exhaustive, but provides a general overview.

    = section "Masculine Nouns" do
      %ul
        %li All names of male individuals: <i>Petr</i> “Peter”, <i>Miccèl</i> “Michael”, <i>Metí</i> “Matthew”, <i>Púl</i> “Paul”, <i>Luic</i> “Lucius”, <i>Musá</i> “Moses”.
        %li All nouns referring to a male human being: <i>patr</i> “father”, <i>frat</i> “brother”, <i>fil</i> “son”, <i>ymic</i> “(male) friend”, <i>uçí</i> “(male) neighbor”.
        %li All occupations and titles when the individual is male: <i>malec</i> “king”, <i>mejèst</i> “(male) teacher”, <i>tħalb</i> “(male) student”, <i>pulicial</i> “policeman”, <i>prèsident</i> “(male) president”.
        %li Days of the week: <i>il domnic</i> “Sunday”, <i>il sçend</i> “Monday”, <i>il tèrit</i> “Tuesday”, <i>il çèrit</i> “Wednesday”, <i>il çeití</i> “Thursday”, <i>il sèschí</i> “Friday”, <i>l-usbat</i> “Saturday”.
        %li Names of months: <i>yanay</i> “January”, <i>febray</i> “February”, <i>mèrić</i> “March”, <i>ipril</i> “April”, <i>may</i> “May”, <i>yún</i> “June”, <i>yúl</i> “July”, <i>agust</i> “August”, <i>septambr</i> “September”, <i>uctóbr</i> “October”, <i>nuvambr</i> “November”, <i>desambr</i> “December”.
        %li Names of seasons: <i>rnoval</i> “spring”, <i>istat</i> “summer”, <i>otum</i> “autumn”, <i>ibeun</i> “winter”.
        %li Names of trees: <i>balúdħ</i> “oak”, <i>accé</i> “maple”, <i>frecs</i> “ash”, <i>pí</i> “pine”, <i>zaitúnay</i> “olive tree”, <i>tambray</i> “date palm”, <i>tefahay</i> “apple tree”, <i>cámusay</i> “fig tree”, <i>harúb</i> “carob”.
        %li Names of metals: <i>źáb</i> “gold”, <i>ireggeit</i> “silver”, <i>bronz</i> “bronze”, <i>cupr</i> “copper”, <i>promb</i> “lead”, <i>fé</i> “iron”.
        %li Names of oceans: <i>l-Atlántic</i> “Atlantic Ocean”, <i>il Pçific</i> “Pacific Ocean”, <i>l-Óccian Hindí</i> “Indian Ocean”, <i>l-Óccian Nórti-Polarí</i> “Arctic Ocean”, <i>l-Óccian Sudi-Polarí</i> “Southern Ocean”.
        %li Names of rivers: <i>il Níl</i> “Nile”, <i>il Rén</i> “Rhine”, <i>il Danuib</i> “Danube”, <i>il Mississippi</i> “Mississippi”, <i>il Yangtzi</i> “Yangtze”.
        %li Names of seas: <i>il Mèditraní</i> “Mediterranean Sea”, <i>il Baltic</i> “Baltic Sea”, <i>il Má Nigr</i> “Black Sea”, <i>il Má Ros</i> “Red Sea”, <i>il Má Tirení</i> “Tyrrhenian Sea”.
        %li Names of letters: <i>á</i> “A”, <i>bé</i> “B”, <i>cé</i> “C”, <i>á derèn</i> “Á”.
        %li Nouns ending in <i>-or</i> or <i>-r</i>: <i>compiutr</i> “computer”, <i>dador</i> “donor, dealer”, <i>dèptor</i> “debtor”, <i>lègor</i> “reader”, <i>hamlor</i> “cleaner”.
        %li Nouns ending in <i>-iá</i>: <i>tenèsiá</i> “Tunisian”, <i>ilectriçiá</i> “electrician”, <i>musçiá</i> “musician”, <i>tècniçiá</i> “technician, programmer”, <i>ambriçiá</i> “American”.
        %li Nouns ending in <i>-ay</i>: <i>caunay</i> “butcher”, <i>penay</i> “baker”, <i>pescay</i> “fisherman”, <i>zaitúnay</i> “olive tree”.
        %li Nouns ending in <i>-mind</i>: <i>cumiztmind</i> “beginning”, <i>fímind</i> “end”, <i>ystèntmind</i> “building”, <i>yudcmind</i> “judgment”, <i>vèstmind</i> “clothing”.
        %li Nouns ending in <i>-al</i>: <i>postal</i> “mailman”, <i>pulicial</i> “policeman”, <i>ministral</i> “minister”, <i>fremacial</i> “pharmacist”.
        %li Nouns ending in <i>-cl</i>: <i>yspectacl</i> “show”, <i>bracl</i> “miracle”, <i>iprecl</i> “opener”, <i>peiscl</i> “weight”, <i>íflamcl</i> “lighter”, <i>yscripcl</i> “pencil”.
        %li Nouns ending in <i>-í</i>: <i>arabí</i> “Arab”, <i>muslimí</i> “Muslim”, <i>yaodí</i> “Jew”, <i>uçí</i> “neighbor”.

    = section "Feminine Nouns" do
      %ul
        %li All names of female individuals: <i>Catrine</i> “Catherine”, <i>Lène</i> “Helen”, <i>Marie</i> “Mary”, <i>Aodré</i> “Audrey”, <i>Nicole</i> “Nicole”, <i>Tèsrile</i> “Tesrile”, <i>Luíse</i> “Louise”.
        %li All nouns referring to a female human being: <i>matre</i> “mother”, <i>só</i> “sister”, <i>filie</i> “daughter”, <i>ymche</i> “(female) friend”, <i>uçine</i> “(female) neighbor”.
        %li All occupations and titles when the individual is female: <i>malche</i> “queen”, <i>mejèste</i> “(female) teacher”, <i>tħalbe</i> “(female) student”, <i>puliciale</i> “policewoman”, <i>prèsidente</i> “(female) president”.
        %li All unanalyzable names of cities: <i>Tenès</i> “Tunis”, <i>Sħafaqes</i> “Sfax”, <i>Rume</i> “Rome”, <i>París</i> “Paris”, <i>Qaire</i> “Cairo”, <i>Washington</i> “Washington”.
        %li All unanalyzable names of countries: <i>Tenès</i> “Tunisia”, <i>Mèhrib</i> “Morocco”, <i>Masħre</i> “Egypt”, <i>Freicce</i> “France”, <i>Sħén</i> “China” (but: <i>l-Ustats Units</i> “United States” is masculine, because the head <i>ystat</i> “state” is masculine).
        %li Names of fruits: <i>tefahe</i> “apple”, <i>púlgane</i> “orange”, <i>haohe</i> “peach”, <i>acne</i> “grape”, <i>cámuse</i> “fig”, <i>zaitúne</i> “olive”.
        %li Nouns ending in <i>-re</i>: <i>dadre</i> “(female) donor, dealer”, <i>dèptre</i> “(female) debtor”, <i>lègre</i> “(female) reader”, <i>hamlre</i> “(female) cleaner, housekeeper”, <i>cheducre</i> “(female) driver”.
        %li Nouns ending in <i>-iane</i>: <i>tenèsiane</i> “Tunisian woman”, <i>istoriane</i> “(female) historian”, <i>musçiane</i> “(female) musician”, <i>yspórtiste</i> “(female) athlete”, <i>ambriçiane</i> “American woman”.
        %li Nouns ending in <i>-aire</i> or <i>-re</i>: <i>penaire</i> “(female) baker”, <i>iggesre</i> “(female) journalist”.
        %li Nouns ending in <i>-ale</i>: <i>postale</i> “mailwoman”, <i>puliciale</i> “policewoman”, <i>fremaciale</i> “(female) pharmacist”.
        %li Nouns ending in <i>-ie</i>: <i>arabie</i> “Arab woman”, <i>muslimie</i> “Muslim woman”, <i>yaodie</i> “Jewish woman”.
        %li Nouns ending in <i>-ism</i>: <i>naciunalism</i> “nationalism”, <i>comunism</i> “communism”, <i>capitalism</i> “capitalism”, <i>íćèísm</i> “atheism”.
        %li Nouns ending in <i>-ciun</i>: <i>revoltciun</i> “revolution”, <i>comunicaciun</i> “communication”, <i>ímgraciun</i> “immigration”, <i>cronisciun</i> “colonization”.
        %li Nouns ending in <i>-te</i>: <i>megrèste</i> “mortar”, <i>súste</i> “rafter”, <i>jèlte</i> “puddle”.
        %li Nouns ending in <i>-tá</i>: <i>univérstá</i> “university”, <i>fahlitá</i> “ease”, <i>vèritá</i> “truth”, <i>simblitá</i> “similarity”, <i>dimitá</i> “eternity”.
        %li Nouns ending in <i>-zte</i>: <i>solstizte</i> “solstice”, <i>sèrvizte</i> “favor”, <i>ipreizte</i> “appearance”.
        %li Nouns ending in <i>-cie</i> or <i>-ce</i>: <i>ífluénce</i> “influence”, <i>udiènce</i> “audience”, <i>aliancie</i> “alliance”, <i>sérvice</i> “service, amenity”, <i>justice</i> “justice”.
        %li Nouns ending in <i>-ure</i>: <i>pezture</i> “paint”, <i>yscrefture</i> “text”, <i>nture</i> “nature”, <i>jerature</i> “injury”, <i>blicure</i> “curtain”.

= section "Number" do
  = section "Number in Tunisian" do
    %p Tunisian has two numbers: the singular (<i>il numbru seiglá</i>) and the plural (<i>il numbru plural</i>). For the vast majority of nouns, the plural is formed from the singular with the addition of the suffix <i>-s</i> (pronounced /z/), though the exact rules are more complicated.

  = section "Formation of the Plural" do
    %ol
      %li
        Words ending in a short vowel take <i>-s</i> /z/.
        %ul
          %li <i>numbru</i> [ˈnuːm.bru] → <i>numbrus</i> [ˈnuːm.bruz] “numbers”
          %li <i>dèou</i> [ˈde.wu] → <i>dèous</i> [ˈde.wuz] “gods”
          %li <i>medħavi</i> [mə.ˈdˤaː.vi] → <i>medħavis</i> [mə.ˈdˤaː.viz] “skylights”
      %li
        Words ending in a diphthong take <i>-s</i> /z/.
        %ul
          %li <i>cretay</i> [krə.ˈtaj] → <i>cretays</i> [krə.ˈtajz] “quarters”
          %li <i>yrio</i> [ˈi.riw] → <i>yrios</i> [ˈi.riwz] “rivers”
          %li <i>çeo</i> [ˈʃɛw] → <i>çeos</i> [ˈʃɛwz] “streets”
      %li
        Most words ending in a consonant take <i>-s</i>. This is pronounced /z/ after a voiced consonant and /s/ after a voiceless consonant.
        %ul
          %li <i>patr</i> [ˈpaː.tɪr] → <i>patrs</i> [ˈpaː.tɪrz] “fathers”
          %li <i>foc</i> [ˈfok] → <i>focs</i> [ˈfoks] “ovens”
          %li <i>vèstmind</i> [vis.ˈmiːn] → <i>vèstminds</i> [vis.ˈmiːnz] “clothes”
      %li
        Most words ending in <i>-e</i> /ə/ drop it and then add <i>-s</i>, pronounced /z/ after a voiced consonant and /s/ after a voiceless consonant.
        %ul
          %li <i>cude</i> [ˈku.də] → <i>cuds</i> [ˈkudz] “tails”
          %li <i>haohe</i> [ˈxaw.xə] → <i>haohs</i> [ˈxawxs] “peaches”
          %li <i>lètre</i> [ˈle.trə] → <i>letrs</i> [ˈlɛ.tɪrz] “letter”
      %li
        Final <i>-ge</i> /ʒə/ is respelled <i>j</i> in order to preserve its pronunciation before <i>-s</i> is added, resulting in <i>-js</i> [ʒz].
        %ul
          %li <i>viage</i> [ˈvjaː.ʒə] → <i>viajs</i> [ˈvjaːʒz] “trips”
          %li <i>garage</i> [gʌ.ˈraː.ʒə] → <i>garajs</i> [gʌ.ˈraːʒz] “garages”
          %li <i>colege</i> [ˈkɔ.lə.ʒə] → <i>coléjs</i> [ˈkɔ.ləʒz] “high schools”
      %li
        Final <i>-ce</i> /sə/ is respelled <i>ç</i> in order to preserve its fricative pronunciation, even though Ç normally represents /ʃ/. The resulting <i>-çs</i> sequence is pronounced /z/.
        %ul
          %li <i>sérvice</i> [ˈseːr.vi.sə] → <i>sérviçs</i> [ˈseːr.viz] “services”
          %li <i>justice</i> [ˈʒus.ti.sə] → <i>justiçs</i> [ˈʒus.tiz] “justices”
          %li <i>soce</i> [ˈsɔ.sə] → <i>soçs</i> [ˈsoz] “sauces”
      %li
        Final <i>-cce</i>, <i>-gge</i>, <i>-che</i>, <i>-ghe</i> are phonetically regular, but the second element of the digraph is lost before <i>-s</i> since it no longer serves any purpose in that environment.
        %ul
          %li <i>fremicce</i> [frə.ˈmi.kə] → <i>fremics</i> [frə.ˈmiks] “ants”
          %li <i>leigge</i> [ˈlej.gə] → <i>leigs</i> [ˈlejgz] “tongues, languages”
          %li <i>ymche</i> [ˈiːm.kə] → <i>ymcs</i> [ˈiː.mɪks] “(female) friends”
      %li
        Words ending in <i>-Vne</i> tend to lose the /n/ as well as the schwa before <i>-s</i>; it is replaced by /j/, resulting in diphthongs or, if the previous vowel was already /i/, a long /iː/. However, if the noun is the feminine counterpart to a masculine form (e.g., <i>uçine</i> “(female) neighbor” for <i>uçí</i> “(male) neighbor”), the feminine noun may also take the same plural as the masculine noun; this is a consequence of the otherwise nearly universal loss of the gender contrast in plurals.
        %ul
          %li <i>uçine</i> [ˈu.ʃi.nə] → <i>uçís</i> [u.ˈʃiːz] or (most commonly) <i>uçines</i> [ˈu.ʃi.nəz] “(female) neighbors”
          %li <i>púlgane</i> [ˈpuːl.gʌ.nə] → <i>púlgais</i> [ˈpuːl.gajz] “orange”
          %li <i>telefone</i> [təl.ˈfɔ.nə] → <i>telefois</i> [təl.ˈfojz] “telephones”
      %li
        Words ending in <i>-Vre</i> /rə/ add <i>-s</i> /z/ without losing the vowel. Final <i>-Cre</i> is regular.
        %ul
          %li <i>jazire</i> [ˈʒaː.zi.rə] → <i>jazires</i> [ˈʒaː.zi.rəz] “islands”
          %li <i>pezture</i> [pəs.ˈtu.rə] → <i>peztures</i> [pəs.ˈtu.rəz] “paints”
          %li <i>facre</i> [ˈfaː.krə] → <i>facrs</i> [ˈfaː.kɪrz] “turtles”
      %li
        Most words ending in a long vowel shorten it and add <i>-nes</i> /nəz/.
        %ul
          %li <i>mizá</i> [mi.ˈzaː] → <i>mizanes</i> [ˈmi.zʌ.nəz] “scales”
          %li <i>ví</i> [ˈviː] → <i>vines</i> [ˈvi.nəz] “wines”
          %li <i>tebrú</i> [tə.ˈbruː] → <i>tebrunes</i> [tə.ˈbru.nəz] “hailstones”
      %li
        Monosyllabic words ending a long vowel are not predictable; the suffixes <i>-res</i>, <i>-nes</i>, and <i>-s</i> are all possible.
        %ul
          %li <i>sé</i> [ˈseə] → <i>sés</i> [ˈseəz] “evenings”
          %li <i>só</i> [ˈsɔə] → <i>sóres</i> [ˈsɔə.rəz] “sisters”
          %li <i>dí</i> [ˈdiː] → <i>dís</i> [ˈdiːz] “days”
      %li
        Words ending in <i>-s</i> /s/ add <i>-s</i> orthographically, but phonetically the final /s/ of the singular simply becomes /z/, unless an unvoiced cluster blocks the voicing.
        %ul
          %li <i>pais</i> [ˈpajs] → <i>paiss</i> [ˈpajz] “countries”
          %li <i>faqs</i> [ˈfaːqs] → <i>faqss</i> [ˈfaːqs] “cucumbers”
          %li <i>haos</i> [ˈxaws] → <i>haoss</i> [ˈxawz] “province”
      %li
        Words ending in <i>-s(e)/-z(e)</i> /z/ add <i>-s</i> orthographically, but phonetically add /əz/.
        %ul
          %li <i>ghez</i> [ˈgɛz] → <i>ghezs</i> [ˈgɛ.zəz] “gas”
          %li <i>laoze</i> [ˈlawzə] → <i>laozs</i> [ˈlaw.zəz] “almonds”
          %li <i>chíz</i> [ˈkiːz] → <i>chízs</i> [ˈkiː.zəz] “chests”
      %li
        Words ending in <i>-ç(e)</i> /ʃ/ orthographically always form plurals with <i>-s</i>, but the pronunciation is quite variable amongst different speakers. This final <i>-çs</i> can be pronounced as /ʃs/, /ʃ/, or /s/, with the first two being the most common.
        %ul
          %li <i>márç</i> [ˈmaːʃ] → <i>márçs</i> [ˈmaːʃs, ˈmaːʃ] “stairs”
          %li <i>riçe</i> [ˈri.ʃə] → <i>riçs</i> [ˈriʃs, ˈriʃ] “feathers”
          %li <i>fraçe</i> [ˈfraː.ʃə] → <i>fraçs</i> [ˈfraːʃs, ˈfraːʃ] “arrows”
      %li
        Word-final <i>-gne</i> /njə/ is a French- or Italian-influenced spelling of words that would use <i>-nie</i> in a fully native orthography. Thus, they pluralize exactly the same as <i>-nie</i> nouns would, with the /j/ vocalizing. This is respelled as <i>-nis</i> /niz/ in the plural, since spellings like <i>*-gnis</i> or <i>*-gns</i> would be misleading.</p>
        %ul
          %li <i>signe</i> [ˈsi.njə] → <i>sinis</i> [ˈsi.niz] “signs”
          %li <i>bègne</i> [ˈbe.njə] → <i>bènis</i> [ˈbe.niz] “baths”
          %li <i>règne</i> [ˈre.njə] → <i>rènis</i> [ˈre.niz] “kingdoms”
      %li
        Words ending in a glottalized consonant lose the glottalization and add <i>-es</i> /əz/.
        %ul
          %li <i>hatħ</i> [ˈxaː.tˤə] → <i>hates</i> [ˈxaː.təz] “tallies”
          %li <i>balúdħ</i> [bʌ.ˈluːdˤ] → <i>balúdes</i> [bʌ.ˈluː.dəz] “oaks”
          %li <i>qerátħ</i> [qə.ˈraːtˤ] → <i>qerátes</i> [qə.ˈraː.təz] “carats”
      %li
        Words ending in <i>-ciun</i> /sjun/ replace the suffix with <i>-cius</i> /sjuz/.
        %ul
          %li <i>naciun</i> [ˈnaː.sjuːn] → <i>nacius</i> [ˈnaː.sjuz] “nations”
          %li <i>raciun</i> [ˈraː.sjuːn] → <i>racius</i> [ˈraː.sjuz] “rations, shares”
          %li <i>ystaciun</i> [ˈis.tʌ.sjuːn] → <i>ystacius</i> [ˈis.tʌ.sjuz] “stations”
      %li
        Words ending in <i>-st(e)</i> /st/ drop this cluster and add <i>-çs</i> /ʃtʃ/.
        %ul
          %li <i>post</i> [ˈpost] → <i>poçs</i> [ˈpoʃtʃ] “mail, letters”
          %li <i>rost</i> [ˈrost] → <i>roçs</i> [ˈroʃtʃ] “mouths”
          %li <i>mejèste</i> [mə.ˈʒɛs.tə] → <i>mejèçs</i> [mə.ˈʒɛʃtʃ] “teachers”
      %li
        Words ending in <i>-zt(e)</i> /st/ drop the cluster and add <i>-ćs</i> /θs/.
        %ul
          %li <i>nozte</i> [ˈnos.tə] → <i>noćs</i> [ˈnoθs] “nights”
          %li <i>frozte</i> [ˈfros.tə] → <i>froćs</i> [ˈfroθs] “harvests, yields”
          %li <i>drizt</i> [ˈdrist] → <i>drićs</i> [ˈdriθs] “rights”
      %li
        Words ending in <i>-ie</i> /jə/ drop the schwa and vocalize the yod to /i/ before adding <i>-s</i> /z/:
        %ul
          %li <i>yostie</i> [ˈjos.tjə] → <i>yostis</i> [ˈjɔs.tiz] “laws”
          %li <i>fremacie</i> [frə.ˈmaː.sjə] → <i>fremacis</i> [frə.ˈmaː.siz] “pharmacies”
          %li <i>filie</i> [ˈfi.ljə] → <i>filis</i> [ˈfi.liz] “daughters”

  = section "Singularia Tantum" do
    %p Singularia tantum are nouns that only appear in the singular and lack morphosyntactically plural forms. These fall into four primary groups: mass nouns, collectives, abstract nouns, and proper nouns.
    %p Mass nouns are nouns that cannot be individuated; that is, any quantity of the noun is treated identically grammatically. This is particular common with names of materials and liquids where a clear concept of individuation does not exist (e.g., <i>acce</i> [ˈaː.kə] “water”, <i>ire</i> [ˈi.rə] “air”, <i>pètre</i> [ˈpe.trə] “stone”, <i>ví</i> [ˈviː] “wine”, <i>icciay</i> [i.ˈkjaj] “steel”, <i>lume</i> [ˈlumə] “light”, <i>mel</i> [ˈmeːl] “honey”) or where individuation is possible, but is virtually never used simply due to how people tend to talk about the substance (e.g., <i>rúz</i> [ˈruːz] “rice”, <i>rable</i> [ˈraː.blə] “sand”, <i>gran</i> [ˈgraːn] “wheat”, <i>tèmpeste</i> [ˈteːm.pəs.tə] “rain”, <i>tçay</i> [ˈtʃaj] “tea”, <i>sucr</i> [ˈsu.kɪr] “sugar”, <i>maoh</i> [ˈmawx] “salt”). For mass nouns to be explicitly quantified, a separate noun is needed to serve as a quantifier; the mass noun itself cannot be pluralized or by modified by a numeral (e.g., <i>par gráms yn maoh</i> [ˈpaːr ˈgraːmz ɪn ˈmawx] “two grams of salt”, never <i>*par maohs</i> “*two salts”). English and Tunisian mass nouns do not always correspond; for instance, English “bread” is a mass noun, while Tunisian <i>pay</i> “bread, loaf of bread” is not. Some nouns can also simultaneously be both a count and a mass noun, with slightly different semantics: the mass noun <i>tçay</i> “tea, tea leaves” is normally not pluralized, except when in the specific sense “cup of tea”: <i>par tçays</i> [ˈpaːr ˈtʃajz] “two cups of tea”.
    %p Collective nouns are nouns that are semantically plural but grammatically singular. Unlike mass nouns, collective nouns have a corresponding true singular (semantically and grammatically) that can also form normal plurals. They most commonly describe plants, animals, and people. Examples include <i>jend</i> [ˈʒeːn] “people”, <i>yunie</i> [ˈju.njə] “children”, <i>folie</i> [ˈfɔ.ljə] “leaves, foliage”, <i>eribre</i> [ˈe.ri.brə] “trees, grove”, <i>vit</i> [ˈvit] “grapes”. Collectives are often used instead of true plurals when describing a group of an object that are physically clustered together and thus can be treated as a unit; thus the collective <i>eribre</i> might best be glossed as “a cluster of trees, a grove”, while the plural <i>eribures</i> [ˈe.ri.bu.rəz] is “trees in general, many trees”.
    %p Abstract nouns are nouns referring to abstract entities, that is, something that cannot be perceived by touch or be physically manipulated. Since plurality is primarily a physical distinction, the majority of abstract nouns in Tunisian cannot appear pluralized. Examples include <i>critâ</i> [kri.ˈtaː] “love”, <i>só</i> [ˈsɔə] “sound”, <i>yschezte</i> [ˈis.kəs.tə] “knowledge”, <i>inèlture</i> [i.ˈneːl.tu.rə] “height, altitude”, <i>vèritá</i> [ˈve.ri.taː] “truth”, <i>deficlitá</i> [də.ˈfi.kli.taː] “difficulty”, and <i>oaqt</i> [ˈwaː.qɪt] “time”. Not all abstract nouns are singularia tantum; many, in particular resultatives, can be pluralized, such as <i>ivènd</i> [i.ˈveːn] “event” (from <i>ivení</i> [iv.ˈniː] “to happen”). Many abstract nouns that can be pluralized in English cannot be pluralized in Tunisian, such as <i>fid</i> [ˈfid] “faith, religion” and <i>yspor</i> [is.ˈpoːr] “taste”; these instead require another noun in a genitive construction: <i>naos yd fid molts</i> [ˈnawz it ˈfid ˈmoːlts] “many faiths” (lit. 'many types of faith').
    %p Proper nouns refer to the names and designations of unique entities. Many such nouns, such as the names of places, people, and events, are singularia tantum purely due to semantics; under most circumstances there is just no need to pluralize them, since only one exists: <i>Loudre</i> [ˈlow.drə] “London”, <i>l-Usfre t Tére</i> [ˈlus.frət ˈteə.rə] “the Earth”, <i>l-Africce s Sud</i> [ˈlaː.fri.kəs ˈsud] “South Africa”, <i>Iuil Císer</i> [ˈjujl ˈsiː.seːr] “Julius Caesar”, <i>la Bible</i> [lʌ ˈbi.blə] “the Bible”, <i>il secl nóvdèc</i> [il ˈsɛ.ku ˈnɔəv.ˈdɛk] “the Nineteenth Century”, <i>la Goère Duniale la Sçènde</i> [lʌ ˈgwe.rə ˈdu.njʌ.lə lʌ ˈʃeːn.də] “World War II”.

  = section "Pluralia Tantum" do
    %p Pluralia tantum are nouns that appear only in the plural and lack morphosyntactically singular forms. Unlike singularia tantum nouns, pluralia tantum nouns do not constitute any clear semantic groups, with the distinction being quite arbitrary and usually due to semantic drift, with what was originally a normal plural noun acquiring a new meaning that describes a single object. Pluralia tantum tend to vary wildly across languages, with the exception of recent pluralia tantum internationalisms such as “pants”. Tunisian examples include <i>pantalunes</i> [ˈpaːn.tʌ.lu.nəz] “pants”, <i>pruis</i> [ˈprujz] “rainy season”, <i>lents</i> [ˈleːnts] “glasses”, <i>hebares</i> [xə.ˈbaː.rəz] “news”, <i>fèris</i> [ˈfe.riz] “holiday, vacation”, <i>dvouvnes</i> [ˈdvowv.nəz] “negotiations”, <i>ivenures</i> [ˈi.və.nu.rəz] “result”. A number of proper nouns are also pluralia tantum, usually due to a plural head noun or when referring to groups of islands or mountains: <i>l-Ustats Units</i> [ˈlus.tʌts ˈu.nits] “the United States”, <i>ls Paiss Imbess</i> [us ˈpajz ˈimbəz] “the Netherlands”, <i>l-Azóres</i> [lʌ.ˈzɔə.rəz] “the Azores”, <i>l-Atlass</i> [ˈlaː.tlʌz] “the Atlas Mountains”, <i>l-Aofs</i> [ˈlawfs] “the Alps”.

= section "Articles" do
  %p Tunisian articles are traditionally grouped into four categories. Like other Romance languages, it maintains a distinction between definite (<i>l-articl chenoçit</i>) and indefinite (<i>l-articl íccenoçit</i>) articles. However, these take different forms depending on whether the noun is in a determined state (<i>l-ustat prióct</i>) or non-determined state (<i>l-ustat íprióct</i>). These two states are syntactic structures that will be described in greater detail later, but very generally a determined noun phrase is one following a preposition.
  %p The basic definite articles are <i>il</i> [il] (masculine singular), <i>la</i> [lʌ] (feminine singular), and <i>ls</i> [uz] (plural). All of the articles become <i>l-</i> [l] when the following noun betweens with a vowel or glide, written as part of the same word. This clitic <i>l-</i> form also triggers many immediately-following /i/ to convert to /u/, as in <i>ystl</i> [ˈis.tu] “[a] star” → <i>l-ustl</i> [ˈlus.tu] “the star”. This always applies when the word normally begins with orthographic <i>Y</i>, but it also affects a handful of other words: <i>irio</i> [ˈi.riw] “[a] river” → <i>l-urio</i> [ˈlu.riw] “the river”.
  %p When the following word begins with /r/, the form <i>il</i> [i] is used for both masculine and feminine singular nouns; note that the /l/ is elided: <i>il republicce</i> [i rəˈpublikə] “the republic”. The plural definite article becomes <i>lst</i> [ust]: <i>lst republics</i> [us.trə.ˈpu.liks] “the republics”.
  %p The basic indefinite articles are <i>ú</i> [uː] (masculine singular), <i>une</i> [unə] (feminine singular), and <i>uis</i> [ujz] (plural). Both singular forms merge as <i>un</i> [un] before a word beginning with a vowel, though no vowel changes are triggered as with the definite articles. The masculine form <i>ú</i> may also appear as a stylistic variant of the feminine singular <i>une</i>, though this is more common in songs and poetry (for metrical purposes) than in typical daily usage. As with the definite article, the indefinite plural acquires an epenthetic /t/ as <i>uist</i> [ujst] when the following word begins with /r/: <i>uist rots</i> [ujs ˈtrots] “some wheels”.
  %p The definite article is typically suppressed when modifying a noun in the determined state: <i>il meise</i> “the table”, but <i>ispe meise</i> “on the table” (not *<i>ispe il meise</i>). Conversely, the indefinite article is typically suppressed when modifying a noun in the non-determined state: <i>ispe une meise</i> “on a table”, but just <i>meise</i> “a table”. Consequently the indefinite article is far less frequent in Tunisian than in other Romance languages, since most unmarked nouns are assumed to be indefinite.
