- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "La Môrphologgie Sustîtivale"

= section "Gender" do
  = section "Gender in Tunisian" do
    %p As in the other Romance languages (as well as in Arabic and the Berber languages that so heavily influenced the early language), all Tunisian nouns inherently belong to one of several noun classes known as genders. Tunisian has two genders: masculine (<i>il génê mésclî</i>) and feminine (<i>il génê fémnî</i>). All nouns are either masculine or feminine, which affects adjective and article agreement, pronoun use, and verbal agreement in complex verbal tenses.
    %p It is often but not always possible to predict the gender of a noun based simply on its ending. Almost all nouns ending in a consonant are masculine, while nouns ending in <i>-e</i> /ə/ are feminine. However, if the noun ends in any other vowel, there is no simple rule.
    %p In the plural, the gender contrast is completely neutralized for all nouns, resulting in a single common gender (<i>il génê comû</i>).

  = section "Patterns of Gender" do
    %p Although the assignment of gender is arbitrary overall, a number of clear semantic and morphological patterns do exist. The following list is not exhaustive, but provides a general overview.

    = section "Masculine Nouns" do
      %ul
        %li All names of male individuals: <i>Petr</i> “Peter”, <i>Miccél</i> “Michael”, <i>Metî</i> “Matthew”, <i>Pûl</i> “Paul”, <i>Luic</i> “Lucius”, <i>Musâ</i> “Moses”.
        %li All nouns referring to a male human being: <i>patr</i> “father”, <i>frat</i> “brother”, <i>fil</i> “son”, <i>ymic</i> “(male) friend”, <i>uçî</i> “(male) neighbor”.
        %li All occupations and titles when the individual is male: <i>maléc</i> “king”, <i>mejést</i> “(male) teacher”, <i>tħalb</i> “(male) student”, <i>policial</i> “policeman”, <i>président</i> “(male) president”.
        %li Days of the week: <i>il domnic</i> “Sunday”, <i>il sçend</i> “Monday”, <i>il térit</i> “Tuesday”, <i>il çérit</i> “Wednesday”, <i>il çeitî</i> “Thursday”, <i>il séschî</i> “Friday”, <i>l-usbat</i> “Saturday”.
        %li Names of months: <i>jânvî</i> “January”, <i>févrî</i> “February”, <i>mares</i> “March”, <i>avril</i> “April”, <i>mai</i> “May”, <i>juoâ</i> “June”, <i>julê</i> “July”, <i>ût</i> “August”, <i>séptambr</i> “September”, <i>octobr</i> “October”, <i>novambr</i> “November”, <i>désambr</i> “December”.
        %li Names of seasons: <i>rnoval</i> “spring”, <i>istat</i> “summer”, <i>utom</i> “autumn”, <i>ibérê</i> “winter”.
        %li Names of trees: <i>balûdħ</i> “oak”, <i>accê</i> “maple”, <i>frecs</i> “ash”, <i>pî</i> “pine”, <i>zaitûnaîr</i> “olive tree”, <i>tambraîr</i> “date palm”, <i>tefahaîr</i> “apple tree”, <i>câmusaîr</i> “fig tree”, <i>harûb</i> “carob”.
        %li Names of metals: <i>źâb</i> “gold”, <i>iréggeit</i> “silver”, <i>bronz</i> “bronze”, <i>cupr</i> “copper”, <i>promb</i> “lead”, <i>fê</i> “iron”.
        %li Names of oceans: <i>l-Atlântic</i> “Atlantic Ocean”, <i>il Pçific</i> “Pacific Ocean”, <i>l-Occiâ Hindî</i> “Indian Ocean”, <i>l-Occiâ Nôrti-Polarî</i> “Arctic Ocean”, <i>l-Occiâ Sudi-Polarî</i> “Southern Ocean”.
        %li Names of rivers: <i>il Nîl</i> “Nile”, <i>il Rên</i> “Rhine”, <i>il Danuib</i> “Danube”, <i>il Mississippi</i> “Mississippi”, <i>il Yangtzi</i> “Yangtze”.
        %li Names of seas: <i>il Méditranî</i> “Mediterranean Sea”, <i>il Baltic</i> “Baltic Sea”, <i>il Mâ Nigr</i> “Black Sea”, <i>il Mâ Ros</i> “Red Sea”, <i>il Mâ Tirénî</i> “Tyrrhenian Sea”.
        %li Names of letters: <i>â</i> “A”, <i>bê</i> “B”, <i>cê</i> “C”, <i>â derén</i> “Â”.
        %li Nouns ending in <i>-ô</i> or <i>-ôr</i>: <i>compiutôr</i> “computer”, <i>dadô</i> “donor, dealer”, <i>déptô</i> “debtor”, <i>légô</i> “reader”, <i>hamlô</i> “cleaner”.
        %li Nouns ending in <i>-iâ</i>: <i>tenésiâ</i> “Tunisian”, <i>iléctriçiâ</i> “electrician”, <i>musçiâ</i> “musician”, <i>tecniçiâ</i> “technician, programmer”, <i>ambriçiâ</i> “American”, <i>freiçiâ</i> “Frenchman”.
        %li Nouns ending in <i>-aîr</i>: <i>çérinaîr</i> “butcher”, <i>penaîr</i> “baker”, <i>pescaîr</i> “fisherman”, <i>zaitûnaîr</i> “olive tree”.
        %li Nouns ending in <i>-meit</i>: <i>chemîztmeit</i> “beginning”, <i>fîmeit</i> “end”, <i>ystîtmeit</i> “building”, <i>iudcmeit</i> “judgment”, <i>vestmeit</i> “clothing”.
        %li Nouns ending in <i>-al</i>: <i>postal</i> “mailman”, <i>policial</i> “policeman”, <i>ministral</i> “minister”, <i>fremacial</i> “pharmacist”.
        %li Nouns ending in <i>-cul</i> or <i>-cû</i>: <i>yspectacul</i> “show”, <i>bracul</i> “miracle”, <i>iprécu</i> “opener”, <i>peiscul</i> “weight”, <i>îflamcû</i> “lighter”, <i>yscripcû</i> “pencil”.
        %li Nouns ending in <i>-î</i>: <i>arabî</i> “Arab”, <i>muslimî</i> “Muslim”, <i>iaodî</i> “Jew”, <i>uçî</i> “neighbor”, <i>naźî</i> “herald”.

    = section "Feminine Nouns" do
      %ul
        %li All names of female individuals: <i>Catrine</i> “Catherine”, <i>Léne</i> “Helen”, <i>Marie</i> “Mary”, <i>Aodrê</i> “Audrey”, <i>Nicole</i> “Nicole”, <i>Tésrile</i> “Tesrile”.
        %li All nouns referring to a female human being: <i>matre</i> “mother”, <i>sô</i> “sister”, <i>filie</i> “daughter”, <i>ymche</i> “(female) friend”, <i>uçine</i> “(female) neighbor”.
        %li All occupations and titles when the individual is female: <i>malche</i> “queen”, <i>mejéste</i> “(female) teacher”, <i>tħalbe</i> “(female) student”, <i>policiale</i> “policewoman”, <i>présidente</i> “(female) president”.
        %li All unanalyzable names of cities: <i>Tenés</i> “Tunis”, <i>Sħafaqes</i> “Sfax”, <i>Rome</i> “Rome”, <i>Parîs</i> “Paris”, <i>Qaire</i> “Cairo”, <i>Washington</i> “Washington”.
        %li All unanalyzable names of countries: <i>Tenés</i> “Tunisia”, <i>Méhrib</i> “Morocco”, <i>Masħre</i> “Egypt”, <i>Freicce</i> “France”, <i>Sħên</i> “China” (but: <i>l-Ustats Uniaçs</i> “United States” is masculine, because the head <i>ystat</i> “state” is masculine).
        %li Names of fruits: <i>tefahe</i> “apple”, <i>pûlgane</i> “orange”, <i>haohe</i> “peach”, <i>acne</i> “grape”, <i>câmuse</i> “fig”, <i>zaitûne</i> “olive”.
        %li Nouns ending in <i>-re</i>: <i>dadre</i> “(female) donor, dealer”, <i>déptre</i> “(female) debtor”, <i>légre</i> “(female) reader”, <i>hamlre</i> “(female) cleaner, housekeeper”, <i>cheducre</i> “(female) driver”.
        %li Nouns ending in <i>-iane</i>: <i>tenésiane</i> “Tunisian woman”, <i>istoriane</i> “(female) historian”, <i>musçiane</i> “(female) musician”, <i>yspôrtiane</i> “(female) athlete”, <i>ambriçiane</i> “American woman”, <i>freiçiane</i> “Frenchwoman”
        %li Nouns ending in <i>-aire</i> or <i>-re</i>: <i>penaire</i> “(female) baker”, <i>hânutaire</i> “(female) shopkeeper”, <i>jârdanaire</i> “(female) gardener”, <i>iggésre</i> “(female) journalist”.
        %li Nouns ending in <i>-ale</i>: <i>postale</i> “mailwoman”, <i>policiale</i> “policewoman”, <i>fremaciale</i> “(female) pharmacist”.
        %li Nouns ending in <i>-ie</i>: <i>arabie</i> “Arab woman”, <i>muslimie</i> “Muslim woman”, <i>iaodie</i> “Jewish woman”.
        %li Nouns ending in <i>-ism</i>: <i>nacionalism</i> “nationalism”, <i>comunism</i> “communism”, <i>capitalism</i> “capitalism”, <i>ićéîsm</i> “atheism”.
        %li Nouns ending in <i>-cîn</i>: <i>révolucîn</i> “revolution”, <i>comunicacîn</i> “communication”, <i>îmgrcîn</i> “immigration”, <i>croniscîn</i> “colonization”.
        %li Nouns ending in <i>-te</i>: <i>megréste</i> “mortar”, <i>sûste</i> “rafter”, <i>jélte</i> “puddle”.
        %li Nouns ending in <i>-tâ</i>: <i>univêrstâ</i> “university”, <i>fahlitâ</i> “ease”, <i>vritâ</i> “truth”, <i>smilritâ</i> “similarity”, <i>dimitâ</i> “eternity”.
        %li Nouns ending in <i>-zte</i>: <i>solstizte</i> “solstice”, <i>sêvizte</i> “favor”, <i>ipreizte</i> “appearance”.
        %li Nouns ending in <i>-cie</i> or <i>-ce</i>: <i>îfluêncie</i> “influence”, <i>odiencie</i> “audience”, <i>aliancie</i> “alliance”, <i>sêrvice</i> “service, amenity”, <i>justice</i> “justice”.
        %li Nouns ending in <i>-ure</i>: <i>pecture</i> “paint”, <i>iscrepture</i> “text”, <i>neture</i> “nature”, <i>jerature</i> “injury”, <i>blîcure</i> “curtain”.

= section "Number" do
  = section "Number in Tunisian" do
    %p Tunisian has two numbers: the singular (<i>il numéro seiglâ</i>) and the plural (<i>il numéro plural</i>). For the vast majority of nouns, the plural is formed from the singular with the addition of the suffix <i>-s</i> (pronounced /z/), though the exact rules are more complicated.

  = section "Formation of the Plural" do
    %ol
      %li
        Words ending in a short vowel take <i>-s</i> /z/.
        %ul
          %li <i>numéro</i> [ˈnumerɔ] → <i>numéros</i> [ˈnumeroz] “numbers”
          %li <i>déou</i> [ˈdʲewu] → <i>déous</i> [ˈdʲewuz] “gods”
          %li <i>medħavi</i> [məˈdˤaːvi] → <i>medħavis</i> [məˈdˤaːviz] “skylights”
      %li
        Words ending in a diphthong take <i>-s</i> /z/.
        %ul
          %li <i>cretai</i> [krəˈtaj] → <i>cretais</i> [krəˈtajz] “quarters”
          %li <i>yrio</i> [ˈiriw] → <i>yrios</i> [ˈiriwz] “rivers”
          %li <i>çeo</i> [ˈʃɛw] → <i>çeos</i> [ˈʃɛwz] “streets”
      %li
        Most words ending in a consonant take <i>-s</i>. This is pronounced /z/ after a voiced consonant and /s/ after a voiceless consonant.
        %ul
          %li <i>patr</i> [ˈpaːtɪr] → <i>patrs</i> [ˈpaːtɪrz] “fathers”
          %li <i>foc</i> [ˈfok] → <i>focs</i> [ˈfoks] “ovens”
          %li <i>yshab</i> [ˈisxʌb] → <i>yshabs</i> [ˈisxʌbz] “clouds”
      %li
        Most words ending in <i>-e</i> /ə/ drop it and then add <i>-s</i>, pronounced /z/ after a voiced consonant and /s/ after a voiceless consonant.
        %ul
          %li <i>cude</i> [ˈkudə] → <i>cuds</i> [ˈkudz] “tails”
          %li <i>haohe</i> [ˈxawxə] → <i>haohs</i> [ˈxawxs] “peaches”
          %li <i>létre</i> [ˈletrə] → <i>letrs</i> [ˈlɛtɪrz] “letter”
      %li
        Final <i>-ge</i> /ʒə/ is respelled <i>j</i> in order to preserve its pronunciation before <i>-s</i> is added, resulting in <i>-js</i> [ʒz].
        %ul
          %li <i>viage</i> [ˈvjaːʒə] → <i>viajs</i> [ˈvjaːʒz] “trips”
          %li <i>garage</i> [gʌˈraːʒə] → <i>garajs</i> [gʌˈraːʒz] “garages”
          %li <i>colége</i> [ˈkɔleʒə] → <i>coléjs</i> [ˈkɔlɛʒz] “high schools”
      %li
        Final <i>-ce</i> /sə/ is respelled <i>ç</i> in order to preserve its fricative pronunciation, even though Ç normally represents /ʃ/. The resulting <i>-çs</i> sequence is pronounced /z/.
        %ul
          %li <i>sêrvice</i> [ˈsʲeəvisə] → <i>sêrviçs</i> [ˈsʲeəviz] “services”
          %li <i>justice</i> [ʒusˈtʲisə] → <i>justiçs</i> [ʒusˈtʲiz] “justices”
          %li <i>soce</i> [ˈsɔsə] → <i>soçs</i> [ˈsoz] “sauces”
      %li
        Final <i>-cce</i>, <i>-gge</i>, <i>-che</i>, <i>-ghe</i> are phonetically regular, but the second element of the digraph is lost before <i>-s</i> since it no longer serves any purpose in that environment.
        %ul
          %li <i>fremicce</i> [frəˈmikə] → <i>fremics</i> [frəˈmiks] “ants”
          %li <i>leigge</i> [ˈlejgə] → <i>leigs</i> [ˈlejgz] “tongues, languages”
          %li <i>ymche</i> [ˈimkə] → <i>ymcs</i> [ˈimɪks] “(female) friends”
      %li
        Words ending in <i>-Vne</i> tend to lose the /n/ as well as the schwa before <i>-s</i>; it is replaced by /j/, resulting in diphthongs or, if the previous vowel was already /i/, a long /iː/. However, if the noun is the feminine counterpart to a masculine form (e.g., <i>uçine</i> “(female) neighbor” for <i>uçî</i> “(male) neighbor”), the feminine noun may also take the same plural as the masculine noun; this is a consequence of the otherwise nearly universal loss of the gender contrast in plurals.
        %ul
          %li <i>uçine</i> [uˈʃinə] → <i>uçîs</i> [uˈʃiːz] or <i>uçines</i> [uˈsinəz] “(female) neighbors”
          %li <i>yspôrtiane</i> [ˈispɔːtjʌnə] → <i>yspôrtiais</i> [ˈispɔːtjajz] “(female) athletes”
          %li <i>teléfone</i> [təlˈfɔnə] → <i>teléfois</i> [təlˈfojz] “telephones”
      %li
        Words ending in <i>-Vre</i> /rə/ add <i>-s</i> /z/ without losing the vowel. Final <i>-Cre</i> is regular.
        %ul
          %li <i>jazire</i> [ˈʒaːzirə] → <i>jazires</i> [ˈʒaːzirəz] “islands”
          %li <i>pecture</i> [pəkˈturə] → <i>pectures</i> [pəkˈturəz] “paints”
          %li <i>facre</i> [ˈfaːkrə] → <i>facrs</i> [ˈfaːkɪrz] “turtles”
      %li
        Words ending in silent <i>-r</i> add <i>-s</i> /z/ directly; orthographic <i>r</i> is not pronounced in either case.
        %ul
          %li <i>tambraîr</i> [tʌmˈbraːjiː] → <i>tambraîrs</i> [tʌmˈbraːjiːz] “date palms”
          %li <i>compiutôr</i> [komˈpjutɔː] → <i>compiutôrs</i> [komˈpjutoːz] “computers”
          %li <i>cîsêr</i> [ˈsʲiːseː] → <i>cîsêrs</i> [ˈsʲiːsɛːz] “caesars”
      %li
        Most words ending in a long vowel shorten it and add <i>-nes</i> /nəz/.
        %ul
          %li <i>mizâ</i> [miˈzaː] → <i>mizanes</i> [miˈzaːnəz] “scales”
          %li <i>iggésô</i> [ˈigesɔː] → <i>iggésones</i> [ˈigesɔnəz] “journalist”
          %li <i>tebrû</i> [teˈbruː] → <i>tebrunes</i> [təˈbrunəz] “hailstones”
      %li
        However, some words ending a long vowel (in particular <i>-ê</i>) drop it entirely before adding <i>-nes</i> /nəz/.
        %ul
          %li <i>eribô</i> [ˈeribɔː] → <i>eribnes</i> [ˈeribnəz] “trees”
          %li <i>nomê</i> [ˈnɔmeː] → <i>nomnes</i> [ˈnomnəz] “titles”
          %li <i>accê</i> [ˈaːkeː] → <i>acnes</i> [ˈaːknəz] “maples”
      %li
        Monosyllabic words ending a long vowel are not predictable; the suffixes <i>-res</i>, <i>-nes</i>, and <i>-s</i> are all possible.
        %ul
          %li <i>sê</i> [ˈsʲeə] → <i>sês</i> [ˈsʲeəz] “evenings”
          %li <i>sô</i> [ˈsɔə] → <i>sôres</i> [ˈsɔərəz] “sisters”
          %li <i>pâ</i> [ˈpaː] → <i>panes</i> [ˈpaːnəz] “bread loaves”
      %li
        Nouns ending in <i>-cû</i> /kuː/ drop the vowel and add <i>-ls</i> /lz/, pronounced [uz].
        %ul
          %li <i>yscripcû</i> [ˈiskripkuː] → <i>yscripcls</i> [ˈiskripkuz] “pencils”
          %li <i>iprécû</i> [ˈiprekuː] → <i>iprécls</i> [ˈiprɛkuz] “openers”
          %li <i>çéricû</i> [ˈʃerikuː] → <i>çéricls</i> [ˈʃerikuz] “circles”
      %li
        Words ending in <i>-s</i> /s/ add <i>-s</i> orthographically, but phonetically the final /s/ of the singular simply becomes /z/, unless an unvoiced cluster blocks the voicing.
        %ul
          %li <i>grâs</i> [ˈgraːs] → <i>grâss</i> [ˈgraːz] “winter”
          %li <i>faqs</i> [ˈfaːqs] → <i>faqss</i> [ˈfaːqs] “cucumber”
          %li <i>haos</i> [ˈxaws] → <i>haoss</i> [ˈxawz] “province”
      %li
        Words ending in <i>-s(e)/-z(e)</i> /z/ add <i>-s</i> orthographically, but phonetically add /əz/.
        %ul
          %li <i>ghez</i> [ˈgɛz] → <i>ghezs</i> [ˈgɛzəz] “gas”
          %li <i>laoze</i> [ˈlawzə] → <i>laozs</i> [ˈlawzəz] “almonds”
          %li <i>chîz</i> [ˈkiːz] → <i>chîzs</i> [ˈkiːzəz] “chests”
      %li
        Words ending in <i>-ç(e)</i> /ʃ/ orthographically always form plurals with <i>-s</i>, but the pronunciation is quite variable amongst different speakers. This final <i>-çs</i> can be pronounced as /ʃs/, /ʃ/, or /s/, with the first two being the most common.
        %ul
          %li <i>mârç</i> [ˈmaːʃ] → <i>mârçs</i> [ˈmaːʃs, ˈmaːʃ] “stairs”
          %li <i>riçe</i> [ˈriʃə] → <i>riçs</i> [ˈriʃs, ˈriʃ] “feathers”
          %li <i>çareç</i> [ˈʃaːrəʃ] → <i>çareçs</i> [ˈʃaːrəʃs, ˈʃaːrəʃ] “pebbles”
      %li
        Word-final <i>-gne</i> /njə/ is a French- or Italian-influenced spelling of words that would use <i>-nie</i> in a fully native orthography. Thus, they pluralize exactly the same as <i>-nie</i> nouns would, with the /j/ vocalizing. This is respelled as <i>-nis</i> /niz/ in the plural, since spellings like <i>*-gnis</i> or <i>*-gns</i> would be misleading.</p>
        %ul
          %li <i>signe</i> [ˈsʲinjə] → <i>sinis</i> [ˈsʲiniz] “signs”
          %li <i>bégne</i> [ˈbenjə] → <i>bénis</i> [ˈbeniz] “baths”
          %li <i>régne</i> [ˈrenjə] → <i>rénis</i> [ˈreniz] “kingdoms”
      %li
        Words ending in a glottalized consonant lose the glottalization and add <i>-es</i> /əz/.
        %ul
          %li <i>baidħe</i> [ˈbajdˤə] → <i>baides</i> [ˈbajdəz] “eggs”
          %li <i>balûdħ</i> [baˈluːdˤ] → <i>balûdes</i> [baˈluːdəz] “oaks”
          %li <i>qerâtħ</i> [qəˈraːtˤ] → <i>qerâtes</i> [qəˈraːtəz] “carats”
      %li
        Words ending in <i>-cîn</i> /siː/ replace the suffix with <i>-ciois</i> /sjojz/.
        %ul
          %li <i>nacîn</i> [nʌˈsʲiːn] → <i>naciois</i> [nʌˈsjojz] “nations”
          %li <i>racîn</i> [rʌˈsʲiːn] → <i>raciois</i> [rʌˈsjojz] “rations, shares”
          %li <i>ystacîn</i> [ˈistʌsiːn] → <i>ystaciois</i> [ˈis.tʌ.sjojz] “stations”
      %li
        Words ending in <i>-st(e)</i> /st/ drop this cluster and add <i>-çs</i> /ʃtʃ/.
        %ul
          %li <i>post</i> [ˈpost] → <i>poçs</i> [ˈpoʃtʃ] “mail, letters”
          %li <i>rost</i> [ˈrost] → <i>roçs</i> [ˈroʃtʃ] “mouths”
          %li <i>mejéste</i> [məˈʒɛstə] → <i>mejéçs</i> [məˈʒɛʃtʃ] “teachers”
      %li
        Words ending in <i>-zt(e)</i> /st/ drop the cluster and add <i>-ćs</i> /θs/.
        %ul
          %li <i>nozte</i> [ˈnos.tə] → <i>noćs</i> [ˈnoθs] “nights”
          %li <i>frozte</i> [ˈfros.tə] → <i>froćs</i> [ˈfroθs] “harvests, yields”
          %li <i>drizt</i> [ˈdrist] → <i>drićs</i> [ˈdriθs] “rights”
      %li
        Some words ending in ViC undergo metathesis, becoming -VCi before adding <i>-s</i> /z/. These are the remnants of Latin masculine and neuter nouns with stem-final /j/; final -ViC nouns of other origins are regular.
        %ul
          %li <i>foil</i> [ˈfojl] → <i>folis</i> [ˈfɔliz] “leaves”
          %li <i>broid</i> [ˈbrojd] → <i>brodis</i> [ˈbrɔdiz] “broths”
          %li <i>meid</i> [ˈmejd] → <i>médis</i> [ˈmediz] “middles”
      %li
        Some words ending in <i>-î</i> shorten it and add <i>-s</i> /z/. Most such nouns are actually adjectives serving as independent nominals.
        %ul
          %li <i>iuropî</i> [jurɔˈpiː] → <i>iuropis</i> [juˈrɔpiz] “Europeans”
          %li <i>révoluciosî</i> [revolsjɔˈsiː] → <i>révolciosis</i> [revolˈsjɔsiz] “revolutionaries”
          %li <i>janvî</i> [ˈʒaːnviː] → <i>janvis</i> [ˈʒaːnviz] “Januaries”
      %li
        Words ending in <i>-ie</i> /jə/ drop the schwa and vocalize the yod to /i/ before adding <i>-s</i> /z/:
        %ul
          %li <i>iostie</i> [ˈjos.tjə] → <i>iostis</i> [ˈjɔstiz] “laws”
          %li <i>fremacie</i> [frə.ˈmaː.sjə] → <i>fremacis</i> [frə.ˈmaː.siz] “pharmacies”
          %li <i>filie</i> [ˈfi.ljə] → <i>filis</i> [ˈfi.liz] “daughters”

  = section "Singularia Tantum" do
    %p Singularia tantum are nouns that only appear in the singular and lack morphosyntactically plural forms. These fall into four primary groups: mass nouns, collectives, abstract nouns, and proper nouns.
    %p Mass nouns are nouns that cannot be individuated; that is, any quantity of the noun is treated identically grammatically. This is particular common with names of materials and liquids where a clear concept of individuation does not exist (e.g., <i>acce</i> [ˈaːkə] “water”, <i>ire</i> [ˈirə] “air”, <i>pétre</i> [ˈpetrə] “stone”, <i>vî</i> [ˈviː] “wine”, <i>icciê</i> [ˈi.ki.jeː] “steel”, <i>lume</i> [ˈlumə] “light”, <i>mel</i> [ˈmɛl] “honey”) or where individuation is possible, but is virtually never used simply due to how people tend to talk about the substance (e.g., <i>rûz</i> [ˈruːz] “rice”, <i>rable</i> [ˈraːblə] “sand”, <i>grai</i> [ˈgraj] “wheat”, <i>témpeste</i> [ˈtɛmpəstə] “rain”, <i>tçai</i> [ˈtʃaj] “tea”, <i>sucâ</i> [ˈsukaː] “sugar”, <i>maoh</i> [ˈmawx] “salt”). For mass nouns to be explicitly quantified, a separate noun is needed to serve as a quantifier; the mass noun itself cannot be pluralized or by modified by a numeral (e.g., <i>pâ grâms yn maoh</i> [ˈpaː ˈgraːmz ɪn ˈmawx] “two grams of salt”, never <i>*pâ maohs</i> “*two salts”). English and Tunisian mass nouns do not always correspond; for instance, English “bread” is a mass noun, while Tunisian <i>pâ</i> “bread, loaf of bread” is not. Some nouns can also simultaneously be both a count and a mass noun, with slightly different semantics: the mass noun <i>tçai</i> “tea, tea leaves” is normally not pluralized, except when in the specific sense “cup of tea”: <i>pâ tçais</i> [ˈpaː ˈtʃajz] “two cups of tea”.
    %p Collective nouns are nouns that are semantically plural but grammatically singular. Unlike mass nouns, collective nouns have a corresponding true singular (semantically and grammatically) that can also form normal plurals. They most common describe plants, animals, and people. Examples include <i>jend</i> [ˈʒɛn] “people”, <i>iunie</i> [ˈjunjə] “children”, <i>folie</i> [ˈfɔljə] “leaves, foliage”, <i>eribrie</i> [ˈeribrjə] “trees, grove”, <i>vit</i> [ˈvit] “grapes”. Collectives are often used instead of true plurals when describing a group of an object that are physically clustered together and thus can be treated as a unit; thus the collective <i>eribrie</i> might best be glossed as “a cluster of trees, a grove”, while the plural <i>eribnes</i> [ˈeribnəz] is “trees in general, many trees”.
    %p Abstract nouns are nouns referring to abstract entities, that is, something that cannot be perceived by touch or be physically manipulated. Since plurality is primarily a physical distinction, the majority of abstract nouns in Tunisian cannot appear pluralized. Examples include <i>critâ</i> [kriˈtaː] “love”, <i>sô</i> [ˈsɔə] “sound”, <i>yscheiće</i> [ˈiskejθə] “knowledge”, <i>inélture</i> [inɛlˈturə] “height, altitude”, <i>vritâ</i> [vriˈtaː] “truth”, <i>deficlitâ</i> [dəfikliˈtaː] “difficulty”, and <i>oaqt</i> [ˈwaːqɪt] “time”. Not all abstract nouns are singularia tantum; many, in particular resultatives, can be pluralized, such as <i>iveit</i> [iˈvejt] “event” (from <i>ivénî</i> [iˈveniː] “to happen”). Many abstract nouns that can be pluralized in English cannot be pluralized in Tunisian, such as <i>fid</i> [ˈfid] “faith, religion” and <i>yspô</i> [ˈispɔː] “taste”; these instead require another noun in a genitive construction: <i>naos yd fid molts</i> [ˈnawz ɪt ˈfid ˈmolts] “many faiths” (lit. 'many types of faith').
    %p Proper nouns refer to the names and designations of unique entities. Many such nouns, such as the names of places, people, and events, are singularia tantum purely due to semantics; under most circumstances there is just no need to pluralize them, since only one exists: <i>Loidre</i> [ˈlojdrə] “London”, <i>l-Usfre t Têre</i> [ˈlusfrət ˈteərə] “the Earth”, <i>l-Ifrécce s Sud</i> [ˈlifrekəs ˈsud] “South Africa”, <i>Iuil Cîsêr</i> [ˈjujl ˈsiːseː] “Julius Caesar”, <i>la Biblie</i> [lʌ ˈbibljə] “the Bible”, <i>il sécl nôvdéc</i> [il ˈsɛ.ku ˈnɔəvdɛk] “the Nineteenth Century”, <i>la Goére Duniale la Sçénde</i> [lʌ ˈgwerə duˈnjaː.lə lʌ ˈʃɛn.də] “World War II”.

  = section "Pluralia Tantum" do
    %p Pluralia tantum are nouns that appear only in the plural and lack morphosyntactically singular forms. Unlike singularia tantum nouns, pluralia tantum nouns do not constitute any clear semantic groups, with the distinction being quite arbitrary and usually due to semantic drift, with what was originally a normal plural noun acquiring a new meaning that describes a single object. Pluralia tantum tend to vary wildly across languages, with the exception of recent pluralia tantum internationalisms such as “pants”. Tunisian examples include <i>pantalones</i> [pʌntʌˈlɔnəz] “pants”, <i>pruis</i> [ˈprujz] “rainy season”, <i>lents</i> [ˈlɛnts] “glasses”, <i>hebares</i> [xəˈbaːrəz] “news”, <i>féris</i> [ˈferiz] “holiday, vacation”, <i>dvouvnes</i> “negotiations”, <i>ivenures</i> [ivəˈnurəz] “result”. A number of proper nouns are also pluralia tantum, usually due to a plural head noun or when referring to groups of islands or mountains: <i>l-Ustats Uniaçs</i> [ˈlustʌts ˈunjʌʃtʃ] “the United States”, <i>ls Paiss Imbess</i> [us ˈpajz ˈimbəz] “the Netherlands”, <i>l-Azôrs</i> [lʌˈzɔəz] “the Azores”, <i>l-Atlass</i> [ˈlaːtlʌz] “the Atlas Mountains”, <i>l-Aofs</i> [ˈlawfs] “the Alps”.

= section "Articles" do
  %p Tunisian articles are traditionally grouped into four categories. Like other Romance languages, it maintains a distinction between definite (<i>l-articl cheneçist</i>) and indefinite (<i>l-articl îcceneçist</i>) articles. However, these take different forms depending on whether the noun is in a determined state (<i>l-ustat prioct</i>) or non-determined state (<i>l-ustat îprioct</i>). These two states are syntactic structures that will be described in greater detail later, but very generally a determined noun phrase is one following a preposition.
  %p The basic definite articles are <i>il</i> [il] (masculine singular), <i>la</i> [lʌ] (feminine singular), and <i>ls</i> [uz] (plural). Both of the singular articles become <i>l-</i> [l] when the following noun betweens with a vowel or glide, written as part of the same word. This clitic <i>l-</i> form also triggers many immediately-following /i/ to convert to /u/, as in <i>ystl</i> [ˈistu] “[a] star” → <i>l-ustl</i> [ˈlustu] “the star”. This always applies when the word normally begins with orthographic <i>Y</i>, but it also affects a handful of other words: <i>irio</i> [ˈiriw] “[a] river” → <i>l-urio</i> [ˈluriw] “the river”.
  %p When the following word begins with /r/, the form <i>il</i> [i] is used for both masculine and feminine singular nouns; note that the /l/ is elided: <i>il republicce</i> [i rəˈpublikə] “the republic”.
  %p The basic indefinite articles are <i>û</i> [uː] (masculine singular), <i>une</i> [unə] (feminine singular), and <i>uis</i> [ujz] (plural). Both singular forms merge as <i>un</i> [un] before a word beginning with a vowel, though no vowel changes are triggered as with the definite articles. The masculine form <i>û</i> may also appear as a stylistic variant of the feminine singular <i>une</i>, though this is more common in songs and poetry (for metrical purposes) than in typical daily usage.
  %p The definite article is typically suppressed when modifying a noun in the determined state: <i>il meise</i> “the table”, but <i>ispe meise</i> “on the table” (not *<i>ispe il meise</i>). Conversely, the indefinite article is typically suppressed when modifying a noun in the non-determined state: <i>ispe une meise</i> “on a table”, but just <i>meise</i> “a table”. Consequently the indefinite article is far less frequent in Tunisian than in other Romance languages, since most unmarked nouns are assumed to be indefinite.
