- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "L-Urćographie"

= section "History of Written Tunisian" do
  %p The history of Tunisian begins with the Roman conquest of Carthage in 146 BC. With the annexation of northern Africa into the Roman Empire came the introduction of Latin as the language of administration and learning. Classical Latin became the dominant written language in the region, though Vulgar Latin was the dominant language amongst the general population. The Crisis of the Third Century brought about a sudden decline in literacy in the region; it is from this era that we begin to see the first written traces of North African Latin in the form of misspellings in graffiti and occasional use of words of Berber origin. There is very little written evidence from the era of Vandal occupation in the fifth and early six centuries. When the Eastern Roman Empire reconquers the province in 533, Latin would presumably have returned to its former social status, though few texts seem to have survived.
  %p The Arab conquest of Tunisia in 698 AD brought about significant changes to the region. Though Latin continued to be used in religious contexts and was widely used by the educated elite alongside Arabic in the region (particularly due to the sizable Christian population and persistant trade relations with Europe), knowledge of formal Latin amongst the lower classes was virtually nonexistant, and they would write in their own Romance vernacular using Arabic script. Thus, uniquely amongst the Romance languages, the first texts that are clearly written in Old Tunisian were written using the Arabic alphabet rather than the Roman one.
  %p In the 12th century, Christian crusades had resulted in the establishment of several Christian city-states along the Tunisian coastline. Though governed by the Normans, Middle Tunisian was the language of daily life, and a deliberate effort to expunge traces of Muslim rule led to the re-emergence of Latin script. The spelling of this time was heavily influenced by Middle French. The unification of Tunisia under a Christian king in the 16th century began a new era of Middle Tunisian as a prestige language, and educated writers, usually being multilingual, introduced a number of French and Italian spelling conventions into the language.
  %p Tunisian spelling was first codified formally in the early 18th century by L-Ucdimie Regale de Tenès, the Royal Academy of Tunisia (then spelled <i>Lu Acadimie Regale de Tenes</i>), a standard heavily influenced by Latin and French pronunciations. In 1803, a major reform resulted in a new spelling system with a much closer correspondence to the spoken language, particularly with respect to vowels. A number of minor changes have taken place since then, but the modern orthography is essentially the same as the one created by the 1803 reform.

= section "Modern Tunisian Alphabet" do
  %p The modern Tunisian alphabet consists of 27 letters: A B C Ć Ç D E F G H Ħ I J L M N O P Q R S T U V Y Z Ź. Tunisian also makes use of a number of letters that are not part of the alphabet: Á, É, È, Í, Ó, Ú; these are considered variants of the basic letterform they derive from, so that a dictionary would include words beginning with both A and Á in the 'A' section.

= section "Spelling and Orthographic Conventions" do
  = section "Representation of Vowels" do
    %p Tunisian vowel representation is for the most part quite regular. The letters <i>a</i>, <i>i</i>, <i>o</i>, and <i>u</i> correspond to the short vowels /a i o u/. An acute accent marks a long vowel, so <i>á</i>, <i>é</i>, <i>í</i>, <i>ó</i>, and <i>ú</i> represent /aː eː iː oː uː/. However, given that the contrast between /a/ and /aː/ has been neutralized in non-word-final position in most dialects, the distribution of orthographic <i>a</i> and <i>á</i> is mostly historic and by and large must be memorized.</p>
    %p The representation of /e/ and /ə/ is more complicated. The acute form <i>é</i> always represents /eː/ (since there is no long schwa), while the graveaccent <i>è</i> marks short /e/ unambiguously. However, not all /e/ is spelled with <i>è</i>, meaning that <i>e</i> can represent both /e/ and /ə/. The following rules describe the vast majority of cases:
    %ol
      %li /eː/ is represented with <i>é</i>.
      %li /e/ in a monosyllabic word or word-initially is spelled <i>e</i>.
      %li /e/ in all other circumstances is spelled <i>è</i>.
      %li /ə/ is spelled <i>e</i>.
    %p Before /m n r l/, where the length contrast in vowels is neutralized, the use of acute accents is mostly historic and cannot be predicted: <i>óm</i> /oːm/ “person” and <i>nóm</i> /noːm/ “no”, but <i>dom</i> /doːm/ “house” and <i>com</i> /koːm/ “like, as”.
    %p The letter <i>y</i> is more complicated. It can represent both /i/ and /ə/, although the latter is only found in clitics. Historically, the letter <i>y</i> represented a reduced vowel no longer present in Tunisian that eventually merged with /i/. This includes historical epenthetic vowels (<i>ystle</i> /ˈistlə/ “star” from Latin <i>stēlla</i>) or a former diphthong or vowel + /n/ sequence that collapsed in unstressed environments (<i>pysá</i> /piˈsaː/ “weigh” from Latin <i>pensāre</i>). This later evolved into its modern of indicating a ‘mutating /i/’, that is, an /i/ that is prone to mutating under certain morphosyntactic conditions (cf. <i>l-ustle</i> /ˈlustlə/ “the star”, <i>peis</i> /ˈpejs/ “I weigh”). Consequently, modern Tunisian orthography has many instances of <i>y</i> that do not descend from this one-time reduced vowel, but appears in words where these same alternations appear, as in <i>ysme</i> /ˈismə/ “name” ~ <i>l-usme</i> /ˈlusmə/ “the name”, in contrast to <i>istat</i> /ˈistat/ “summer” ~ <i>l-istat</i> /ˈlistat/ “the summer”. Note that <i>y</i> always represents short /i/; there is no corresponding long vowel *<i>ý</i> glyph used in Tunisian. All non-mutating instances of /i(ː)/ are typically spelled with <i>i</i> and <i>í</i>.
    %p In diphthongs, the glide /j/ is usually represented with <i>i</i>: <i>ai ei oi ui ia ie io iu</i> /aj ej oj uj ja je jo ju/; morpheme-finally, <i>y</i> may be used instead, as in <i>tçay</i> [ˈtʃaj] “tea”. The glide /w/ is represented by <i>o</i>, except if the nucleus is /o/, in which case <i>u</i> is used: <i>ao eo io ou oa oe oi uo</i> /aw ew iw ow wa we wi wo/. The spellings <i>io</i> and <i>oi</i> are ambiguous.
    %p An acute accent on a vowel located after another vowel serves as a diaeresis, indicating that the two vowels should be pronounced as separate syllables and not as a diphthong. It does not necessarily mean the acute vowel is long: <i>aí</i> /aji, ajiː/.
    %p In many foreign loans, and especially in scientific or international vocabulary, the spelling of vowels may be far more conservative than the pronunciation, with the spelling more closely reflecting the foreign form. In such cases it is not possible to predict the pronunciation from the spelling alone: <i>bióloggie</i> /biˈjoːlgə/ “biology”, <i>telefone</i> /təlˈfonə/ “telephone”, <i>gèneral</i> /ˈʒeːndraːl/ “general (n.)”.

  = section "Representation of Consonants" do
    %p The following table summarizes the spelling of consonants sounds in regular environments.
    %table.pronunciation
      %thead
        %tr
          %th Spelling
          %th Context
          %th Pronunciation
          %th Examples
      %tbody
        %tr
          %td <i>b</i>
          %td
          %td /b/
          %td
            <i>bivey</i> /ˈbivej/ “to drink”
            %br
            <i>republicce</i> /rəˈpublikə/ “republic”
            %br
            <i>promb</i> /ˈproːm/ “lead”
        %tr
          %td{:rowspan => 2} <i>c</i>
          %td before <i>e, é, è, i, í, y</i>
          %td /s/
          %td
            <i>císer</i> /ˈsiːseːr/ “caesar”
            %br
            <i>revoltciun</i> /rəˈvoːlsuːn/ “revolution”
            %br
            <i>pièce</i> /ˈpjesə/ “coin”
        %tr
          %td everywhere else
          %td /k/
          %td
            <i>cude</i> /ˈkudə/ “tail”
            %br
            <i>catracte</i> /ˈkaːtraktə/ “waterfall”
            %br
            <i>dec</i> /ˈdek/ “ten”
        %tr
          %td <i>cc</i>
          %td intervocalically, before <i>e, é, è, i, í, y</i>
          %td /k/
          %td
            <i>accé</i> /aˈkeː/ “maple”
            %br
            <i>fremicce</i> /frəˈmikə/ “ant”
            %br
            <i>iccest</i> /ˈikəst/ “this”
        %tr
          %td <i>ch</i>
          %td word-initially or post-consonantally, before <i>e, é, è, i, í, y</i>
          %td /k/
          %td
            <i>chentá</i> /kənˈtaː/ “to sing”
            %br
            <i>ymche</i> /ˈimkə/ “female friend”
            %br
            <i>musche</i> /ˈmuskə/ “music”
        %tr
          %td <i>ć</i>
          %td
          %td /θ/
          %td
            <i>ćéatr</i> /ˈθjaːtr/ “theater”
            %br
            <i>praće</i> /ˈpraːθə/ “plaza”
            %br
            <i>oareć</i> /ˈwaːrəθ/ “heir”
        %tr
          %td <i>ç</i>
          %td
          %td /ʃ/
          %td
            <i>çeld</i> /ˈʃeːld/ “hot”
            %br
            <i>uçí</i> /uˈʃiː/ “neighbor”
            %br
            <i>baç</i> /ˈbaʃ/ “in order to”
        %tr
          %td <i>çs</i>
          %td
          %td /ʃtʃ/, /ʃs/, /s/
          %td
            <i>protepièçs</i> /ˈprotəˈpjes/ “wallet”
            %br
            <i>riçs</i> /ˈriʃs/ “feathers”
            %br
            <i>roçs</i> /ˈroʃtʃ/ “mouths”
        %tr
          %td{:rowspan => 2} <i>d</i>
          %td morpheme-finally after <i>n</i>
          %td ∅
          %td
            <i>grend</i> /ˈgreːn/ “large”
            %br
            <i>vèstminds</i> /visˈmiːnz/ “clothing”
            %br
            <i>prefond</i> /prəˈfoːn/ “deep”
        %tr
          %td everywhere else
          %td /d/
          %td
            <i>duve</i> /ˈduvə/ “where”
            %br
            <i>redic</i> /rəˈdik/ “root”
            %br
            <i>frid</i> /frid/ “large”
        %tr
          %td <i>dħ</i>
          %td
          %td /dˤ/
          %td
            <i>balúdħ</i> /baˈluːdˤ/ “oak”
            %br
            <i>dħale</i> /ˈdˤaːlə/ “rib”
            %br
            <i>medħéq</i> /məˈdˤeːq/ “strait”
        %tr
          %td <i>f</i>
          %td
          %td /f/
          %td
            <i>fèmne</i> /ˈfeːmnə/ “woman”
            %br
            <i>farefit</i> /ˈfaːrəfit/ “butterfly”
            %br
            <i>cnif</i> /ˈknif/ “knife”
        %tr
          %td{:rowspan => 2} <i>g</i>
          %td before <i>e, é, è, i, í, y</i>
          %td /ʒ/
          %td
            <i>gèneral</i> /ˈʒeːndraːl/ “general”
            %br
            <i>gèntil</i> /ˈʒeːntiːl/ “gentle”
            %br
            <i>viage</i> /ˈvjaːʒə/ “trip, voyage”
        %tr
          %td everywhere else
          %td /g/
          %td
            <i>glios</i> /ˈgljos/ “good”
            %br
            <i>égal</i> /ˈeːgaːl/ “equal”
            %br
            <i>loug</i> /ˈlowg/ “long”
        %tr
          %td <i>gg</i>
          %td intervocalically, before <i>e, é, è, i, í, y</i>
          %td /g/
          %td
            <i>leigge</i> /ˈlejgə/ “tongue, language”
            %br
            <i>pragge</i> /ˈpraːgə/ “coastline”
            %br
            <i>fraggey</i> /ˈfraːgej/ “to break”
        %tr
          %td <i>gh</i>
          %td word-initially or post-consonantally, before <i>e, é, è, i, í, y</i>
          %td /g/
          %td
            <i>gheómetrie</i> /gəˈjoːmtrə/ “geometry”
            %br
            <i>silghe</i> /ˈsiːlgə/ “chard”
            %br
            <i>ghez</i> /ˈgez/ “gas, petrol”
        %tr
          %td <i>gn</i>
          %td
          %td /nj/
          %td
            <i>signe</i> /ˈsinjə] “sign”
            %br
            <i>magnific</i> /ˈmaːnjifik/ “magnificent”
            %br
            <i>bégne</i> /ˈbenjə/ “bath”
        %tr
          %td <i>h</i>
          %td
          %td /x/
          %td
            <i>húte</i> /ˈxuːtə/ “whale”
            %br
            <i>fahil</i> /ˈfaːxiːl/ “easy”
            %br
            <i>haoh</i> /ˈxawx/ “peach tree”
        %tr
          %td <i>j</i>
          %td
          %td /ʒ/
          %td
            <i>jazire</i> /ˈʒaːzirə/ “island”
            %br
            <i>mejèst</i> /məˈʒest/ “teacher”
            %br
            <i>haj</i> /ˈxaːʒ/ “pilgrimage”
        %tr
          %td <i>l</i>
          %td
          %td /l/
          %td
            <i>libr</i> /ˈlibr/ “book”
            %br
            <i>eld</i> /ˈeːld/ “other”
            %br
            <i>foil</i> /ˈfojl/ “leaf”
        %tr
          %td <i>m</i>
          %td
          %td /m/
          %td
            <i>márçs</i> /ˈmaʃs/ “stairs”
            %br
            <i>ysme</i> /ˈismə/ “name”
            %br
            <i>prim</i> /ˈpriːm/ “first”
        %tr
          %td{:rowspan => 2} <i>n</i>
          %td
          %td /n/
          %td
            <i>nóv</i> /ˈnoːv/ “nine”
            %br
            <i>Tenès</i> /təˈnes/ “Tunisia”
            %br
            <i>óccian</i> /ˈoːkjaːn/ “ocean”
        %tr
          %td irregularly
          %td /ŋ/
          %td
            <i>caun</i> /ˈkawŋ/ “meat”
            %br
            <i>qoun</i> /ˈqowŋ/ “horn”
            %br
            <i>rèstaurant</i> /ˈresturaːŋ/ “restaurant”
        %tr
          %td <i>p</i>
          %td
          %td /p/
          %td
            <i>pac</i> /ˈpak/ “peace”
            %br
            <i>cupr</i> /ˈkupr/ “copper”
            %br
            <i>lup</i> /ˈlup/ “jackal, wolf”
        %tr
          %td <i>q</i>
          %td
          %td /q/
          %td
            <i>qoun</i> /ˈqowŋ/ “horn”
            %br
            <i>faqs</i> /ˈfaːqs/ “cucumber”
            %br
            <i>araq</i> /ˈaːraq/ “liquor”
        %tr
          %td <i>r</i>
          %td
          %td /r/
          %td
            <i>rost</i> /ˈrost/ “mouth”
            %br
            <i>yrio</i> /ˈiriw/ “river”
            %br
            <i>catr</i> /ˈkaːtr/ “four”
        %tr
          %td <i>s</i>
          %td
          %td /s/
          %td
            <i>sé</i> /ˈseː/ “evening”
            %br
            <i>pesc</i> /ˈpesk/ “fish”
            %br
            <i>tres</i> /ˈtres/ “three”
        %tr
          %td <i>sħ</i>
          %td
          %td /sˤ/
          %td
            <i>sħahre</i> /ˈsˤaːxrə/ “desert”
            %br
            <i>sħabats</i> /ˈsˤaːbats/ “shoes”
            %br
            <i>Sħén</i> /ˈsˤeːn/ “China”
        %tr
          %td <i>t</i>
          %td
          %td /t/
          %td
            <i>temp</i> /ˈteːmp/ “weather”
            %br
            <i>lètre</i> /ˈletrə/ “letter”
            %br
            <i>lutot</i> /ˈlutut/ “everything”
        %tr
          %td <i>tħ</i>
          %td
          %td /tˤ/
          %td
            <i>tħaib</i> /ˈtˤajb/ “ripe”
            %br
            <i>qutħú</i> /quˈtˤuː/ “cotton”
            %br
            <i>tħube</i> /ˈtˤubə/ “brick”
        %tr
          %td <i>v</i>
          %td
          %td /v/
          %td
            <i>vioe</i> /ˈviwə/ “village”
            %br
            <i>nive</i> /ˈnivə/ “snow, ice”
            %br
            <i>brev</i> /ˈbrev/ “brief”
        %tr
          %td <i>z</i>
          %td
          %td /z/
          %td
            <i>zaitúnay</i> /ˈzajtuːnaj/ “olive tree”
            %br
            <i>ázulí</i> /azuˈliː/ “blue”
            %br
            <i>laoz</i> /ˈlawz/ “almond tree”
        %tr
          %td <i>ź</i>
          %td
          %td /ð/
          %td
            <i>źabut</i> /ˈðaːbut/ “armpit”
            %br
            <i>áźe</i> /ˈaːðə/ “member”
            %br
            <i>meź</i> /ˈmeð/ “middle”

  = section "Foreign Loans" do
    %p Foreign loans, or at least ones originating from other languages that use the Latin alphabet, tend to only partially assimilate to Tunisian spelling conventions. This is manifested in two main ways.
    %p First, Tunisian will preserve certain non-native spelling conventions. For instance, /ʒ/ is usually spelled <i>j</i> in native words, but in loans from languages such as English, French, and Italian where <i>g</i> + a front vowel represents /ʒ/ or /dʒ/, this spelling will generally be maintained: <i>garage</i> “garage” [gʌ.ˈraː.ʒə], not *<i>garaj</i> or *<i>garaje</i>. The same principle applies to the pronunciation of <i>c</i> as /s/ before front vowels, which does not occur in any native morphemes. Note that if the conditioning environment for a particular pronunciation disappears, the spelling may revert back to regular Tunisian rules, as in the plural <i>garajs</i> “garages” [gʌ.ˈraːʒz]; the spelling *<i>garages</i> would imply an additional vowel /ə/ that is not there, while *<i>garags</i> would only ever imply a hard /g/ rather than /ʒ/. Examples include:
    %ul
      %li <i>viage</i> /ˈvjaː.ʒə/ “trip” (plural <i>viajs</i>) ← French <i>voyage</i>
      %li <i>gèneral</i> /ˈʒeːn.draːl/ “general” ← French <i>générale</i>
      %li <i>revoltciun</i> /rə.ˈvoːl.suːn/ “revolution” ← French <i>révolution</i>#{footnote}
      %li <i>signe</i> /ˈsi.njə/ “sign” (plural <i>sinis</i>) ← French <i>signe</i>
    %p Second, as a corollary to the above, Tunisian spelling will frequently reflect vowel quality and quantity as they were in the original language and not in modern Tunisian. This manifests itself in the form of orthographic vowels that are not pronounced at all or that are pronounced differently than they are spelled; in the latter case, this is usually a case of <i>o</i> being pronounced /u/, <i>è</i> being pronounced /i/, or any vowel being pronounced /ə/:
    %ul
      %li <i>computá</i> /ˈkoːmpətaː/ “compute, calculate”
      %li <i>biçiclète</i> /ˈbiʃklitə/ “bicycle”
      %li <i>aotobus</i> /ˈawtəbus/ “bus”
    %p This is not absolute, however, and there are many clear loanwords that do reflect the vowel changes as well: <i>pulicie</i> /puˈliːsjə/ “police” (which helpfully has <i>u</i> instead of <i>o</i>, but which fails to indicate the fact that this word was borrowed with a long /iː/).
    %p Vowel length in loanwords can also be rather erratic. When borrowing from Arabic, Tunisian generally maintains the original vowel length as seen in spoken Tunisian Arabic. When borrowing from European languages, however, vowels are almost always borrowed short except before coda /m n r l/ (perhaps a side-effect of these consonants' high sonority) and sporadically to force a specific stress assignment:
    %ul
      %li <i>járdan</i> /ˈʒaːrdaːn/ “garden”
      %li <i>párc</i> /ˈpaːrk/ “park”
      %li <i>pulicie</i> /puˈliːsjə/ “police” (likely imitative of French or Italian stress, as with a short vowel this would be */ˈpulisjə/)
    %p When discussing loanwords in Tunisian, it is also important to keep in mind that for much of its history Tunisian was in closer contact with Arabic than any Western European languages, and consequently many internationalisms entered the language via Arabic. This accounts for many cases when Tunisian at first glance appeared to have gone against the above generalities and assimilated loanwords beyond immediate recognition, such as <i>Ambricce</i> /ˈaːm.bri.kə/ “America” or <i>qaoe</i> /ˈqawə/ “coffee”, words that tend to be very consistent (and very different) in continental European languages.

%section.footnotes
  = footnote do
    The suffix <i>-ciun</i> /s(j)uːn/ “-tion” could perhaps be described as a hyperforeignism. The pronunciation with /s/, which displaced the native pronunciation with /t/, is of French origin; since /s/ is commonly spelled <i>c</i> before front vowels in French loans and French <i>t</i> very rarely represents /s/ outside of this particular suffix, the <i>c</i> spelling appears to have been adopted erroneously in Tunisian to preserve the supposed French form.
