- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "L-Ôrćographie"

= section "History of Written Tunisian" do
  %p The history of Tunisian begins with the Roman conquest of Carthage in 146 BC. With the annexation of northern Africa into the Roman Empire came the introduction of Latin as the language of administration and learning. Classical Latin became the dominant written language in the region, though Vulgar Latin was the dominant language amongst the general population. The Crisis of the Third Century brought about a sudden decline in literacy in the region; it is from this era that we begin to see the first written traces of North African Latin in the form of misspellings in graffiti and occasional use of words of Berber origin. There is very little written evidence from the era of Vandal occupation in the fifth and early six centuries. When the Eastern Roman Empire reconquers the province in 533, Latin would presumably have returned to its former social status, though few texts seem to have survived.
  %p The Arab conquest of Tunisia in 698 AD brought about significant changes to the region. Though Latin continued to be used in religious contexts and was widely used by the educated elite alongside Arabic in the region (particularly due to the sizable Christian population and persistant trade relations with Europe), knowledge of formal Latin amongst the lower classes was virtually nonexistant, and they would write in their own Romance vernacular using Arabic script. Thus, uniquely amongst the Romance languages, the first texts that are clearly written in Old Tunisian were written using the Arabic alphabet rather than the Roman one.
  %p In the 12th century, Christian crusades had resulted in the establishment of several Christian city-states along the Tunisian coastline. Though governed by the Normans, Middle Tunisian was the language of daily life, and a deliberate effort to expunge traces of Muslim rule led to the re-emergence of Latin script. The spelling of this time was heavily influenced by Middle French. The unification of Tunisia under a Christian king in the 16th century began a new era of Middle Tunisian as a prestige language, and educated writers, usually being multilingual, introduced a number of French and Italian spelling conventions into the language.
  %p Tunisian spelling was first codified formally in the early 18th century by L-Ucadmie Regale yt Tenés, the Royal Academy of Tunisia (then spelled <i>Lu Academie Regale de Tenes</i>), a standard heavily influenced by Latin and French pronunciations. In 1803, a major reform resulted in a new spelling system with a much closer correspondence to the spoken language, particularly with respect to vowels. A number of minor changes have taken place since then, but the modern orthography is essentially the same as the one created by the 1803 reform.

= section "Modern Tunisian Alphabet" do
  %p The modern Tunisian alphabet consists of 27 letters: A B C Ć Ç D E F G H Ħ I J L M N O P Q R S T U V Y Z Ź. Tunisian also makes use of a number of letters that are not part of the alphabet: Â, Ê, É, Î, Ô, Û; these are considered variants of the basic letterform they derive from, so that a dictionary would include words beginning with both A and Â in the 'A' section.

= section "Spelling and Orthographic Conventions" do
  = section "Representation of Vowels" do
    %p Tunisian vowel representation is for the most part quite regular. The letters <i>a</i>, <i>i</i>, <i>o</i>, and <i>u</i> correspond to the short vowels /a i o u/. A circumflex marks a long vowel, so <i>â</i>, <i>ê</i>, <i>ô</i>, and <i>û</i> represent /aː iː oː uː/. However, given that the contrast between /a/ and /aː/ has been neutralized in non-word-final position in most dialects, the distribution of orthographic <i>a</i> and <i>â</i> is mostly historic and by and large must be memorized.</p>
    %p The representation of /e/ and /ə/ is more complicated. The circumflexed form <i>ê</i> always represents /eː/ (since there is no long schwa), while the acute accent <i>é</i> marks short /e/ unambiguously. However, not all /e/ is spelled with <i>é</i>, meaning that <i>e</i> can represent both /e/ and /ə/. The following rules describe the vast majority of cases:
    %ol
      %li /eː/ is represented with <i>ê</i>.
      %li /e/ in a monosyllabic word or word-initially is spelled <i>e</i>.
      %li /e/ in all other circumstances is spelled <i>é</i>.
      %li /ə/ is spelled <i>e</i>.
    %p The letter <i>y</i> can represent both /i/ and /ə/, the latter only in clitics. Word-initial /i/ is most commonly represented as <i>y</i>, while word-internal or word-final /i/ is represented with <i>i</i>. It is never used to represent a long /iː/, and there is no *<i>ŷ</i> glyph used in Tunisian.
    %p In diphthongs, the glide /j/ is usually represented with <i>i</i>: <i>ai ei oi ui ia ie io iu</i> /aj ej oj uj ja je jo ju/; morpheme-finally, <i>y</i> may be used instead, as in <i>tçay</i> [ˈtʃaj] “tea”. The glide /w/ is represented by <i>o</i>, except if the nucleus is /o/, in which case <i>u</i> is used: <i>ao eo io ou oa oe oi uo</i> /aw ew iw ow wa we wi wo/. The spellings <i>io</i> and <i>oi</i> are ambiguous.
    %p A circumflex on a vowel located after another vowel serves as a diaeresis, indicating that the two vowels should be pronounced as separate syllables and not as a diphthong. It does not necessarily mean the circumflexed vowel is long: <i>aî</i> /aji, ajiː/.
    %p In many foreign loans, and especially in scientific or international vocabulary, the spelling of vowels may be far more conservative than the pronunciation, with the spelling more closely reflecting the foreign form. In such cases it is not possible to predict the pronunciation from the spelling alone: <i>biôloggie</i> /biˈolgjə/ “biology”, <i>teléfone</i> /təlˈfonə/ “telephone”, <i>général</i> /ˈʒɛndral/ “general (n.)”.

  = section "Representation of Consonants" do
    %p The following table summarizes the spelling of consonants sounds in regular environments.
    %table.pronunciation
      %thead
        %tr
          %th Spelling
          %th Context
          %th Pronunciation
          %th Examples
      %tbody
        %tr
          %td <i>b</i>
          %td
          %td /b/
          %td
            <i>bivê</i> [ˈbi.veː] “to drink”
            %br
            <i>republicce</i> [rə.ˈpu.bli.kə] “republic”
            %br
            <i>promb</i> [ˈpromb] “lead”
        %tr
          %td{:rowspan => 2} <i>c</i>
          %td before <i>e, ê, é, i, î</i>
          %td /s/
          %td
            <i>cîsêr</i> [ˈsʲiː.seː] “caesar”
            %br
            <i>révolucîn</i> [re.vol.ˈsʲiːn] “revolution”
            %br
            <i>méhribizcîn</i> [me.xri.bis.ˈsʲiːn] “westernization”
        %tr
          %td everywhere else
          %td /k/
          %td
            <i>cude</i> [ˈku.də] “tail”
            %br
            <i>catrécte</i> [ˈkaː.trɛk.tə] “waterfall”
            %br
            <i>dec</i> [ˈdʲɛk] “ten”
        %tr
          %td <i>cc</i>
          %td intervocalically, before <i>e, ê, é, i, î</i>
          %td /k/
          %td
            <i>accê</i> [ˈaː.keː] “maple”
            %br
            <i>fremicce</i> [frə.ˈmi.kə] “ant”
            %br
            <i>iccést</i> [ˈi.kɛst] “this”
        %tr
          %td <i>ch</i>
          %td word-initially or post-consonantally, before <i>e, ê, é, i, î</i>
          %td /k/
          %td
            <i>chîtâ</i> [kiː.ˈtaː] “to sing”
            %br
            <i>ymche</i> [ˈim.kə] “female friend”
            %br
            <i>musche</i> [ˈmu.skə] “music”
        %tr
          %td <i>ć</i>
          %td
          %td /θ/
          %td
            <i>ćéatr</i> [ˈθja.tɪr] “theater”
            %br
            <i>praće</i> [ˈpraː.θə] “plaza”
            %br
            <i>oareć</i> [ˈwa.rəθ] “heir”
        %tr
          %td <i>ç</i>
          %td
          %td /ʃ/
          %td
            <i>çeld</i> [ˈʃɛld] “hot”
            %br
            <i>uçî</i> [u.ˈʃiː] “neighbor”
            %br
            <i>baç</i> [ˈbaʃ] “in order to”
        %tr
          %td <i>d</i>
          %td
          %td /d/
          %td
            <i>duhâ</i> [du.ˈxaː] “smoke”
            %br
            <i>redic</i> [rə.ˈdʲik] “root”
            %br
            <i>grend</i> [ˈgrɛnd] “large”
        %tr
          %td <i>dħ</i>
          %td
          %td /dˤ/
          %td
            <i>baidħe</i> [ˈbaj.dˤə] “egg”
            %br
            <i>medħavi</i> [mə.ˈdˤaː.vi] “skylight”
            %br
            <i>medħêq</i> [mə.ˈdˤɛːq] “strait”
        %tr
          %td <i>f</i>
          %td
          %td /f/
          %td
            <i>fémne</i> [ˈfɛm.nə] “woman”
            %br
            <i>asfî</i> [ˈaː.sfiː] “yellow”
            %br
            <i>cnif</i> [ˈknif] “knife”
        %tr
          %td{:rowspan => 2} <i>g</i>
          %td before <i>e, ê, é, i, î</i>
          %td /ʒ/
          %td
            <i>général</i> [ˈʒɛn.dral] “general”
            %br
            <i>géntil</i> [ˈʒɛn.til] “gentle”
            %br
            <i>viage</i> [ˈvjaː.ʒə] “trip, voyage”
        %tr
          %td everywhere else
          %td /g/
          %td
            <i>glios</i> [ˈgljos] “good”
            %br
            <i>nigr</i> [ˈni.gɪr] “black”
            %br
            <i>loig</i> [ˈlojg] “long”
        %tr
          %td <i>gg</i>
          %td intervocalically, before <i>e, ê, é, i, î</i>
          %td /g/
          %td
            <i>leigge</i> [ˈlʲej.gə] “tongue, language”
            %br
            <i>pragge</i> [ˈpraː.gə] “coastline”
            %br
            <i>viggil</i> [ˈvi.gil] “I watch”
        %tr
          %td <i>gh</i>
          %td word-initially or post-consonantally, before <i>e, ê, é, i, î</i>
          %td /g/
          %td
            <i>gheômetrie</i> [ge.ˈjom.trjə] “geometry”
            %br
            <i>silghe</i> [ˈsil.gə] “chard”
            %br
            <i>ghez</i> [ˈgɛz] “gas, petrol”
        %tr
          %td <i>gn</i>
          %td
          %td /nj/
          %td
            <i>signe</i> [ˈsʲi.njə] “sign”
            %br
            <i>magnific</i> [mʌ.nji.ˈfik] “magnificent”
            %br
            <i>bégne</i> [ˈbe.njə] “bath”
        %tr
          %td <i>h</i>
          %td
          %td /x/
          %td
            <i>hûte</i> [ˈxu.tə] “whale”
            %br
            <i>méhrib</i> [ˈme.xrib] “west”
            %br
            <i>haoh</i> [ˈxawx] “peach tree”
        %tr
          %td <i>j</i>
          %td
          %td /ʒ/
          %td
            <i>jazire</i> [ˈʒaː.zi.rə] “island”
            %br
            <i>mejést</i> [mə.ˈʒɛst] “teacher”
            %br
            <i>haj</i> [ˈxaːʒ] “pilgrimage”
        %tr
          %td <i>l</i>
          %td
          %td /l/
          %td
            <i>libr</i> [ˈlʲi.bɪr] “book”
            %br
            <i>eltê</i> [ˈɛl.teː] “other”
            %br
            <i>foil</i> [ˈfojl] “leaf”
        %tr
          %td <i>lr</i>
          %td
          %td /ld/
          %td
            <i>prélrims</i> [ˈprɛl.dimz] “we spoke”
            %br
            <i>ysmilre</i> [y.ˈsmil.də] “similar (#{abbrev 'fem'})”
            %br
            <i>colrat</i> [ˈkol.dat] “dark (#{abbrev 'masc'})”
        %tr
          %td <i>m</i>
          %td
          %td /m/
          %td
            <i>mârçs</i> [ˈmaːʃs] “stairs”
            %br
            <i>ysme</i> [ˈis.mə] “name”
            %br
            <i>prim</i> [ˈprim] “first”
        %tr
          %td <i>n</i>
          %td
          %td /n/
          %td
            <i>nov</i> [ˈnov] “nine”
            %br
            <i>Tenés</i> [tə.ˈnʲɛs] “Tunisia”
            %br
            <i>bone</i> [ˈbɔ.nə] “happy (#{abbrev 'fem'})”
        %tr
          %td <i>p</i>
          %td
          %td /p/
          %td
            <i>pac</i> [ˈpaːk] “peace”
            %br
            <i>cupr</i> [ˈku.pɪr] “copper”
            %br
            <i>lup</i> [ˈlup] “jackal, wolf”
        %tr
          %td <i>q</i>
          %td
          %td /q/
          %td
            <i>qéçre</i> [ˈqɛʃ.rə] “bark”
            %br
            <i>oareqe</i> [ˈwaː.rə.qə] “sheet”
            %br
            <i>hâdaq</i> [ˈxaː.daq] “ditch”
        %tr
          %td <i>r</i>
          %td
          %td /r/
          %td
            <i>rost</i> [ˈrost] “mouth”
            %br
            <i>yrio</i> [ˈi.riw] “river”
            %br
            <i>catr</i> [ˈkaː.tɪr] “four”
        %tr
          %td <i>s</i>
          %td
          %td /s/
          %td
            <i>sê</i> [ˈseə] “evening”
            %br
            <i>pesc</i> [ˈpɛsk] “fish”
            %br
            <i>yscls</i> [ˈis.kuz] “schools”
        %tr
          %td <i>sħ</i>
          %td
          %td /sˤ/
          %td
            <i>sħahre</i> [ˈsˤaː.xrə] “desert”
            %br
            <i>sħabats</i> [ˈsˤaː.bats] “shoes”
            %br
            <i>besħal</i> [bə.ˈsˤaːl] “onion”
        %tr
          %td <i>t</i>
          %td
          %td /t/
          %td
            <i>tres</i> [ˈtrɛs] “three”
            %br
            <i>létre</i> [ˈlʲe.trə] “letter”
            %br
            <i>lutot</i> [lu.ˈtot] “everything”
        %tr
          %td <i>tħ</i>
          %td
          %td /tˤ/
          %td
            <i>tħêl</i> [ˈtˤeəl] “tall”
            %br
            <i>qotħû</i> [qo.ˈtˤuː] “cotton”
            %br
            <i>tħube</i> [ˈtˤu.bə] “brick”
        %tr
          %td <i>v</i>
          %td
          %td /v/
          %td
            <i>vos</i> [ˈvos] “you all”
            %br
            <i>sêvizte</i> [ˈseə.vis.tə] “favor”
            %br
            <i>brev</i> [ˈbrɛv] “brief”
        %tr
          %td <i>z</i>
          %td
          %td /z/
          %td
            <i>zone</i> [ˈzɔ.nə] “zone”
            %br
            <i>halzûme</i> [xʌl.ˈzuː.mə] “snail”
            %br
            <i>laoz</i> [ˈlawz] “almond tree”
        %tr
          %td <i>ź</i>
          %td
          %td /ð/
          %td
            <i>źeliâ</i> [ðə.ˈljaː] “to humiliate”
            %br
            <i>âźe</i> [ˈaː.ðə] “member”
            %br
            <i>huź</i> [ˈxuð] “let, may”

  = section "Foreign Loans" do
    %p Foreign loans, or at least ones originating from other languages that use the Latin alphabet, tend to only partially assimilate to Tunisian spelling conventions. This is manifested in two main ways.
    %p First, Tunisian will preserve certain non-native spelling conventions. For instance, /ʒ/ is usually spelled <i>j</i> in native words, but in loans from languages such as English, French, and Italian where <i>g</i> + a front vowel represents /ʒ/ or /dʒ/, this spelling will generally be maintained: <i>garage</i> “garage” [gʌ.ˈraː.ʒə], not *<i>garaj</i> or *<i>garaje</i>. The same principle applies to the pronunciation of <i>c</i> as /s/ before front vowels, which does not occur in any native morphemes. Note that if the conditioning environment for a particular pronunciation disappears, the spelling may revert back to regular Tunisian rules, as in the plural <i>garajs</i> “garages” [gʌ.ˈraːʃs]; the spelling *<i>garages</i> would imply an additional vowel /ə/ that is not there, while *<i>garags</i> would only ever imply a hard /g/ rather than /ʒ/. Examples include:
    %ul
      %li <i>viage</i> /ˈvja.ʒə/ “trip” (plural <i>viajs</i>) ← French <i>voyage</i>
      %li <i>général</i> /ˈʒen.dral/ “general” ← French <i>générale</i>
      %li <i>révolucîn</i> /re.vol.ˈsiːn/ “revolution” ← French <i>révolution</i>#{footnote}
      %li <i>signe</i> /ˈsi.njə/ “sign” (plural <i>sinis</i>) ← French <i>signe</i>
    %p Second, when the word in the original language contains sounds that must be dropped under Tunisian phonological restrictions, such as coda /r/ or various unstressed vowels, the Tunisian spelling will generally preserve the lost letters in order to preserve the connection with the original language. Thus, the word /paːk/ “park” is spelled <i>pârc</i> rather than *<i>pâc</i>, since the former better suggests the original form. The same may be true of learned Latin or Greek forms, where the spelling of a word was modified to better reflect its origins: <i>cîsêr</i> “caesar” /ˈsiː.seː/.

%section.footnotes
  = footnote do
    The suffix <i>cîn</i> /siːn/ “-tion” could perhaps be described as a hyperforeignism. The pronunciation with /s/, which displaced the native pronunciation with /t/, is of French origin; since /s/ is commonly spelled <i>c</i> before front vowels in French loans and French <i>t</i> very rarely represents /s/ outside of this particular suffix, the <i>c</i> spelling appears to have been adopted erroneously in Tunisian to preserve the supposed French form.
