- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "La Phonologgie"

= section "Vowels" do
  = section "Phonemes" do
    %p Tunisian has a total of eleven distinctive vowel phonemes, five of which are long and six of which are short.
    %table
      %tr
        %th
        %th Front
        %th Central
        %th Back
      %tr
        %th High
        %td i iː
        %td
        %td u uː
      %tr
        %th Mid
        %td e eː
        %td ə
        %td o oː
      %tr
        %th Low
        %td
        %td a aː
        %td
    %p All vowels with the exception of /ə/ can freely appear at the beginning, middle, or end of a word. /ə/ is only ever found word-internally or finally, never word-initially. Long vowels, though unrestricted, appear most frequently in word-final position.
    %p Valid diphthongs all consist of either /j/ or /w/ as the semivowel. Allowed falling diphthongs are /aj ej oj uj aw ew iw ow/; there are no falling diphthongs with long vowels or with homorganic nucleus and off-glide. The only restriction on rising diphthongs is that they cannot be homorganic: /ja je jo ju jə jaː jeː joː juː wa we wi wo wə waː weː wiː woː/.
    %p Any other two-vowel sequence has two distinct nuclei, with the two vowels belonging to separate syllables.

  = section "Allophony" do
    %p Tunisian vowels vary heavily depending on stress. In particular, the stressed vowel system and unstressed vowel systems are very different:
    %table.invisible
      %tr
        %td
          %table
            %thead
              %tr
                %th{:colspan => 4} Stressed Vowels
            %tbody
              %tr
                %th
                %th Front
                %th Central
                %th Back
              %tr
                %th High
                %td i iː
                %td
                %td u uː
              %tr
                %th Mid
                %td e eː
                %td
                %td o oː
              %tr
                %th Low
                %td
                %td (a) aː
                %td
        %td
          %table
            %thead
              %tr
                %th{:colspan => 4} Unstressed Vowels
            %tbody
              %tr
                %th
                %th Front
                %th Central
                %th Back
              %tr
                %th High
                %td i iː
                %td
                %td u uː
              %tr
                %th Mid
                %td eː
                %td ə
                %td oː
              %tr
                %th
                %td
                %td a aː
                %td

    %p The high vowels /i(ː)/ and /u(ː)/ are generally very stable and do not vary much in pronunciation due to stress or location. However, these two vowels may not appear immediately after an emphatic consonant /tˤ dˤ sˤ zˤ/ or the uvular plosive /q/; historical /i(ː)/ and /u(ː)/ in this position have lowered to /e(ː)/ and /o(ː)/.
    %p The mid vowels /e(ː)/ and /o(ː)/ are more variable in their pronunciation. The short vowels /e/ and /o/ are realized as [e] and [ɔ] in open syllables and as [ɛ] and [o] in closed syllables. The long vowels /eː/ and /oː/ tend to diphthongize when under stress, with a realization similar to [eə] and [ɔə]; the greeting <i>côpac</i> “hello”, for example, is pronounced /ˈkoː.pak/ [ˈkɔə.pʌk]. The short vowels /e/ and /o/ do not occur in unstressed syllables, as can be evidenced in loanwords such as <i>pulicie</i> [pu.ˈliː.sjə] “police” or <i>hotel</i> [ˈxɔ.təl] “hotel”. This vowel reduction is not always represented orthographically, but it nevertheless is a productive rule even in loanwords: <i>computâ</i> [kum.pə.ˈtaː] “compute, calculate”.
    %p The low vowel /a(ː)/ has a fairly weak length distinction. Very few speakers contrast /a/ and /aː/ anywhere except word-finally, and even then not all speakers maintain the contrast word-finally. Any /a(ː)/ under stress is generally pronounced as long [aː], while unstressed /a(ː)/ becomes short [ʌ]. Amongst speakers that have lost the word-final contrast as well, the typical merged pronunciation is as long [ɑː] in this position. In higher registers and some more conservative dialects, the contrast between /a/ and /aː/ is still well-preserved in all positions.
    %p The reduced vowel /ə/ is usually realized as a neutral vowel [ə] word-internally. Word-finally, it has a realization further back in the mouth, closer to [ʊ]. However, word-finally it is also frequently elided in informal speech, leaving behind a slight velarization of the preceding consonant or, in the case of final /jə/, as palatalization + [ɪ].
    %p If the elision of final /ə/ results in a consonant cluster, some more complex phonetic changes may take place, according to the general rules of consonant allophony as described in the next section.
    %p Here are a number of words and their pronunciations in both formal and informal speech:
    %table
      %thead
        %tr
          %th Word
          %th Phonemic<br>Breakdown
          %th Formal<br>Pronunciation
          %th Colloquial<br>Pronunciation
          %th Meaning
      %tbody
        %tr
          %td <i>tenésiâ</i>
          %td /təˈnesjaː/
          %td [tə.ˈne.sjaː]
          %td [tə.ˈne.sjaː]
          %td “Tunisian (man)”
        %tr
          %td <i>tenésiane</i>
          %td /təˈnesjanə/
          %td [tə.ˈne.sjʌ.nʊ]
          %td [tə.ˈne.sjʌnˠ]
          %td “Tunisian (woman)”
        %tr
          %td <i>eribor</i>
          %td /ˈeribor/
          %td [ˈe.ri.bor]
          %td [ˈe.ri.bor]
          %td “tree”
        %tr
          %td <i>ystrate</i>
          %td /ˈistratə/
          %td [ˈis.trʌ.tʊ]
          %td [ˈis.trʌtˠ]
          %td “road, avenue”
        %tr
          %td <i>sê</i>
          %td /ˈseː/
          %td [ˈseə]
          %td [ˈseə]
          %td “evening”
        %tr
          %td <i>nomie</i>
          %td /ˈnomjə/
          %td [ˈnɔ.mjʊ]
          %td [ˈnɔ.mʲɪ]
          %td “title, rank”
        %tr
          %td <i>tħêl</i>
          %td /ˈtˤeːl/
          %td [ˈtˤeəl]
          %td [ˈtˤeəl]
          %td “tall”
        %tr
          %td <i>zurie</i>
          %td /ˈzurjə/
          %td [ˈzu.rjʊ]
          %td [ˈzu.rʲɪ]
          %td “seed”
        %tr
          %td <i>fremicce</i>
          %td /frəˈmikə/
          %td [frə.ˈmi.kʊ]
          %td [frə.ˈmikˠ]
          %td “ant”
        %tr
          %td <i>uçine</i>
          %td /ˈuʃinə/
          %td [ˈu.ʃi.nʊ]
          %td [ˈu.sinˠ]
          %td “(female) neighbor”
        %tr
          %td <i>corut</i>
          %td /ˈkorut/
          %td [ˈkɔ.rut]
          %td [ˈkɔ.rut]
          %td “short”
        %tr
          %td <i>nôm</i>
          %td /ˈnoːm/
          %td [ˈnɔəm]
          %td [ˈnɔəm]
          %td “no”
        %tr
          %td <i>ystle</i>
          %td /ˈis.tlə/
          %td [ˈist.lʊ]
          %td [ˈis.tu]
          %td “star”
    %p Additional vowels may emerge as allophonic variants of consonants in certain positions, or as a predictable process of epenthesis: <i>ystls</i> “stars” [ˈis.tuz], <i>librs</i> “books” [ˈli.bɪrz]. These sorts of non-phonemic vowels are described in the following section.

= section "Consonants" do
  = section "Phonemes" do
    %p Tunisian has 25 distinct consonants, as shown in the following table.
    %table
      %tr
        %th
        %th Labial
        %th Interdental
        %th Dental
        %th Postalveolar
        %th Palatal
        %th Velar
        %th Uvular
      %tr
        %th Plosive
        %td p b
        %td
        %td t d
        %td
        %td
        %td k g
        %td q
      %tr
        %th Fricative
        %td f v
        %td θ ð
        %td s z
        %td ʃ ʒ
        %td
        %td x
        %td
      %tr
        %th Emphatic
        %td
        %td
        %td tˤ dˤ sˤ
        %td
        %td
        %td
        %td
      %tr
        %th Nasal
        %td m
        %td
        %td n
        %td
        %td
        %td
        %td
      %tr
        %th Liquid
        %td
        %td
        %td r l
        %td
        %td
        %td
        %td
      %tr
        %th Semivowel
        %td w
        %td
        %td
        %td
        %td j
        %td
        %td

  = section "Allophony" do
    = section "Plosives" do
      %p Tunisian has five (non-emphatic) plosive consonants: /p b t d k g q/. Of these, all but /q/ are found in native words of Romance origin; /q/ is found in Arabic and Berber loanwords.
      %p The unvoiced plosives /p t k q/ are generally pronounced very consistently. Word-initially, /p/ and /t/ are usually aspirated, becoming [pʰ] and [tʰ]. /k/ and /q/ may also be aspirated in this position, but this is more regional, and is not a feature of the standard dialect of Tunis. All four are pronounced unaspirated in other positions. In colloquial speech where it is common to drop word-final schwas, these newly-final consonants may be pronounced velarized or even as ejectives: <i>séfte</i> “seven (<abbr title="Feminine">f</abbr>)” [ˈsɛftˠ, ˈsɛft'].
      %p The voiced plosives /b d g/ are always unaspirated. They do not vary significantly in pronunciation, though may be velarized before a dropped word-final schwa.
      %p The uvular plosive /q/ cannot be followed by the high vowels /i/ and /u/.

    = section "Fricatives" do
      %p Tunisian has nine (non-emphatic) fricative consonants: /f v θ ð s z ʃ ʒ x/. All except /x/ are found in native Romance words, although /θ/ and /ð/ are quite rare outside of loanwords, and often appear in learned re-borrowed forms such as <i>ćéatr</i> “theater” [ˈθjaː.tɪr].
      %p These fricatives all have fairly stable pronunciations. The dental fricatives /s z/ will palatalize to [sʲ zʲ] immediately before a stressed front vowel in some dialects, though not in the standard, and all will be velarized before a dropped schwa. Some speakers, particularly in heavily Arab communities, may also have a voiced velar fricative /γ/ and pharyngeal fricative /ħ/ in Arabic loanwords, both of which are usually borrowed as /x/ in standard Tunisian.

    = section "Emphatics" do
      %p The three emphatic consonants /tˤ dˤ sˤ/ are found exclusively in Arabic and Berber loanwords (with /sˤ/ corresponding to both Arabic ﺽ and ﻅ). They are pronounced velarized, though in practice the sound is often more noticeable on nearby vowels than on the consonant itself. Immediately before a stressed vowel the velarization is usually prominent, while in other locations it is realized more as a [ə] on-glide or off-glide on neighboring vowels. These sounds do not contrast with their non-emphatic counterparts immediately before another consonant, since the effect of velarization on preceding vowels is significantly less than on following vowels. For example, the word <i>tħêl</i> “tall” /tˤeːl/ is usually pronounced as [tˠə̯eəl], with a ə on-glide triggered by the emphatic consonant and the off-glide caused by the usual realization of stressed /eː/. For simplicity's sake, emphatic-induced ə glides will generally not be marked in phonetic transcriptions in this grammar.
      %p Due to colloquial schwa-dropping, word-final /tˤə dˤə sˤə/ and /tə də sə/ are not distinguished in informal speech, with both sets being realized as [tˠ dˠ sˠ].
      %p Emphatic consonants also trigger special allomorphs of certain inflectional endings. For instance, the regular plural suffix is -/s/, but roots ending in emphatic consonants take /-əs/.

    = section "Nasals" do
      %p Tunisian has two nasal consonants, /m/ and /n/. Both are very stable in modern Tunisian (though not historically, as can be seen in many paradigms where /n/ alternates with Ø or a vowel), although /n/ will often assimilate to [ŋ] before velar consonants and [ɴ] before uvular consonants.

    = section "Liquids" do
      %p The two Tunisian liquids are /l/ and /r/.
      %p /l/ typically has a velarized pronunciation in most positions, with a clear [l] sound only before front vowels. This velarized pronunciation is especially apparent when /l/ appears before two consonants or word-finally after a consonant, where it is realized as [u]: <i>moscls</i> “muscles” /moskls/ [ˈmos.kuz].
      %p /r/ is pronounced as a tap when intervocalic, and as a trill in all other positions.

    = section "Semivowels" do
      %p Tunisian has two semivowels, /j/ and /w/. These may appear intervocally as well as in the various diphthongs discussed earlier.

    = section "Epenthetic Vowels" do
      %p Tunisian morphology often allows for some fairly complex consonant clusters to appear, especially word-finally. These clusters are resolved by following a regular series of steps:
      %ol
        %li If the cluster contains /l/ following a less- or equally-sonorous consonant (i.e., anything other than a semivowel), the /l/ will vocalize and be pronounced [u]: <i>ystls</i> “stars” /istlz/ [ˈis.tuz].
        %li If the cluster contains /m/, /n/, or /r/ following a less- or equally-sonorous consonant, a vowel [ɪ] will be inserted immediately before the nasal/liquid: <i>librs</i> “books” /librz/ [ˈli.bɪrz], <i>ysms</i> “names” /ismz/ [ˈi.sɪmz].
        %li If the cluster contains any other consonant following a less- or equally-sonorous consonant (with the exception of /s/, which may freely follow less sonorous consonants), a vowel [ɪ] will be inserted immediately after the first consonant of the cluster, or second if the first consonant is /s/: <i>suject</i> “subject” /suʒekt/ [ˈsu.ʒə.kɪt], <i>ysft</i> “fence” /isft/ [ˈis.fɪt].
        %li All other clusters are pronounced as-is, with no epenthetic vowel.
      %p Note that these types of epenthetic vowels <em>do not</em> affect syllable boundaries for the purposes of determining allophony or stress. In <i>secl</i> “century” /sekl/ [ˈsɛ.ku], for instance, despite the /e/ appearing in an open syllable on a phonetic level, its realization is that of /e/ in a closed syllable. For this reason, such epenthetic vowels are never indicated orthographically.
      %p Only the phoneme /s/ is able to ignore the usual sonority hierarchy, so that words such as <i>pescs</i> “fishes” are realized without any epenthetic vowels: /pesks/ [ˈpɛsks].

= section "Syllables" do
  %p Syllables are divided so as to minimize the coda of the preceding syllable and maximize the onset of the following syllable. Where possible, the syllable break will be placed immediately after a vowel, unless doing so would result in an illegal initial cluster in the following syllable. Every syllable contains exactly one vowel or diphthong on a phonemic level, although as described previously it is not unusual for one syllable on a phonemic level to correspond to multiple nuclei on a phonetic level due to the insertion of automatic epenthetic vowels.
  %p Note that resyllabification can occur across word boundaries if the two words share a single primary stress. This is common, for instance, amongst verbs and verbal clitics, nouns and possessive pronouns, or prepositions and their objects. This provides further evidence for the ephemeral nature of epenthetic vowels: <i>suject</i> “subject” [ˈsu.ʒə.kɪt], but <i>suject iccest</i> “this subject” [ˈsu.ʒək.ˈti.kəst].

= section "Stress" do
  %p Tunisian stress typically falls on the first non-reduced (i.e., not /ə/) syllable of a word. This is in stark contrast to most of the other Romance languages, where stress tends to fall on the final or penultimate syllable, and is a clear North African areal feature. However, there are two fairly common phonological exceptions.
  %p First, if the initial contains a short vowel and the second syllable is ‘heavy’, the stress will be pulled to the second syllable. In this case, ‘heaviness’ includes syllables containing long vowels, closing diphthongs, or vowels followed by a tautosyllabic /m n r/:
  %ul
    %li <i>mizâ</i> [mi.ˈzaː] “scale”
    %li <i>iveit</i> [i.ˈvejt] “event”
    %li <i>yspor</i> [is.ˈpor] “taste”

  %p Second, clear derivational prefixes are often ignored for the purposes of assigning stress; in fact, they tend to behave more like compounds, often bearing secondary stress:
  %ul
    %li <i>difondre</i> [di.ˈfon.drʊ] “sprinkler”
    %li <i>entreduzte</i> [ˌɛn.trə.ˈdus.tʊ] “introduction”
    %li <i>îqânunî</i> [ˌiː.ˈqaː.nu.niː] “illegal”

  %p However, other common exceptions exist without clear phonological basis. Some of these are due to historical compounds that are no longer transparent in the modern language, such as <i>calom</i> [kʌ.ˈlom] “who?” (← Latin <i>qualis homō</i>). Others are due to analogical pressure, which is particularly common with verb conjugations.

= section "Phonotactics" do
  = section "Distribution Restrictions" do
    %p Syllable-initially, any single consonant or vowel may be present, with the exception of the reduced vowel /ə/. Word-initial restrictions are identical to syllable-initial ones.
    %p Syllable-finally and word-finally, any vowel may be present without restriction, though non-reduced short vowels are rare word-finally. The vast majority of Tunisian words end in a consonant, long vowel, or schwa. There is no restriction on the distribution of individual consonants.

  = section "Clusters" do
    %p Due in large part to Berber influences, Tunisian (as well as Tunisian Arabic) are quite permissive when it comes to consonant clusters. Within a single syllable, there is a clear sonority curve, with the highest sonority in the middle of the syllable (i.e., the syllabic nucleus) and the lowest sonority at the periphery. Thus, the onset permits consonants with increasing sonority, while the coda permits consonants with decreasing sonority. Almost any initial or final cluster is allowed so long as it obeys this sonority law. On a phonemic level, the coda may freely disobey this hierarchy, but epenthetic vowels will be inserted so as to restore it.
    %p However, some differences exist between onset and coda clusters. The onset allows for clusters of two consonants with the same sonority, while the coda does not. Thus, initial *kt- is perfectly allowable, while final *-kt will be realized with an epenthetic vowel: <i>cténe</i> [ˈkte.nʊ] “chain”, <i>suject</i> [ˈsu.ʒə.kɪt] “subject”. On the other hand, the coda allows /s/ to disobey the sonority hierarchy and appear after less sonorous consonants, so that forms such as *-ps or even *-sts are permissible final clusters: <i>pescs</i> [ˈpɛsks] “fish”. As in several other Romance languages, *sC- clusters (where 'C' is a plosive or fricative) are not allowed word-initially (as they disobey the sonority hierarchy), and any such forms in loanwords acquire a stressed /i/: <i>yscanner</i> “scanner” (from English) [ˈis.kʌ.nɪr].
    %p The Tunisian sonority hierarchy appears as follows, from highest to lowest: vowels &gt; semivowels &gt; liquids &gt; nasals &gt; fricatives &gt; plosives.
    %p A few other consonants have their own cluster restrictions independent of the sonority hierarchy. The three emphatics are not allowed as the first consonant in a cluster, either in the onset or coda; the language has various morphological means to prevent this from even taking place. This is due to the fact that the emphatic quality is almost entirely indicated by the quality of the following vowel, and so this emphaticness is lost when there is no such vowel.
    %p Tunisian is known for occasionally seeming to have long clusters of consonants, most commonly involving the liquids /r l/, but occasionally also the nasals /m n/. Historically these consonants were especially prone to fully absorbing neighboring unstressed vowels, becoming syllabic consonants. In the modern language, this syllabic /l/ is now pronounced [u], while syllabic /r m n/ are all pronounced with an epenthetic [ɪ], as well other sonority-hierarchy-breaking clusters: <i>yscls</i> [ˈis.kuz] “schools”, <i>librs</i> [ˈli.bɪrz] “books”, <i>acns</i> [ˈaː.kɪnz] “grapes”. These may also occur word-initially, although this is comparatively less common: <i>rnoval</i> [ɪr.ˈnɔ.vʌl] “spring(time)”.

  = section "Morpheme Boundaries" do
    %p Morpheme boundaries do not affect words' pronunciation other than for the purposes of stress assignment described in section 2.4, except insofar as morpheme boundaries coincide with syllable boundaries.

  = section "Word Boundaries and Interword Sandhi" do
    %p In connected speech, word boundaries are ignored within a single stress unit (i.e., a set of words sharing a common primary stress), which allows for sandhi phenomena across word boundaries identical to those intersyllabic rules already discussed. Words may resyllabify in the vicinity of other words, which can in turn impact various transient allophonic phenomena such as epenthetic vowels. Some more complex morphologically-conditioned sandhi may also take place, such as the ablaut in <i>yscle</i> “school” → <i>l-uscle</i> “the school”, triggered by the definite article <i>l-</i>.
    %p Outside of these stress units, interword sandhi is significantly more restricted. The most significant sandhi phenomenon on this level is the tendency for vowels at the end of one word to blend into the first vowel of the following word, should such words end up side-by-side. There may be other sub-phonemic alterations such as voicing assimilation to ease the flow of connected speech.

  = section "Foreign Loans" do
    %p If we consider the class of foreign loans to consist of all words of non-Romance origin, then many such loans stand out quite distinctively in Tunisian due to their distinct phoneme inventories. Any words with certain sounds, such as the emphatic consonants or /x/, can instantly be identified as loaned forms due to the near-complete lack of these sounds in inherited vocabulary. However, since the Berber influence began to appear even during Roman rule over North Africa and Arabic influence goes back well over a milennium, these sounds are not perceived as foreign, and this oldest layer of loan words has long since been established within the language. Extensive contact can further complicate etymologies: <i>fahil</i> [ˈfaː.xil] “easy” does indeed derive from Latin <i>facilis</i>, but the /x/ appears to be contamination from Tunisian Arabic <i>sāhil</i> “easy”.
    %p Due to the fairly lax syllable restrictions in Tunisian, foreign loanwords can generally be imported without substantial alteration to consonants. Vowels, on the other hand, are prone to reduction, particularly in longer words; assimilated morphemes are rarely longer than three syllables. Posttonic vowels are prone to dropping entirely, and unstressed /e o/ tend to raise to /i u/ or reduce to /ə/. Confusingly, such reductions are typically not indicated orthographically as Tunisian tends to preserve the spelling of the donor language: <i>computâ</i> [kum.pə.ˈtaː] “calculate”, <i>biôloggie</i> [bi.ˈjol.gjə] “biology”.
