- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "La Môrphologgie Pronomnale"

= section "Personal Pronouns" do
  %p The Tunisian personal pronoun system distinguishes three persons and two numbers. A masculine/feminine gender contrast exists in the third person singular. Like in most other Romance languages, the personal pronouns are the only remnants of Latin case marking, which was lost entirely in nouns and survives in a greatly reduced form in pronouns. In addition, there is a clear contrast between independent and dependent (or clitic) pronouns.
  %p The independent pronouns consist of four series: subject (or nominative), direct object (or accusative), indirect object (or dative), and oblique (or prepositional). With the exception of the oblique series, most independent pronouns appear only in order to emphasize or contrast, with unmarked usage handled by verb conjugation or clitic pronouns.
  %p The subject series, marking the subject of a verb, descend directly from the Latin nominative case pronouns. The direct object pronouns come from the Latin accusative pronouns, augmented with a prefixed <i>y</i> /i/, a reduced form of the Tunisian object marker <i>a</i>; note that this is written as part of the pronoun in the first and second persons, and as a separate word in the third person. The oblique pronouns, which typically mark the object of a preposition, descend from the Latin genitive case, in many cases augmented with <i>-s</i> (from Latin <i>ipse</i> “oneself”). The indirect object pronouns generally just consist of the preposition <i>a</i> “to, towards” plus the oblique pronoun, although in the third person a glide /j/ is inserted before the pronoun.
  %table
    %thead
      %tr
        %th{:colspan => 5} Independent Personal Pronouns
      %tr
        %th
        %th Subject
        %th Direct Object
        %th Indirect Object
        %th Oblique
    %tbody
      %tr
        %th 1 Sg
        %td <i>iô</i> [ˈjɔə]
        %td <i>ymê</i> [i.ˈmeə]
        %td <i>a meis</i> [ʌ ˈmejs]
        %td <i>meis</i> [ˈmejs]
      %tr
        %th 2 Sg
        %td <i>tû</i> [ˈtuː]
        %td <i>ytê</i> [i.ˈteə]
        %td <i>a teis</i> [ʌ ˈtejs]
        %td <i>teis</i> [ˈtejs]
      %tr
        %th 3 Sg M
        %td <i>eu</i> [ˈew]
        %td <i>y eu</i> [ˈjew]
        %td <i>a ieos</i> [ʌ ˈjews]
        %td <i>eos</i> [ˈews]
      %tr
        %th 3 Sg F
        %td <i>ele</i> [ˈe.lə]
        %td <i>y ele</i> [ˈje.lə]
        %td <i>a iels</i> [ʌ ˈjɛls]
        %td <i>els</i> [ˈɛls]
      %tr
        %th 1 Pl
        %td <i>nos</i> [ˈnos]
        %td <i>ynos</i> [i.ˈnos]
        %td <i>a nostre</i> [ʌ ˈnos.trə]
        %td <i>nostre</i> [ˈnos.trə]
      %tr
        %th 2 Pl
        %td <i>vos</i> [ˈvos]
        %td <i>yvos</i> [i.ˈvos]
        %td <i>a vostre</i> [ʌ ˈvos.trə]
        %td <i>vostre</i> [ˈvos.trə]
      %tr
        %th 3 Pl
        %td <i>els</i> [ˈɛls]
        %td <i>y els</i> [ˈjɛls]
        %td <i>a iels</i> [ʌ ˈjɛls]
        %td <i>els</i> [ˈɛls]

  %p The clitic personal pronouns, while far more common than the indepenent ones, fall into just two categories: direct object and indirect object clitics.
  %p In the first and second persons singular, each clitic has three forms: two proclitic and one enclitic. The proclitic forms include a vowelled form and a vowelless one, the latter used before a word beginning with a vowel. The enclitic forms are always vowelless, and are used in certain syntactic environments that require the clitic to be located after the verb. The first and second persons plural are similar, but lack a vowelless proclitic form.
  %p The third person clitics are more complicated. The table below shows three sets of forms. The first set are the standard forms, behaving much as in the first and second persons, with the exception that the gender and number contrast is completely neutralized in the indirect object clitics. The second set are found in certain types of double object sentences where both indirect and direct object clitics are present. The third set, the so-called genitive clitics, are reserved for use in certain possessive constructions, as described later in this section.
  %table
    %thead
      %tr
        %th{:colspan => 4} Clitic Personal Pronouns
      %tr
        %th
        %th Direct Object
        %th Indirect Object
        %th Genitive
    %tbody
      %tr
        %th 1 Sg
        %td <i>me, m-, -m</i>
        %td <i>mi, m-, -m</i>
        %td <i>mi</i>
      %tr
        %th 2 Sg
        %td <i>te, t-, -t</i>
        %td <i>ti, t-, -t</i>
        %td <i>ti</i>
      %tr
        %th 3 Sg M
        %td <i>le, l-, -l; be, b-, -b</i>
        %td <i>li, l-, -l; le, l-, -l</i>
        %td <i>li</i>
      %tr
        %th 3 Sg F
        %td <i>la, l-, -l; be, b-, -b</i>
        %td <i>li, l-, -l; le, l-, -l</i>
        %td <i>li</i>
      %tr
        %th 1 Pl
        %td <i>nos, -ns</i>
        %td <i>nis, -ns</i>
        %td <i>nos</i>
      %tr
        %th 2 Pl
        %td <i>vos, -os</i>
        %td <i>vis, -os</i>
        %td <i>vos</i>
      %tr
        %th 3 Pl
        %td <i>els, -ls; be, b-, -b</i>
        %td <i>li, l-, -l; els, -ls</i>
        %td <i>us</i>

= section "Reflexive Pronouns" do
  %p Unlike most other Romance languages, Tunisian lacks a series of reflexive direct object clitic pronouns; instead, it has a set of full form reflexive pronouns, historically derived from dative clitics plus the now-defunct noun stem <i>anime</i> “soul, self”. A trace of the former Latin reflexive pronoun <i>sē</i> “oneself” is seen in the third person reflexive pronouns, which are formed with a non-productive clitic <i>s-</i> rather than the usual dative clitic <i>l-</i>. Although the origins of these pronouns are transparently preserved orthographically, with the first and second persons plural even being written as two separate words, synchronically they are best analyzed as fused forms, since in the modern language dative clitics cannot directly modify nouns and there is no dative clitic <i>s-</i>.
  %p These forms appear to be calqued from a Semitic source, as languages such as Punic and Arabic use the noun “soul” with possessive suffixes to mark reflexivity.
  %table
    %thead
      %tr
        %th{:colspan => 2} Reflexive Pronouns
    %tbody
      %tr
        %th 1 Sg
        %td <i>m-anime</i> [ˈmaː.ni.mə]
      %tr
        %th 2 Sg
        %td <i>t-anime</i> [ˈtaː.ni.mə]
      %tr
        %th 3 Sg
        %td <i>s-anime</i> [ˈsaː.ni.mə]
      %tr
        %th 1 Pl
        %td <i>nis anims</i> [ni.ˈsaː.nimz]
      %tr
        %th 2 Pl
        %td <i>vis anims</i> [vi.ˈsaː.nimz]
      %tr
        %th 3 Pl
        %td <i>s-anims</i> [ˈsaː.nimz]

= section "Possessive Pronouns" do
  %p Tunisian is the only Romance language to have completely lost its inherited possessive adjectives, replacing them with a fixed phrasal form consisting of the relativizer <i>yc</i> “that, which” plus a pronominal form, the genitive clitics. Thus, a form such as the first person singular <i>yc mi</i> could literally be interpreted as “which [is] of me”. If the preceding word ends in a vowel, <i>yc</i> will reduce to simply <i>c</i>.
  %table
    %thead
      %tr
        %th{:colspan => 2} Possessive Pronouns
    %tbody
      %tr
        %th 1 Sg
        %td <i>yc mi, c mi</i> [ik.ˈmi, ˈkmi]
      %tr
        %th 2 Sg
        %td <i>yc ti, c ti</i> [ik.ˈti, ˈkti]
      %tr
        %th 3 Sg
        %td <i>yc li, c li</i> [ik.ˈli, ˈkli]
      %tr
        %th 1 Pl
        %td <i>yc nos, c nos</i> [ik.ˈnos, ˈknos]
      %tr
        %th 2 Pl
        %td <i>yc vos, c vos</i> [ik.ˈvos, ˈkwos]
      %tr
        %th 3 Pl
        %td <i>yc us, c us</i> [ik.ˈuz, ˈkuz]

  %p In certain fixed expressions and in archaic texts, the historical possessive adjectives may be seen, but these are not used in the modern language. Their declension largely follows the adjectival pattern, but with a few irregularities. They are as follows:
  %table
    %thead
      %tr
        %th{:colspan => 4} Archaic Possessive Adjectives
      %tr
        %th
        %th Masculine
        %th Feminine
        %th Plural
    %tbody
      %tr
        %th 1 Sg
        %td <i>mî</i> [ˈmiː]
        %td <i>miê</i> [ˈmi.je]
        %td <i>mis</i> [ˈmiz]
      %tr
        %th 2 Sg
        %td <i>tûv</i> [ˈtuːv]
        %td <i>tuve</i> [ˈtu.və]
        %td <i>tuvs</i> [ˈtuvz]
      %tr
        %th 3 Sg
        %td <i>lôv</i> [ˈlɔəv]
        %td <i>love</i> [ˈlɔ.və]
        %td <i>lovs</i> [ˈlovz]
      %tr
        %th 1 Pl
        %td <i>nustr</i> [ˈnus.tɪr]
        %td <i>nustre</i> [ˈnus.trə]
        %td <i>nustrs</i> [ˈnus.tɪrz]
      %tr
        %th 2 Pl
        %td <i>vustr</i> [ˈvus.tɪr]
        %td <i>vustre</i> [ˈvus.trə]
        %td <i>vustrs</i> [ˈvus.tɪrz]
      %tr
        %th 3 Pl
        %td <i>lôv</i> [ˈlɔəv]
        %td <i>love</i> [ˈlɔ.və]
        %td <i>lovs</i> [ˈlovz]

  %p For instance, the opening to the Lord’s Prayer is well-known as <i>Nustr Patr</i> [ˈnus.tɪr ˈpaː.tɪr] “Our Father”, rather than the modern <i>Patr yc nos</i> [ˈpaːtr ik nos].
  %p Two of the historical Latin possessives survived into modern as regular adjectives with non-possessive meaning: <i>nustr</i> “our kind, local” and <i>lôv</i> “their kind, foreign”. Note that <i>lôv</i> in this sense maintains its long vowel in all forms, as normal adjectives would, rather than losing it in the feminine and plural forms as the historical possessive did.

= section "Demonstrative Pronouns" do
  %p Tunisian has three demonstrative adjectives, a proximate (“this, these [near me]”), distal (“that, those [near you]”), and obviative/anaphoric (“that, those [away from both me and you]”). As can be seen in these glosses, there is a strong correspondence between these three forms and the first, second, and third persons. These agree with the noun they modify in gender and number, as with other adjectives.
  %table
    %thead
      %tr
        %th{:colspan => 4} Demonstrative Adjectives
      %tr
        %th
        %th Masculine
        %th Feminine
        %th Plural
    %tbody
      %tr
        %th Proximate
        %td <i>iccést</i> [ˈi.kɛst]
        %td <i>iccéste</i> [ˈi.kɛs.tə]
        %td <i>iccéçs</i> [ˈi.kɛʃtʃ]
      %tr
        %th Distal
        %td <i>icceo</i> [ˈi.kew]
        %td <i>iccéle</i> [ˈi.ke.lə]
        %td <i>iccéls</i> [ˈi.kɛlz]
      %tr
        %th Anaphoric
        %td <i>ilî</i> [i.ˈliː]
        %td <i>ilie</i> [ˈi.ljə]
        %td <i>ilis</i> [ˈi.liz]

  %p The demonstrative pronouns do not mark gender, and for the proximate and distal are identical to the masculine singular demonstrative adjectives plus a mandatory definite article: <i>l-iccést</i> [ˈli.kɛst] “this one”, <i>l-icceo</i> [ˈli.kew] “that one”. The obviative has a special form <i>llî</i> [u.ˈliː] “that one” dissimilated from an earlier *<i>l-ilî</i>.
  %p The obviative demonstratives are sometimes also known as anaphoric demonstratives, given their usage to reference abstract notions previously referenced in conversation: <i>Llî yc l-ai dict</i> [u.ˈliː ik laj ˈdi.kɪt] “That is what I said”. It is also frequently used as a reflexive possessive if the subject is in the third person: <i>Viçenost-ae a llî cai</i> [vi.ʃə.ˈnos.taj aw.ˈliː ˈkaj] “He saw his dog”.

= section "Correlatives" do
  %p The non-personal pro-forms can be summarized in a series of correlatives tables. Gaps in the tables represent forms that must be expressed periphrastically.
  - correlatives = { "Interrogative" => { :determiner => { :tun => "cal",      :pronunciation => "[ˈkaːl]",      :eng => "which?"    },
                                          :person     => { :tun => "calom",    :pronunciation => "[kʌ.ˈlom]",    :eng => "who?"      },
                                          :thing      => { :tun => "çê",       :pronunciation => "[ˈʃeə]",       :eng => "what?"     },
                                          :place      => { :tun => "duve",     :pronunciation => "[ˈdu.və]",     :eng => "where?"    },
                                          :direction  => { :tun => "adû",      :pronunciation => "[ʌ.ˈduː]",     :eng => "whither?"  },
                                          :origin     => { :tun => "dedû",     :pronunciation => "[də.ˈduː]",    :eng => "whence?"   },
                                          :time       => { :tun => "caltemp",  :pronunciation => "[ˈkaːl.təmp]", :eng => "when?"     },
                                          :amount     => { :tun => "cot",      :pronunciation => "[ˈkot]",       :eng => "how much?" },
                                          :way        => { :tun => "come",     :pronunciation => "[ˈkɔ.mə]",     :eng => "how?"      },
                                          :reason     => { :tun => "pro-ç",    :pronunciation => "[ˈproʃ]",      :eng => "why?"      } },
                     "Proximal"      => { :determiner => { :tun => "iccést",   :pronunciation => "[ˈi.kɛst]",    :eng => "this"      },
                                          :person     => { :tun => "l-iccést", :pronunciation => "[ˈli.kɛst]",   :eng => "this"      },
                                          :thing      => { :tun => "l-iccést", :pronunciation => "[ˈli.kɛst]",   :eng => "this"      },
                                          :place      => { :tun => "nic",      :pronunciation => "[ˈnik]",       :eng => "here"      },
                                          :time       => { :tun => "toe",      :pronunciation => "[ˈtwe]",       :eng => "now"       },
                                          :amount     => { :tun => "tend",     :pronunciation => "[ˈtɛn]",       :eng => "this much" },
                                          :way        => { :tun => "copsî",    :pronunciation => "[kɔ.ˈpsiː]",   :eng => "this way, thus" } },
                     "Distal"        => { :determiner => { :tun => "icceo",    :pronunciation => "[ˈi.kew]",     :eng => "that"      },
                                          :person     => { :tun => "l-icceo",  :pronunciation => "[ˈli.kew]",    :eng => "that"      },
                                          :thing      => { :tun => "l-icceo",  :pronunciation => "[ˈli.kew]",    :eng => "that"      },
                                          :place      => { :tun => "imlî",     :pronunciation => "[im.ˈliː]",    :eng => "there"     },
                                          :time       => { :tun => "oahta",    :pronunciation => "[ˈwaːx.tʌ]",   :eng => "then"      },
                                          :amount     => { :tun => "tend",     :pronunciation => "[ˈtɛn]",       :eng => "that much" },
                                          :way        => { :tun => "chîf",     :pronunciation => "[ˈkiːf]",      :eng => "that way"  } },
                     "Obviative"     => { :determiner => { :tun => "ilî",      :pronunciation => "[i.ˈliː]",     :eng => "yon"       },
                                          :person     => { :tun => "llî",      :pronunciation => "[u.ˈliː]",     :eng => "that"      },
                                          :thing      => { :tun => "llî",      :pronunciation => "[u.ˈliː]",     :eng => "that"      },
                                          :place      => { :tun => "imlâ",     :pronunciation => "[im.ˈlaː]",    :eng => "there"     },
                                          :time       => { :tun => "induic",   :pronunciation => "[ˈin.duːk]",   :eng => "then"      },
                                          :amount     => { :tun => "tend",     :pronunciation => "[ˈtɛn]",       :eng => "that much" },
                                          :way        => { :tun => "chîf",     :pronunciation => "[ˈkiːf]",      :eng => "that way"  } } }
  = render 'correlative_table', :alignment => 'left', :correlatives => correlatives

  = section "Interrogative Forms" do
    %p The Tunisian set of interrogatives is rather exceptional from a Romance perspective, with quite a few forms not derived directly from their Latin analogs.
    %p The interrogative adjective <i>cal</i> [ˈkaːl] means “which?”, “what?”, or “what kind?”. It declines as a regular adjective, with feminine singular form <i>cale</i> [ˈkaː.lə] and plural <i>cals</i> [ˈkaːlz]. This is a direct descendant of Latin <i>quālis</i> “which?”, which is well-represented across the other Romance languages: French <i>quel</i>, Spanish <i>cuál</i>, Portuguese <i>qual</i>, Italian <i>quale</i>, and Romanian <i>care</i>.
    %p The pronoun <i>calom</i> [kʌ.ˈlom] means “who?”, and has a corresponding plural form <i>caloms</i> [kʌ.ˈlomz]. This descends from Latin <i>quālis homō</i> “which person?”, entirely displacing Latin <i>quī</i> “who?”. The Tunisian propensity to develop new interrogatives of the form “which [noun]?” may be due to Semitic influence, as similar developments can be seen both in Phoenician and later regional Arabic dialects of the region, such as Tunisian Arabic شكون “who?” (originally, “which being/person?”).
    %p The pronoun <i>çê</i> [ˈʃeə] means “what?”. It descends directly from Latin <i>quem</i>, the accusative singular of <i>quis/quid</i> “what?”. Unlike <i>calom</i>, it does not mark number, and so is always treated as a singular even if it implicitly has plural meaning.
    %p <i>Calom</i> and <i>çê</i> share a clitic variant, <i>ç</i> [ʃ], which is used after primitive prepositions: <i>dî-ç</i> [ˈdiːʃ] “from whom, from what?”, <i>pôl-ç</i> [ˈpɔəlʃ] “for whom, for what?”, <i>ispe-ç</i> [ˈis.pəʃ] “on whom, on what?”, etc. This clitic form is unmarked in such circumstances, but may be replaced by the full pronoun for emphasis: <i>pôl calom</i> “for <em>whom</em>?”.
    %p The three locative interrogatives are <i>duve</i> [ˈdu.və] “where?”, <i>adû</i> [ʌ.ˈduː] “whither, to where?”, and <i>dedû</i> [də.ˈduː] “whence, from where?”. <i>Duve</i> comes from Latin <i>ubi</i> “where?”, augmented by <i>dē</i> “from”, in much the same way as Italian <i>dove</i>. The final /ə/ appears to be excrescent, with the expected reflex *<i>dû</i> seen in the compounds <i>adû</i> (cf. <i>a</i> “to, towards”) and <i>dedû</i> (cf. <i>dî</i> “from”).
    %p The adverb <i>caltemp</i> [ˈkaːl.təmp, ˈkaːl.tɛmp] means “when?”, and like <i>calom</i> is another example of a compound interrogative displacing the original Latin form <i>quandō</i>, much like Tunisian Arabic وقتاش (lit. “what time?”) displaced classical متى. In this case the source is Latin <i>quāle tempus</i> “what time?”, notable since the noun <i>temp</i> in Tunisian no longer means “time” and can only be used in the sense of “weather”.
    %p The interrogative adverb <i>cot</i> [ˈkot] “how many?” or “how much?”, and declines as a regular adjective with feminine singular <i>cote</i> [ˈkɔ.tə] and plural <i>cots</i> [ˈkots]. This is the only Romance interrogative to descend from Latin <i>quotus</i> “which (in a sequence)?”, displacing the usual Latin <i>quantus</i> “how many?” which had merged phonetically with Tunisian <i>sçeit</i> “second”. Even though it is an adjective and can be used as such (<i>cote acce?</i> “how much water?”, <i>cots biçis?</i> “how many bicycles?”), it is more common to insert the preposition <i>yd</i> “of” between it and the noun, while maintaining gender and number agreement: <i>cote d acce?</i> [ˈko.tə ˈdaː.kə], <i>cots yd biçis?</i> [ˈkots id ˈbi.ʃiz].
    %p The adverb <i>come</i> [ˈkɔ.mə] means “how?”, descending from Latin <i>quōmodo</i> “how?” much as in the other Romance languages.
    %p <i>Pro-ç</i> [ˈproʃ] means “why?”, and consists of an older frozen form of <i>pôl</i> “for” and the clitic <i>ç</i> “what?”. Although there no longer is an independent preposition <i>pro</i> in Tunisian, this form is still considered to be an instance of the preposition + clitic interrogative construction, as it also has the non-clitic emphatic variant <i>pro çê</i> [prɔ ˈʃeə].

  = section "Proximal Forms" do
    %p The proximal series of correlatives marks things considered close to the speaker in space, time, or purview.
    %p The demonstrative adjective <i>iccést</i> [ˈi.kɛst] “this” and demonstrative pronoun <i>l-iccést</i> [ˈli.kɛst] “this [one]” have been previously described. The pronominal forms are invariant for gender and number when referencing abstract entities, though may mark gender and number (feminine <i>l-iccéste</i> [ˈli.kɛs.tə] and plural <i>l-iccéçs</i> [ˈli.kɛʃtʃ]) if there is a clear but non-explicit referant. Note that while <i>l-iccést</i> and its variants may be used for both persons as well as objects, pronominal usage referring to a person tends to be somewhat pejorative, with third person personal pronouns preferred.
    %p The adverb <i>nic</i> [ˈnik] means “here”, referencing a location close the speaker. It derives from Latin <i>in</i> “in” + <i>hīc</i> “here”, with the preposition <i>in</i> serving as a semantically-bleached locative augment for many Tunisian adverbs and prepositions.
    %p The adverb <i>toe</i> [ˈtwe] means “now”, referring both to the present time (this very moment) and changes over time (now as opposed to previously). It traces its origins to Tunisian Arabic توا, with the same meaning.
    %p The adjective <i>tend</i> [ˈtɛn] means “this much/many” or “so much/many”. It derives from Latin <i>tantus</i> “of such size”, with direct cognates in forms such as Spanish <i>tanto</i> and French <i>tant</i>. Like its interrogative counterpart <i>cot</i>, it may modify nouns directly, but more typically the preposition <i>yd</i> “of” intervenes between the adjective and noun.
    %p <i>Copsî</i> [kɔ.ˈpsiː] means “like this” or “thus”. It derives from the Latin <i>sīc</i> “thus”, which regularly developed into Old Tunisian <i>si</i>. This was later augmented by the conjunction <i>com</i> “like, as”, resulting in <i>com si</i>, eventually becoming <i>copsî</i> through denasalization and stress-induced lengthening.
    %p Three gaps exist in the above table for the Direction, Origin, and Reason rows. The two locomotive forms are formed by combining the prepositions <i>a</i> “to” and <i>de</i> “from” with <i>nic</i> “here”, yielding <i>a nic</i> [ʌ ˈnik] “to here, hither” and <i>de nic</i> [də ˈnik] “from here, hence”. However, the bare form <i>nic</i> can be used to mean “to here” if the direct object marker <i>a</i> is present in the same clause: <i>Iprot-l a nic!</i> [i.ˈpro.tu ʌ ˈnik] “Bring it here!” versus <i>Iprot-l nic a cruse!</i> [i.ˈpro.tu ˈnik ʌ ˈkru.sə] “Bring the chair here!”. The Reason row must be occupied by one of several possible collocations, such as <i>pôl iccést rézon</i> [pɔəl ˈi.kɛst ˈre.zon] “for this reason” or <i>pôl tends</i> [pɔəl ˈtɛnz] “therefore”.

  = section "Distal Forms" do
    %p The distal series mark things considered to be close to the listener (second person) in space, time, or purview. Not surprisingly, these forms are quite similar to the proximal series.
    %p The demonstrative adjective <i>icceo</i> [ˈi.kew] and demonstrative pronoun <i>l-icceo</i> [ˈli.kew] have been previously discussed. Like with the proximal demonstratives, the pronouns are invariant in reference to abstract entities, and tend to have a pejorative connotation when used in reference to people rather than the third person personal pronouns.
    %p The adverb <i>imlî</i> means “there”, referencing a location near closer to the listener than to the speaker. It may also refer to a location remote from both speaker and listener if it is perceived to be strongly associated with the listener in some way; for example, the listener’s home may be referred to as <i>imlî</i> even if the conversation is taking place far from that location. It derives from Latin <i>in</i> “in” + <i>illic</i> “there”. Motion is indicated using prepositions: <i>a imlî</i> [ajm.ˈliː] “to there, thither”, <i>d imlî</i> [dim.ˈliː] “from there, thence”.
    %p Two Arabic loans fill the Time and Way rows. <i>Oahta</i> [ˈwaːx.tʌ] means “then” in reference to a past time, and derives from Tunisian Arabic وقتها. Future times are always expressed using the obviate series; see the following section. <i>Chîf</i> [ˈkiːf] means “like that” or “thus”, from Tunisian Arabic كيف “like [that]”; it is more often used with obviate rather than distal meaning, though the distal sense can be used as an interjection meaning roughly “good job!”.
    %p The quantifier <i>tend</i> [ˈtɛn] is the same as the proximal form, with no formal distinction between “this much” and “that much”.
    %p An expression like “for that reason” must be formed periphrastically much as with the proximal forms. <i>Pôl tends</i> “therefore” may be used with distal meaning as well as proximal, or the expression <i>pôl icceo rézon</i> [pɔəl ˈi.kew ˈre.zon] “for that reason” may be used if distal meaning is required. This construction usually means the reason or idea originated with the second person.

  = section "Obviative Forms" do
    %p The obviative series mark things considered to be far from both the speaker and listener in space, time, or purview. This series shares a lot in common with the distal series, with only a few distinct forms.
    %p The obviative demonstrative adjective <i>ilî</i> [i.ˈliː] and pronoun <i>llî</i> [u.ˈliː] have been previously discussed. These forms are particularly common in reference to conversational entities, referring back to something previously mentioned in a conversation rather than the physical location of something. The demonstrative adjective <i>ilî</i> is commonly used with reflexive possessive meaning.
    %p The obviative adverb of place <i>imlâ</i> [im.ˈlaː] means “there” when referring to locations previously mentioned in conversation or out of sight. Colloquially it often completely displaces the distal form <i>imlî</i> “there” to refer to places within view as well.
    %p The obviative adverb of time <i>induic</i> [ˈin.duːk] means “then”. This contrasts with distal <i>oahta</i> “then” in that <i>oahta</i> refers to specific points in the past, while <i>induic</i> refers to future or counterfactual times, or to events in series (i.e., first A, then B).
    %p In all other cases, the obviative forms fall in line with the distal forms. Obviative meaning can be emphasized through the use of obviative demonstratives rather than distal pronouns (e.g., <i>pôl llî rézon</i> [pɔəl u.ˈliː ˈre.zon] “for that reason [I previously mentioned]”).

  - correlatives = { "Indefinite" => { :determiner => { :tun => "calc",             :pronunciation => "[ˈkaːlk]",                 :eng => "some"            },
                                       :person     => { :tun => "calcum",           :pronunciation => "[ˈkaːl.kum]",              :eng => "someone"         },
                                       :thing      => { :tun => "cuse",             :pronunciation => "[ˈku.sə]",                 :eng => "something"       },
                                       :place      => { :tun => "î calche périte",  :pronunciation => "[iː ˈkaːl.kə ˈpe.ri.tə]",  :eng => "somewhere"       },
                                       :direction  => { :tun => "a calche périte",  :pronunciation => "[ʌ ˈkaːl.kə ˈpe.ri.tə]",   :eng => "to somewhere"    },
                                       :origin     => { :tun => "dî calche périte", :pronunciation => "[diː ˈkaːl.kə ˈpe.ri.tə]", :eng => "from somewhere"  },
                                       :time       => { :tun => "a memeit",         :pronunciation => "[ʌ mə.ˈmejt]",             :eng => "sometime"        } },
                     "Negative"   => { :determiner => { :tun => "nêc",              :pronunciation => "[ˈneək]",                  :eng => "no"              },
                                       :person     => { :tun => "nécum",            :pronunciation => "[ˈne.kum]",                :eng => "no one"          },
                                       :thing      => { :tun => "némic",            :pronunciation => "[ˈne.mik]",                :eng => "nothing"         },
                                       :place      => { :tun => "î nêcce périte",   :pronunciation => "[iː ˈneə.kə ˈpe.ri.tə]",   :eng => "nowhere"         },
                                       :direction  => { :tun => "a nêcce périte",   :pronunciation => "[ʌ ˈneə.kə ˈpe.ri.tə]",    :eng => "to nowhere"      },
                                       :origin     => { :tun => "dî nêcce périte",  :pronunciation => "[diː ˈneə.kə ˈpe.ri.tə]",  :eng => "from nowhere"    },
                                       :time       => { :tun => "mais",             :pronunciation => "[ˈmajz]",                  :eng => "never"           } },
                     "Universal"  => { :determiner => { :tun => "tot",              :pronunciation => "[ˈtot']",                  :eng => "all"             },
                                       :person     => { :tun => "l-îsmol",          :pronunciation => "[ˈliːz.mol]",              :eng => "everyone"        },
                                       :thing      => { :tun => "il tot",           :pronunciation => "[il ˈtot]",                :eng => "everything"      },
                                       :place      => { :tun => "î tots périts",    :pronunciation => "[iː ˈtots ˈpe.rits]",      :eng => "everywhere"      },
                                       :direction  => { :tun => "a tots périts",    :pronunciation => "[ʌ ˈtots ˈpe.rits]",       :eng => "to everywhere"   },
                                       :origin     => { :tun => "dî tots périts",   :pronunciation => "[diː ˈtots ˈpe.rits]",     :eng => "from everywhere" },
                                       :time       => { :tun => "dima",             :pronunciation => "[ˈdi.mʌ]",                 :eng => "always"          } } }
  = render 'correlative_table', :alignment => 'left', :correlatives => correlatives

  = section "Indefinite Forms" do
    %p The indefinite series indicate something of indeterminate identity or quality, whether due to lack of knowledge (something unknown to the speaker), lack of disclosure (something known to the speaker but deliberately concealed), or lack of specifity (anything).
    %p The indefinite determiner <i>calc</i> [ˈkaːlk] (feminine singular <i>calche</i> [ˈkaːl.kə], plural <i>calcs</i> [ˈkaːlks]) means “some”, “some kind of”, “a few”, or “various”. It indicates that the speaker has at least some sort of conception of the nature or quantity of the noun described, even if not fully understood: <i>Aiê-m calcs idês</i> “I have a few ideas”, <i>Ele sofre calche îfremure</i> “She is suffering from some ailment”. It is not used to refer to a truly indefinite or partitive quantity, in which case the indefinite articles or a construction with the quantifier <i>poc</i> “a little” are preferred: <i>uis acns</i> “some grapes”, <i>pocce d acce</i> “some water”.
    %p The pronoun <i>calcum</i> [ˈkaːl.kum] means “someone” or “anyone”, historically from <i>calc</i> + <i>-um</i>, a suffix seen in several pronouns that results from a confusion of reduced forms of Latin <i>unus</i> “one” and <i>homō</i> “man, person”. It has a plural form <i>calcums</i> [ˈkaːl.kumz] used to refer specifically to multiple unknown persons.
    %p The pronoun <i>cuse</i> [ˈku.sə] means “something” or “anything”, and derives from Latin <i>causa</i> “cause, thing”. Unlike <i>calcum</i>, <i>cuse</i> is always singular.
    %p Indefinite adverbs of place and motion are phrasal, but almost always rely on the fixed expression <i>calche périte</i> [ˈkaːl.kə ˈpe.ri.tə], literally “some place”. This can then be combined with the prepositions <i>ît</i> “in”, <i>a</i> “to”, and <i>dî</i> “from” to make <i>î calche périte</i> [iː ˈkaːl.kə ˈpe.ri.tə] “somewhere”, <i>a calche périte</i> [ʌ ˈkaːl.kə ˈpe.ri.tə] “to somewhere”, and <i>dî calche périte</i> [diː ˈkaːl.kə ˈpe.ri.tə] “from somewhere”.
    %p The expression <i>a memeit</i> [ʌ mə.ˈmejt] means “sometime” or “anytime” in the sense of an indefinite time period. It does not mean “sometimes” in the sense of “from time to time”, which is translated by the unrelated adverb <i>avics</i> [ˈaː.viks].

  = section "Negative Forms" do
    %p The negative series indicate the absence of some thing or some quality, generally with the opposite meaning of the corresponding indefinite form.
    %p The negative determiner <i>nêc</i> [ˈneək] (feminine singular <i>nêcce</i> [ˈneə.kə], plural <i>nêcs</i> [ˈneəks]) means “no” in the adjectival sense (i.e., “not [even] one”). It derives from Latin <i>nec</i> “not even” or early Tunisian *<i>ne[c] qui</i> “not even [the one] that”, reanalyzed as an adjective.
    %p The pronoun <i>nécum</i> [ˈne.kum] means “no one” or “nobody”, and consists of <i>nêc</i> plus the suffix <i>-um</i> described in the previous section. It has a plural form <i>nécums</i> [ˈne.kumz], although for semantic reasons its usage is heavily restricted (since a singular ‘nobody’ implies the absence of multiple people as well); it is primarily used for parallelism in response to statements or questions containing the plural <i>calcums</i> “somebody, anybody”: <i>Aiê calcums cy...?</i> “Are there multiple people who...?” — <i>Nôm, n-aiê mî nécums</i> “No, there isn't anyone”.
    %p The pronoun <i>némic</i> [ˈne.mik] means “nothing”, and derives from <i>nêc</i> + old Tunisian <i>mic</i> “thing” (still seen in the modern Tunisian negative particle <i>mic</i>). As with its indefinite counterpart, it is always singular.
    %p Negative adverbs of place and motion are formed similarly to their indefinite counterparts, using the phrase <i>nêcce périte</i> “no place” in combination with the prepositions <i>ît</i> “in”, <i>a</i> “to”, and <i>dî</i> “from”.
    %p The negative adverb of time is <i>mais</i> [ˈmajz], meaning “never”. It derives from Latin <i>iam magis</i> “yet more”.

  = section "Universal Forms" do
    %p The universal series indicate that the reference is to all members or to the full extent of a given class.
    %p The indefinite determiner is <i>tot</i> [ˈtot], meaning “all”. It has the feminine singular form <i>tote</i> [ˈtɔ.tə] and plural form <i>tots</i> [ˈtots]. The plural forms are typically used with count nouns (e.g., <i>tots dîs</i> “every day”), while the singular forms are used with mass nouns (e.g., <i>tot vî</i> “all of the wine”) or with a divisible noun to mean “whole” (e.g., <i>tote nozte</i> “the whole night”). Any noun phrase modified by <i>tot</i> is automatically definite and does not need to make explicit use of definite articles.
    %p The pronoun <i>l-îsmol</i> [ˈliːz.mol] means “everyone” or “everybody”. It derives from the noun <i>îsmol</i>, which literally means “group” or “arrangement”, and is etymologically related to French <i>ensemble</i>. It always takes singular agreement.
    %p The pronoun <i>il tot</i> [il ˈtot] means “everything”. It is essentially just the masculine singular form of the determiner <i>tot</i> “all” serving as a nominal. The article drops when the pronoun enters the determined state, as would normally be expected of definite articles: <i>depus tot</i> “after everything”, not **<i>depus il tot</i>.
    %p The adverb <i>dima</i> [ˈdi.mʌ] means “always”. It derives from Tunisian Arabic ديما, with the same meaning.

  - correlatives = { "Distributive" => { :determiner => { :tun => "çesc",       :pronunciation => "[ˈʃɛsk]",          :eng => "each"           },
                                         :person     => { :tun => "chescum",    :pronunciation => "[kəs.ˈkum]",       :eng => "each one"       },
                                         :thing      => { :tun => "chescum",    :pronunciation => "[kəs.ˈkum]",       :eng => "each one"       } },
                     "Alternative"  => { :determiner => { :tun => "eltê",       :pronunciation => "[ˈɛl.teː]",        :eng => "other"          },
                                         :person     => { :tun => "calcum mis", :pronunciation => "[ˈkaːl.kum ˈmis]", :eng => "someone else"   },
                                         :thing      => { :tun => "cuse mis",   :pronunciation => "[ˈku.sə ˈmis]",    :eng => "something else" },
                                         :place      => { :tun => "îlos",       :pronunciation => "[ˈiː.loz]",        :eng => "elsewhere"      } } }
  = render 'correlative_table', :alignment => 'left', :correlatives => correlatives

  = section "Distributive Forms" do
    %p The distributive series are conceptually similar to the universal series, but instead of treating the group as a whole, they refer to each member individually.
    %p The distributive pronoun is <i>chescum</i> [kəs.ˈkum] “each one”. It is used to refer to both animate and inanimate nouns, and is always singular. It derives from Vulgar Latin *<i>casquunum</i>, a conflation of Latin <i>quisque unum</i> and Vulgar Latin *<i>catunum</i>, both meaning “each one”. The final /m/ was influenced by the <i>-um</i> suffix seen in other pronouns.
    %p The distributive determiner <i>çesc</i> [ˈʃɛsk] means “each” or “every”. Its feminine singular form is <i>çésche</i> [ˈʃɛs.kə] and plural form is <i>çescs</i> [ˈʃɛsks]. It is a backformation from <i>chescum</i> formed by removing the ending <i>-um</i>, which is used as a pronominal marker in several other pronouns; this form subsequently underwent a divergent phonetic evolution due to the different stress.

  = section "Alternative Forms" do
    %p The alternative series are conceptually similar to the indefinite series, but specify that the referant in question is distinct from the topic.
    %p The determiner <i>eltê</i> [ˈɛl.teː] means “other” or “another”. It has a slightly irregular declension, with a feminine singular form <i>eltre</i> [ˈɛl.trə] and plural form <i>eltrs</i> [ˈɛl.tɪrz]. It derives regularly form Latin <i>alter</i> “other”.
    %p The two alternative series pronouns are <i>calcum mis</i> [ˈkaːl.kum ˈmis] “someone else” and <i>cuse mis</i> [ˈku.sə ˈmis] “something else”, consisting of the corresponding indefinite pronoun plus <i>mis</i> “more”, and thus literally meaning “someone/thing more”. The animate form may be used in the plural as <i>calcums mis</i> [ˈkaːl.kumz ˈmis] if multiple referants are desired.
    %p The adverb <i>îlos</i> [ˈiː.loz] means “elsewhere” or “somewhere else”. It derives from Latin <i>aliōrsum</i> “[to] somewhere else”, and is the only survival in Tunisian of the original Latin alternative series in <i>ali-</i>.
