- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "La Phrase Félie"

= section "Structure of the Verb Phrase" do
  %p Traditionally, the Tunisian verb phrase (<i>la phrase félie</i>) is considered to be the minimal set of words necessary to form a valid clause by themselves, consisting of the verb itself and its bound dependencies, but excluding dependent noun phrases. There are two types of verb phrases: the simple phrase (consisting of a single finite conjugated verb and any associated clitics) and the complex phrase (consisting of an auxiliary verb head, a dependent non-finite verb form, and any associated clitics).
  %p The simple phrase (<i>la phrase simple</i>) consists of a single constituent; though there may be more than one word present in the phrase due to clitics, no word not part of the verb phrase itself may intervene between component parts of the verb phrase, with the one exception of the negative particle which is separable. Excluding the negative particle, all other words must appear either before or after the entire verb phrase:
  %ul
    %li <i>Jovan <b>ysplic mi'l</b> toe.</i> “Jovan is explaining it to me now.”
    %li <i>Jovan toe <b>ysplic mi'l</b>.</i> “Jovan now is explaining it to me.”
    %li <i>*Jovan <b>ysplic mi</b> toe<b>'l</b>.</i>
    %li <i>*Jovan <b>ysplic</b> toe <b>mi'l</b>.</i>

  %p In contrast, the negative particle <i>mí/mic</i> is separable:
  %ul
    %li <i>Jovan <b>nu-m l-usplic mí</b> toe.</i> “Jovan is not explaining it to me now.”
    %li <i>Jovan toe <b>nu'm l-usplic mí</b>.</i> “Jovan is not now explaining it to me.”
    %li <i>Jovan <b>nu-m l-usplic</b> toe <b>mic</b>.</i> “Jovan is not explaining it to me now.”

  %p The complex phrase (<i>la phrase complecse</i>) consists of two constituents, an auxiliary verb head and a dependent verb, generally an infinitive or participle. Each independently is capable of supporting a set of clitics, although the ordering rules are much more complicated. The auxiliary and main verb are separable, although in most cases doing so produces a marked construction.
  %ul
    %li <i>Jovan <b>mi l-ae ysplecat</b> gesé.</i> “Jovan explained it to me yesterday.”
    %li <i>Jovan <b>mi l-ae</b> gesé <b>ysplecat</b>.</i> “Jovan explained it yesterday to me.”
    %li <i>Jovan <b>nu-m l-ae mí ysplecat</b> gesé.</i> “Jovan did not explain it to me yesterday.”
    %li <i>Jovan <b>n-ae mí mi l-usplecat</b> gesé.</i> “Jovan did not explain it to me yesterday.”
    %li <i>Jovan <b>n-ae mí</b> gesé <b>ysplecat mi'l</b>.</i> “Jovan did not explain it to me <i>yesterday</i>.”
    %li <i>Jovan gesé <b>n-ae mi l-usplecat mic</b>.</i> “Yesterday Jovan did <i>not</i> explain it to me.”

  %p Clitics are phonologically bound to their head. In complex phrases, they can be phonologically bound either to the auxiliary or the dependent verb, with exact positioning conditioned by syntactic and semantic factors. Individual clitics have a fixed order depending on whether they appear before (proclitic) or after (enclitic) their host:
  %table
    %thead
      %tr
        %th{:colspan => 5} Proclitic Order
      %tr
        %th I
        %th II
        %th III
        %th IV
        %th V
    %tbody
      %tr
        %td Negative
        %td Adverbial
        %td Indir. Obj.
        %td Dir. Obj.
        %td Mediopass.

  %table
    %thead
      %tr
        %th{:colspan => 3} Enclitic Order
      %tr
        %th I
        %th II
        %th III
        %th IV
    %tbody
      %tr
        %td Mediopass.
        %td Indir. Obj.
        %td Dir. Obj.
        %td Adverbial

  %p As can be seen above, not all clitics may appear as both proclitics and enclitics. The negative clitic <i>n-</i> “not” is required to precede the verb regardless of the placement of other clitics, as is the mediopassive <i>ys</i> outside of the imperative.
  = example_sentence "A dads mi'l?",
                     "[ʌ ˈdaːdz miːl]",
                     "{interr} give-{2sg.pres} {1sg.dat}-{loc}",
                     "Are you giving it to me?"
  = example_sentence "N-som t'in s-unit mic.",
                     "[ɪn.ˈsoːm tiːn ˈsu.nit mik]",
                     "{neg}-be.{1sg.aux} {2sg.dat}-{ell} {med}-go.{ptcp.past}-{masc} {neg}",
                     "I did not leave on you."
  = example_sentence "Ví-s m'in!",
                     "[ˈviːz miːn]",
                     "{med}-go.{2sg.imper} {1sg.dat}-{ell}",
                     "Leave me alone!"

= section "The Present Tense" do
  %p The Present Tense (<i>il prisèn</i>) is a simple tense, functioning much like the present tense in other Romance languages. It consists of a single conjugated verb and an optional set of clitics. In most circumstances object clitics will come directly after the verb, although a negated verb will pull all clitics to the front.
  %table
    %thead
      %tr
        %th{:colspan => 10} Clitic Positions: Present Tense
      %tr
        %th
        %td -V
        %td -IV
        %td -III
        %td -II
        %td I
        %td 0
        %td I
        %td II
        %td III
    %tbody
      %tr
        %th Positive
        %td
        %td
        %td
        %td
        %td Mediopass.
        %td Verb
        %td Indir. Obj.
        %td Dir. Obj.
        %td Adverbial
      %tr
        %th Negative
        %td Negative
        %td Adverbial
        %td Indir. Obj.
        %td Dir. Obj.
        %td Mediopass.
        %td Verb
        %td
        %td
        %td

  %p The most common usages of the present of the present are to indicate an action happening at the present moment, a state that began in the past and is still true at the present, or an atemporal action that is always true.
  = example_sentence "Marie entre by prote.",
                     "[ˈmaːr.jə ˈeːn.trə bi ˈprɔ.tə]",
                     "Marie enter-{3sg.pres} by door",
                     "Marie is walking in through the door."
  = example_sentence "Cuir y çène pól iccest sé.",
                     "[ˈkwir i ˈʃe.nə pul ˈi.kəst ˈseə]",
                     "prepare-{1sg.pres} {acc} dinner for this.{masc} evening",
                     "I am preparing dinner for tonight."
  = example_sentence "Ysc il prelá by freicciss.",
                     "[ˈisk il prə.ˈlaː bi ˈfrej.kiz]",
                     "know-{1sg} {def.masc} speak-{inf} in French-{pl}",
                     "I know how to speak French."
  = example_sentence "A ystudis ind univérstá in Loc-Tenès?",
                     "[ʌ ˈis.tu.diz iːn ˈdu.ni.veːs.taː iːn ˈlok.tə.ˈnɛs]",
                     "{interr} study-{2sg.pres} in university in city-Tunis?",
                     "Do you study at the university in Tunis?"
  = example_sentence "L-acce ys-ghel a zèru drajs.",
                     "[ˈlaː.kə iz.ˈgeːl ʌ ˈze.ru ˈdraːʒz]",
                     "{def.fem}-water {med}-freeze-{3sg.pres} at zero degree-{pl}",
                     "Water freezes at 0°."
  = example_sentence "Il treis ne sucr fac mal pól sanitá.",
                     "[il ˈtrejz ni ˈsu.kɪr ˈfaːk ˈmaːl pul ˈsaː.ni.taː]",
                     "{def.masc} too_much of.{quant} sugar do-{3sg.pres} bad-{masc} for health",
                     "Too much sugar is bad for your health."

  %p The present may also refer to iterative or habitual events that may not be happening at the present moment, but began in the past and are expected to continue into the future.
  = example_sentence "Pret a treval çèsche elbe a sèfte 'n sáts e mèdi-sáte.",
                     "[ˈprɛt ʌ trə.ˈvaːl ˈʃɛs.kə ˈeːl.bə ʌ ˈsɛf.tən ˈsaːts e ˈme.di.ˈsaː.tə]",
                     "leave-{1sg} to work every-{fem} morning at seven-{fem} of.{quant} hour-{pl} and half.{comb}-{fem}-hour",
                     "I leave for work every morning at 07:30."
  = example_sentence "Il rèstaurant yc us credèn a sçends.",
                     "[i ˈrɛs.tu.raːŋ i.kuz krə.ˈdeːn ʌ ˈʃeːndz]",
                     "{def.masc} restaurant {rel.def} {3pl.gen} be_closed-{ptcp.pres}-{masc} at second-{pl}",
                     "Their restaurant is closed on Mondays."

  %p In some circumstances the present tense may be used with non-present meaning. The so-called historical or narrative present refers to the use of the present tense for past events, particularly common in narration in order to relate an event in a more striking way.
  = example_sentence "Il dí eld indave yó by çeo e yst-raccèndre cu Jacum.",
                     "[il ˈdiː ˈeːld ˈiːn.dʌ.və ˈjɔə bi ˈʃew e ˈis.trʌ.keːn.drə ku ʒʌ.ˈkuːm]",
                     "{def.masc} day other-{masc} walk-{1sg.impf} {1sg.nom} in street and {med}-encounter-{1sg.pres} with Jacum",
                     "The other day I was walking along the street and I run into Jacum."
  = example_sentence "Ls finiçiais fundé y Caredine com cronie a secl nóví p.C.",
                     "[uz ˈfi.ni.ʃajz ˈfuːn.deː i ˈkaː.rə.di.nə koːm ˈkrɔ.njə ʌ ˈsɛ.ku ˈnɔə.viː ˈpri.mət ˈkrist]",
                     "{def.pl} Phoenician-{pl} found-{3pl.pres} {acc} Carthage as colony in century ninth-{masc} BC",
                     "The Phoenicians found Carthage as a colony in the 9th century BC."

  %p Generally in conjunction with a time expression, the present may express a future event that is expected to happen soon.
  = example_sentence "Yó ys-cúc a une sáte.",
                     "[ˈjɔə is.ˈkuːk ʌ u.nə ˈsaː.tə]",
                     "{1sg.nom} {med}-lay_down-{1sg.pres} in {indef.fem} hour",
                     "I'm going to bed in an hour."
  = example_sentence "Il film ys-cumèzt a uis dècce 'n minuts.",
                     "[il ˈfiwm ˈis.ku.mist ʌ ujz ˈde.kən ˈmi.nuts]",
                     "{def.masc} film {med}-start-{3sg.pres} in {indef.pl} ten-{fem} of.{quant} minute-{pl}",
                     "The film is starting in ten minutes."

  %p The present may also have an imperative sense, giving a command expected to be performed in the near future. The semantics of the imperative present in contrast to the imperative proper are somewhat complex; it is somewhat softer than a normal imperative when addressing a familiar person, but is seen as ruder than imperative in more formal contexts (perhaps because the use of the indicative mood rather than the imperative presents the command as a fact rather than a proposition). It can also only be used for actions that are to occur in a perceived near future, although what this means is highly contextually-dependent.
  = example_sentence "Deçit crams a patr yc ti.",
                     "[də.ˈʃit ˈkraːmz ʌ ˈpaː.tr ik ti]",
                     "at_once call-{2sg.pres} to father {rel.def} {2sg.gen}",
                     "Please call your father right away."
  = example_sentence "N-us-veis mí atén c' acaps y hemlá.",
                     "[nuz.ˈvejz miː ʌ.ˈteːn ˈkaː.kʌps i xəm.ˈlaː]",
                     "{neg}-{med}-go-{2sg.pres} not until {rel} complete-{2sg.pres} {acc} clean-{inf}",
                     "You are not leaving until you finish cleaning up."

  %p When negated, all verbal clitics are drawn to the preverbal position.
  = example_sentence "Ele dic mi lutot.",
                     "[ˈe.lə ˈdik mi ˈlu.tut]",
                     "{3sg.fem.nom} say-{3sg.pres} {1sg.dat} everything",
                     "She tells me everything."
  = example_sentence "Ele nu-m dic nèmic.",
                     "[ˈe.lə nuːm ˈdik ˈne.mik]",
                     "{3sg.fem.nom} {neg}-{1sg.dat} say-{3sg.pres} nothing",
                     "She doesn’t tell me anything."

= section "The Imperfect Tense" do
  %p The Imperfect Tense (<i>l-imprifect</i>) is a simple tense and one of three indicative past tenses used in Tunisian. It functions much as the imperfect of other Romance languages. Syntactically it behaves identically to the present tense, consisting of a single conjugated verb and a number of clitics whose placement rules mirror the present.
  %p The imperfect denotes a past state or process as opposed to a momentary action. As such, it is used to indicate actions that took place over a period of time, as well as generic statements of past conditions.
  = example_sentence "Il patr yc mi sérvive com ú colonèl ind ascrs.",
                     "[il ˈpaː.tr ik mi ˈseə.vi.və koːm uː ˈkɔ.lu.neːl iːn ˈdaːs.kɪrz]",
                     "{def.masc} father {rel.def} {1sg.gen} serve-{3sg.impf} as {indef.masc} colonel in army-{pl}",
                     "My father served as a colonel in the miliary."
  = example_sentence "Ls par prelavé uis sáts.",
                     "[us ˈpaːr prə.ˈlaː.veː ujs ˈsaːts]",
                     "{def.pl} two-{masc} talk-{3pl.impf} {indef.pl} hour-{pl}",
                     "The two of them talked for a few hours."
  = example_sentence "Alindre yunitá yc nos, vecmatre yst-restave in dom yóc nostre.",
                     "[ˈaː.liːn.drə ˈju.ni.taː ik nos ˈvɛk.mʌ.trə ˈis.trəs.tʌ.və iːn ˈdoːm joːk ˈnos.trə]",
                     "during childhood {rel.def} {1pl.gen}, grandmother {med}-stay-{3sg.impf} in home with {1pl.obl}",
                     "When we were young, our grandmother lived with us in our home."
  = example_sentence "Catrine ávics suifrive delores y çeove.",
                     "[ˈkaː.tri.nə ˈaː.viks ˈsuj.fri.və də.ˈlɔ.rəz i ˈʃew.və]",
                     "Catrine sometimes suffer-{3sg.impf} pain-{pl} of head",
                     "Catrine occasionally would suffer from headaches."

  %p It also indicates habitual or iterative events that took place in the past.
  = example_sentence "Ls gèntures yc mi visetavé y Yorupe çesc istat.",
                     "[uz ˈʒeːn.tu.rəz ik.mi ˈvi.sə.tʌ.veː i ˈjɔ.ru.pə ˈʃɛsk ˈis.tʌt]",
                     "{def.pl} parent-{pl} {rel.def} {1sg.gen} visit-{3pl.impf} {acc} Europe each-{masc} summer",
                     "My parents used to visit Europe every summer."
  = example_sentence "Vinive a treval by biçi temp ch' yst-restave in loc.",
                     "[ˈvi.ni.və ʌ trə.ˈvaːl bi ˈbi.ʃi teːm ˈkis.trəs.tʌ.və iːn ˈlok]",
                     "go-{1sg.impf} to work by bicycle when {rel} {med}-live-{1sg.impf} in city",
                     "I used to bike to work when I lived in the city."

  %p Interrupted actions typically appear in the imperfect, since a duration of time can be split but a point cannot.
  = example_sentence "Tèmpeste chedut-e temp che tú dorimivs.",
                     "[ˈteːm.pəs.tə kə.ˈdu.tə teːm kə ˈtuː ˈdɔ.ri.mivz]",
                     "rain fall-{past.ptcp}-be-{3sg.clitic} when {rel} {2sg.nom} sleep-{2sg.impf}",
                     "It rained while you were asleep."
  = example_sentence "Ys-naccedut-em cu had endre pasage a dom.",
                     "[ˈis.nʌ.kə.ˈdu.təm cu ˈxaːd ˈeːn.drə ˈpaː.sʌ.ʒə ʌ ˈdoːm]",
                     "{med}-trip-{past.ptcp}-be-{1sg.clitic} with curb during walk to home",
                     "I tripped on the curb while walking home."

  %p With a handful of verbs such as <i>çirey</i> “want”, <i>dèseźá</i> “desire, wish”, <i>yóccey</i> “come”, or <i>pyndsá</i> “think” the imperfect tense may be used with present tense meaning. This form expresses courtesy towards the addressee.
  = example_sentence "Çirive qaote masche yóc ú lezt.",
                     "[ˈʃi.ri.və ˈqaw.tə ˈmaːs.kə joːk uː ˈlɛst]",
                     "want-{1sg.impf} coffee-{dim} small-{fem} with {indef.masc} milk",
                     "I would like a small coffee with milk."
  = example_sentence "Dimenave-t fevor dí preçé",
                     "[ˈdi.mə.nʌ.vət fə.ˈvoːr diː prə.ˈʃeə]",
                     "ask-{1sg.impf}-{2sg.dat} favor from please-{inf}",
                     "I would like to ask you a favor."
  = example_sentence "Cridive che caps y çirediccey yc mi.",
                     "[ˈkri.di.və kə ˈkaːps i ˈʃi.rə.ˈdi.kej ik mi]",
                     "believe-{1sg.impf} {rel} understand-{2sg.pres} {def.masc} intention {rel.def} {1sg.gen}",
                     "I believe you know what I mean."

  %p Negated imperfects, in addition to inverting the above senses, are also used to refer to events that never occurred, in contrast to denying that a specific event occurred at a specific time.
  = example_sentence "M-viçenève mais cuse copsí inand.",
                     "[ɪm.ˈvi.ʃə.ni.və majz ˈku.sə kup.ˈsiː i.ˈnaːn]",
                     "{neg}-see-{1sg.impf} never nothing thus before",
                     "I have never seen such a thing before."
  = example_sentence "Ls gèntures yc mi nu-m yddavé mais y libritá tisme com ych ebive a frat.",
                     "[uz ˈʒeːn.tu.rəz ik.mi ˈnu.mud.ˈdaː.veː majz i ˈli.bri.taː ˈtiz.mə koːm ik ˈe.bi.və ʌ ˈfraːt]",
                     "{def.pl} parent-{pl} {rel.def} {1sg.gen} {neg}-{1sg.dat}-give-{3pl.impf} never {def.fem} freedom same-{fem} as {rel.def} have-{3sg.impf} to brother",
                     "My parents never gave me the same freedom as my brother had."

= section "The Perfect Tense" do
  %p The Perfect Tense (<i>il prifect</i>) is a complex tense, consisting of a past participle and an auxiliary verb. Its formation and syntax is somewhat complicated, due to the fact that it can take four separate surface forms: full and reduced auxiliaries, and “have”- and “be”-type auxiliaries.
  %p The choice of “have” vs “be” auxiliaries depends on the transitivity of the verb. Transitive verbs use a variant of the present tense of <i>ebé</i> “have” as the auxiliary verb, while intransitive verbs use a variant of the present tense of <i>ystá</i> “be”. Mediopassive verbs always use <i>ystá</i>.
  = example_sentence "Lect-ai y libr.",
                     "[lik.ˈtaj i ˈli.bɪr]",
                     "read-{past.ptcp}-have-{1sg.clitic} {acc} book",
                     "I read the book."
  = example_sentence "Il libr ys-lect-e.",
                     "[il ˈli.bɪr ˈis.lik.tə]",
                     "{def.masc} book {med}-read-{past.ptcp}-be-{3sg.clitic}",
                     "The book was read."
  = example_sentence "Pretit-em indirid dí dom.",
                     "[prə.ˈti.təm ˈiːn.di.rid diː ˈdoːm]",
                     "leave-{past.ptcp}-be-{1sg.clitic} late from house",
                     "I left home late."

  %p The choice of full vs reduced auxiliaries is more complicated, with a number of syntactic considerations. At a high level, the full auxiliary is used:
  %ul
    %li when the verb is negated
    %li when the verb phrase is the first element in a subordinate clause

  %p The reduced auxiliary is used:
  %ul
    %li in non-negated independent clauses
    %li in non-negated subordinate clauses when the verb phrase is not the first element
    %li often but not mandatorily in yes/no interrogatives, whether or not the verb is negated

  %p Negation is the most common driving factor. In positive verbs, the reduced auxiliaries are preferred, which attach themselves to the end of the participle. When negated, the negative clitic <i>n-</i> exerts its typical pull on other clitics, forcing the verbal auxiliary to the front of the participle, where it must appear in its full form rather than its reduced form.
  = example_sentence "Viçenut-ai y Tasire in bibliothècce.",
                     "[ˈvi.ʃə.nu.taj i ˈtaː.zi.rə iːn ˈbi.blu.ti.kə]",
                     "see-{past.ptcp}-have-{1sg.clitic} {acc} Tasire in library",
                     "I saw Tasire at the library."
  = example_sentence "N-ai mí viçenute y Tasire in bibliothècce.",
                     "[naj miː ˈvi.ʃə.nu.tə i ˈtaː.zi.rə iːn ˈbi.blu.ti.kə]",
                     "{neg}-have-{1sg.pres} {neg} see-{past.ptcp}-{fem} {acc} Tasire in library",
                     "I didn’t see Tasire at the library."
  = example_sentence "La some de bilèts s-augmentat-e.",
                     "[lʌ ˈsɔ.mə di ˈbi.lits ˈsawg.mɪn.ˈtaː.tə]",
                     "{def.fem} price of ticket-{pl} {med}-increase-{past.ptcp}-be-{3sg.clitic}",
                     "The price of tickets increased."
  = example_sentence "La some de bilèts nu-s-e augmentate mí.",
                     "[lʌ ˈsɔ.mə di ˈbi.lits ˈnu.se ˈawg.mɪn.ˈtaː.tə miː]",
                     "{def.fem} price of ticket-{pl} {neg}-{med}-be-{3sg.pres} increase-{past.ptcp}-{fem} {neg}",
                     "The price of tickets did not increase."

  %p However, there is one exception to the above. With simple yes/no interrogatives, both full and reduced auxiliaries are possible with essentially the same meaning, whether the verb is negated or not. This is due to the frequent tendency to front the main verb (participle) in yes/no questions, and the postposed auxiliary automatically cliticizes to the participle in that case.
  = example_sentence "A chemprat-es (ais chemprat) tomats in hánut?",
                     "[ʌ kəm.ˈpraː.təs (ajs kəm.ˈpraːt) ˈtɔ.mʌts iːn ˈxaː.nut]",
                     "{interr} buy-{past.ptcp}-have-{2sg.clitic} (have-{2sg.pres} buy-{past.ptcp}-{pl}) tomato-{pl} in store",
                     "Did you buy some tomatoes at the store?"
  = example_sentence "M-pèridut-ae-l (n-ae li pèridut) mí Pètre y protepièçs?",
                     "[ɪm.ˈpe.ri.ˈdu.tajl (naj li ˈpe.ri.dut) miː ˈpe.trə i ˈprɔ.tə.ˈpjɛs]",
                     "{neg}-lose-{past.ptcp}-have-{3sg.clitic}-{3sg.dat} ({neg}-have-{3sg.pres} {3sg.dat} lose-{past.ptcp}-{masc}) {neg} Pètre {acc} wallet",
                     "Didn’t Pétre lose his wallet?

  %p When reduced-form (clitic) auxiliaries are used, all gender marking is suppressed on the participle, so that it always appears in its masculine singular form. The verb phrase also patterns much like a simple verb, with most clitics tailing the verb:
  %table
    %thead
      %tr
        %th Clitic Positions: Perfect Tense (Reduced Auxiliary)
      %tr
        %td -II
        %td -I
        %td 0
        %td I
        %td II
        %td III
        %td IV
    %tbody
      %tr
        %td Negative
        %td Mediopass.
        %td Verb
        %td Auxiliary
        %td Indir. Obj.
        %td Dir. Obj.
        %td Adverbial

  = example_sentence "Yá dat-ai t'ls.",
                     "[ˈjaː dʌ.ˈtaj.tuz]",
                     "already give-{past.ptcp}-have-{1sg.clitic} {2sg.dat}-{3pl.acc}",
                     "I already gave them to you."
  = example_sentence "Yá prelat-esms.",
                     "[ˈjaː prə.ˈlaː.tə.sɪmz]",
                     "already speak-{past.ptcp}-be-{1pl.clitic}",
                     "We already spoke."
  = example_sentence "Yá ys-dat-çu-t.",
                     "[ˈjaːz ˈdaː.tʃut]",
                     "already {med}-give-{past.ptcp}-be-{3pl.clitic}-{2sg.dat}",
                     "They were already given to you."

  %p With full-form auxiliaries, the participle may express gender and number agreement. If the auxiliary is <i>ystá</i> (i.e., intransitive verbs), the participle agrees in gender and number with the subject of the sentence. However, iff the auxiliary verb is <i>ebé</i> (i.e., transitive verbs), the participle must always appear in the masculine singular.
  = example_sentence "Ele s-e yschetate a sèsche 'n sáts.",
                     "[ˈe.lə ˈse is.kə.ˈtaː.tə ʌ ˈsɛs.kən ˈsaːts]",
                     "{3sg.nom.fem} {med}-be-{3sg.pres} wake-{past.ptcp}-{fem} at six-{fem} of.{quant} hour-{pl}",
                     "She woke up at 6am."
  = example_sentence "Ai chenat pare 'n púlgais.",
                     "[aj kə.ˈnaːt ˈpaː.rən ˈpuːl.gajz]",
                     "have-{1sg.pres} eat-{past.ptcp} two-{masc} of.{quant} orange-{pl}",
                     "I ate two oranges."

  %p Word order also becomes more complicated with full-form auxiliaries. The full form auxiliary must always precede the main participle, but verbal clitics are able to attach to either the auxiliary or the participle. Negative and mediopassive clitics will always attach to the auxiliary verb. Other clitics will typically attach to the beginning of the participle when negated or to the end of the participle when not negated.
  = example_sentence "Nacciresut-ai in apartmint.",
                     "[ˈnaː.ˈki.rə.su.taj iːn ˈaː.pʌt.miːnt]",
                     "take_out_rent-{ptcp.past}-have-{1sg.clitic} {abl} apartment",
                     "I rented an apartment from him."
  = example_sentence "Perils d' apartmints ys-nacciresut-çu-n.",
                     "[pə.ˈriwz ˈdaː.pʌt.miːnts ˈiz.nʌ.ˈki.rə.su.tʃun]",
                     "apartment-{pl} several-{pl} {med}-take_out_rent-{ptcp.past}-be-{3pl.clitic}-{abl}",
                     "Several apartments were rented from him."
  = example_sentence "N-ai l'in nacciresut mí.",
                     "[ˈnaj liːn ˈnaː.ˈki.rə.sut miː]",
                     "{neg}-have-{1sg.pres} {3sg.acc}-{abl} take_out_rent-{ptcp.past}-{masc} {neg}",
                     "I did not rent it from him."
  = example_sentence "L-apartmints ilis n-us só in nacciresuts mí.",
                     "[ˈlaː.pʌt.miːnts ˈi.liz ˈnus soː iːn ˈnaː.ˈki.rə.suts miː]",
                     "{def.pl}-apartment those-{pl} {neg}-{med} be-{3pl.pres} {abl} take_out_rent-{ptcp.past}-{pl} {neg}",
                     "Those apartments were not rented from him."

  %p However, if an adverb or other word splits the verb phrase so the auxiliary and participle are separated, then pronominal clitics will always follow the participle in all cases. The split verb phrase essentially cancels out the tendency for negative clitics to pull other clitics forward.
  = example_sentence "N-sem li raspondut mí a mèsage.",
                     "[ɪn.səm li rʌs.ˈpoːn.dut miː ʌ ˈme.sʌ.ʒə]",
                     "{neg}-be-{1sg.pres} {3sg.dat} respond-{masc} {neg} to message",
                     "I did not respond to her message."
  = example_sentence "N-sem a mèsage raspondut-l mic, ma sim cremat-em-l pus.",
                     "[ɪn.səm ʌ ˈme.sʌ.ʒə rʌs.ˈpoːn.du.tu mik mʌ ˈsiːm krə.ˈmaː.tə.mu ˈpus]",
                     "{neg}-be-{1sg.pres} to message respond-{past.ptcp}-{3sg.dat} {neg} but yes call-{past.ptcp}-be-{1sg.clitic}-{3sg.dat} later",
                     "I did not respond to her message, but I did call her later."

  %p The term ‘Perfect’ is historical, since the tense derives from a Vulgar Latin present perfect construction, still used as such in several other Romance languages such as Spanish. However, as in modern French, the Tunisian perfect tense is used as a simple past—a past perfective rather than a present perfect.
  %p The most common usage for the perfect is to indicate a single past event that occurred at a specific time—actions instead of processes.
  = example_sentence "Chenat-ems pesc pól çène.",
                     "[kə.ˈnaː.təmz ˈpɛsk pul ˈʃe.nə]",
                     "eat-{past.ptcp}-have-{1pl.clitic} fish for dinner",
                     "We had fish for dinner."
  = example_sentence "Yschembat-ai-m y lires pól euros ind aeroporut.",
                     "[ˈis.kəm.ˈbaː.tajm i ˈli.rəz pul ˈew.ruz iːnd ˈaj.ru.ˈpɔ.rut]",
                     "exchange-{past.ptcp}-have-{1sg.clitic}-{1sg.dat} {def.pl} lira-{pl} for euro-{pl} in airport",
                     "I changed my lire for euros at the airport."
  = example_sentence "Il vend totdune s-ilćat-e.",
                     "[il ˈveːn ˈtɔə.du.nə ˈsiːl.θʌ.tə]",
                     "{def.masc} wind suddenly {med}-lift-{past.ptcp}-be-{3sg.clitic}",
                     "The wind suddenly picked up."

  %p Sequences of events are typically expressed using the perfect. In contrast, the imperfect tends to express background information or simultaneity. The two sentences below are identical except for the use of th perfect or imperfect tenses; the perfect requires that one event follows as a result of the other.
  = example_sentence "Yst-rnegat-em temp c' ai raveglat c' aié frat y yscutr yc mi.",
                     "[ˈis.trɪ.nə.ˈgaː.təm teːm kaj ˈraː.və.glʌt kʌ.jeː ˈfraːt ˈjis.ku.tr ik mi]",
                     "{med}-anger-{past.ptcp}-be-{1sg.clitic} when {rel} have-{1sg.pres} realize-{past.ptcp}-{masc} {rel} have-{3pl.pres} steal-{past.ptcp}-{masc} {acc} scooter {rel.def} {1sg.gen}",
                     "I was angry when (as a result of) I saw my scooter was stolen."
  = example_sentence "Yst-rnegave temp c' ai raveglat c' aié frat y yscutr yc mi.",
                     "[ˈis.trɪ.nə.ˈgaː.və teːm kaj ˈraː.və.glʌt kʌ.jeː ˈfraːt ˈjis.ku.tr ik mi]",
                     "{med}-anger-{1sg.impf} when {rel} have-{1sg.pres} realize-{past.ptcp}-{masc} {rel} have-{3pl.pres} steal-{past.ptcp}-{masc} {acc} scooter {rel.def} {1sg.gen}",
                     "I was angry when (at the same time) I saw my scooter was stolen."

  %p A repeated event may appear in the perfect rather than the imperfect when there is an implication of completion of a set or totality. This could be thought of as a point event occurring at the end of the iteration.
  = example_sentence "Aschetat-ai y tots emisius gime icste.",
                     "[ˈaːs.kə.ˈtaː.taj i ˈtots ˈe.mi.sjuz ˈʒi.mə ˈiks.tə]",
                     "listen-{past.ptcp}-have-{1sg.clitic} {acc} all-{pl} broadcast-{pl} week this-{fem}",
                     "I listened to every radio broadcast this week."
  = example_sentence "Viejat-em in tots paiss in Yorupe.",
                     "[vjə.ˈʒaː.təm iːn ˈtots ˈpajz iːn ˈjɔ.ru.pə]",
                     "travel-{past.ptcp}-be-{1sg.clitic} in all-{pl} country-{pl} in Europe",
                     "I travelled to every country in Europe."

  %p Typically verbs with stative meaning may appear in the perfect in order to indicate perceived completion of an action or to indicate state at a specific instant in time.
  = example_sentence "Indat-em a gáre a uis çeicdècce 'n minuts.",
                     "[ˈiːn.dʌ.təm ʌ ˈgaː.rə ʌ ujs ˈʃej.ˈde.kən ˈmi.nuts]",
                     "walk-{past.ptcp}-be-{1sg.clitic} to train_station in {indef.pl} fifteen-{fem} of.{quant} minute-{pl}",
                     "I walked the train station in fifteen minutes."
  = example_sentence "Come ys't-e la clase yc ti?",
                     "[ˈkɔ.mə ˈis.ti lʌ ˈklaː.sə ik ti]",
                     "how be-{past.ptcp}-be-{3sg.clitic} {def.fem} class {rel.def} {2sg.gen}",
                     "How was your class?"

= section "The Preterite Tense" do
  %p The Preterite Tense (<i>il priterit</i>) is a simple tense typically representing a past perfect. While it once was widely used as a simple past in Old Tunisian, in the modern language its role is marginal. A distinction must also be made between its usage in the spoken and written language.
  %p In written Tunisian, the preterite continues to be used as a simple past in narrative contexts, such as in stories, newspapers, books, and legal documents. In this context it serves essentially the same function as the perfect tense does in the spoken language, and the choice of preterite versus perfect is largely stylistic. This situation is comparable to the use of the cognate <i>passé simple</i> conjugation in French, and indeed was likely influenced by it; the 15th through 18th actually saw an increase in the use of the preterite in Tunisian texts.
  = example_sentence "Sèrig s-ilćís, indís pól case, ys-fremís coite tesure e merís áfure.",
                     "[ˈse.rig ˈsiːl.θiːs ˈiːn.diːs pul ˈkaː.sə ˈis.frə.ˈmiːs ˈkoj.tə tə.ˈsu.rə e mə.ˈriːs ˈaː.fu.rə]",
                     "Sèrig {med}-get_up-{3sg.pret}, walk-{3sg.pret} around room, {med}-stop-{3sg.pret} beside window and look-{3sg.pret} to_outside",
                     "Sèrig got up, paced around the room, stopped by the window, and looked out."
  = example_sentence "Il raprèsental freiccisí crefís il raspondey a uis dufts temp dimená.",
                     "[i ˈraː.pri.sɪn.taːl ˈfrej.ki.ziː krə.ˈfiːs i rʌs.ˈpoːn.dej ʌ ujz ˈdufts teːm ˈdi.mə.naː]",
                     "{def.masc} representative French-{masc} refuse-{3sg.pret} {def.masc} respond-{inf} to {indef.pl} doubt-{pl} upon ask-{inf}",
                     "The French representative refused to take questions when asked."
  = example_sentence "La vie de fé prime endre Tenès e Dsaír s-iprís a l-en 1884.",
                     "[lʌ ˈvi.jə di ˈfeə ˈpri.mə ˈeːn.drə tə.ˈnɛs e dzʌ.ˈjiːr si.ˈpriːs ʌ ˈleːn 1884]",
                     "{def.fem} way of iron first-{fem} between Tunis and Algiers {med}-open-{3sg.pret} in {def.masc}-year 1884",
                     "The first railroad between Tunis and Algiers opened in 1884."
  = example_sentence "Disèrtminds y tráspreture túrneis dríré trèse 'n gims.",
                     "[di.ˈzeːr.miːnz i ˈtraːs.prə.tu.rə ˈtuːr.nejz ˈdriː.reː ˈtre.sən  ˈʒiːmz]",
                     "strike-{pl} of transportation alternating-{pl} last-{3pl.pret} three-{fem} of.{quant} week-{pl}",
                     "Rolling transportation strikes lasted for three weeks."

  %p In the spoken language, the preterite is much more restricted. As a simple past, it remains in common use with verbs of speech. In particular, the preterite is preferred to the perfect with direct quotations when the verb follows the quotation (although the perfect remains preferred when the verb comes before the quotation).
  = example_sentence "“Nu-l ysc mí” dics ele.",
                     "[nul ˈisk miː ˈdiks ˈe.lə]",
                     "“{neg}-{3sg.acc} know-{1sg.pres} {neg}” say-{3sg.pret} {3sg.fem.nom}",
                     "“I don’t know” she said."
  = example_sentence "Ele dict-ae “Nu-l ysc mí”.",
                     "[ˈe.lə dik.ˈtaj nul ˈisk miː]",
                     "{3sg.fem.nom} say-{past.ptcp}-have-{3sg.clitic} “{neg}-{3sg.acc}-know-{1sg.pres} {neg}”",
                     "She said “I don’t know”. (perfect)"
  = example_sentence "“Fèccivs mi séme pól tredivure” raspendís yó.",
                     "[ˈfe.kivz mi ˈseə.mə pul trə.ˈdi.vu.rə ˈraːs.pən.diːs ˈjɔə]",
                     "“make-{2sg.impf} {1sg.dat} forgive.{gerund} for delay” respond-{1sg.pret} {1sg.nom}",
                     "“Sorry I'm late” I replied."

  %p The preterite is also commonly used with a handful of verbs denoting life events, such as <i>naschey</i> “be born”, <i>ys-cunegá</i> “marry”, and <i>ys-morey</i> “die”, that are not recurring or arbitrary events but that tend to happen once at a fixed date. This is likely an extension of the narrative use of the preterite in the written language. In contrast, the perfect will continue to be used when referring to such events in a more general manner, such as with indefinite agents.
  = example_sentence "Vecpatr ys-merís temp ch' ebivé-m seft n' embals.",
                     "[ˈvɛk.pʌ.tɪr ˈis.mə.riːs teːm ˈke.bi.veːm ˈsɛft ˈneːm.baːlz]",
                     "grandfather {med}-die-{pret.3sg} when {rel} have-{3pl.impf}-{1sg.dat} seven-{masc} of.{quant} year-{pl}",
                     "My grandfather died when I was seven."
  = example_sentence "Neschís a len 1990.",
                     "[nəs.ˈkiːs ʌ ˈleːn 1990]",
                     "be_born-{1sg.pret} in year 1990",
                     "I was born in 1990."
  = example_sentence "Ls fils yc mi ls par neschíré a nuvambr.",
                     "[us ˈfilz ik mi us ˈpaːr nəs.ˈkiː.reː ʌ nu.ˈvaːm.bɪr]",
                     "{def.pl} child-{pl} {rel.def} {1sg.gen} {def.pl} two-{masc} be_born-{3pl.pret} in November",
                     "My children were both born in November."
  = example_sentence "Cots n' ómnes nascut-çu a len intor?",
                     "[ˈkots ˈnoːm.nəz ˈnaːs.ku.tʃu ʌ ˈleːn ˈiːn.toːr]",
                     "how_many-{pl} of.{quant} people-{pl} be_born-{past.ptcp}-be-{3pl} year previous?",
                     "How many people were born last year? (perfect)"

  %p Due to the limited manner in which the preterite is used in modern Tunisian, it appears almost exclusively in the first and third persons (since narration in the second person is rare).

  %p In spoken Tunisian, the preterite does have one use that does not exist in the written language: it may mark an event that either happened in the immediate past, or will happen in the immediate future. It typically accompanies such adverbs as <i>ides</i> “just (now)”, <i>úra</i> “just about, almost”, or <i>directmít</i> “in a moment”. This is the only usage in colloquial speech that remains an open class (i.e., able to be used with arbitrary verbs rather than the narrow set described above).

  = example_sentence "Il train y Luíse ides yócs dí Loc-Dsaír.",
                     "[il ˈtreːŋ i ˈlu.i.zə ˈi.dəs ˈjɔəks diː ˈlok dzʌ.ˈjiːr]",
                     "{def} train of Luíse just arrive-{3sg.pret} from city-Algiers",
                     "Luíse’s train just arrived from Algiers."
  = example_sentence "Yó ides viçenís y Inése imfur.",
                     "[ˈjɔə ˈi.dəs ˈvi.ʃə.niːs i i.ˈne.sə ˈiːm.fuːr]",
                     "{1sg.nom} just see-{1sg.pret} {acc} Inése outside",
                     "I just saw Inése outside."
  = example_sentence "Iray finit directmít.",
                     "[i.ˈraj ˈfi.nit ˈdi.rək.tmiːt]",
                     "be-{3sg.fut} finish-{ptcp.past}-{masc} immediate-{adv}",
                     "It will be finished in just a moment."
  = example_sentence "Úra jestís?",
                     "[ˈuː.rʌ ʒes.ˈtiːs]",
                     "almost be_ready-{2sg.pret}",
                     "Are you ready yet?"

= section "The Future Tense" do
  %p XXX

= section "The Subjunctive Mood" do
  %p XXX

= section "The Imperative Mood" do
  %p XXX

= section "Negation" do
  %p XXX

= section "Passive Voice" do
  %p XXX

= section "Mediopassive Voice" do
  %p XXX

= section "Stative Verbs" do
  %p XXX

= section "Infinitives" do
  %p XXX

= section "Participles" do
  %p XXX
