- content_for :title, "Grammar of the Tunisian Language — #{strip_tags(@current_page[:title])}"
- content_for :section_subtitle, "La Morphologgie Félie"

= section "Features" do
  %p Much like the other Romance languages, Tunisian verbs are highly inflected for person, number, tense, mood, and voice. Most verbs consist of just two morphemes, a stem and a single inflectional ending. Naturally, each ending carries a heavy functional load, simultaneously marking each of these features. For instance, <i>pydsams</i> /pit.ˈsaːmz/ “we think” consists of the stem *pyds- and the ending <i>-ams</i>, which marks the first person singular present active indicative. Some stems also include derivational prefixes or suffixes in addition to the verb root.
  %p Many verbs undergo stem vowel changes when they are conjugated in various forms. While limited degrees of such vowel changes are common in other Romance languages, in Tunisian they have actually taken the form of ablaut with a limited but real contrastive function, as in <i>dib</i> /ˈdib/ “I need” versus <i>deb</i> /ˈdeb/ “he/she needs”.
  %p Tunisian verbs inflect for three moods: the indicative, subjunctive, and imperative. Of these, the indicative is by far the most robust, inflecting for the present, imperfect, perfect, preterite, and two different future tenses. The subjunctive mood only has two forms, a present and past, with the latter in retreat. The imperative mood has always existed in just a single form, though it has actually been gaining some ground on the subjunctive. In some dialects, the subjunctive has completely disappeared, but this is not permitted in standard Tunisian.
  %p Conjugated verbs can be either simplex or complex. Simplex tenses consist of just a single conjugated verb, and include the present, imperfect, preterite, future II, present subjunctive, and imperative. Complex tenses consist of an auxiliary verb plus a non-finite form (infinitive or participle), and include the perfect, future I, and past subjunctive.
  %p Individual Tunisian verbs have three inherent qualities: conjugation class, transitivity, and aspect. The conjugation class determines how exactly the verb conjugates and what endings it takes; this is described in more detail in the following section. Transitivity determines whether a verb is able to take a direct object (transitive) or not (intransitive), and this in turns affects the conjugation in certain forms, such as the formation of the perfect tense; this can be manipulated through the use of certain reflexive pronouns or auxiliary verbs.
  %p Tunisian treatment of aspect is somewhat more complex, and does not have a clear equivalent in other Romance languages. Verbs belong to one of three categories: inherently perfective, inherently imperfective, or biaspectual. Inherently perfective verbs describe a single event that cannot be drawn out over a period of time; these verbs completely lack imperfect tense forms. Inherently imperfective verbs describe actions that always take place over a period of time and cannot be single point events; these verbs completely lack perfects and preterites. Biaspectual verbs can freely appear with both perfective and imperfective meanings, and can conjugate in the perfect, imperfect, and preterite tenses.

= section "Verb Roots and Conjugations" do
  %p Tunisian verbs belong to one of four conjugation classes, numbered I, II, III, and IV. These classes are inherent to individual verb stems and are arbitrary; that is, any connotation that each conjugation may have once had has long since been completely lost. The four conjugations differ primarily in the vowels of certain endings, though in some tenses the actual endings may vary across conjugations.
  %p Conjugation I, also known as the A-Class, can be distinguished by the vowel /a/ in several present tense forms and the infinitive ending <i>-á</i>. This is the largest conjugation class and the only class that is completely open, in that new loanwords and coinages can continually appear as new Conjugation I verbs. This class includes many old words of Latin origin such as <i>levá</i> /lə.ˈvaː/ “wash” and <i>pendsá</i> /pɪn.ˈzaː/ “think”, medieval and modern Arabic loans such as <i>źeliá</i> /ðə.ˈljaː/ “insult”, and modern internationalisms such as <i>tèlefoniá</i> /ˈteːl.fə.njaː/ “telephone”.
  %p Conjugation II, or the E-Class, is the second most frequent conjugation class. This class is partially open; it no longer allows any new primitive stems, but productively accepts new words formed with certain derivational suffixes, such as the causative -s-. It is distinguished by the vowel /e/ in several present tense forms and the infinitive ending <i>-é</i>. Primitive examples include <i>debé</i> /də.ˈbeː/ “need” and <i>yspé</i> /is.ˈpeː/ “taste”, while a derived example is <i>brycsé</i> /brik.ˈseː/ “whiten” from <i>breic</i> /ˈbrejk/ “white”.
  %p Conjugation III, or the Y-Class, is the rarest of the four conjugation classes and is completely closed, consisting entirely of inherited verbs of Latin origin. These verbs are generally marked by an unstressed infinitive ending in <i>-ey</i> or rarely <i>-y</i> and vowelless present tense endings. Examples include <i>pèridey</i> /ˈpe.ri.dej/ “lose”, <i>vèndey</i> /ˈveːn.dej/ “sell”, and <i>udy</i> /ˈu.di/ “hear”.
  %p Conjugation IV, or the I-Class, is another partially-open class that only accepts new verbs that contain particular derivational suffixes, most frequently the stative suffix -sc-. It is marked by infinitives ending in <i>-í</i> and by the vowel /i/ in present tense endings. Examples include <i>dremí</i> /drə.ˈmiː/ “sleep”, <i>pretí</i> /prə.ˈtiː/ “leave”, and <i>chenoschí</i> /kə.ˈnos.kiː/ “recognize”.

= section "Ablaut Patterns" do
  %p Tunisian verbs display two types of ablaut, known as the Reduction Ablaut (or reduced stem) and the I-Ablaut (or i-stem). These terms will be used to identify whenever ablaut patterns regularly occur in verbal paradigms.
  %p The Reduction Ablaut is triggered by historical stress patterns, where unstressed short vowels will reduce to neutral vowels and unstressed diphthongs will reduce to long monophthongs. Falling diphthongs pattern as distinct vowels from their components, while rising diphthongs pattern as glide + vowel; that is, /ei/ patterns separately from /e/ and /i/, while /ie/ behaves as /je/ and patterns with /e/.
  %p The I-Ablaut is a change triggered by the current or former presence of /i/ in the following syllable, and generally consists in a raising and fronting of the base vowel. It has a much more limited role, with only a few short vowels having distinctive i-stem forms.
  %p Short vowels have two different forms under Reduction-Ablaut. Word-initially, they collapse as high vowels, with /a e i/ merging as /i/ and /o u/ merging as /u/. Everywhere else, they all reduce to schwa.
  %p The table below shows every Tunisian vowel and diphthong and their counterparts under the I- and Reduction-Ablauts. A blank indicates no change.
  %table
    %thead
      %tr
        %th{:colspan => 3} Short Vowels
      %tr
        %th Base Vowel
        %th I-Ablaut
        %th Reduction-Ablaut
    %tbody
      %tr
        %td /a/
        %td /e/
        %td /i ~ ə/
      %tr
        %td /e/
        %td /i/
        %td /i ~ ə/
      %tr
        %td /i/
        %td
        %td /i ~ ə/
      %tr
        %td /o/
        %td /i/
        %td /u ~ ə/
      %tr
        %td /u/
        %td
        %td /u ~ ə/
      %tr
        %td /ə/
        %td
        %td
  %table
    %thead
      %tr
        %th{:colspan => 3} Long Vowels
      %tr
        %th Base Vowel
        %th I-Ablaut
        %th Reduction-Ablaut
    %tbody
      %tr
        %td /aː/
        %td
        %td
      %tr
        %td /eː/
        %td
        %td
      %tr
        %td /iː/
        %td
        %td
      %tr
        %td /oː/
        %td
        %td
      %tr
        %td /uː/
        %td
        %td
  %table
    %thead
      %tr
        %th{:colspan => 3} Diphthongs
      %tr
        %th Base Vowel
        %th I-Ablaut
        %th Reduction-Ablaut
    %tbody
      %tr
        %td /aj/
        %td
        %td /iː/
      %tr
        %td /ej/
        %td
        %td /iː/
      %tr
        %td /oj/
        %td
        %td /iː/
      %tr
        %td /uj/
        %td
        %td
      %tr
        %td /aw/
        %td
        %td /uː/
      %tr
        %td /ew/
        %td
        %td /uː/
      %tr
        %td /iw/
        %td
        %td
      %tr
        %td /ow/
        %td
        %td /uː/

  %p Some recent loanwords do not orthographically distinguish the full and reduced grades, even though the difference is there in pronunciation: <i>tèlefone</i> /ˈteːl.fu.nə/ “he/she is calling” (full grade), <i>tèlefoniams</i> /ˈteːl.fə.njaːmz/ “we are calling” (not <i>*tèlefeniams</i>). I-Ablaut is always indicated if it is present: <i>tèlefène</i> /ˈteːl.fi.nə/ “I am calling”.

= section "The Infinitive" do
  %p The infinitive is the basic, unmarked form of the verb, lacking explicit marking for person, tense, and mood. It is also the citation form of verbs, and most verbs cited in this grammar will appear in the infinitive unless otherwise indicated. Unusually for a Romance language, the Tunisian infinitive has two forms, a singular and a plural.
  %p Conjugation I verbs form their infinitive by adding the suffix <i>-á</i> to the reduced stem.
  %p Conjugation II verbs form the infinitive with the suffix <i>-é</i> on the reduced stem.
  %p Conjugation III verbs form the infinitive one of the unstressed suffixes <i>-ey</i> or rarely <i>-y</i>. Which stems take which suffix cannot be predicted; the suffixes are arbitrarily associated with particular verbs. There is no ablaut in the stem.
  %p Conjugation IV verbs form the infinitive with the suffix <i>-í</i>. Reduction ablaut in generally not present, although a few particular subclasses will have it. In particular, verbs with a metathesizing /r/ will show reduction in the infinitive.
  %p Plurals for all conjugations are formed with the suffix <i>-s</i> /z/ added to the singular infinitive, sometimes with minor modifications to the singular stem. The first and second conjugations diphthongize the final vowel, becoming <i>-ays</i> and <i>-eys</i>. Third conjugation stems with a singular in <i>-y</i> become <i>-ís</i> in the plural. Other forms are regular.
  %table
    %thead
      %tr
        %th Stem
        %th Conjugation
        %th Singular<br>Infinitive
        %th Plural<br>Infinitive
    %tbody
      %tr
        %td *lav- “wash”
        %td I
        %td
          <i>levá</i>
          %br
          \/lə.ˈvaː/
        %td
          <i>levays</i>
          %br
          \/lə.ˈvajz/
      %tr
        %td *chènt- “sing”
        %td I
        %td
          <i>chentá</i>
          %br
          \/kən.ˈtaː/
        %td
          <i>chentays</i>
          %br
          \/kən.ˈtajz/
      %tr
        %td *am- “love”
        %td I
        %td
          <i>imá</i>
          %br
          \/i.ˈmaː/
        %td
          <i>imays</i>
          %br
          \/i.ˈmajz/
      %tr
        %td *dèb- “need”
        %td II
        %td
          <i>debé</i>
          %br
          \/də.ˈbeː/
        %td
          <i>debeys</i>
          %br
          \/də.ˈbejz/
      %tr
        %td *viçon- “see”
        %td II
        %td
          <i>viçené</i>
          %br
          \/ˈvi.ʃə.neː/
        %td
          <i>viçeneys</i>
          %br
          \/ˈvi.ʃə.nejz/
      %tr
        %td *sèd- “sit”
        %td II
        %td
          <i>sedé</i>
          %br
          \/sə.ˈdeː/
        %td
          <i>sedeys</i>
          %br
          \/sə.ˈdejz/
      %tr
        %td *vènd- “sell”
        %td III
        %td
          <i>vèndey</i>
          %br
          \/ˈveːn.dej/
        %td
          <i>vèndeys</i>
          %br
          \/ˈveːn.dejz/
      %tr
        %td *lèg- “read”
        %td III debe
        %td
          <i>lèggey</i>
          %br
          \/ˈle.gej/
        %td
          <i>lèggeys</i>
          %br
          \/ˈle.gejz/
      %tr
        %td *ud- “hear”
        %td III
        %td
          <i>udy</i>
          %br
          \/ˈu.di/
        %td
          <i>udís</i>
          %br
          \/u.ˈdiːz/
      %tr
        %td *ysc- “know”
        %td IV
        %td
          <i>yschí</i>
          %br
          \/is.ˈkiː/
        %td
          <i>yschís</i>
          %br
          \/is.ˈkiːz/
      %tr
        %td *chenosc- “recognize”
        %td IV
        %td
          <i>chenoschí</i>
          %br
          \/knus.ˈkiː/
        %td
          <i>chenoschís</i>
          %br
          \/knus.ˈkiːz/
      %tr
        %td *dorom- “sleep”
        %td IV
        %td
          <i>dremí</i>
          %br
          \/drə.ˈmiː/
        %td
          <i>dremís</i>
          %br
          \/drə.ˈmiːz/

  %p Three verbs have irregular infinitives.
  %table
    %thead
      %tr
        %th Stem
        %th Conjugation
        %th Singular<br>Infinitive
        %th Plural<br>Infinitive
    %tbody
      %tr
        %td *es-/s- “be”
        %td n/a
        %td
          <i>ystá</i>
          %br
          \/is.ˈtaː/
        %td
          <i>seys</i>
          %br
          \/ˈsejz/
      %tr
        %td *lèv- “take”
        %td I
        %td
          <i>loá</i>
          %br
          \/waː/
        %td
          <i>loays</i>
          %br
          \/ˈwajz/
      %tr
        %td *v- “go”
        %td IV
        %td
          <i>uní</i>
          %br
          \/u.ˈniː/
        %td
          <i>unís</i>
          %br
          \/u.níz/

= section "The Present Tense" do
  = section "Regular Forms" do
    %p The following table shows the regular present-tense forms in each of the four conjugations. The verbs shown are <i>levá</i> “wash”, <i>debé</i> “need”, <i>vèndey</i> “sell”, and <i>chenoschí</i> “recognize”.
    %table
      %thead
        %tr
          %th{:colspan => 5} Tunisian Regular Present Tense
        %tr
          %th
          %th I
          %th II
          %th III
          %th IV
      %tbody
        %tr
          %th
          %td
            <i>levá</i>
            %br
            “wash”
          %td
            <i>debé</i>
            %br
            “need”
          %td
            <i>vèndey</i>
            %br
            “sell”
          %td
            <i>chenoschí</i>
            %br
            “recognize”
        %tr
          %th 1Sg <i>yó</i>
          %td= form "lev", "[ˈlɛv]"
          %td= form "dib", "[ˈdib]"
          %td= form "vind", "[ˈviːn]"
          %td= form "chenisc", "[ˈknisk]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "lavs", "[ˈlaːvz]"
          %td= form "debs", "[ˈdɛbz]"
          %td= form "vends", "[ˈvɛːnz]"
          %td= form "chenoscs", "[ˈknosks]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "lav", "[ˈlaːv]"
          %td= form "deb", "[ˈdɛb]"
          %td= form "vend", "[ˈvɛːn]"
          %td= form "chenosc", "[ˈknosk]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "levams", "[lə.ˈvaːmz]"
          %td= form "debèms", "[də.ˈbɛːmz]"
          %td= form "vendms", "[ˈvɛː.nɪmz]"
          %td= form "cheneschims", "[knəs.ˈkiːmz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "levats", "[lə.ˈvaːts]"
          %td= form "debèts", "[də.ˈbɛts]"
          %td= form "vendts", "[ˈveː.nɪts]"
          %td= form "cheneschits", "[knəs.ˈkits]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "pralé", "[prʌ.ˈleə]"
          %td= form "dèbé", "[di.ˈbeə]"
          %td= form "vèndó", "[ˈveːn.dɔː]"
          %td= form "chenoscó", "[knus.ˈkɔə]"

    %p The first person singular consists of the bare verbal stem featuring the I-Ablaut in the final syllable.
    %p The second person singular consists of the verbal stem plus the suffix <i>-s</i>. This is pronounced [s] after voiceless consonants and [z] everywhere else. If the stem ends in a coronal fricative, orthographically the form is regular, but an epenthetic [ɪ] is inserted between the stem and ending: <i>pendsá</i> “think” → <i>pendss</i> [ˈpeːnd.zɪs].
    %p The third person singular consists of the bare verbal stem with no ablaut. Consequently, the first and third person singulars are identical for most verbs if the stem cannot undergo I-Ablaut.</p>
    %p The first person plural consists of the verbal stem, a thematic vowel, and the ending <i>-ms</i>, pronounced [mz]. In the first, second, and fourth conjugations the thematic vowel is /a/, /e/, and /i/ respectively, often stressed, while the verbal stem appears in its reduced grade. In the third conjugation, the stem appears in its full grade, but the thematic vowel is absent, and consequently an epenthetic [ɪ] is regularly inserted.
    %p The second person plural behaves just like the first person plural, only with the ending <i>-ts</i>.
    %p The third person plural adds the endings <i>-ó</i> (I/II), <i>-é</i> (III), or <i>-(i)ó</i> (IV) to the full grade of the verbal stem. In the fourth conjugation, the /j/ drops after consonant clusters: <i>dorumió</i> [ˈdo.ru.mjoː] “they sleep” vs <i>yscó</i> [is.ˈkɔə] “they know”.
    %p Some of these endings can result in fully predictable spelling changes even though the pronunciation is completely regular. Notice above, for instance, how the stem for “recognize” varies between <i>*chenosc-</i> when by itself or before a consonant and <i>*chenosch-</i> when before a front vowel. Similarly, the stem for “need”, which is always pronounced /deb/ in the full grade, is spelled <i>*deb-</i> in monosyllabic forms (since graphical <i>e</i> in a monosyllable is always /e/) and <i>*dèb-</i> in polysyllabic forms (since graphical <i>e</i> in polysyllabic forms is always /ə/). More generally, Tunisian spelling, at least as far as conjugation is concerned, generally opts for the most appropriate spelling for a given pronunciation, regardless of the spelling of other related forms.

  = section "Semi-Regular Forms" do
    %p Verbs that do not follow the regular pattern outlined in the previous section, but whose patterns can still be predicted based on the phonological structure of the stem, are known as semi-regular verbs or minor conjugations (as opposed to the four mentioned before, which are known as the major conjugations).

    = section "Stems Ending in /j/" do
      %p All verb stems ending in /j/ belong to Conjugation I. This was due to all /j/-final stems in other conjugations either shifting to Conjugation I by dissimilation or losing the /j/ entirely by assimilation, as it is much more salient before a back vowel (i.e., Cja) than before a front vowel (i.e., Cje or Cji). However, their conjugation seems to share some traits of both the A and I conjugations, due to this underlying /j/ vocalizing as /i/ in certain positions. The present tense of <i>źeliá</i> “insult” is shown below.
      = render 'present_tense',
        :verb          => {:tun => "źeliá", :eng => "insult"},
        :forms         => %w(źèle źalis źale źeliams źeliats źalié),
        :pronunciation => %w(ˈðe.lə ˈðaː.liz ˈðaː.lə ðə.ˈljaːmz ðə.ˈljaːts ðʌ.ˈljeə)

      %p In the first and third persons singular, the yod remains in place and vocalizes as /ə/. I-Ablaut still occurs in the first person singular, but on the preceding vowel.
      %p In the second person singular the yod vocalizes as /i/.
      %p The third person singular and all plural forms are completely regular.

    = section "Stems with Metathesizing /r/" do
      %p The metathesizing /r/ phonomenon occurs in stems that formerly had the structure *CVrC-, but that now alternate between *CrVC and *CVrVC. Examples include the verbs <i>dremí</i> “sleep” and <i>freví</i> “boil”. These stems have the following three grades:
      %ul
        %li In the full grade, they take the form *CVrVC-, where the first V represents the original vowel and the second V is the pleophonic echo vowel as mentioned above. The full grade stems of these two verbs are <i>*dorum-</i> and <i>*fèriv-</i>.
        %li Under I-Ablaut, they take the form *CVriC-, where the pleophonic vowel always surfaces as /i/. This likely suggests that at the time the I-Ablaut was first emerging, this pleophonic vowel was reduced and relatively indistinct, and was thus affected to a much greater extent by later front vowels than normal short vowels were. The I-Ablaut forms of these two verbs are <i>*dorim-</i> and <i>*fèriv-</i>.
        %li In the reduced grade, they take the form *CrVC, where V represents the reduced counterpart of the full vowel. These forms were likely at one point also pleophonic, but stress-induced reductions caused the original pre-rhotic vowel to drop. The reduced grade forms of these two verbs are <i>*drem-</i> and <i>*frev-</i>.

      %p With these special graded forms in mind, it then becomes possible to conjugate these verbs regularly. Shown below is <i>dremí</i>:
      = render 'present_tense',
        :verb          => {:tun => "dremí", :eng => "sleep"},
        :forms         => %w(dorim dorums dorum dremims dremits dorumió),
        :pronunciation => %w(du.ˈriːm du.ˈruːmz du.ˈruːm drə.ˈmiːmz drə.ˈmits ˈdɔ.ru.mjoː)

      %p Verbs with stem-final /r/ after a consonant will be covered in section 4.5.2.6 as a case of final consonant clusters.

    = section "Stems Ending in /n/" do
      %p Stem-final /n/ is generally regular, but in the first person singular and second person singular it weakens to /j/, forming diphthongs. Shown below is the conjugation of <i>viçené</i> “see” (II) and <i>pyná</i> “fight” (I); the former is a typical /n/-final stem, while the latter shows the further vocalization of /j/ as /iː/ after already-existing diphthongs in the second person singular. Note that I-Ablaut does <em>not</em> occur in the first person singular.
      = render 'present_tense',
        :verb          => {:tun => "viçené", :eng => "see"},
        :forms         => %w(viçoy viçois viçon viçenèms viçenèts viçoné),
        :pronunciation => %w(vi.ˈʃoj vi.ˈʃojz vi.ˈʃoːn ˈvi.ʃə.neːmz ˈvi.ʃə.nits ˈvi.ʃu.neː)
      = render 'present_tense',
        :verb          => {:tun => "pyná", :eng => "fight"},
        :forms         => %w(poy poís poin pynams pynats poiné),
        :pronunciation => %w(ˈpoj ˈpɔ.jiz ˈpojn pi.ˈnaːmz pi.ˈnaːts ˈpoj.neː)

      %p When the final stem vowel is /i/ in the full grade, the */ij/ diphthong resolves as /iː/ in the second person singular, while the /n/ is restored in the first person singular.
      = render 'present_tense',
        :verb          => {:tun => "cumbená", :eng => "combine"},
        :forms         => %w(cumbin cumbís cumbin cumbenams cumbenats cumbiné),
        :pronunciation => %w(ˈkuːm.biːn ˈkuːm.biːz ˈkuːm.biːn ˈkuːm.bə.naːmz ˈkuːm.bə.nʌts ˈkuːm.bi.neː)

    = section "Stems Ending in /l/" do
      %p Stem-final /l/ also undergoes lenition to /j/, but only in the first person singular.
      = render 'present_tense',
        :verb          => {:tun => "prelá", :eng => "speak"},
        :forms         => %w(pray prals pral prelams prelats pralé),
        :pronunciation => %w(ˈpraj ˈpraːlz ˈpraːl prə.ˈlaːmz prə.ˈlaːts prʌ.ˈleə)

    = section "Stems Containing Velar + Front Vowel" do
      %p Historically, Tunisian palatalized the velar stops /k g/ to /ʃ ʒ/ before stressed front vowels. This causes problems in verbal stems containing these sequences where the stress shifts on and off that particular front vowel, leading to a /k ~ ʃ/ or /g ~ ʒ/ alternation within the same verb paradigm. While these alternations still exist in some dialects (e.g., <i>çhey</i> “I eat” vs. <i>chenams</i> “we eat”), in the standard they have been levelled out in favor of the plosive. The following tables show the conjugation of <i>chentá</i> “sing” and <i>glá</i> “freeze”.
      = render 'present_tense',
        :verb          => {:tun => "chentá", :eng => "sing"},
        :forms         => %w(chint chents chent chentams chentats chènté),
        :pronunciation => %w(ˈkiːnt ˈkeːnts ˈkeːnt kɪn.ˈtaːmz kɪn.ˈtaːts ˈkeːn.teː)
      = render 'present_tense',
        :verb          => {:tun => "glá", :eng => "freeze"},
        :forms         => %w(ghil ghels ghel glams glats ghèlé),
        :pronunciation => %w(ˈgiːl ˈgeːlz ˈgeːl ˈglaːmz ˈglaːts gi.ˈleə)

      %p This sort of environment can also appear at the end of a stem, when the stem ends in /k g/ and is followed by a stressed front vowel. Here, the alternation is fully permissable, as apparently stem-final consonant changes are not considered as salient as stem-initial ones. Below is the conjugation of <i>leçé</i> “shine”:
      = render 'present_tense',
        :verb          => {:tun => "leçé", :eng => "shine"},
        :forms         => %w(luc lucs luc leçèms leçèts luccé),
        :pronunciation => %w(ˈluk ˈluks ˈluk lə.ˈʃeːmz lə.ˈʃɛts lu.ˈkeə)

    = section "Stems Ending in Consonant Clusters" do
      %p There are two types of semi-regular verbs with stems ending in consonant clusters: vowelless stems, where a historical vowel may sporadically reappear to break up the cluster, and true clustered stems, where an epenthetic vowel appears word-finally to support the cluster.
      %p Vowelless stems are verb stems that once ended in -CVC, but due to Tunisian vowel reduction, the vowel was lost in reduced-grade forms. This vowel will then reappear in full grade or I-Ablaut forms. Note that vowelless stems may actually contain vowels, and in fact often do; the name simply refers to the disappearing vowel in the stem. Examples include <i>yspé</i> “taste” (Conjugation II with full grade stem <i>*ysap-</i>) and <i>ifchey</i> “cause” (Conjugation III with full grade stem <i>*efèc-</i>)#{footnote}.
      = render 'present_tense',
        :verb          => {:tun => "yspé", :eng => "taste"},
        :forms         => %w(ysèp ysaps ysap yspèms yspèts ysapé),
        :pronunciation => %w(ˈi.sip ˈi.sʌps ˈi.sʌp is.ˈpeːmz ˈis.pɛts ˈi.sʌ.peː)
      = render 'present_tense',
        :verb          => {:tun => "ifchey", :eng => "cause"},
        :forms         => %w(efic efècs efèc efècms efècts efècó),
        :pronunciation => %w(ˈe.fik ˈe.fiks ˈe.fik ˈe.fi.kɪmz ˈe.fi.kɪts ˈe.fi.koː)

      %p True clustered stems are stems that have always ended in a cluster, so there is no vowel to reappear in full grade forms. In these verbs, an epenthetic /ə/ is inserted at the end of the first person singular and third person singular forms, perhaps a faint remnant of the verb endings that were once present in Old Tunisian. Examples include <i>ntrá</i> “enter” (I) and <i>solbey</i> “unlock” (III). Note that not all verb stems ending in clusters get this epenthetic vowel; many are completely regular, and will simply tolerate the word-final cluster. The distribution appears to reflect the phonotactics of an earlier form of Tunisian which was less tolerant of word-final clusters than the modern language.
      = render 'present_tense',
        :verb          => {:tun => "ntrá", :eng => "enter"},
        :forms         => %w(intre entrs entre ntrams ntrats entré),
        :pronunciation => %w(ˈiːn.trə ˈeːn.tɪrz ˈeːn.trə ɪn.ˈtraːmz ɪn.ˈtraːts ˈeːn.treː)
      = render 'present_tense',
        :verb          => {:tun => "solbé", :eng => "unlock"},
        :forms         => %w(silbe solbs solbe solbms solbts solbó),
        :pronunciation => %w(ˈsiːl.bə ˈsoːlbz ˈsoːl.bə ˈsoːl.bɪmz ˈsoːl.bɪts ˈsoːl.boː)

  = section "Irregular Forms" do
    %p Of course, not all verbs have a predictable conjugation. Some are simply irregular, with paradigms that have to be memorized individually. Only two are completely exceptional: <i>ystá</i> “be” (which, interestingly, lacks third person forms) and <i>rá</i> “be (emphatic), really be”, which has an Arabic-derived conjugation.
    = render 'present_tense',
      :verb          => {:tun => "ystá", :eng => "be"},
      :forms         => ["som", "es", nil, "sums", "esç", nil],
      :pronunciation => ["ˈsoːm", "ˈɛs", nil, "ˈsuːmz", "ˈɛstʃ", nil]
    = render 'present_tense',
      :verb          => {:tun => "rá", :eng => "be (emphatic)"},
      :forms         => %w(ráne rác rá ráná rácm rám),
      :pronunciation => %w(ˈraː.nə ˈraːk ˈraː ˈraː.naː ˈraː.kɪm ˈraːm)

    %p The present tense of <i>ystá</i> is actually the only irregular conjugation preserved from Latin. All other irregular Latin present tense verbs were regularized or lost on the way to modern Tunisian. However, a number of new verbs have become irregular. These include <i>loá</i> “take”, <i>uní</i> “go”, <i>vivey</i> “live”, <i>ebé</i> “have”, and <i>yddá</i> “give”.
    %table
      %thead
        %tr
          %th{:colspan => 6} Tunisian Irregular Present Tense
        %tr
          %th
          %th
            <i>loá</i>
            %br
            “take”
          %th
            <i>uní</i>
            %br
            “go”
          %th
            <i>vivey</i>
            %br
            “live”
          %th
            <i>ebé</i>
            %br
            “have”
          %th
            <i>yddá</i>
            %br
            “give”
      %tbody
        %tr
          %th 1Sg <i>yó</i>
          %td= form "lí", "[ˈliː]"
          %td= form "ví", "[ˈviː]"
          %td= form "viv", "[ˈviv]"
          %td= form "ai", "[ˈaj]"
          %td= form "dí", "[ˈdiː]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "levs", "[ˈlɛvz]"
          %td= form "veis", "[ˈvejz]"
          %td= form "vios", "[ˈviwz]"
          %td= form "ais", "[ˈajz]"
          %td= form "dads", "[ˈdaːdz]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "lev", "[ˈlɛv]"
          %td= form "vey", "[ˈvej]"
          %td= form "viv", "[ˈviv]"
          %td= form "ae", "[ˈaj]"
          %td= form "dad", "[ˈdaːd]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "loáms", "[ˈwaːmz]"
          %td= form "unims", "[u.ˈniːmz]"
          %td= form "viúms", "[vi.ˈjuːmz]"
          %td= form "ems", "[ˈeːmz]"
          %td= form "yddams", "[id.ˈdaːmz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "loáts", "[ˈwaːts]"
          %td= form "units", "[ˈu.nits]"
          %td= form "viúts", "[ˈvi.juts]"
          %td= form "ets", "[ˈɛts]"
          %td= form "yddats", "[id.ˈdaːts]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "lèvé", "[li.ˈveə]"
          %td= form "vènió", "[vi.ˈnjɔə]"
          %td= form "vivó", "[vi.ˈvɔə]"
          %td= form "aié", "[ʌ.ˈjeə]"
          %td= form "dadé", "[dʌ.ˈdeə]"

= section "The Imperfect Tense" do
  = section "Regular Forms" do
    %p Conjugations III and IV merge in the imperfect tense. The table below shows the regular imperfect tense forms.
    %table
      %thead
        %tr
          %th{:colspan => 5} Tunisian Regular Imperfect Tense
        %tr
          %th
          %th I
          %th II
          %th III
          %th IV
        %tr
          %th
          %th
            %i levá
            %br
            “wash”
          %th
            %i debé
            %br
            “need”
          %th
            %i vèndey
            %br
            “sell”
          %th
            %i chenoschí
            %br
            “recognize”
      %tbody
        %tr
          %th 1Sg <i>yó</i>
          %td= form "levave", "[leə.ˈvaː.və]"
          %td= form "debive", "[də.ˈbi.və]"
          %td= form "vindive", "[ˈviːn.di.və]"
          %td= form "chenischive", "[ˈknis.ki.və]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "levavs", "[lə.ˈvaːvz]"
          %td= form "debivs", "[də.ˈbivz]"
          %td= form "vindivs", "[ˈviːn.divz]"
          %td= form "chenischivs", "[ˈknis.kivz]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "levave", "[lə.ˈvaː.və]"
          %td= form "debive", "[də.ˈbi.və]"
          %td= form "vindive", "[ˈviːn.di.və]"
          %td= form "chenischive", "[ˈknis.ki.və]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "levivams", "[lə.ˈvi.vaːmz]"
          %td= form "debivams", "[də.ˈbi.vaːmz]"
          %td= form "vindivams", "[ˈviːn.di.vaːmz]"
          %td= form "chenischivams", "[ˈknis.ki.vaːmz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "levivats", "[lə.ˈvi.vʌts]"
          %td= form "debivats", "[də.ˈbi.vʌts]"
          %td= form "vindivats", "[ˈviːn.di.vʌts]"
          %td= form "chenischivats", "[ˈknis.ki.vʌts]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "levavé", "[lə.ˈvaː.veː]"
          %td= form "debivé", "[də.ˈbi.veː]"
          %td= form "vindivé", "[ˈviːn.di.veː]"
          %td= form "chenischivé", "[ˈknis.ki.veː]"

    %p The imperfect is formed from a verb stem in either the reduced or I-Abalut grades, an imperfect formant -Vv- containing a theme vowel, and a suffix marking person. Conjugations I and II used the reduced grade, while Conjugations III and IV appear with I-Ablaut. The imperfect formant is -av- for most Conjugation I forms and -iv- for all other verbs.
    %p The first person consist of just the stem, the imperfect formant, and the suffix <i>-e</i> /ə/, together forming <i>-ave</i> (I) or <i>-ive</i> (II/III/IV). Stress typically fails on the imperfect formant in Conjugations I and II given the reduced stem, and on the stem in Conjugations III and IV.
    %p In the second person singular, the person-marking suffix is <i>-s</i>, giving <i>-avs</i> (I) or <i>-ivs</i> (II/III/IV).
    %p The third person singular is always identical to the first person singular, formed with <i>-ave</i> (I) or <i>-ive</i> (II/III/IV).
    %p The first person plural and second person plural use the same suffix for all verbs: <i>-ivams</i> for the first person plural and <i>-ivats</i> for the second person plural.
    %p The third person plural uses the suffix <i>-é</i> added to the typical imperfect stem, yielding <i>-avé</i> (I) and <i>-ivé</i> (II/III/IV).

  = section "Semi-Regular Forms" do
    = section "Stems Ending in /j/" do
      %p Stems with final /j/ are largely regular in the imperfect. The only irregularity is that this /j/ is dropped before the first person plural and second person plural endings, which always begin with /i/ already.
      = render 'imperfect_tense',
        :verb          => {:tun => "źeliâ", :eng => "insult"},
        :forms         => %w(źeliave źeliavs źeliave źelivams źelivats źeliavé),
        :pronunciation => %w(ðə.ˈljaː.və ðə.ˈljaːvz ðə.ˈljaː.və ðə.ˈli.vaːmz ðə.ˈli.vʌts ðə.ˈljaː.veː)

    = section "Stems with Metathesizing /r/" do
      %p Stems with metathesizing /r/ are regular in the imperfect, insofar as the standard creation of the different grades of metathesizing /r/ stems is considered regular.
      = render 'imperfect_tense',
        :verb          => {:tun => "dremí", :eng => "sleep"},
        :forms         => %w(dorimive dorimivs dorimive dorimivams dorimivats dorimivé),
        :pronunciation => %w(ˈdɔ.ri.mi.və ˈdɔ.ri.mivz ˈdɔ.ri.mi.və ˈdɔ.ri.mi.vaːmz ˈdɔ.ri.mi.vʌts ˈdɔ.ri.mi.veː)

    = section "Stems Ending in /n/" do
      %p Stems ending in /n/ are completely regular in the imperfect.
      = render 'imperfect_tense',
        :verb          => {:tun => "viçené", :eng => "see"},
        :forms         => %w(viçenive viçenivs viçenive viçenivams viçenivats viçenivé),
        :pronunciation => %w(ˈvi.ʃə.ni.və ˈvi.ʃə.nivz ˈvi.ʃə.ni.və ˈvi.ʃə.ni.vaːmz ˈvi.ʃə.ni.vʌts ˈvi.ʃə.ni.veː)

    = section "Stems Ending in /l/" do
      %p Stems ending in /l/ are completely regular in the imperfect.
      = render 'imperfect_tense',
        :verb          => {:tun => "prelá", :eng => "speak"},
        :forms         => %w(prelave prelavs prelave prelivams prelivats prelivé),
        :pronunciation => %w(prə.ˈlaː.və prə.ˈlaːvz prə.ˈlaː.və prə.ˈli.vaːmz prə.ˈli.vʌts prə.ˈli.veː)

    = section "Stems Containing Velar + Front Vowel" do
      %p Velar + front vowel sequences in stems like <i>chentá</i> are completely regular in the imperfect. On the other hand, in Conjugations III and IV, where the stress frequently falls on the first syllable, the same sort of alternation could be possible in theory; in practice, however, all such verbs have undergone paradigmatic levelling and now appear with the fricative in all forms, as in <i>jestí</i> “be ready” (older <i>gestí</i>).
      %p In Conjugations II, III and IV, stem-final palatalization freely appears throughout the paradigm.
      = render 'imperfect_tense',
        :verb          => {:tun => "leçé", :eng => "shine"},
        :forms         => %w(leçive leçivs leçive leçivams leçivats leçivé),
        :pronunciation => %w(lə.ˈʃi.və lə.ˈʃivz lə.ˈʃi.və lə.ˈʃi.vaːmz lə.ˈʃi.vʌts lə.ˈʃi.veː)

    = section "Stems Ending in Consonant Clusters" do
      %p Stems ending in final consonant clusters always appear without any epenthetic vowels in the imperfect, no matter the subtype.
      = render 'imperfect_tense',
        :verb          => {:tun => "ifchey", :eng => "cause"},
        :forms         => %w(efchive efchivs efchive efchivams efchivats efchivé),
        :pronunciation => %w(ˈɛf.ki.və ˈɛf.kivz ˈɛf.ki.və ˈɛf.ki.vaːmz ˈɛf.ki.vʌts ˈɛf.ki.veː)
      = render 'imperfect_tense',
        :verb          => {:tun => "ntrá", :eng => "enter"},
        :forms         => %w(ntrave ntravs ntrave ntrivams ntrivats ntravé),
        :pronunciation => %w(ɪn.ˈtraː.və ɪn.ˈtraːvz ɪn.ˈtraː.və ɪn.tri.ˈvaːmz ɪn.ˈtri.vʌts ɪn.trʌ.ˈveə)

  = section "Irregular Forms" do
    = render 'imperfect_tense',
      :verb          => {:tun => "ystá", :eng => "be"},
      :forms         => %w(erave eravs erave erivams erivats eré),
      :pronunciation => %w(ˈe.rʌ.və ˈe.rʌvz ˈe.rʌ.və ˈe.ri.vaːmz ˈe.ri.vʌts i.ˈreə)

= section "The Perfect Tense" do
  %p The Perfect Tense is a compound tense, consisting of an auxiliary plus a passive participle. The auxiliary verb used is a variant form of the present tense of “be” for intransitive verbs (including reflexive verbs) and the present tense of “have” for transitive verbs. The auxiliaries are shown below.
  %table
    %thead
      %tr
        %th{:colspan => 6} Perfect Auxiliaries
      %tr
        %th
        %th Auxiliary “Be”
        %th
        %th Auxiliary “Have”
    %tbody
      %tr
        %th 1Sg <i>yó</i>
        %td= form "som/-em", "[soːm, əm]"
        %th{:rowspan => 6}
        %td= form "ai/-ai", "[aj, aj]"
      %tr
        %th 2Sg <i>tú</i>
        %td= form "es/-es", "[ɛs, əs]"
        %td= form "ais/-es", "[ajz, əs]"
      %tr
        %th 3Sg <i>eu/ele</i>
        %td= form "e/-e", "[e, ə]"
        %td= form "ae/-ae", "[aj, aj]"
      %tr
        %th 1Pl <i>nos</i>
        %td= form "sums/-esms", "[suːmz, əsɪmz]"
        %td= form "ems/-ems", "[eːmz, əms]"
      %tr
        %th 2Pl <i>vos</i>
        %td= form "esç/-esç", "[ɛstʃ, əstʃ]"
        %td= form "ets/-ets", "[ɛts, əts]"
      %tr
        %th 3Pl <i>els</i>
        %td= form "só/-çu", "[sɔə, ʃu]"
        %td= form "aié/-çi", "[ʌ.ˈjeə, ʃi]"

  %p Note that the perfect auxiliary form of “be” is non-zero in the third person, even though in other contexts the third person forms of <i>ystá</i> have disappeared. The perfect auxiliaries retain the historical forms.
  %p Each of the auxiliaries has both an independent (preposed) and bound (postposed) form. The past participle (the formation of which will be discussed later) retains full gender and number agreement when used in combination with an independent auxiliary, but will always appear in the bare masculine singular when used with bound auxiliaries. When present, participle agreement with the “be” auxiliary is with the subject, and with the “have” auxiliary is with the direct object.
  = render 'perfect_tense',
    :verb        => {:tun => "uní", :eng => "come"},
    :independent => ['som unit(e)', 'es unit(e)', 'e unit(e)', 'sums units', 'esç units', 'só units'],
    :bound       => %w(unit-em unit-es unit-e unit-esms unit-esç unit-çu),
    :independent_pronunciation => ['soːm ˈu.nit(ə)', 'ɛs ˈu.nit(ə)', 'e ˈu.nit(ə)', 'səmz ˈu.nits', 'ɛstʃ ˈu.nits', 'soː ˈu.nits'],
    :bound_pronunciation       => %w(ˈu.ni.təm ˈu.ni.təs ˈu.ni.tə ˈu.ni.tə.sɪmz ˈu.ni.təstʃ ˈu.ni.tʃu)
  = render 'perfect_tense',
    :verb        => {:tun => "yscribey", :eng => "write"},
    :independent => ['ai yscrèft(e)', 'ais yscrèft(e)', 'ae yscrèft(e)', 'ems yscrèfts', 'ets yscrèfts', 'aié yscrèfts'],
    :bound       => %w(yscrèft-ai yscrèft-es yscrèft-ae yscrèft-ems yscrèft-ets yscrèft-çi),
    :independent_pronunciation => ['aj ˈis.krift(ə/s)', 'ajz ˈis.krift(ə/s)', 'aj ˈis.krift(ə/s)', 'eːmz ˈis.krift(ə/s)', 'ɛts ˈis.krift(ə/s)', 'ʌ.jeː ˈis.krift(ə/s)'],
    :bound_pronunciation       => %w(ˈis.krif.taj ˈis.krif.təs ˈis.krif.taj ˈis.krif.təmz ˈis.krif.təts ˈis.krif.tʃi)

= section "The Preterite Tense" do
  = section "Regular Forms" do
    %p The preterite tense, though once widely used as a general perfective past tense, nowadays has a rather limited distribution, restricted by and large to narration (primarily in the written language) and marking immediate past or immediate future. It is also particularly prone to irregularities, which in combination with its restricted usage has resulted in many verbs having two preterite forms: an inherited irregular conjugation and a newer, regularized conjugation.
    %p The table below shows the regular preterite conjugation.
    %table
      %thead
        %tr
          %th{:colspan => 5} Tunisian Regular Preterite Tense
        %tr
          %th
          %th I
          %th II
          %th III
          %th IV
      %tbody
        %tr
          %th
          %th
            %i levá
            %br
            “wash”
          %th
            %i debé
            %br
            “need”
          %th
            %i vèndey
            %br
            “sell”
          %th
            %i chenoschí
            %br
            “recognize”
        %tr
          %th 1Sg <i>yó</i>
          %td= form "levís", "[lə.ˈviːs]"
          %td= form "debís", "[də.ˈbiːs]"
          %td= form "vendís", "[vɪn.ˈdiːs]"
          %td= form "cheneschís", "[knəs.ˈkiːs]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "levís", "[lə.ˈviːs]"
          %td= form "debís", "[də.ˈbiːs]"
          %td= form "vendís", "[vɪn.ˈdiːs]"
          %td= form "cheneschís", "[knəs.ˈkiːs]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "levís", "[lə.ˈviːs]"
          %td= form "debís", "[də.ˈbiːs]"
          %td= form "vendís", "[vɪn.ˈdiːs]"
          %td= form "cheneschís", "[knəs.ˈkiːs]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "levírims", "[lə.ˈviː.riːmz]"
          %td= form "debírims", "[də.ˈbiː.riːmz]"
          %td= form "vendírims", "[vɪn.ˈdiː.riːmz]"
          %td= form "cheneschírims", "[knəs.ˈkiː.riːmz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "levírisç", "[lə.ˈviː.ristʃ]"
          %td= form "debírisç", "[də.ˈbiː.ristʃ]"
          %td= form "vendírisç", "[vɪn.ˈdiː.ristʃ]"
          %td= form "cheneschírits", "[knəs.ˈkiː.ristʃ]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "levíré", "[lə.ˈviː.reː]"
          %td= form "debíré", "[də.ˈbiː.reː]"
          %td= form "vendíré", "[vɪn.ˈdiː.reː]"
          %td= form "cheneschíré", "[knəs.ˈkiː.reː]"

    %p The preterite conjugation has largely been levelled across all conjugation classes in modern Tunisian, with all four classes forming the preterite identically. The endings are always attached to a reduced-grade stem.
    %p All of the singular forms are identical, being formed with the ending <i>-ís</i> (although an archaic 2Sg form <i>-íst</i> is sometimes seen in older usage).
    %p The plural forms maintain person distinctions, using the endings 1Pl <i>-írims</i>, 2Pl <i>-írisç</i>, and 3Pl <i>íré</i>.

  = section "Semi-Regular Forms" do
    %p The Tunisian preterite has very few semi-regular forms. Only one subcategory applies.

    = section "Stems Ending in /j/" do
      %p Stem-final /j/ is dropped in all forms of the preterite, effectively having been absorbed by the /iː/ that marks all preterite endings. With <i>tèlefoniá</i> “telephone”:
      = render 'preterite_tense',
        :verb          => {:tun => "tèlefoniá", :eng => "telephone"},
        :forms         => %w(tèlefonís tèlefonís tèlefonís tèlefonírims tèlefonírisç tèlefoníré),
        :pronunciation => %w(ˈteːl.fə.niːs ˈteːl.fə.niːs ˈteːl.fə.niːs ˈteːl.fə.niː.riːmz ˈteːl.fə.niː.ristʃ ˈteːl.fə.niː.reː)

  = section "Irregular Forms" do
    %p Latin had four types of irregularly-formed perfect stems (the predecessor of the Tunisian preterite). Of these, one (reduplication) was completely eliminated through analogical processes and another (vowel lengthening) disappeared through regular sound change. The two remaining class (waw perfects and sigmatic perfects) are the main source of modern irregular preterites. However, the distinction between these two classes has muddled, due to how both classes have historically influenced the regular preterites, and consequently modern Tunisian irregular preterites have features of both systems.
    %p Irregular preterites occur only among Conjugation II and III verbs. There are two broad types, though they follow the same basic conjugation rules. Some, such as <i>diccey</i> “say”, <i>yscribey</i> “write”, and <i>yóccey</i> “arrive” have a preterite stem consisting of the regular verb stem + /s/: <i>*dics-</i>, <i>*yscrips-</i>, <i>*yócs-</i>. Others, such as <i>poney</i> “put”, <i>sèndey</i> “feel”, and <i>tené</i> “hold” actually replace the stem-final consonant with /s/ in the preterite: <i>*pos-</i>, <i>*seis-</i>, <i>*tès-</i>.
    %p The endings used by the first type are -Ø, -ís, -Ø, -íms, -ísç, -íré. The 1Sg and 3Sg endings are zero since the usual -s marker has been incorporated into the verb stem. All singular forms use the strong stem, while all plural forms use the reduced grade stem.
    %p The endings used by the second type are -s, -ís, -s, -íms, -ísç, -íré. Here the 1Sg and 3Sg endings are always explicitly marked orthographically, even though there is no difference in pronunciation. This is due to the fact that replacing the stem-final consonant with /s/ gives more of an appearance of suppletivism, so the regular preterite endings are applied as they would normally be, whereas the first type has more of an appearance of a stem where this /s/ has just been generalized, and thus is already present in the 1Sg and 3Sg forms. The 1Sg and 3Sg forms use the strong stem, while all others used the reduced grade.
    %p In modern Tunisian, almost all verbs with irregular preterites may also be conjugated regularly, with the irregular forms typically having more of a literary or formal feel. In colloquial usage, the first type of irregular preterite is almost always regularized, while the second type tends to be more resilient.
    %p Shown below are the preterite conjugations, both regular and irregular, of four verbs. <i>Diccey</i> and <i>yscribey</i> represent the first type, while <i>poney</i> and <i>tené</i> represent the second type.
    = render 'preterite_tense',
      :verb          => {:tun => "diccey", :eng => "say"},
      :forms         => %w(dics dicsís dics decsíms decsísç decsíré),
      :pronunciation => %w(ˈdiks dik.ˈsiːs ˈdiks dək.ˈsiːmz dək.ˈsistʃ dək.ˈsiː.reː),
      :forms_alt         => %w(deccís deccís deccís deccírims deccírisç deccíré),
      :pronunciation_alt => %w(də.ˈkiːs də.ˈkiːs də.ˈkiːs də.ˈkiː.riːmz də.ˈkiː.ristʃ də.ˈkiː.reː)
    = render 'preterite_tense',
      :verb          => {:tun => "yscribey", :eng => "write"},
      :forms         => %w(yscrips yscripsís yscrips yscrepsíms yscrepsísç yscrepsíré),
      :pronunciation => %w(ˈis.krips ˈis.krip.siːs ˈis.krips ˈis.krəp.ˈsiːmz ˈis.krəp.ˈsiːstʃ ˈis.krəp.siː.reː),
      :forms_alt         => %w(yscrebís yscrebís yscrebís yscrebírims yscrebírisç yscrebíré),
      :pronunciation_alt => %w(ˈis.krə.biːs ˈis.krə.biːs ˈis.krə.biːs ˈis.krə.biː.riːmz ˈis.krə.biː.ristʃ ˈis.krə.biː.reː)
    = render 'preterite_tense',
      :verb          => {:tun => "poney", :eng => "put"},
      :forms         => %w(poss pesís poss pesíms pesísç pesíré),
      :pronunciation => %w(ˈpos pə.ˈsiːs ˈpos pə.ˈsiːmz pə.ˈsiːstʃ pə.ˈsiː.reː),
      :forms_alt         => %w(penís penís penís penírims penírisç peníré),
      :pronunciation_alt => %w(pə.ˈniːs pə.ˈniːs pə.ˈniːs pə.ˈniː.riːmz pə.ˈniː.ristʃ pə.ˈniː.reː)
    = render 'preterite_tense',
      :verb          => {:tun => "tené", :eng => "hold"},
      :forms         => %w(tess tesís tess tesíms tesísç tesíré),
      :pronunciation => %w(ˈtɛs tə.ˈsiːs ˈtɛs tə.ˈsiːmz tə.ˈsiːstʃ tə.ˈsiː.reː),
      :forms_alt         => %w(tenís tenís tenís tenírims tenírisç teníré),
      :pronunciation_alt => %w(tə.ˈniːs tə.ˈniːs tə.ˈniːs tə.ˈniː.riːmz tə.ˈniː.ristʃ tə.ˈniː.reː)

    %p A handful of verbs have truly irregular preterite stems with no option for regular forms. Below is the preterite of <i>ystá</i> “be”, which is suppletive:
    = render 'preterite_tense',
      :verb          => {:tun => "ystá", :eng => "be"},
      :forms         => %w(fís fís fís fírims fírisç fíré),
      :pronunciation => %w(ˈfiːs ˈfiːs ˈfiːs ˈfiː.riːmz ˈfiː.ristʃ ˈfiː.reː)

= section "The Future Tenses" do
  %p Tunisian has two future tenses, a synthetic form (typically called Future I) and an analytic form (typically called Future II). The synthetic future is almost completely absent in colloquial usage, and is mostly confined to higher registers and the literary standard.

  = section "Regular Forms" do
    %p The Future I is formed identically across all four conjugation classes. It consists of the full grade stem plus the suffixes -ray, -rais, -ray, -rems, -rets, -ré.
    %table
      %thead
        %tr
          %th
          %th I
          %th II
          %th III
          %th IV
        %tr
          %th
          %td
            %i levá
            %br
            “wash”
          %td
            %i debé
            %br
            “need”
          %td
            %i vèndey
            %br
            “sell”
          %td
            %i chenoschí
            %br
            “recognize
      %tbody
        %tr
          %th 1Sg <i>yó</i>
          %td= form "lavray", "[lʌ.ˈvraj]"
          %td= form "dèbray", "[di.braj]"
          %td= form "vèndray", "[ˈveːn.draj]"
          %td= form "chenoscray", "[knus.ˈkraj]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "lavrais", "[lʌ.ˈvrajz]"
          %td= form "dèbrais", "[di.ˈbrajz]"
          %td= form "vèndrais", "[ˈveːn.drajz]"
          %td= form "chenoscrais", "[knus.ˈkrajz]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "lavray", "[lʌ.ˈvraj]"
          %td= form "dèbray", "[di.ˈbraj]"
          %td= form "vèndray", "[ˈveːn.draj]"
          %td= form "chenoscray", "[knus.ˈkraj]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "lavrems", "[ˈlaː.vrɪmz]"
          %td= form "dèbrems", "[ˈde.brɪmz]"
          %td= form "vèndrems", "[ˈveːn.drɪmz]"
          %td= form "chenoscrems", "[ˈknos.krɪmz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "lavrets", "[ˈlaː.vrəts]"
          %td= form "dèbrets", "[ˈde.brəts]"
          %td= form "vèndrets", "[ˈveːn.drəts]"
          %td= form "chenoscrets", "[ˈknos.krəts]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "pralré", "[ˈpraːl.deː]"
          %td= form "dèbré", "[di.ˈbreə]"
          %td= form "vèndré", "[ˈveːn.dreː]"
          %td= form "chenoscré", "[knus.ˈkreə]"

    %p The Future II consists of an auxiliary verb, the definite article <i>il</i> (singular subject; <i>l-</i> before a vowel) or <i>ls</i> (plural subject, pronounced [uz]), and the singular or plural infinitive of the main verb. The auxiliary marks person and number, though has very irregular conjugation: <i>vic</i>, <i>vucs</i>, <i>vuc</i>, <i>vucms</i>, <i>vucts</i>, <i>vuccé</i>.
    %table
      %thead
        %tr
          %th
          %th I
          %th II
          %th III
          %th IV
        %tr
          %th
          %td
            %i levá
            %br
            “wash”
          %td
            %i debé
            %br
            “need”
          %td
            %i vèndey
            %br
            “sell”
          %td
            %i chenoschí
            %br
            “recognize”
      %tbody
        %tr
          %th 1Sg <i>yó</i>
          %td= form "vic il levá", "[ˈvik il lə.ˈvaː]"
          %td= form "vic il debé", "[ˈvik il də.ˈbeə]"
          %td= form "vic il vèndey", "[ˈvik il ˈveːn.dej]"
          %td= form "vic il chenoschí", "[ˈvik il knus.ˈkiː]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "vucs il levá", "[ˈvuks il lə.ˈvaː]"
          %td= form "vucs il debé", "[ˈvuks il də.ˈbeə]"
          %td= form "vucs il vèndey", "[ˈvuks il ˈveːn.dej]"
          %td= form "vucs il chenoschí", "[ˈvuks il knus.ˈkiː]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "vuc il levá", "[ˈvuk il lə.ˈvaː]"
          %td= form "vuc il debé", "[ˈvuk il də.ˈbeə]"
          %td= form "vuc il vèndey", "[ˈvuk il ˈveːn.dej]"
          %td= form "vuc il chenoschí", "[ˈvuk il knus.ˈkiː]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "vucms ls levays", "[ˈvu.kɪmz us lə.ˈvajz]"
          %td= form "vucms ls debeys", "[ˈvu.kɪmz uz də.ˈbejz]"
          %td= form "vucms ls vèndeys", "[ˈvu.kɪmz uz ˈveːn.dejz]"
          %td= form "vucms ls chenoschís", "[ˈvu.kɪmz us knus.ˈkiːz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "vucts ls levays", "[ˈvu.kɪts us lə.ˈvajz]"
          %td= form "vucts ls debeys", "[ˈvu.kɪts uz də.ˈbejz]"
          %td= form "vucts ls vèndeys", "[ˈvu.kɪts uz ˈveːn.dejz]"
          %td= form "vucts ls chenoschís", "[ˈvu.kɪts us knus.ˈkiːz]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "vuccé ls levays", "[vu.ˈkeə us lə.ˈvajz]"
          %td= form "vuccé ls debeys", "[vu.ˈkeə uz də.ˈbejz]"
          %td= form "vuccé ls vèndeys", "[vu.ˈkeə uz ˈveːn.dejz]"
          %td= form "vuccé ls chenoschís", "[vu.ˈkeə us knus.ˈkiːz]"

  = section "Semi-Regular Forms" do
    %p Only Future I poses an issue with semi-regular and irregular verbs, since Future II is regularly formed from the infinitive. For the most part, the semi-regular Future I forms mirror those of the preterite.

    = section "Stems Ending in /j/" do
      %p Stem-final /j/ vocalizes to /i/ in the Future I.
      = render 'future_tense',
        :verb          => {:tun => "tèlefoniá", :eng => "telephone"},
        :forms         => %w(tèlefoniray tèlefonirais tèlefoniray tèlefonirems tèlefonirets tèlefoniré),
        :pronunciation => %w(ˈteːl.fu.ni.raj ˈteːl.fu.ni.rajz ˈteːl.fu.ni.raj ˈteːl.fu.ni.rɪmz ˈteːl.fu.ni.rəts ˈteːl.fu.ni.reː)

    = section "Stems Ending in /m/ or /n/" do
      %p Stem-final /m/ and /n/ develop an epenthetic plosive in the Future I, becoming /mb/ and /nd/ respectively.
      = render 'future_tense',
        :verb          => {:tun => "cremá", :eng => "call"},
        :forms         => %w(crambray crambrais crambray crambrems crambrets crambré),
        :pronunciation => %w(ˈkraːm.braj ˈkraːm.brajz ˈkraːm.braj ˈkraːm.brɪmz ˈkraːm.brəts ˈkraːm.breː)
      = render 'future_tense',
        :verb          => {:tun => "chená", :eng => "eat"},
        :forms         => %w(chèndray chèndrais chèndray chèndrems chèndrets chèndré),
        :pronunciation => %w(ˈkeːn.draj ˈkeːn.drajz ˈkeːn.draj ˈkeːn.drɪmz ˈkeːn.drəts ˈkeːn.dreː)

  = section "Irregular Forms" do
    %p Four verbs have irregular Future I forms: <i>ystá</i> “be”, <i>loá</i> “take”, <i>uní</i> “go”, and <i>ebé</i> “have”. All four add regular endings to an irregular stem.
    %table
      %thead
        %tr
          %th{:colspan => 5} Tunisian Irregular Future Tense
        %tr
          %th
          %td
            %i ystá
            %br
            “be”
          %td
            %i loá
            %br
            “take”
          %td
            %i uní
            %br
            “go”
          %td
            %i ebé
            %br
            “have”
      %tbody
        %tr
          %th 1Sg <i>yó</i>
          %td= form "iray", "[i.ˈraj]"
          %td= form "luray", "[lu.ˈraj]"
          %td= form "véray", "[ˈveə.raj]"
          %td= form "ebray", "[i.ˈbraj]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "irais", "[i.ˈrajz]"
          %td= form "lurais", "[lu.ˈrajz]"
          %td= form "vérais", "[ˈveə.rajz]"
          %td= form "ebrais", "[i.ˈbrajz]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "iray", "[i.ˈraj]"
          %td= form "luray", "[lu.ˈraj]"
          %td= form "véray", "[ˈveə.raj]"
          %td= form "ebray", "[i.ˈbraj]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "irems", "[ˈi.rɪmz]"
          %td= form "lurems", "[ˈlu.rɪmz]"
          %td= form "vérems", "[ˈveə.rɪmz]"
          %td= form "ebrems", "[ˈe.brɪmz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "irets", "[ˈi.rəts]"
          %td= form "lurets", "[ˈlu.rəts]"
          %td= form "vérets", "[ˈveə.rəts]"
          %td= form "ebrets", "[ˈe.brəts]"
        </tr>
        %tr
          %th 3Pl <i>els</i>
          %td= form "iré", "[i.ˈreə]"
          %td= form "luré", "[lu.ˈreə]"
          %td= form "véré", "[ˈveə.reː]"
          %td= form "ebré", "[i.ˈbreə]"

= section "The Subjunctive Mood" do
  %p Formal and literary registers of Tunisian have two tenses in the subjunctive mood: an analytic present subjunctive and a periphrastic past subjunctives. The past subjunctive consists of the present subjunctive of <i>ystá</i> or <i>ebé</i> plus a participle (just like the perfect tense). The subjunctive is mostly absent in colloquial usage.

  = section "Regular Forms" do
    %p For most verbs, the behavior of the present subjunctive closely parallels that of the present indicative, and it is common for several verb forms to be identical in both moods. In fact, the only distinct endings are those for the 1Pl and 2Pl forms, with Conjugation I verbs taking <i>-èms</i> and <i>-èts</i> and all other verbs taking <i>-ams</i> and <i>-ats</i>, and for some verbs the 3Pl form (with <i>-é</i> being used across all conjugations). However, unlike the present indicative, all verbs use the I-ablaut stems rather than the full stems. The contrast between Conjugations II, III, and IV is lost completely.
    %table
      %thead
        %tr
          %th{:colspan => 5} Tunisian Regular Present Subjunctive Tense
        %tr
          %th
          %th I
          %th II
          %th III
          %th IV
        %tr
          %th
          %td
            %i levá
            %br
            “speak”
          %td
            %i debé
            %br
            “need”
          %td
            %i vèndey
            %br
            “sell”
          %td
            %i chenoschí
            %br
            “recognize”
      %tbody
        %tr
          %th 1Sg <i>yó</i>
          %td= form "lev", "[ˈlɛv]"
          %td= form "dib", "[ˈdib]"
          %td= form "vind", "[ˈviːn]"
          %td= form "chenisc", "[ˈknisk]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "levs", "[ˈlɛvz]"
          %td= form "dibs", "[ˈdibz]"
          %td= form "vinds", "[ˈviːnz]"
          %td= form "cheniscs", "[ˈknisks]"
        %td
          %th 3Sg <i>eu/ele</i>
          %td= form "lev", "[ˈlɛv]"
          %td= form "dib", "[ˈdib]"
          %td= form "vind", "[ˈviːn]"
          %td= form "chenisc", "[ˈknisk]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "levèms", "[lə.ˈveːmz]"
          %td= form "debams", "[də.ˈbaːmz]"
          %td= form "vendams", "[vɪn.ˈdaːmz]"
          %td= form "chenescams", "[knəs.ˈkaːmz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "levèts", "[lə.ˈvɛts]"
          %td= form "debats", "[də.ˈbaːts]"
          %td= form "vendats", "[vɪn.ˈdaːts]"
          %td= form "chenescats", "[knəs.ˈkaːts]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "lèvé", "[li.ˈveə]"
          %td= form "dibé", "[di.ˈbeə]"
          %td= form "vindé", "[ˈvin.deː]"
          %td= form "chenisché", "[knis.ˈkeə]"

    %p The past subjunctive is always regular, and is formed following the same rules as the perfect indicative, with the exception that the auxiliary appears in the present subjunctive and cannot appear in a bound form. Shown below are the past subjunctive forms of the intransitive verb <i>uní</i> “go” and the transitive verb <i>yscribey</i> “write”:
    %table
      %thead
        %tr
          %th{:colspan => 3} Past Subjunctive
        %tr
          %th
          %th <i>uní</i> “go”
          %th <i>yscribey</i> “write”
      %tbody
        %tr
          %th 1Sg <i>yó</i>
          %td= form "sí unit(e)", "[siː ˈu.nit(ə)]"
          %td= form "ai yscrèft(e)", "[aj ˈis.krift(ə)]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "sis unit(e)", "[siz ˈu.nit(ə)]"
          %td= form "ais yscrèft(e)", "[ajz ˈis.krift(ə)]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "sí unit(e)", "[siː ˈu.nit(ə)]"
          %td= form "ae yscrèft(e)", "[aj ˈis.krift(ə)]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "sims units", "[siːmz ˈu.nits]"
          %td= form "yams yscrèfts", "[jaːmz ˈis.krifts]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "sits units", "[sits ˈu.nits]"
          %td= form "yats yscrèfts", "[jats ˈis.krifts]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "sé units", "[seː ˈu.nits]"
          %td= form "aié yscrèfts", "[ʌ.jeː ˈis.krifts]"

  = section "Semi-Regular Forms" do
    %p Just about every class of semi-regular verb in the present indicative also exists in the present subjunctive under much the same conditions. However, the subjunctive will not create new changes or consonant alternations that do not already exit in the present indicative; for instance, if the present indicative does not have a palatalization alternation, the present subjunctive also will not, even if the environment is correct for palatalization to take place.

    = section "Stems Ending in /j/" do
      %p Stem-final /j/ vocalizes as /ə/ in the first person singular and third person singular, and as /i/ in the second person singular. In all plural forms it remains consonantal like the indicative present. With <i>źeliá</i> “insult”:
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "źeliá", :eng => "insult"},
        :forms         => %w(źèle źèlis źèle źelièms źelièts źèlié),
        :pronunciation => %w(ˈðe.lə ˈðe.liz ˈðe.lə ðə.ˈljeːmz ðə.ˈljɛts ði.ˈljeə)

    = section "Stems with Metathesizing /r/" do
      %p Stems with a metathesizing /r/ behave as in the present tense, bearing in mind that the I-ablaut form *CVriC- appears whenever the stem is stressed.
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "dremí", :eng => "sleep"},
        :forms         => %w(dorim dorims dorim dremams dremats dorimé),
        :pronunciation => %w(du.ˈriːm du.ˈriːmz du.ˈriːm drə.ˈmaːmz drə.ˈmaːts ˈdɔ.ri.meː)

    = section "Stems Ending in /n/" do
      %p Stem-final /n/ weakens to /j/ in the first person singular and second person singular (disappearing after diphthongs), as in the indicative present.
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "dimená", :eng => "ask"},
        :forms         => %w(dimey dimeis dimin dimenèms dimenèts diminé),
        :pronunciation => %w(di.ˈmej di.ˈmejz di.ˈmiːn ˈdiːm.niːmz ˈdiːm.nits ˈdi.mi.neː)

      %p Unlike in the present indicative, */ij/ is resolved as /ej/ rather than /iː/. I-Ablaut occurs as expected, applying prior to the lenition of /n/.
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "viçené", :eng => "see"},
        :forms         => %w(viçey viçeis viçin viçenams viçenats viçiné),
        :pronunciation => %w(vi.ˈʃej vi.ˈʃejz vi.ˈʃiːn ˈvi.ʃə.naːmz ˈvi.ʃə.nʌts ˈvi.ʃi.neː)

    = section "Stems Ending in /l/" do
      %p Stem-final /l/ weakens to /j/ in the first person singular, as in the indicative present. I-Ablaut takes place before the lenition of /l/.
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "prelá", :eng => "speak"},
        :forms         => %w(prey prels prel prelèms prelèts prèlé),
        :pronunciation => %w(ˈprej ˈpreːlz ˈpreːl prə.ˈleːmz prə.ˈlɛts pri.ˈleə)

    = section "Stems Containing Velar + Front Vowel" do
      %p Stems containing a velar + front vowel combination decline as in the present indicative.
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "chentá", :eng => "sing"},
        :forms         => %w(chint chints chint chentèms chentèts chinté),
        :pronunciation => %w(ˈkiːnt ˈkiːnts ˈkiːnt kɪn.ˈteːmz kɪn.ˈtɛts ˈkiːn.teː)
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "glá", :eng => "freeze"},
        :forms         => %w(ghil ghils ghil glems glets ghilé),
        :pronunciation => %w(ˈgiːl ˈgeːlz ˈgeːl ˈgleːmz ˈglɛts gi.ˈleə)

      %p Stem-final velars can be grouped into two subtypes. If the consonant undergoes palatalization in the present indicative, then it will also undergo palatalization in the present subjunctive in the same forms, even if the environment is not one that would normally trigger palatalization; <i>leçé</i> “shine” below demonstrates this class. On the other hand, if the consonant does not undergo any changes in the present indicative, then no palatalization will take place in the subjunctive; <i>crecá</i> “try, attempt” demonstrates this class.
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "leçé", :eng => "shine"},
        :forms         => %w(luc lucs luc leçams leçats luccé),
        :pronunciation => %w(ˈluk ˈluks ˈluk lə.ˈʃaːmz lə.ˈʃaːts lu.ˈkeə)
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "crecá", :eng => "try"},
        :forms         => %w(cric crics cric creccèms creccèts criccé),
        :pronunciation => %w(ˈkrik ˈkriks ˈkrik krə.ˈkeːmz krə.ˈkɛts kri.ˈkeə)

    = section "Stems Ending in Consonant Clusters" do
      %p Stem-final consonant clusters behave the same way as in the present indicative. In particular, the expanded present-tense stems used by verbs with vowelless roots are the same in the present subjunctive. However, if the verb belongs to Conjugation III (and thus always has strong forms in the present indicative), it will undergo reduction in the subjunctive; compare present indicative <i>efècms</i> and present subjunctive <i>ifcams</i> “we cause”.
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "yspé", :eng => "taste"},
        :forms         => %w(ysèp ysèps ysèp yspams yspats ysèpé),
        :pronunciation => %w(ˈi.sip ˈi.sips ˈi.sip is.ˈpaːmz ˈis.pʌts ˈi.si.peː)
      = render 'present_subjunctive_tense',
        :verb          => {:tun => "ifchey", :eng => "cause"},
        :forms         => %w(efic efics efic ifcams ifcats eficcé),
        :pronunciation => %w(ˈe.fik ˈe.fiks ˈe.fik if.ˈkaːmz ˈif.kʌts ˈe.fi.keː)

  = section "Irregular Forms" do
    %p Several verbs have irregular subjunctive forms. Note that they appear to have mutually influenced each other, as can be seen in the first person/third person singular forms.
    %table
      %thead
        %tr
          %th{:colspan => 6} Tunisian Irregular Present Subjunctive Tense
        %tr
          %th
          %td
            %i ystá
            %br
            “be”
          %td
            %i loá
            %br
            “take”
          %td
            %i uní
            %br
            “go”
          %td
            %i ebé
            %br
            “have”
          %td
            %i yddá
            %br
            “give”
      %tbody
        %tr
          %th 1Sg <i>yó</i>
          %td= form "sí", "[ˈsiː]"
          %td= form "lí", "[ˈliː]"
          %td= form "ví", "[ˈviː]"
          %td= form "ai", "[ˈaj]"
          %td= form "dí", "[ˈdiː]"
        %tr
          %th 2Sg <i>tú</i>
          %td= form "sis", "[ˈsiz]"
          %td= form "livs", "[ˈlivz]"
          %td= form "veis", "[ˈvejz]"
          %td= form "ais", "[ˈajz]"
          %td= form "deds", "[ˈdɛdz]"
        %tr
          %th 3Sg <i>eu/ele</i>
          %td= form "sí", "[ˈsiː]"
          %td= form "lí", "[ˈliː]"
          %td= form "ví", "[ˈviː]"
          %td= form "ae", "[ˈaj]"
          %td= form "dí", "[ˈdiː]"
        %tr
          %th 1Pl <i>nos</i>
          %td= form "sims", "[ˈsiːmz]"
          %td= form "levèms", "[lə.ˈveːmz]"
          %td= form "unams", "[u.ˈnaːmz]"
          %td= form "yams", "[ˈjaːmz]"
          %td= form "yddèms", "[id.ˈdeːmz]"
        %tr
          %th 2Pl <i>vos</i>
          %td= form "sits", "[ˈsits]"
          %td= form "levèts", "[lə.ˈvɛts]"
          %td= form "unats", "[ˈu.nʌts]"
          %td= form "yats", "[ˈjaːts]"
          %td= form "yddèts", "[id.ˈdɛts]"
        %tr
          %th 3Pl <i>els</i>
          %td= form "sé", "[ˈseə]"
          %td= form "livé", "[li.ˈveə]"
          %td= form "viné", "[vi.ˈneə]"
          %td= form "aié", "[ʌ.ˈjeə]"
          %td= form "dèdé", "[di.ˈdeə]"

= section "The Imperative Mood" do
  %p The Tunisian imperative mood exists solely in the present tense, and only has second person forms. The singular consists of the bare strong grade stem with no endings; it is almost always identical with the third person singular of the present indicative, including verbs with semi-regular conjugations.
  %p The plural imperative is more complicated. In the Third and Fourth conjugations, the imperative is formed by adding an unstressed <i>-it</i> to the strong stem. In the First and Second conjugations, two forms exist in widespread distribution. The older form consists of the weak stem plus <i>-át</i> (I) or <i>-ít</i> (II). The newer form generalizes the unstressed <i>-it</i> of the Third and Fourth conjugations to the First and Second. Many speakers employ both, with an apparent preference for the <i>-it</i> forms when followed by enclitic pronouns and the original forms elsewhere.
  %table
    %thead
      %tr
        %th{:colspan => 3} Tunisian Imperatives
      %tr
        %th
        %th 2Sg
        %th 2Pl
    %tbody
      %tr
        %td <i>levá</i> “wash”
        %td= form "lav!", "[ˈlaːv]"
        %td= form "levát! lavit!", "[lə.ˈvaːt, ˈlaː.vit]"
      %tr
        %td <i>prelá</i> “speak”
        %td= form "pral!", "[ˈpraːl]"
        %td= form "prelát! pralit!", "[prə.ˈlaːt, ˈpraː.lit]"
      %tr
        %td <i>debé</i> “need”
        %td= form "deb!", "[ˈdɛb]"
        %td= form "debít! dèbit!", "[də.ˈbiːt, ˈde.bit]"
      %tr
        %td <i>vèndey</i> “sell”
        %td= form "vend!", "[ˈveːn]"
        %td= form "vèndit!", "[ˈveːn.dit]"
      %tr
        %td <i>chenoschí</i> “recognize”
        %td= form "chenosc!", "[ˈknosk]"
        %td= form "chenoschit!", "[ˈknos.kit]"
      %tr
        %td <i>źeliá</i> “insult”
        %td= form "źale!", "[ˈðaː.lə]"
        %td= form "źeliát! źaliit!", "[ðʌ.ˈljaːt, ˈðaː.li.jit]"
      %tr
        %td <i>çirey</i> “want”
        %td= form "çir!", "[ˈʃiːr]"
        %td= form "çirit!", "[ˈʃi.rit]"
      %tr
        %td <i>dremí</i> “sleep”
        %td= form "dorum!", "[du.ˈruːm]"
        %td= form "dorumit!", "[ˈdɔ.ru.mit]"
      %tr
        %td <i>viçené</i> “see”
        %td= form "viçon!", "[vi.ˈʃoːn]"
        %td= form "viçenít! viçonit", "[ˈvi.ʃə.niːt, ˈvi.ʃu.nit]"
      %tr
        %td <i>chentá</i> “sing”
        %td= form "chent!", "[ˈkeːnt]"
        %td= form "chentát! chèntit!", "[kɪn.ˈtaːt, ˈkeːn.tit]"
      %tr
        %td <i>yspé</i> “taste”
        %td= form "ysap!", "[ˈi.sʌp]"
        %td= form "yspít! yspit!", "[is.ˈpiːt, ˈis.pit]"
      %tr
        %td <i>ntrá</i> “enter”
        %td= form "entre!", "[ˈeːn.trə]"
        %td= form "entrát! entrit!", "[ˈeːn.trʌt, ˈeːn.trit]"

  %p A few verbs have irregular imperative forms. Note that most of these are syncretic with the third person singular present subjunctive, rather than the present indicative. Several of these verbs have multiple possible imperative forms.
  %table
    %thead
      %tr
        %th{:colspan => 3} Tunisian Irregular Imperatives
      %tr
        %th
        %th 2Sg
        %th 2Pl
    %tbody
      %tr
        %td <i>ystá</i> “be”
        %td= form "sí!", "[ˈsiː]"
        %td= form "seít!", "[ˈse.jit]"
      %tr
        %td <i>loá</i> “take”
        %td= form "lí!", "[ˈliː]"
        %td= form "lèvit! leít!", "[ˈle.vit, ˈle.jit]"
      %tr
        %td <i>uní</i> “go”
        %td= form "ví!", "[ˈviː]"
        %td= form "vènit, vít!", "[ˈve.nit, ˈviːt]"
      %tr
        %td <i>ebé</i> “have”
        %td= form "ab!", "[ˈaːb]"
        %td= form "abit!", "[ˈaː.bit]"
      %tr
        %td <i>yddá</i> “give”
        %td= form "dí! dá! dad!", "[ˈdiː, ˈdaː, ˈdaːd]"
        %td= form "dadit! daít!", "[ˈdaː.dit, ˈdaː.jit]"

= section "Participles" do
  %p Tunisian verbs can form two participles: a present active and a past passive. These forms are morphologically adjectives, showing gender and number agreement like any other adjective, but retain a few distinctly verbal qualities such as the ability to take direct objects. These syntactic features will be discussed in more detail later.
  %p The present active participle is generally quite regularly formed. The masculine singular (i.e., the simplest form) consists of the weak-grade verbal stem plus the suffix <i>-èn</i>. If the stem ends in a velar consonant and undergoes palatalization in the present tense, then palatalization will occur in the present participle as well.
  %p The past passive participle in more complicated in formation. The basic suffixes are <i>-at</i> for Conjugation I, <i>-ut</i> for Conjugations II and III, and <i>-it</i> for Conjugation IV. In Conjugations I and II, the root is weak-grade; in Conjuagtion III, the root is weak-grade; and in Conjugation IV, the root mirrors the grade used in the infinitive singular. The suffix <i>-it</i> always triggers palatalization of stem-final velars, with <i>-sc-</i> in addition becoming <i>-ç-</i>. These regular suffixes describe the vast majority of Tunisian verbs, and for historical reasons are often known as weak participles.
  %p All verbs have both participles. Even intransitive verbs, which cannot normally appear in the passive voice, have past passive participles, since they are required to form the perfect tense.
  %table
    %thead
      %tr
        %th{:colspan => 3} Tunisian Regular and Weak Participles
      %tr
        %th
        %th Present
        %th Past
    %tbody
      %tr
        %td <i>levá</i> “wash”
        %td= form "levèn", "[lə.ˈveːn]"
        %td= form "levat", "[lə.ˈvaːt]"
      %tr
        %td <i>debé</i> “need”
        %td= form "debèn", "[də.ˈbeːn]"
        %td= form "debut", "[də.ˈbut]"
      %tr
        %td <i>vèndey</i> “sell”
        %td= form "vendèn", "[vɪn.ˈdeːn]"
        %td= form "vèndut", "[ˈveːn.dut]"
      %tr
        %td <i>chenoschí</i> “recognize”
        %td= form "cheneschèn", "[knəs.ˈkeːn]"
        %td= form "chenoçit", "[kə.ˈnɔ.ʃit]"
      %tr
        %td <i>prelá</i> “speak”
        %td= form "prelèn", "[prə.ˈleːn]"
        %td= form "prelat", "[prə.ˈlaːt]"
      %tr
        %td <i>źeliá</i> “insult”
        %td= form "źelièn", "[ðə.ˈljeːn]"
        %td= form "źeliat", "[ðə.ˈljaːt]"
      %tr
        %td <i>çirey</i> “want”
        %td= form "çerèn", "[ʃə.ˈreːn]"
        %td= form "çirut", "[ˈʃi.rut]"
      %tr
        %td <i>dremí</i> “sleep”
        %td= form "dremèn", "[drə.ˈmeːn]"
        %td= form "dremit", "[drə.ˈmit]"
      %tr
        %td <i>viçené</i> “see”
        %td= form "viçenèn", "[viʃ.ˈneːn]"
        %td= form "viçenut", "[ˈviʃ.nut]"
      %tr
        %td <i>chentá</i> “sing”
        %td= form "chentèn", "[kɪn.ˈteːn]"
        %td= form "chentat", "[kɪn.ˈtaːt]"
      %tr
        %td <i>yspé</i> “taste”
        %td= form "yspèn", "[is.ˈpeːn]"
        %td= form "ysput", "[ˈis.put]"
      %tr
        %td <i>ntrá</i> “enter”
        %td= form "ntren", "[ɪn.ˈtreːn]"
        %td= form "ntrat", "[ɪn.ˈtraːt]"

  %p The -is- derivational suffix is dropped in the past participle, but not in the present particple.
  %table
    %thead
      %tr
        %th{:colspan => 3} Tunisian -is- Participles
      %tr
        %th
        %th Present
        %th Past
    %tbody
      %tr
        %td <i>unisí</i> “unify”
        %td= form "unisèn", "[ˈu.ni.zeːn]"
        %td= form "unit", "[ˈu.nit]"
      %tr
        %td <i>civilisí</i> “civilize”
        %td= form "civilisèn", "[ˈsi.vi.li.zeːn]"
        %td= form "civilit", "[ˈsi.vi.lit]"
      %tr
        %td <i>enèrgisí</i> “energize”
        %td= form "enèrgisèn", "[i.ˈneːr.ʒi.zeːn]"
        %td= form "enérgit", "[i.ˈneːr.ʒit]"

  %p Tunisian also has a number of strong (irregular) passive participles, all belonging to Conjugation II and III verbs. Their unifying feature is that the participle-forming suffix is added directly to the verbal stem with no intervening vowel, which may trigger other irregularities. There is a strong, but not absolute, correlation between verbs that have strong past passive participles and irregular preterites. As in the preterite, there are two subclasses: some verbs simply add <i>-t</i> directly to the strong-grade stem, and others first replace the stem-final consonant with /s/ before adding <i>-t</i>. Unlike the preterite, verbs with strong participles do not have the option of using regularized weak forms instead.
  %p In addition, stems ending in /p/ or /b/ convert it to /f/ before the participle ending, as with <i>capey</i> and <i>yscribey</i> below.
  %table
    %thead
      %tr
        %th{:colspan => 3} Tunisian Irregular and Strong Participles
      %tr
        %th
        %th Present
        %th Past
    %tbody
      %tr
        %td <i>capey</i> “understand”
        %td= form "chepèn", "[kə.ˈpeːn]"
        %td= form "cheft", "[ˈkɛft]"
      %tr
        %td <i>crudey</i> “close”
        %td= form "credèn", "[krə.ˈdeːn]"
        %td= form "crust", "[ˈkrust]"
      %tr
        %td <i>diccey</i> “say”
        %td= form "deccèn", "[də.ˈkeːn]"
        %td= form "dict", "[ˈdi.kɪt]"
      %tr
        %td <i>faccey</i> “make, do”
        %td= form "feccèn", "[fə.ˈkeːn]"
        %td= form "fect", "[ˈfɛ.kɪt]"
      %tr
        %td <i>yóccey</i> “arrive”
        %td= form "yóccèn", "[ˈjɔə.keːn]"
        %td= form "yóct", "[ˈjɔə.kɪt]"
      %tr
        %td <i>iprey</i> “open”
        %td= form "iprèn", "[i.ˈpreːn]"
        %td= form "iprit", "[ˈi.prit]"
      %tr
        %td <i>yscribey</i> “write”
        %td= form "yscrebèn", "[ˈis.krə.beːn]"
        %td= form "yscrèft", "[ˈis.krift]"
      %tr
        %td <i>lèggey</i> “read”
        %td= form "leggèn", "[lə.ˈgeːn]"
        %td= form "lect", "[ˈlɛ.kɪt]"
      %tr
        %td <i>ys-morey</i> “die”
        %td= form "ys-merèn", "[is.mə.ˈreːn]"
        %td= form "morit", "[ˈmɔ.rit]"
      %tr
        %td <i>naschey</i> “be born”
        %td= form "neschèn", "[nəs.ˈkeːn]"
        %td= form "nast", "[ˈnaːst]"
      %tr
        %td <i>poney</i> “put”
        %td= form "penèn", "[pə.ˈneːn]"
        %td= form "post", "[ˈpost]"
      %tr
        %td <i>rompey</i> “break”
        %td= form "rempèn", "[rɪm.ˈpeːn]"
        %td= form "roft", "[ˈroft]"
      %tr
        %td <i>sèndey</i> “feel”
        %td= form "syndèn", "[sɪn.ˈdeːn]"
        %td= form "seist", "[ˈsejst]"
      %tr
        %td <i>tené</i> “hold”
        %td= form "tenèn", "[tə.ˈneːn]"
        %td= form "test", "[ˈtɛst]"
      %tr
        %td <i>veiccey</i> “win”
        %td= form "vyccèn", "[vi.ˈkeːn]"
        %td= form "vect", "[ˈvɛ.kɪt]"

  %p Prefixed derivatives of verbs with strong participles themselves have strong participles: <i>veiccey</i> “win” → <i>cheveiccey</i> “convince” → <i>chevèct</i> “convinced”, <i>capey</i> “understand” → <i>rçipey</i> “receive” → <i>rçift</i> “received”.
  %p The verbs that tend to be irregular throughout the language—verbs like “be”, “go”, “give”, etc.—actually tend to have fairly regular participles.
  %table
    %thead
      %tr
        %th{:colspan => 3} Tunisian Participles
      %tr
        %th
        %th Present
        %th Past
    %tbody
      %tr
        %td <i>ystá</i> “be”
        %td= form "ystèn", "[is.ˈteːn]"
        %td= form "ystat", "[ˈis.tʌt]"
      %tr
        %td <i>loá</i> “take”
        %td= form "loén", "[ˈweːn]"
        %td= form "levat", "[lə.ˈvaːt]"
      %tr
        %td <i>uní</i> “go”
        %td= form "unèn", "[u.ˈneːn]"
        %td= form "unit", "[ˈu.nit]"
      %tr
        %td <i>ebé</i> “have”
        %td= form "ibèn", "[i.ˈbeːn]"
        %td= form "avut", "[ˈaː.vut]"
      %tr
        %td <i>yddá</i> “give”
        %td= form "den", "[ˈdeːn]"
        %td= form "dat", "[ˈdaːt]"

= section "Negation" do
  %p For most verbs, negation is handled by a circumfix consisting of the prefixed clitic <i>n-</i>/<i>m-</i>/<i>nu-</i> and the particle <i>mí</i>/<i>mic</i>. The prefixed element always comes at the absolute beginning of the verb phrase, attaching itself to whatever word (whether verb or clitic pronoun) comes first. The particle behaves more like an unbound adverb; its most neutral position is at the end of the verb complex (after any clitics or participles, but before secondary infinitives), but may also appear at the beginning or end of the clause. The details of word order will be discussed later.
  %p The prefixed negative clitic takes one of three forms, depending on the following element. If it is attached directly to the verb and the verb begins with /p/ or /b/, it takes the form <i>m-</i>, pronounced [ɪm]: <i>m-pit mí diccey</i> [ɪm.ˈpɛt miː ˈdi.kej] “I cannot say”. If it is attached directly to the verb and the verb begins with any other sound, it takes the form <i>n-</i>, pronounced [ɪn] before a consonant and [n] before a vowel: <i>n-viv mí nic</i> [ɪn.ˈviv miː ˈnik] “I don't live here”, <i>n-usc mí</i> [ˈnusk miː] “I don't know”. The form <i>nu-</i> is used when the clitic is followed by yet another clitic: <i>nu-t chenisc mí</i> [nut kə.ˈnisk miː] “I don't know/recognize you”.
  %p The negative particle has two forms, a bound form <i>mí</i> and an unbound form <i>mic</i>. The bound form is used whenever the particle appears in its default position at the end of the verb complex, and the unbound form in all other positions, although there is some variation in clause-final position: <i>n-dics mí llí!</i> [ɪn.ˈdiks miː u.ˈliː] “I didn't say that”, <i>mic n-dics llí!</i> [ˈmik ɪn.ˈdiks u.ˈliː] “I did <em>not</em> say that!”.
  %p The future auxiliary has irregular negative forms. The initial /v/ changes to /b/, and thus the prefixed negative clitic is always <i>m-</i>: <i>viuc il prelá</i> [ˈvjuk il prə.ˈlaː] “I will speak”, <i>m-bic mí prelá</i> [ɪm.ˈbjuk miː prə.ˈlaː] “I will not speak”.

= section "The Mediopassive Voice" do
  %p Tunisian forms mediopassives with the clitic <i>s-</i> (before a vowel) or <i>ys-</i> (before a consonant) attached to the otherwise regularly-conjugated verb: <i>s-iprey</i> [ˈsi.prej] “open, be opened”, <i>ys-lèggey</i> [ˈis.le.gej] “be read”. In constructions with multiple or auxiliary verbs, the clitic attaches to either the first or second verb according to specific rules that will be outlined later. This clitic is considered part of the citation form of the verb. When added to words beginning with the letter <i>y</i> (representing a historic epenthetic vowel), this vowel converts to <i>u</i>: <i>s-uscribey</i> [ˈsus.kri.bej] “be written”.
  %p Old Tunisian could also form passives using the verb <i>ystá</i> “be” plus a passive participle, but this is no longer idiomatic outside of certain fixed expressions.

= section "Stative Verbs" do
  %p Stative verbs are a special subparadigm of Conjugation IV verbs that follow a defective and highly idiosyncratic pattern. These verbs denote that a particular state or quality is present at a particular point in time, but at the same time is ephemeral and not an inherent quality of the subject being described. They often derive from adjectival bases, such as <i>noví</i> [nu.ˈviː] “appear new” or <i>rosí</i> [ru.ˈsiː] “appear red, blush”, but a handful do not, such as <i>jèstí</i> [ʒis.ˈtiː] “be ready” or <i>nodí</i> [nu.ˈdiː] “bore, be boring”.
  %p These stative verbs all belong to Conjugation IV and can only appear in compound tenses (i.e., the perfect or future), and conjugate in the present tense using a compound construction not used by other verbs. They also have a defective preterite form, their sole finite form that does not require an auxiliary verb. To further complicate matters, they switch between active and middle voice depending on tense.
  %p In the present tense, stative verbs appear using a conjugated form of <i>ystá</i> “be” plus a present participle. The participle will agree with the subject in gender and number.
  = render 'present_tense',
    :verb          => {:tun => "rosí", :eng => "appear red, blush"},
    :forms         => ["som resèn(e)", "es resèn(e)", "resèn(e)", "sums reseis", "esç reseis", "reseis"],
    :pronunciation => ["soːm rə.ˈseːn(ə)", "ɛs rə.ˈseːn(ə)", "rə.ˈseːn(ə)", "suːmz rə.ˈsejz", "ɛstʃ rə.ˈsejz", "rə.ˈsejz"]
  = render 'present_tense',
    :verb          => {:tun => "jèstí", :eng => "be ready"},
    :forms         => ["som jestèn(e)", "es jestèn(e)", "jestèn(e)", "sums jesteis", "esç jesteis", "jesteis"],
    :pronunciation => ["soːm ʒəs.ˈteːn(ə)", "ɛs ʒəs.ˈteːn(ə)", "ʒəs.ˈteːn(ə)", "suːmz ʒəs.ˈtɛjz", "ɛstʃ ʒəs.ˈtejz", "ʒəs.ˈtejz"]

  %p The perfect and future tenses operate as expected, except that they must appear in the middle voice in the perfect.
  = render 'perfect_tense',
    :verb        => {:tun => "rosí", :eng => "appear red, blush"},
    :independent => ["ys-som rosit(e)", "s-es rosit(e)", "s-e rosit(e)", "ys-sums rosits", "s-esç rosits", "ys-só rosits"],
    :bound       => ["yst-rosit-em", "yst-rosit-es", "yst-rosit-e", "yst-rosit-esms", "yst-rosit-esç", "yst-rosit-çu"],
    :independent_pronunciation => ["i.ˈsoːm ˈrɔ.sit(ə)", "ˈsɛs ˈrɔ.sit(ə)", "ˈse ˈrɔ.sit(ə)", "i.ˈsuːmz ˈrɔ.sits", "ˈsɛstʃ ˈrɔ.sits", "i.ˈsɔə ˈrɔ.sits"],
    :bound_pronunciation       => ["is.ˈtrɔ.si.təm", "is.ˈtrɔ.si.təs", "is.ˈtrɔ.si.tə", "is.ˈtrɔ.si.tə.sɪmz", "is.ˈtrɔ.si.təstʃ", "is.ˈtrɔ.si.tʃu"]
  = render 'perfect_tense',
    :verb        => {:tun => "jèstí", :eng => "be ready"},
    :independent => ["ys-som jèstit(e)", "s-es jèstit(e)", "s-e jèstit(e)", "ys-sums jèstits", "s-esç jèstits", "ys-só jèstits"],
    :bound       => ["ys-jèstit-em", "ys-jèstit-es", "ys-jèstit-e", "ys-jèstit-esms", "ys-jèstit-esç", "ys-jèstit-çu"],
    :independent_pronunciation => ["i.ˈsoːm ˈʒɛs.tit(ə)", "ˈsɛs ˈʒɛs.tit(ə)", "ˈse ˈʒɛs.tit(ə)", "i.ˈsuːmz ˈʒɛs.tits", "ˈsɛstʃ ˈʒɛs.tits", "i.ˈsɔə ˈʒɛs.tits"],
    :bound_pronunciation       => ["iz.ˈʒɛs.ti.təm", "iz.ˈʒɛs.ti.təs", "iz.ˈʒɛs.ti.tə", "iz.ˈʒɛs.ti.tə.sɪmz", "iz.ˈʒɛs.ti.təstʃ", "iz.ˈʒɛs.ti.tʃu"]
  = render 'future_tense',
    :verb          => {:tun => "rosí", :eng => "appear red, blush"},
    :forms         => ["vic il rosí", "vucs il rosí", "vuc il rosí", "vucms lst rosís", "vucts lst rosís", "vuccé lst rosís"],
    :pronunciation => ["ˈvik i ru.ˈsiː", "ˈvuks i ru.ˈsiː", "ˈvuk i ru.ˈsiː", "ˈvu.kɪmz ust ru.ˈsiːz", "ˈvu.kɪts ust ru.ˈsiːz", "vu.ˈkeə ust ru.ˈsiːz"]
  = render 'future_tense',
    :verb          => {:tun => "jèstí", :eng => "be ready"},
    :forms         => ["vic il jèstí", "vucs il jèstí", "vuc il jèstí", "vucms ls jèstís", "vucts ls jèstís", "vuccé ls jèstís"],
    :pronunciation => ["ˈvik il ʒis.ˈtiː", "ˈvuks il ʒis.ˈtiː", "ˈvuk il ʒis.ˈtiː", "ˈvu.ˈkɪmz uz ʒis.ˈtiːz", "ˈvu.kɪts uz ʒis.ˈtiːz", "vu.ˈkeə uz ʒis.ˈtiːz"]

  %p Perhaps somewhat surprisingly, the sole inflected finite form is the preterite. In the first and second persons, stative verbs follow the regular preterite paradigm. In the third person, the form used is always the strong stem + <i>-s</i>, for both singular and plural. Note, however, that the boundary behavior in the third person is more typical of adjectives than of verbs, such as how st+s collapses into çs in the third person in <i>jeçs</i> “he/she/it was ready”.
  = render 'preterite_tense',
    :verb          => {:tun => "rosí", :eng => "appear red, blush"},
    :forms         => %w(resís resís ross resírims resírisç ross),
    :pronunciation => ["rə.ˈsiːs", "rə.ˈsiːs", "ˈroz", "rə.ˈsiː.riːmz", "rə.ˈsi.ristʃ", "ˈroz"]
  = render 'preterite_tense',
    :verb          => {:tun => "jèstí", :eng => "be ready"},
    :forms         => %w(jestís jestís jeçs jestírims jestírisç jeçs),
    :pronunciation => ["ʒəs.ˈtiːs", "ʒəs.ˈtiːs", "ˈʒɛstʃ", "ʒəs.ˈtiː.riːmz", "ʒəs.ˈtiː.ristʃ", "ˈʒɛstʃ"]

%section.footnotes
  = footnote do
    Note that while Conjugation III and IV verbs typically have infinitives in the full grade, vowelless stems always have infinitives in the reduced grade. Thus, the infinitive is <i>ifchey</i> “to cause”, not <i>*efèccé</i>.
