%nav.left
  %h1 Ходи
  %ul
    %li= link_to "Президенте", government_state_president_path
    %hr
    %li= link_to "Вѣкье", government_state_veche_path
    %hr
    %li= link_to "Собранье Народ", government_state_council_nations_path
    %hr
    %li= link_to "Новеграде Великей", government_capital_index_path
    %hr
    %li= link_to "Путованье", government_state_travel_path
    %hr
    %li= link_to "Милитаре", government_state_military_path
    %hr
    %li= link_to "Республика Сумеская", government_society_finland_path
    %hr
    %li= link_to "Республика Цудеская", government_society_estonia_path
    %hr
    %li= link_to "Республика Латўиская", government_society_latvia_path
    %hr
    %li= link_to "Республика Карелеская", government_society_karelia_path
    %hr
    %li= link_to "Республика Комеская", government_society_komi_path
