%nav.left
  %h1 Сударестуо
  %ul
    %li= link_to "Президенте", government_state_president_path
    %hr
    %li= link_to "Ред Министер", government_state_ministers_path
    %hr
    %li= link_to "Вѣкье", government_state_veche_path
    %hr
    %li= link_to "Собранье Народ", government_state_council_nations_path
    %hr
    %li= link_to "Судестуо", government_state_judiciary_path
    %hr
    %li= link_to "Мѣсна Власти", government_state_local_path
    %hr
    %li= link_to "Столица", government_capital_index_path
    %hr
    %li= link_to "Облостие", government_state_divisions_path
    %hr
    %li= link_to "Республики", government_state_republics_path
    %hr
    %li= link_to "Гради", government_state_cities_path
    %hr
    %li= link_to "Шимволи Странѣ", government_state_symbols_path
    %hr
    %li= link_to "Геёграхя", government_state_geography_path
    %hr
    %li= link_to "Путованье с Имиграѕей", government_state_travel_path
    %hr
    %li= link_to "Овисяљни Годи", government_state_holidays_path
    %hr
    %li= link_to "Вонѣкрайске Отношенье", government_state_foreign_relations_path
    %hr
    %li= link_to "Милитаре", government_state_military_path
    %hr
    %li= link_to "Вуибори", government_state_elections_path
