- content_for :title, "Veche.Net — The Republic of Novegrad — Geography"

.content-block
  %h1 Geography

  .content-block-content
    .float-right
      = image_tag "government/kihnuseashore.png", :alt => "The shore of the island of Kíhnu, Estonia", :class => "image-panel"
      = image_tag "government/taiga.png", :alt => "The taiga stretches across much of northern Novegrad", :class => "image-panel"
      = image_tag "government/archipelagosea.png", :alt => "Finland's Archipelago Sea", :class => "image-panel"
      = image_tag "government/birchforest.png", :alt => "Birch forests cover much of western Novegrad", :class => "image-panel"
      = image_tag "government/kananlakshishore.png", :alt => "The White Sea shore near Kananlákśi, Karelia", :class => "image-panel"
      = image_tag "government/hibini.png", :alt => "Hibíni Massif in winter, Koleskáia Oblost", :class => "image-panel"
      = image_tag "government/waterfall.png", :alt => "Waterfall, Komi", :class => "image-panel"
      = image_tag "government/komilandscape.png", :alt => "The Ural Mountains, Komi", :class => "image-panel"
      = image_tag "government/uralriver.png", :alt => "A river in the Ural Mountains, Oraltouskáia Oblost", :class => "image-panel"
      = image_tag "government/riversiberia.png", :alt => "A river in the West Siberian Plain", :class => "image-panel"

    %section
      %h2 Location
      %p The Republic of Novegrad straddles Europe and Asia, stretching from the Baltic Sea in the west across the Urals to the Ieniśéie basin of Siberia in the east. It spans a wide variety of terrain, from flat, open fields to mountains to tundra to endless taiga.
      %p Much of the country is flat. The western portion of the country, west of the Urals, is largely part of the East European Plain. To the east of the Urals lies the West Siberian Plain.
      %p The following descriptions of local regions proceed west to east, to provide a more detailed description of the land.

    %section
      %h2 Estonia
      %p Estonia is very low and flat, as part of the East European Plain. Nearly 100% of the land is below 200m elevation, with the highest point being 217m, a hill on the border with Latvia. The average elevation is approximately 50m. It has a long, shallow coastline, and over 1500 islands. Over 40% of the country is covered by forest. The land is dotted with around 1400 lakes, the largest of which is Cudeskóie (Estonian), which forms part of the border of the Estonian Republic and Pleskoveskáia Óblosti. The two most important rivers are the Nárova (in Estonian, Нарва), connecting Cudeskóie Lake with the Gulf of Finland, and the Iémajigi (Емайыги), upon which the city of Iúrieve (Тарту) is located.
      %p The lowest points in the country are along the Baltic coastline. The land begins to get higher toward the southeast of the country, which is more hilly.

    %section
      %h2 Latvia
      %p Approximately 80% of Latvia consists of flat lowlands, and 20% of moderately-sized hills and uplands. The country is divided into three main geographic zones, largely the result of the last ice age.
      %p The Western Uplands run along Latvia's Baltic Coastline, ending in the Gulf of Ríga. This area consists of small-to-moderately sized hills, the highest of which is 190m, increasing in height toward the south.
      %p In the center of the country are the broad Latvian lowlands, a continuation of Estonia's lowlands. This is the primary agricultural center. Much of the land is so moist that it must first be drained before it can be used productively.
      %p The Vídzeme Highlands in the east mark the edge of the Eastern European Plains spanning much of Novegrad, which rise above the Western Duiná river valley. The highest hill is 317m, near the Estonian border.

    %section
      %h2 Western Novegrad Excluding Śěverno-Duineskáia and Koleskáia Óblostie
      %p Western Novegrad is dominated by the Eastern European Plain. The land is mostly flat with rolling hills, with scattered regions with low mountains, generally not topping 300m in elevation. The region is heavily forested and crisscrossed by hundreds of rivers, forming a vast river network. The two largest lakes are Lake Onéga (9894sqkm) and Lake Ládoga (17 700sqkm), both of which border Karelia and drain into the Gulf of Finland.
      %p The three most important river systems are the Nevá (including all rivers draining into Lakes Ládoga and Onéga), which drains into the Gulf of Finland, the Volga, which drains into the Caspian Sea through Russia, and the Northern Duiná, which drains into the White Sea.

    %section
      %h2 Finland and Karelia
      %p The extreme southwest of Finland is the archipelago region, a group of several thousand islands extending out into the Baltic Sea, including the Åland Islands. This region is slowly rising out of the sea at a rate of 30cm per century as the land rebounds from the weight of the glacier covering it during the last ice age.
      %p The interior of Finland and much of southern Karelia are dotted with tens of thousands of lakes. Most are extremely shallow, averaging only 7m deep.
      %p Moving northward in Finland, the land becomes more boggy and rough, with medium-sized hills with a maximum height of around 271m. Northern Karelia and northeastern Finland, on the other hand, are mountainous. The highest point in Karelia is 636m above sea level, near the border with Koleskáia Óblosti.

    %section
      %h2 Koleskáia Óblosti
      %p The Kóla Peninsula is the most mountainous part of Western Novegrad. The southern portion, along the White Sea, is fairly flat, rising gradually toward the mountainous interior. The northern coast is very high and steep.
      %p The interior is mountainous and very mineral-rich, largely the result of retreating ice sheets eroding the top sediment layer of the soil. The average elevation varies between about 400m and 700m, with two large massifs in the center—the Hibíni Massif (1240m) and the Lovéźerija Massif (1126m). There are numerous legends associated with these massifs.

    %section
      %h2 Śěverno-Duineskáia Óblosti and Western Komi
      %p This region is marked by large expanses of taiga to the south and center and swamps and tundra to the north. Several long, meandering rivers cross the territory, draining into the Arctic Ocean. The largest of these are the Northern Duiná and Moźíne in Śěverno-Duineskáia and the Pečára in Komi. To the far north is large, treeless tundra (mostly in Komi, less so in Śěverno-Duineskáia).
      %p In the Arctic Ocean lie several islands, the largest of which are the two forming Nóvaia Źémia, the northern extension of the Ural Mountains. The south island is largely tundra, while the northern island supports a permanent glacier.

    %section
      %h2 The Novegradian East and Eastern Komi
      %p The Ural Mountains mark the western edge of this region. Although the range extends 2100km from the Arctic Ocean into Central Asia, the mountains are very old and eroded. The highest point, G. Naródnaia, is only 1894m above sea level. Numerous passes make transportation through the mountains relatively easy.
      %p To the east of the Urals is the vast West Siberian Plain, a low-lying valley watered by several major rivers, especially the Óbua and Ieniśéie. Most of this territory is below 300m above sea level, meaning the region, especially to the north, is home to some of the world's largest swamps and floodplains (although thanks to modern technology more of this territory is now usable than ever). The central regions of the plain contain large oil and gas deposits.
      %p The far eastern edge of Novegrad, to the east of the Ieniśéie River and including the city of Suětlogóreske, is the edge of the Central Siberian Plateau, which continues far into Russian Siberia. It stands high above the Central Siberian Plain, with average heights within Novegradian borders ranging from 400m to 800m. The highest point is G. Káme (Stone Mountain), at 2037m.
