- content_for :title, "Veche.Net — The Republic of Novegrad — The Republics"

.content-block
  %h1 The Republics

  .content-block-content
    = image_tag "government/republics.png", :alt => "Map of Republics"

    %section
      %h2 The Estonian Republic / Республика Цудеская / Еести Вабариик
      %p The Estonian Republic (or Estonia for short) is located to the southeast of the Baltic Sea, and is the autonomous district of the Estonian people. About 72% out of the population of 1,550,000 is ethnically Estonian.
      %p The capital of the republic is the city of Revéle (Tallinn in Estonian), located on the northern coast on the Gulf of Finland. It is mostly low-lying land, and is covered by large forests, over 1400 lakes, and includes some 1500 islands. The two largest lakes are Pleskóvoie and Cudeskóie, both along Estonia's border with Novegrad. The island of Saaremaa, Estonia's largest, is home to a number of estates belonging to the republic's elite.
      %p Machinery, textiles, wood, and agricultural products are the main exports, and form the base of the economy. Revéle is the main port city, although many products also flow through Pernáu (which has an artificial harbor). The University of Iúrieve is one of the best in Novegrad. Pernáu is a major resort city.
      %p Estonian is the official language, alongside Novegradian. 53% of the population is fluent in Estonian, and 79% are conversational. 20% use Estonian as their daily language, and another 28% use both Estonian and Novegradian.
      %p The current president is Andrus Osilou.
      %p= link_to "More Information on Estonia", government_society_estonia_path

    %section
      %h2 The Latvian Republic / Республика Латўиская / Латвијас Република
      %p The Latvian Republic (or Latvia for short) is located on the Baltic Sea, just to the south of Estonia, and is the autonomous district of the Latvian people. About 58% out of the population of 3,250,000 is ethnically Latvian. About 10% of the population is composed of foreign minorities, mainly Lithuanians and Russians.
      %p The capital of the republic is Ríga (Rīga in Latvian), located about nine miles upstream from the mouth of the Western Duiná River. Much of the land is fertile, although drainage is required first in order to remove excess moisture for agriculture. The eastern regions have some hills.
      %p Machinery, electronics, and food products are the main exports of Latvia, although many raw materials need to be imported. Car manufacturing is also a major industry. The two largest ports are Libáva and Ríga, both of which have very large inland harbors formed from lakes.
      %p Latvian is the official language, alongside Novegradian. 60% of the population is fluent in Latvian, and 73% are conversational. 25% use Latvian daily, though another 35% may use both Latvian and Novegradian. Russian and Lithuanian communities generally use their own language on a daily basis, and Latvian or Novegradian when interacting with others outside of their community.
      %p The current president is Anna Lūšā.
      %p= link_to "More Information on Latvia", government_society_latvia_path

    %section
      %h2 The Finnish Republic / Республика Сумеская / Суомен Тасавалта
      %p The Finnish Republic (or Finland for short) is bounded on the west by the Gulf of Bothnia and on the south by the Gulf of Finland, and is the autonomous district of the Finnish people. About 83% out of the population of 4,525,000 is ethnically Finnish, and another 6% are Finnish-Swedes.
      %p The capital of the republic is the city of Tórge (Turku in Finnish), located on the southwest coast. The country is largely flat, though it is covered by over one hundred thousand lakes and includes over one hundred thousand islands. The Åland Islands are home to a large military base.
      %p Machinery and electronics are the primary exports. Tórge is the primary port city, the largest in any republic.
      %p The official language is Finnish, used alongside Novegradian. 78% of the population is fluent, and 54% use it daily. The Finnish-Swede population is generally fluent in Swedish, Finnish, and Novegradian, though Swedish is used among themselves.
      %p The current president is Terho Rantala.
      %p= link_to "More Information on Finland", government_society_finland_path

    %section
      %h2 The Karelian Republic / Республика Карелеская / Карялан Тазавалла
      %p The Karelian Republic (or Karelia for short) is just to the east of Finland, having a coastline along the White Sea, and is the autonomous district of the Karelian people. About 73% of the population of 1,470,000 is ethnically Karelian.
      %p The capital of the republic is Ääneslinna, making it the only republic capital that is not also an oblost capital. Karelia has no major ports on the scale of the Baltic ports, although it does control much of the Baltic-White Sea waterway and the city of Soróka handles a great deal of traffic passing through the canal.
      %p Most industry in Karelia is focused around timber, fishing, and mining. Manufacturing industries are only beginning to move into Karelia.
      %p The official language is Karelian, used alongside Novegradian. 24% of the population is fluent, and 7% use it exclusively every day. Another 14% use both Novegradian and Karelian. Many Karelians also speak a fair degree of Finnish.
      %p The current president is Petri Oravaneskei.
      %p= link_to "More Information on Karelia", government_society_karelia_path

    %section
      %h2 The Komi Republic / Республика Коми / Коми Республика
      %p The Komi Republic (or simply Komi) is located along the Arctic Ocean, on both sides of the Urals, and extends inland approximately 600 miles. Around 46% out of the population of 1,132,000 are ethnically Komi, the rest being largely Novegradian or from other native groups, such as the Nenets.
      %p Syktyvkar (sometimes called Síhtikare in Novegradian) is the capital of the Komi Republic, located in the far south of the republic. 70% of the territory is covered by forest or swampland, and much of the rest is tundra.
      %p Timber is a major industry in much of the south. In the north, oil production and mining form most of the economy. Northern Komi has large deposits of oil, coal, natural gas, gold, diamonds, and many other valuable metals.
      %p The official language is Komi, used alongside Novegradian. 84% of the population is fluent in Komi, and it is the predominant day-to-day language.
      %p The current president is Sozon Pimnou.
      %p= link_to "More Information on Komi", government_society_komi_path
