- content_for :title, "Veche.Net — The Republic of Novegrad — State Symbols"

.content-block
  %h1 State Symbols

  .content-block-content
    %section
      %h2 Flag
      = image_tag "government/flag.png", :alt => "Flag", :class => "float-left"
      %p The flag of Novegrad consists of three horizontal bands, from top to bottom white, light blue, white. The flag has 2:3 proportionality.
      %p The light blue and white are the national colors of Novegrad. The blue band originally represented the rivers of Novegrad, which developed into a medieval trading empire thanks to its vast network of rivers. The two white bands represented the winter snows, purity, wisdom, and the Orthodox faith. There are no official meanings assigned to the colors in the modern flag since 1991.
      %p
        The
        = link_to "Soviet-era flag", image_path("government/flag_soviet.png")
        was the same, but with a red hammer and sickle in the upper-left corner.

    %div{:style => "clear: both;"}
    %section
      %h2 Coat of Arms
      = image_tag "government/coatofarms.png", :alt => "Coat of Arms", :class => "float-left"
      %p The Novegradian coat of arms features two bears supporting a throne. Sitting on the throne are two crossed scepters and a three-branched candle. Below the bears and throne are two fish on a blue background. Around the coat of arms are two oak branches tied together by a blue ribbon, and above the coat of arms is the imperial crown.

    %div{:style => "clear: both;"}
    %section
      %h2 Anthem
      %p
        The current anthem of the Republic of Novegrad is <i>Novegráde-Ródina</i> (Новеграде-Родина), translated "Novegrad - Our Homeland". It was adopted in 1988 after a nationwide competition, replacing the former socialist anthem held since 1948. It was written by Alékśeie Buranóu. More information can be found on the
        = link_to "National Anthem", government_publications_anthem_path
        page.

    %div{:style => "clear: both;"}
    %section
      %h2 Iconic Building
      = image_tag "government/st_sophia.png", :alt => "Cathedral of St. Sophia", :class => "float-left"
      %p The Cathedral of St. Sophia (or Cathedral of the Holy Wisdom of God) is one of the most iconic buildings in the Republic of Novegrad. It is located inside the Krémene in Novegráde Velíkei. The building was completed in 1052, making it the oldest church in Novegrad.
      %p It has been a common saying since the 13th century that Novegrad will survive as long as the church stands. The church has been through several fires and subsequent restorations. During the siege of Novegráde Velíkei in World War II, the Krémene received significant damage, but the cathedral remained untouched.
      %p The architecture of the church is unique in that it represents the first departure of traditional Byzantine styles in favor of Slavic forms, and was a model for many future buildings.

    %div{:style => "clear: both;"}
    %section
      %h2 Patron Saints
      = image_tag "government/st_nikolaie.jpg", :alt => "St. Nikoláie", :class => "float-left"
      = image_tag "government/st_aleksandreneuskei.jpg", :alt => "St. Aleksándre Néuskei", :class => "float-right"
      %p Two saints are commonly associated with the entire nation of Novegrad—St. Nikoláie (left) and St. Aleksándre Néuskei (right).
      %p St. Nikoláie, bishop of Myra, is commonly considered the patron saint of sailors, merchants, and those unjustly imprisoned. For much of its early history, Novegrad was a trading empire, depending on its merchants and its complex river network. St. Nikoláie came to be commonly revered before setting out on a journey, and eventually came to be patron saint of all Novegrad and those within it.
      %p St. Aleksándre Néuskei, grand prince of Novegrad in the 13th century, defended Novegrad from two great invasions by the Swedes and Livonian Knights. He has since been considered the defender of Novegrad and protector of those in the armed forces.
      %p Many other saints may be revered more locally in areas where Eastern Orthodoxy is the dominant, or at least a major, faith.

    %div{:style => "clear: both;"}
    %section
      %h2 Instrument
      = image_tag "government/gudoke.png", :alt => "Gudok", :class => "float-left"
      %p The gudok is a traditional Novegradian instrument, dating since before the Baptism of Rus'. Although not commonly used anymore, it is a symbol of Novegrad's cultural heritage.
      %p The gudok was played using a bow. It has three strings lying on the same plane, so all may be played in unison. Beneath these are up to eight sympathetic strings below the three main ones, which are never played directly, but begin to resonate due to a certain note being played, resulting in a warm, rich sound.
