%nav.left
  %h1 State
  %ul
    %li= link_to "President", government_state_president_path
    %hr
    %li= link_to "Cabinet of Ministers", government_state_ministers_path
    %hr
    %li= link_to "Veche", government_state_veche_path
    %hr
    %li= link_to "Council of Nations", government_state_council_nations_path
    %hr
    %li= link_to "Judiciary", government_state_judiciary_path
    %hr
    %li= link_to "Local Authorities", government_state_local_path
    %hr
    %li= link_to "Capital", government_capital_index_path
    %hr
    %li= link_to "Administrative Divisions", government_state_divisions_path
    %hr
    %li= link_to "Republics", government_state_republics_path
    %hr
    %li= link_to "Cities", government_state_cities_path
    %hr
    %li= link_to "State Symbols", government_state_symbols_path
    %hr
    %li= link_to "Geography", government_state_geography_path
    %hr
    %li= link_to "Visitation and Immigration", government_state_travel_path
    %hr
    %li= link_to "Official Holidays", government_state_holidays_path
    %hr
    %li= link_to "Foreign Relations", government_state_foreign_relations_path
    %hr
    %li= link_to "Military", government_state_military_path
    %hr
    %li= link_to "Elections", government_state_elections_path
