- content_for :title, "Veche.Net — The Republic of Novegrad — The Capital"

.content-block
  %h1 The Capital – Novegráde Velíkei

  .content-block-content
    %p
      %b More Information:
    %p= link_to "Divisions and Neighborhoods", government_capital_divisions_path
    %p= link_to "Places of Interest", government_capital_places_of_interest_path
    %p= link_to "Transportation", government_capital_transportation_path
    %p= link_to "The Evolution of Novegrad's Government", government_capital_history_path

    %section
      %h2 Background
      %p Novegráde (officially <i>Novegráde Velíkei</i> "Novegrad the Great", a title it has had since the Middle Ages) is the capital of the Republic of Novegrad, and has been since the beginnings of the republic. It is located in western Novegrad, where the waters of Lake Ielméri flow into the Vółhove River. It constitutes its own oblost.
      %p Novegráde Velíkei is the oldest city in Novegrad and one of the oldest Slavic cities. Although the date of its founding is not known for certain, it is known to have been already been a major trading settlement by 859 AD. In the middle ages, it became the capital of the Feudal Republic of Novegrad. It was praised for its thriving culture and cleanliness. In the 13th century it joined the Hanseatic league, expanding its trade routes and providing a population boom. The second boom began in the 19th century and has continued to the present, as the population grew from 930,000 in 1900 to 4.8 million in 2007.
      %p The modern city has made a name for itself throughout the world.

    %section
      = image_tag "government/nov_kremene.png", :alt => "The Cathedral of St. Sofia inside the Krémene walls", :class => "float-left"
      %h2 Divisions
      %p Novegráde Velíkei is bisected by the Vółhove River. The right bank (eastern half) of the city is known as the <i>Torgóvaia Straná</i>, or "trading side", because of the ancient marketplace located there. The left bank (western half) is known as the <i>Sověiskaia Straná</i>, named for the St. Sophia cathedral located there.
      %p In addition, the city has for centuries been divided into five precincts, known as <i>kónci</i> "ends". Originally each end had its own veche, though now the divisions serve only an administrative function. The first <i>kónci</i> referred only to the territory within what is now the innermost ring road, though they expanded outwards as the city grew. On the Torgóvaia Straná there are two ends: the <i>Plotníceskei Kónce</i> ("Carpenter's End") to the north and the <i>Slavéneskei Kónce</i> ("Slavna End", named for an older settlement) to the south. On the Sověiskaia Straná there are three ends: the <i>Néreuskei Kónce</i> ("Nereva End", named for a local Uralic tribe) to the north, the <i>Zagródeskei Kónce</i> in the center, and the <i>Ludínei Kónce</i> ("People's End") in the south. The name "Zagródeskei Konéce" is hard to translate literally; it refers to a less important part of city, in that it is not the center of daily life such as a downtown, though is not a pejorative.
      %p Of course, these same names have been in use since at least the 14th century, so they no longer accurately describe the regions. Sověiskaia Strana now contains most of the business establishments, for example, and Zagródeskei Konéce is largely urbanized and is in many respects the center of the city. However, these names continue to be used.

    %section
      %h2 Government
      %p As the capital of the Republic of Novegrad, Novegráde Velíkei is home to many of the nation's government bodies. The president resides in the old Imperial Palace inside the Krémene, a medieval fortress in the heart of the city. The State Assembly Building, housing both the Veche and Council of Nations, is located nearby on Prússkaia Street. Headquarters for each of the ministries are scattered throughout the city.

    %section
      %h2 Transportation
      %p Novegráde Velíkei is served by a large road network generally maintained in good condition. Two major ring roads circle the city, allowing for easy movement from one part of the city to another. Seven major highways (and several smaller roads) go into and out of the city, connecting it with the rest of the country.
      %p Public taxis may easily be found at many sites across the city, as well as the slightly cheaper collective taxis. Buses also run along set routes.
      %p For quick public transportation, the metro subway runs under the city at a flat rate. The metro also connects to the city's three main train stations. High-speed service to Ríga and Néugrade is scheduled to begin soon.
      %p The city is serviced by two major airports, Śěvero-Novegrádeskei and Śergéie Aleksándrovice Rubínine.
      %p Several major cities may be reached by boat, as Novegrad's shipping lanes for a long time were a large part of its economy. The Vółhove River flows into Lake Ládoga, which empties into the Nevá (upon which Néugrade is located) and the Baltic Sea. In the other direction, the Mostá River (via Lake Ielméri, the Viśeríneskei Canal, or the Vołmóste Canal) leads into Russia toward Tver' and Moscow (through the Moscow Canal), and ultimately the Caspian and Black Seas.

    %section
      = image_tag "government/arcade.png", :alt => "The Arcade overlooking the ancient Marketplace", :class => "float-right"
      %h2 Business
      %p Novegráde Velíkei has a large business district occupied by numerous foreign and domestic businesses, and the city has proven a friendly environment for investment. Several major malls, department stores, and numerous supermarkets and hypermarkets offer their products throughout the city. The downtown has many fine restaurants representing all sorts of cuisines. On the more traditional side, every day the ancient marketplace by the Court of Iároslau on the right bank of the Vółhove fills with local people eager to do business, selling fresh foods, crafts, and services just as has been done there for over one thousand years.

    %section
      %h2 Other Sites
      %p The Krémene is located at the very center of Novegráde Velíkei. This ancient fortress, now a symbol of the city, protected the inhabitants from several invasions throughout the Middle Ages. Currently it is home to part of the Novegradian government and a number of Orthodox churches.
      %p All around the city a number of ancient and modern Orthodox Churches can be found. Novegráde Velíkei has since the 10th century (the Baptism of Rus') been a major Orthodox center. In the vicinity of the city a number of monasteries still in operation can be found. A few centuries-old synagogues are actively used by the local Jewish population. Since Finland and the Baltic states joined Novegrad, Lutheran churches have been attended by those who have chosen to move away from their original homes.
      %p Since the collapse of the Soviet bloc, new immigrants to Novegrad have brought their faiths along with them. The city is now home to two mosques and a Hindu temple. However, recent legislation has made it more difficult for religions other than those already mentioned to establish themselves.
      %p In the western portion of the city is Novegráde Velíkei State University (SUNV), founded in 1695. This is the leading center of education in the whole of Novegrad, and it has given rise to numerous famous scientists, artists, engineers, and politicians.

    %p
      %b More Information:
    %p= link_to "Divisions and Neighborhoods", government_capital_divisions_path
    %p= link_to "Places of Interest", government_capital_places_of_interest_path
    %p= link_to "Transportation", government_capital_transportation_path
    %p= link_to "The Evolution of Novegrad's Government", government_capital_history_path

    = image_tag "government/novegrade-city_eng.png", :alt => "Map of Novegráde Velíkei"
