!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.grammar{:class => @context}
    %h1= yield :section_title
    %hr

    #content
      = yield

    #footer
      © 2006-#{Time.now.year} Martin Posthumus
      = surround "(", ")" do
        = link_to "Contact", contact_path
