!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.grammar{:class => @context}
    %nav
      = render 'nav'
    #content<
      %header
        .wrapper
          - if content_for?(:section_title)
            %h1= yield(:section_title).html_safe
          - else
            %h1= @current_page[:title].html_safe
          %p= yield(:section_subtitle).html_safe

      %article= yield

      #footer
        © 2006-#{Time.now.year} Martin Posthumus
        = link_to "Contact", contact_path, :class => 'contact'
