!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    :coffeescript
      $(document).ready -> new window.classes.Lexicon($('body').attr('data-language'))
    = csrf_meta_tags
  %body.lexicon{:data => {:language => @language}}
    %header
      #search
        %form#searchform{:method => :get, :action => lexicon_path}
          %input#searchbox{:type => 'text', :placeholder => "Search...", :name => 'search'}
          %button{:type => 'submit'}
            = icon('search')
          %a.advanced Advanced Options
          #advanced-search= render :partial => 'advanced_search'
      = render :partial => 'nav'
    %main
      #search-results= render :partial => 'search_results'
      #entry-view= yield
