!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.vechenet
    = yield

    #footer
      © 2006-#{Time.now.year} Martin Posthumus
      = surround "(", ")" do
        = link_to "Contact", contact_path
    #hidden
